[2014-08-22 10:02] jareguo opened #15 "如何简化 Entity 的接口"
目前获得component需要
`entity.getComponent(FIRE.SpriteRenderer)`
其实可以改成以下其中一种

[code]

感觉直接写entity.spriteRenderer是最直接的，考虑到性能问题可以在每个 component 加载时向 entity 注册一个getter

[2015-05-16 09:51] jareguo commented on #15
经过半年的开发，重新考虑加入以下接口
[code]
不支持用 constructor 是因为容易产生循环 require，而且这个接口也不支持利用父类来获取子类。

我比较倾向于使用 $，对不含点的类型名，甚至可以直接写 entity.$.game。不直接定义在 entity 上是因为这样能避免 entity 的 hidden class 被不断 fork - reverse。
@fireball-x/firebox-developers

[2015-12-14 06:42] dabingnn commented on #15
@pandamicro 可以review了，有三个issue，建议合并后再解决，有对其他模块的依赖，或者是要在其他的类中改动接口。

[2015-12-14 06:58] dabingnn commented on #15
代码已经更新

[2015-12-21 09:24] nantas commented on #15
fireball-x/fireball#434

[2016-04-02 22:12] Gurigraphics opened #562 "Matrix code editor- kos"
You can enjoy something of this idea in Cocos Creator?
https://github.com/Gurigraphics/plurality
The idea is to use matrix to organize the information and do something better than blockly google and spaghetti code.

[2016-04-03 05:29] jareguo commented on #562
Visual Programming Language is a good idea but not our primary focus. It requires a lot of human labor, and should be added in as a plug-in, we'd be glad to talk to people about doing so.

[2016-04-03 05:29] #562 closed, assigned to nobody

[2016-04-03 14:44] Gurigraphics commented on #562
Thanks for reply. Yes. This is just a brainstorm ideas.

The main proposal is to use matrix folders to organize the code as modules (As json sintaxe). Instead of separate files, and folders, or copy and paste code, or different information mixed in the same page.

I think the code would be more readable and easier to expand and create something more complex with javascript.

Visual, you could drag

[2016-04-16 15:10] ggarek opened #603 "Probably TileMap rendering bug"
I encounter an exception at design- and runtime while trying to render TileMap.

My .tmx file uses one tileset, which consists of _two separate images_.
But in runtime only one image gets loaded. (Network tab)

Error Callstack
<img width="894" alt="screen shot 2016-04-16 at 17 53 24" src="https://cloud.githubusercontent.com/assets/5501062/14581718/3ca185be-03fc-11e6-9e1f-4a4921a6d766.png">

It see

[2016-04-16 15:30] ggarek commented on #603
Just created [another project](https://github.com/cocos-creator/engine/files/222269/cc-tilemap-tiles-one-file-ok.zip) with .tmx, which uses single image for all tiles.
Works just fine.

In Tiled editor it is type of a TileSet, which can be "Based on Tileset Image" or "Collection of Images".
The bug is with "Collection of Images" TileSet.

[2016-04-17 22:14] ggarek opened #605 "Particles are not copied when building for Web Desktop"
Hello,

  I built a small project with Cocos Creator. And when i tried to build it for web desktop i found out that not all assets get copied. I have a `.plist` and `.png` under `assets/particles`, but they are absent in build directory.

  When i copy them to the build directory under `build/web-desktop/res/raw-assets/particles/` everything  works as expected.

[2016-04-18 01:41] jareguo commented on #605
Thanks ggarek<del>, this is a bug, and I hadn't noticed.</del>

[2016-04-18 01:47] jareguo commented on #605
Wait, this is by design, not a bug. Only assets under `assets/resources` directory will be copied.
Please try:

[code]

[2016-04-18 01:49] #605 closed, assigned to jareguo

[2016-04-18 02:07] natural-law commented on #603
@ggarek
I'm sorry that `Collection of Images` TileSet is not supported for some historical reasons.

The TiledLayer in the engine is only support TileSet info with only-one `sourceImage` attribute. Take a look at this code:
https://github.com/cocos-creator/engine/blob/master/cocos2d/tilemap/CCSGTMXLayer.js#L266

After all, thanks for your feedback! We will try to improve the implementation of comp

[2016-04-18 02:13] #603 closed, assigned to natural-law

[2016-04-18 10:14] ggarek commented on #605
@jareguo I created new project from scratch to check it once again. I think there is a though, let me put some more details about it.

First of all, this thing is not correct

[code]

because the `cc.url.raw` adds the relative path prefix to the resources in runtime, so you need only pass a path to a specific resource you need relative to your `assets/` folder within Cocos Creator.
So if you have

[2016-04-18 10:29] ggarek opened #607 "TiledMap rendering artefacts"
Hey,

Tried to render tile map, here is the result:

<img width="781" alt="screen shot 2016-04-18 at 13 25 33" src="https://cloud.githubusercontent.com/assets/5501062/14601138/13a9de40-0569-11e6-90d7-6c1bed675d60.png">

As you can see, there are rendering artefacts.

Here is the texture, and the .tmx file:
![platformertiles](https://cloud.githubusercontent.com/assets/5501062/14601163/3adaea68-0569

[2016-04-18 10:34] jareguo commented on #605
As mentioned above, only assets under **assets/resources** directory will be copied to the output directory.

[2016-04-18 10:59] ggarek commented on #605
Ok, i tried to put the .plist and .png which i use to create ParticleSystem dynamically under `assets/resources` and it is now copied during the build process. Thanks, now i get what you meant.

Still it seems not very convenient. If i create a node via editor then the resource files are copied to the build directory no matter the path, but if i do it dynamically, then i need to put it under a spe

[2016-04-18 11:13] jareguo commented on #605
Yes there will be a hint in the future, thanks for the feedback ~~~

[2016-04-21 16:54] ggarek opened #615 "Feature Request: Code indentation setting"
Hey,

  I would like to say, that if there was a possibility to change code indentation for project scripts it would be awesome! (e.g.: spaces vs tabs; number of spaces)

p.s.: Just wondering if you accept feature requests and if it is good idea to do it via github issues.

Thanks!

[2016-04-22 01:34] nantas commented on #615
Hi,

The builtin code editor is just for quick edit and should not be used as working environment. We'll not going to add feature to that since our focus is Visual Studio Code. And it's easy to customize code indentation along with hundreds of other settings in VS Code.

All feature request is welcome! You can either post them here or post them to our international forum:
http://discuss.cocos2d-x.

[2016-04-22 01:35] nantas commented on #607
We're looking into it. Thanks for your feedback!

[2016-04-22 05:26] zilongshanren opened #619 "Button and Editbox add sender arg to Callback"

[2016-04-22 06:41] jareguo commented on #619
需要吗？我觉得第一个参数 event，event.target 取到 node 已经足够了。因为用户需要判断的往往不是哪个 button，而是 button 所在的节点上的其它组件

[2016-04-22 07:13] #619 closed, assigned to nobody

[2016-04-22 09:44] ggarek commented on #615
Good to know, that you accept feature requests! Thanks.

Regarding the code indentation. It is not what i meant, let me put it this way. I do not use builtin editor, i use vscode. What i meant saying about indentation is an initial code generation. When you create a script file in the Cocos Creator it generates default code and there is no way to change the indentation of generated template in Coc

[2016-04-25 07:38] zilongshanren opened #626 "Retain Clipping Node in Js side will cause app crash when exit"
Use the cocos2d-x-lite version as the native engine,  run example-tests on Mac, after click the exit button, the program will crash...

[code]

[2016-05-21 11:02] ggarek opened #711 "[Feature Request] ES6 Classes for inheritance."
It would be awesome if it was possible to use es6 classes for components.

[code]

The code becomes more clean and thus more readable and imo conformance to the standard is a good idea.

I understand that it may be pretty hard to implement, since it leads to breaking changes. (now properties are spread directly to `this`). Not impossible though.

[2016-05-23 02:01] jareguo commented on #711
Thanks, ggarek. There are two phases: first, define properties by using decorators, second, define the entire class by es6. IMO the second is hard to implement since their behaviors is different. Maybe we should try to extends the es6 “class” keyword to "ccClass".

[2016-05-29 01:43] sanyaade-teachings opened #747 "How to run cocos-creator engine locally"
Hi there,

I followed the direction on this github engine repository

I was able to build the engine but I do not how to run the server -->  (Start a http server in cloned project folder). Please tell me which command to use? I am on Windows 7, 32BIT

I have tried all possible node  XXXX.js  I could think off
Many thanks!

God blesses!!!

Best regards,
Sanyaade

[2016-05-29 05:53] jareguo commented on #747
Hi, you can install express by running `npm install express`, then `node test/qunit/server.js` or `node test/visual-tests/server.js`

[2016-05-29 20:50] sanyaade-buildtools commented on #747
Many thanks for your response.
It works!
Please can you update the readme.md to include those step for the benefit of others.

[2016-05-30 02:23] jareguo commented on #747
Well, PR submitted

[2016-05-30 03:38] #747 closed, assigned to nobody

[2016-06-13 23:03] ozergul opened #790 "Get loaded scene name"
Hi, is this possible in cocos creator. I tried all ways to get loaded scene name but I could not achieve this problem.

`cc.director.getScene()` returns `cc.Scene`but its "**name**" property is empty.

[2016-06-13 23:50] ozergul commented on #790
I achieved the problem with a few line code

[code]

[2016-06-14 01:46] jareguo commented on #790
That is because none of the assets will have names, including scene asset.
But we could retrieve the scene name from passing-in argument in cc.Director.loadScene, @knoxHuang Will you try it?

[2016-06-14 02:39] ozergul commented on #790
@jareguo I think, it will be good to get directly scene name as _scene file name_

[2016-06-14 03:22] ozergul opened #791 "Pass parameter in click event (Editor)(cc.Button)"
Hi,
If we pass variable in click event section, it will be perfect.

![Image](http://i.imgur.com/0NJqAzc.png)

[2016-06-15 12:02] ngocnv371 opened #801 "Motion Streak with Follow action doesn’t work"
I cloned the pool-physics-demo and change a bit to add a MotionStreak to the cue and have the scene follow it. But the MotionStreak won't render anything at runtime. If I use the mouse to move it around in the editor it will show properly (with Preview). And if I add the MotionStreak to other ball, it will show as normal. No, I take that back. It will show the streak, not when the ball move, but w

[2016-06-15 12:07] jareguo commented on #626
This should be fixed.

[2016-06-15 12:07] #626 closed, assigned to nobody

[2016-06-16 01:51] knoxHuang commented on #801
Do you use in WebGL mode?

[2016-06-16 02:22] jareguo commented on #790
done, thx @ozergul  & @knoxHuang

[2016-06-16 02:22] #790 closed, assigned to knoxHuang

[2016-06-17 11:15] ngocnv371 commented on #801
Yes, it is in WebGL mode, my browser did not show the streak at all on Canvas mode.

[2016-06-18 06:17] knoxHuang commented on #801
Can you give me a simple project?  I'll test to see

[2016-06-18 13:12] ngocnv371 commented on #801
I don't know to attach a zipped source, so I put it here:
https://github.com/ngocnv371/bluewalker/commit/47406ba71b23409cf8c2a8b28934e505fc77f281

[2016-06-18 13:23] knoxHuang commented on #801
ok, thank you

[2016-06-18 13:36] ngocnv371 commented on #801
I also notice that Follow doesn't work with collider. This piece of code is ripped from the samples, I only add the Follow action.
You could see it here, I guess it's related somehow.
https://github.com/ngocnv371/bluewalker/commit/64427453607f06292daee167f2f2250d7cc1634a

[2016-06-21 05:04] knoxHuang commented on #801
hi, I tested it, the current MotionSteak is rendered correctly in your project.

I think it was caused by

[code]

You may need to use another way to make the camera follow the target.

Note: The `cc.director.getRunningScene()` has been deprecated,  please use `cc.director.getScene();` get scene, and the scene has been unable to run action.

[2016-06-22 06:34] Yehsam23 opened #819 "CCSGNodeCanvasRenderCmd updateColor not call"
因为现在Node.WebGLRenderCmd是用到Node.CanvasRenderCmd中的 _syncStatus
cocos2dx-js的NodeWebGLRenderCmd中的_syncStatus不太一样

而CCSGNodeCanvasRenderCmd.js 中的 _syncStatus
`
        if(colorDirty)
            this._updateColor();
`
这段应该是
`
   if (colorDirty || opacityDirty)
       this._updateColor();`

不好意思 我太会用github
如果有问题请移除

[2016-06-22 06:48] jareguo commented on #819
@pandamicro 他说的好像是对的，因为 _updateColor 中也会使用到 displayOpacity，所以应该在 opacity 改变时也执行 _updateColor

谢谢反馈，不过这个问题要怎么重现呢？

[2016-06-22 07:14] Yehsam23 commented on #819
`

[code]

`

在z轴更动后setOpacity会失效

[2016-06-23 11:03] #801 closed, assigned to knoxHuang

[2016-06-26 14:28] ozergul opened #829 "prefab saving is not working properly"
prefab saving is not working properly in cocos creator.

[2016-06-27 01:21] knoxHuang commented on #829
Can you give me a simple test project?

[2016-06-29 05:00] tocaonguyen opened #846 "why there are differences between the two this code ? Use "setContentSize" before and after "addchild" !"
code 1 and preview
<img width="1176" alt="screen shot 2016-06-29 at 11 51 49" src="https://cloud.githubusercontent.com/assets/10234430/16440996/cf7b927a-3df0-11e6-9320-1d1c98e9f43b.png">
<img width="565" alt="screen shot 2016-06-29 at 11 52 00" src="https://cloud.githubusercontent.com/assets/10234430/16440997/cf7c1bf0-3df0-11e6-89d4-466a38e0fd6c.png">

code 2 and preview

<img width="1070" alt="sc

[2016-06-29 06:00] jareguo commented on #846
because the default size mode in Sprite component is TRIMMED, it will reset the node's size when adding to the scene.

[2016-06-29 06:56] tocaonguyen commented on #846
yeah , if i use sprite.sizeMode = cc.Sprite.SizeMode.CUSTOM when set frame texture then code 1 run  ok ^^ ,   thank for reply ...! <3 @jareguo

[2016-06-29 06:58] jareguo commented on #846
np :D

[2016-06-29 06:58] #846 closed, assigned to nobody

[2016-07-09 16:51] nickav opened #889 "Script caching issue"
Steps to reproduce:
1. Create a new "Hello World" project
2. Run the project in the simulator
3. Edit text property in the file Script/HelloWorld.js and change it to something like "Hello, there!" instead of "Hello, world"
4. Note that after refreshing the new text does not get rendered on the screen. The old "Hello, world!" text still persists.

Only after renaming the properties.text to somethin

[2016-07-09 17:13] nickav commented on #889
I see now that the properties attribute of the Script just sets up the defaults. This should be made clearer with a comment above like: "defaults, override these from the Canvas"

[2016-07-09 17:19] jareguo commented on #889
Hi, where should this comment display?

[2016-07-09 17:22] nickav commented on #889
Not sure about the exact wording, but for example in `assets/Script/HelloWorld.js`:

[code]

[2016-07-09 17:40] jareguo commented on #889
I think that's ok, thanks.
@knoxHuang Can you improve the comment in the HelloWorld project?

[2016-07-12 10:28] #889 closed, assigned to knoxHuang

[2016-07-21 03:30] JimsC opened #933 "关于CCComponentEventHandler的一些问题"
我在使用cocos-creater的时候，也想用到CCComponentEventHandler一样的效果，就是第一个属性选择了之后，根据第一个属性列出可以选择的第二个属性，选择了第二个属性之后，根据第二个属性列出可以选择的第三个属性，但是看了代码，好像并没有给出如何操作的，我尝试用notify来改动属性的值，也没有成功，请问有什么办法吗?

[2016-07-24 23:19] nickav opened #946 "Touch.getStartLocation() is different at the end of a touch event"
With the following code:

[code]

Notice how `touch.getStartLocation()` is not equal to the location at the start of the touch. My guess is that it is no longer the OpenGL coordinates, though it's hard to tell where this issue is happening in the code.

[2016-07-28 06:55] ghost opened #974 "Dockerfile"
Hi guys,

Hope you are all well !

I was looking at your amazing work and I was wondering if a dockerfile was available with Alpine as a base image. It would be great for testing or launching latest version faster.

Thanks in advance.

Cheers,
Luc

[2016-07-28 07:02] ghost opened #975 "Create packages for C++/JS bindings"
Hi guys,

Hope you are all well !

I have a last question about about cocos-creator as I am quite new to your great tool; Is it possible to create a package of assets with a universal configuration file (like a plist) in order to execute a game created with your UI but launchable not only with the JS API but the C++ one also.

More precisely, I was thinking to use Vuforia/Artoolkit with cocos2d-x

[2016-07-30 06:17] lifzgreat opened #987 "Loading remote file on Android"
This works in a browser but not in Android:
`cc.loader.load({id: 'http://mydomain.com/config.php', type: 'json'}, function (err, data) {});`

The browser downloads the file but Android throws this error:
`Get data from file(http://mydomain.com/config.php) failed!`

I've traced the error message to here:
https://github.com/cocos-creator/cocos2d-x-lite/blob/develop/cocos/platform/android/CCFileUtils

[2016-08-06 10:33] JimsC opened #1016 "cocoscreater打出来的apk包在eclipse下看不到输出信息，包括console.log和cc.log"
发布的时候不管是release还是debug，都是这样，1.1.1版本

[2016-08-06 12:04] jareguo commented on #1016
按理说是不会的，你能用 AndriodStudio 试试吗？

[2016-08-08 01:35] JimsC commented on #1016
找到原因了，我设备的问题，换了一个设备就好了。。。

[2016-08-08 01:37] jareguo commented on #1016
😹

[2016-08-08 01:37] #1016 closed, assigned to nobody

[2016-08-18 08:17] #819 closed, assigned to pandamicro

[2016-08-28 16:50] macs054 opened #1068 "Changes in Prefab is not applied to existing prefabs in all of the scenes"
I have edited an existing prefab(added new nodes on it) and saved it using the green save button. The prefab itself saved just fine but the changes did not apply to the existing(created) ones in all of the other scenes.

[2016-08-29 01:45] jareguo commented on #1068
Yes we have not yet implemented the feature. But it should be available after merging https://github.com/cocos-creator/engine/pull/1056

[2016-08-29 06:51] macs054 commented on #1068
I see, thanks for the update.

[2016-08-29 06:51] #1068 closed, assigned to nobody

[2016-09-01 00:30] HowardBraham opened #1078 "CCScrollView on desktop web"
CCScrollView is a little broken on desktop web.  If you scroll using the mouse wheel, or with two-finger scroll on a touchpad, the result is both backwards and really slow.

For example, if Google Chrome would normally respond to the mouse wheel gesture by scrolling down about 40 pixels, a Cocos ScrollView will respond by scrolling **up** about 2 pixels.

I believe this can be fixed by changing CC

[2016-09-01 01:33] zilongshanren commented on #1078
@HowardBraham  Thanks, I will try the solution and give you feedback.

[2016-09-04 09:29] maltium opened #1087 "Multiple keyframes on the same frame"
Sometimes I end up with multiple keyframes on the same frame. I can confirm this by opening the .anim file in a text editor. The timeline and properties panel behave erratically when this happens.

One way to reproduce it is to move one keyframe over another in the timeline editor. The expected behaviour is to overwrite the keyframe value.

Reproducible in 1.3 beta.

[2016-09-06 03:47] zilongshanren commented on #1078
@HowardBraham
`-0.6` might be too aggressive, so I change it to `-0.1`

And here is the PR: https://github.com/cocos-creator/engine/pull/1095

Feel free to comment, thanks.

[2016-09-16 08:53] DrMoriarty opened #1124 "Wrong compiling project in CocosCreator for Mac (for simulator and browser)"
Hello! I don't know if this issue is engine related, btw I can't find cocos creator repository for reporting this bug.

So, my game project is pretty big and yesterday I noticed very destructive bug in cocos creator for MacOSX.

When I try to recompile scripts I get the error:

[code]

I'm sure that my scripts are valid. The project can be compiled and ran successfully in cocos creator for windows

[2016-09-16 09:06] DrMoriarty commented on #1124
PS: I use cocos creator 1.2.1 but the problem was also in creator 1.1.2

[2016-09-16 09:26] DrMoriarty commented on #1124
I successfully built the previous revision of my game. And I noticed that bundle.project.js has only one sourceMappingURL in the very end of file.

[2016-09-19 02:47] jareguo commented on #1124
It seems like the EOF of `bundle.project.js` is not placed correctly because the end part of `bundle.project.js` repeated 4 times. This maybe an IO error and I have no idea about it. Did you see any other error before the `SyntaxError`? Do you know how can I do reproduce the bug?

[2016-09-19 12:31] DrMoriarty commented on #1124
I don't know what exactly was the reason but the bug was gone on. I reinstalled cocos on another drive (the previous one was with case sensitive file system) also I redownloaded my project from git, rebooted my computer several times. And voila!

[2016-09-19 12:31] #1124 closed, assigned to nobody

[2016-09-19 13:43] jareguo commented on #1124
😂

[2016-09-30 19:43] Drakaroft opened #1166 "A question."
I haven't understand if this is the full Cocos Studio Source or not.... Is a framework for scripting without the visual editor or is the the source of the engine and the source of the visual editor?
I ask this because i want to try to compile and understand how an editor is made, but if there isn't the editor i won't download the repo. Thanks!

[2016-10-01 01:14] HowardBraham commented on #1078
@zilongshanren
It looks like this change was merged, but didn't make it into Cocos Creator 1.2.2.  What happened?

Also, in terms of the best wheelPrecision, I've studied this a bit more and I think it's more complicated.  Here are two test pages I set up with wheelPrecisions of -0.1 and -0.6:

https://howardbraham.github.io/0.1/
https://howardbraham.github.io/0.6/

On the left is a Cocos scroll,

[2016-10-05 06:43] jareguo commented on #1166
Yes this in't the editor, the editor's repo is private, sorry for that.

[2016-10-05 06:43] #1166 closed, assigned to nobody

[2016-10-14 01:49] zilongshanren commented on #1078
@HowardBraham  I also notice this difference, I will consider to adjust these values for different browsers and different OS.

[2016-10-26 20:47] ntrrgc opened #1244 "Status of CCUI?"
I've seen CCUI files are included in the repo and have some changes from upstream (e.g. usage of `require()`), but they are not linked in `index.js` for compilation.

Is CCUI supported in this fork? Is it planned, dropped or deprecated...? Is it usable already and maybe I'm missing something?

Regards.

[2016-10-27 01:39] jareguo commented on #1244
CCUI has been dropped...

[2016-10-27 08:17] ntrrgc commented on #1244
Why? What's the alternative? Will this change impact upstream cocos2d-html5?

[2016-10-27 08:18] jareguo commented on #1244
Because creator implemented its own UI system based on Component. This will not change cocos2d-html5.

[2016-10-27 08:18] #1244 closed, assigned to nobody

[2016-10-27 15:35] ntrrgc commented on #1244
Why? What's the alternative? Will this change impact upstream?

El 27 oct. 2016 3:39, "Jare Guo" notifications@github.com escribió:

[2016-10-28 09:23] jareguo commented on #1244
Because creator implemented its own UI system based on Component. This will not change cocos2d-html5.

[2016-10-29 17:14] abos5 opened #1251 "simulator 调试的时候用 SocketIO.connect 报了 Microsoft Visual C++ .exe R6010 abort error"
如题

![image](https://cloud.githubusercontent.com/assets/5197118/19831157/b2d25172-9e35-11e6-99c8-2bc64290f340.png)

CCC 1.3.0 console 信息:
![image](https://cloud.githubusercontent.com/assets/5197118/19831173/26065a80-9e36-11e6-9729-bd0f89cb65bb.png)

代码如下:
(在谷歌浏览器下工作正常)
plugin:

[code]

Game.js

[code]

[2016-10-29 17:17] abos5 commented on #1251
根据 sample 1.3 network 里的介绍, 将 socket-io.js 做为plugin,
且 socketio 的请求 都使用 io.connect('ws://xxx.space:3000') 也是会报 R6010

[2016-10-30 06:15] jareguo commented on #1251
能不能试试 http scheme?

[2016-10-30 07:22] abos5 commented on #1251
改为 http 之后的 调试信息:

![image](https://cloud.githubusercontent.com/assets/5197118/19835035/78f0849a-9eb4-11e6-8a17-5e83986ace50.png)

 修改之后的代码(在浏览器上是正常运行的):
![image](https://cloud.githubusercontent.com/assets/5197118/19835037/98c052a0-9eb4-11e6-8337-f3ccf67168cf.png)

[2016-10-30 07:31] abos5 commented on #1251
上面的错误信息是 _直接使用了nginx配置的upstream_, 在 simulator 下handshake失败了;
刚刚改为 host+端口号直连, 现在在simulator里面也正常了...
handshake失败的应该是和我后端socketio, koajs 或者nginx 那边再调一下

但windows的 R6010 这个问题, 代码没有修改, 睡一觉起来就好了...怪怪的

[2016-11-15 02:14] VisualSJ opened #1284 "Loader 内统一使用 url 缓存"
因为现有两种缓存（url/uuid）公用会出现一些问题。
uuid的缓存后，使用url重新加载会造成判断缓存不存在，重新进行一次加载，造成重复的资源缓存。

所以需要统一缓存的索引形式。

[2016-11-15 02:16] #1284 closed, assigned to VisualSJ

[2016-11-15 02:18] VisualSJ commented on #1284
上面的pr使用的方式是去反向查询url是否是内部资源，有些不妥当，所以关闭pr。

[2016-11-18 10:18] knoxHuang opened #1298 "[Bug] 当用户使用 Load 的时候，传入的参数会被修改"

[2016-11-18 10:20] #1298 closed, assigned to nobody

[2016-11-19 21:49] thearsenik opened #1300 "cc.Node:getActionByTag returns undefined"
Hi,
I'm working with actions and I can't get an action by its tag.
Here is a sample code:
[code]

When I looked at the code I realized a return statement is missing here:
https://github.com/cocos-creator/engine/blob/master/cocos2d/core/CCNode.js#L1420
I think it should be:
[code]

Regards.

[2016-11-19 21:56] thearsenik commented on #1300
By the way, I think there is the same problem with `getNumberOfRunningActions` (https://github.com/cocos-creator/engine/blob/master/cocos2d/core/CCNode.js#L1442)

[2016-11-21 13:00] xubing opened #1304 "how to define a common Class in a file?"
我在查看文档http://www.cocos.com/docs/creator/scripting/class.html的时候，遇到一个问题。
下面是文档中的代码demo。
var Shape = cc.Class({
    ctor: function () {
        cc.log("Shape");    // 实例化时，父构造函数会自动调用，
    }
});

var Square = cc.Class({
    extends: Shape,
    ctor: function () {
        cc.log("Square");   // 再调用子构造函数
    }
});

var square = new Square();
//以上代码将依次输出 "Shape" 和 "Square"。

//如果把上面的代码拆分成2个文件后调用，
//Shap

[2016-11-21 13:14] xubing commented on #1304
ok. 用module.exports导出就ok了。

[2016-11-21 13:14] #1304 closed, assigned to nobody

[2016-11-28 11:05] moonwalkerjay opened #1325 "Bug 1.3.2 安卓上 cc.game.restart()报错"
4:36.458 3448 3464 D cocos2d-x debug info: Cocos2d-JS v3.13
11-28 18:44:38.453 3448 3464 E cocos js error:: /data/user/0/com.baiyou.dkd/files/blackjack-remote-asset/src/jsb_polyfill.js line:28901 msg:TypeError: cc.director.getScheduler(...)._schedule is not a function
11-28 18:44:38.454 3448 3464 D cocos2d-x debug info: Evaluating main.js failed (evaluatedOK == JS_FALSE)
11-28 18:48:59.072 1397 14

[2016-11-28 12:48] moonwalkerjay commented on #1325
window.setTImeout里的报错     cc.director.getScheduler(...)._schedule is not a function

[2016-11-29 16:14] jareguo commented on #1325
这个 API 暂时还未实现好，麻烦用其它方式代替，我们会尽快完善。

[2016-11-29 16:14] #1325 closed, assigned to nobody

[2016-11-29 16:15] #1300 closed, assigned to knoxHuang

[2016-12-01 08:37] GameKeys opened #1331 "能把creator.d.ts下的错误修改一下吗？"
错误如下
export class RawAsset extends **CCObject** {
     不知道CCObject和Object定义中的有什么区别

export function jumpBy(duration: number, position: Vec2|number, y?: number, **height**: number, jumps: number): ActionInterval;

 dragonBones.**xxx**

[2016-12-01 08:39] jareguo commented on #1331
一个是 cocos 内部的，一个是 js 原生的，作用不同

有什么问题？？

[2016-12-01 08:49] GameKeys commented on #1331
export class CCObject extends Object{} 我整成继承还不对，行吧
没有报错的代码提示都没有问题，报错的提示就有问题。有的能改但有的不知道是否是原生调用的（不止是代码提示，还有对原继承的理解）
![2016-12-01 4 49 06](https://cloud.githubusercontent.com/assets/6950818/20787304/158159b8-b7a3-11e6-9d97-9506f9e2de80.png)

[2016-12-01 08:54] jareguo commented on #1331
麻烦 @knoxHuang  有空过一遍吧，看看哪些地方报错了

[2016-12-01 09:16] GameKeys commented on #1331
修改了一下，好多只是添加上了，里面还没有内容，就是不报错了。
看看对吗，给你们参考一下

[2016-12-01 09:19] knoxHuang commented on #1331
好的，我明天看看吧，能解决的就解决掉~

[2016-12-01 09:21] GameKeys commented on #1331
creator.d.ts还不能直接上传，整了个包
[creator.d.ts.zip](https://github.com/cocos-creator/engine/files/624114/creator.d.ts.zip)

[2016-12-01 09:25] nantas commented on #1331
@GameMidlet
大部分能改的错误都已经修正了，目前你遇到的几个问题可以归类如下：

- 基类的 API 没有暴露出来，所以 ts 文件里缺少这部分的声明。
- 部分外部库的接口没有提供 API 声明，比如 spine，dragonBones 这些
- 可选参数的问题，ts 里可选参数必须放在最后一个位置，但 cocos 引擎有很多习惯用法是通过类型判断来决定一个可选参数是否被添加到了两个参数中间

这些问题短时间内无法解决，可能需要我们有空了再仔细研究一下，包括整个 API 类型信息的生成方式都可能需要更新（TS 已经放弃 d.ts 格式了，现在在推的是 typings）

[2016-12-01 09:26] #1251 closed, assigned to nobody

[2016-12-02 02:51] GameKeys opened #1333 "ToggleGroup 能不能添加个属性"
let group=cc.find('Canvas/ToggleGroup').getComponent(cc.ToggleGroup);
let count=group.node.childrenCount;//数据大小没有问题，内容有问题
let counta=group._toggleItems.length;
cc.log("count:"+count+"\t"+counta);
let index=group.node.children.indexOf(toggle);//目前还不知道这里面是什么东西
let indexa=group._toggleItems.indexOf(toggle);//这个内容是没有问题的
cc.log("index:"+index+"\t"+indexa);

假如ToggleGroup就添加一个事件,还想知道是哪个Toggle触发的事件
能不能把_

[2016-12-09 02:59] GameKeys opened #1347 "cc.Sprite('')希望添加一下功能吧"
Sprite(SpriteFrame|String newSpriteFrame) {
	var node = new cc.Node("Sprite");
	var sprite = node.addComponent(cc.Sprite);
	sprite.spriteFrame = newSpriteFrame;
	return sprite
}
cc.loader.loadxxx
var abc=cc.Sprite('abc');

希望添加这样的功能吧！不止Sprite。。。

[2016-12-09 03:06] jareguo commented on #1347
可以考虑提供一些类似 cc.Sprite.createNode('abc') 的 API，不过这种函数用户很容易自己封装一下吧？

[2016-12-10 15:49] nureyev opened #1349 "No spaces allowed in project path?"
A new project path of C:\Users\User Name\Documents\Cocos\NewProject gives an error of "Invalid project path, can only contains alphanumeric characters, - and _"

Does Cocos Creator support spaces in project paths?

[2016-12-11 18:51] javierhoar opened #1350 "Raw assets sets on property panel are inaccessible from code and potentially loaded twice"
Hi,
I found a problem on the javascript engine related to assets management. Raw assets set on property panel are created automatically before the scene start but they cannot be accessed from code because cc.load.getRes doesn't find it even though the resource is present on cc.loader._cache.
Debugging a bit I found that cc.load.getRes fail because cc.loade._getResUuid(url) fail as well.
The proble

[2016-12-12 01:20] jareguo commented on #1350
Hi Javier,
You should not use loader.getRes in this situation, if you need to access by **url**, you should use cc.loader.loadRes.

[2016-12-12 01:21] jareguo commented on #1350
This maybe a bug, @VisualSJ 麻烦看下

[2016-12-12 02:00] javierhoar commented on #1350
Hi Jareguo,
thanks for the quick answer.
I can use loadRes but its not the case, if I do that the resource will be loaded twice. You use loadRes when you want to loada resource dynamically in runtime in any moment. But when you set a raw assets as a property, the engine already load the assets before the first scene start. the problem is that the resource cannot be accessed by url after the engine

[2016-12-12 02:50] jareguo commented on #1350
Is this bug limited to the audio clip, or will it affect other types of assets?

[2016-12-12 03:19] javierhoar commented on #1350
For Texture2d happen exactly the same, didnt check other types, but I think it happens with any raw raw asset.

Javier.

[2016-12-12 03:20] jareguo commented on #1350
Okey, thanks!

[2016-12-12 07:01] VisualSJ commented on #1350
I run this code in the example-cases.

    cc.audioEngine.playEffect('res/raw-assets/resources/audio/music_logo.mp3');

Resource loading is normal. How to be able to appear repeatedly load?

![image](https://cloud.githubusercontent.com/assets/7113508/21090541/75be6786-c07b-11e6-817c-2653a0de9c7d.png)

[2016-12-12 12:24] javierhoar commented on #1350
Hi VisualSJ,
playEffect works fine if the mp3 is not already loaded automatically. if you declare the mp3 as a property on any scene element. that mp3 is loaded automatically by the engine during scene loading and before the scene is shown.  playEffect without already load the resource adds extra time to load the resource and may run the sound a bit late. There are cases where you need that all mp

[2016-12-12 12:30] javierhoar commented on #1350
I had an application working fine on an older versions of cocos creator but after update, I think, to 1.3.0 and newer, my app stop working.

[2016-12-13 02:54] VisualSJ commented on #1350
Thanks @javierhoar
https://github.com/cocos-creator/engine/pull/1324

With regard to the problem of repeated loading of resources, we have fixed.
This is because the cache index allows for UUID and URL.

It's changed to URL now.

[2016-12-13 02:56] #1350 closed, assigned to VisualSJ

[2016-12-13 03:11] javierhoar commented on #1350
Thanks you @VisualSJ for the fix.
Just a question, after the fix, does automatic resource loading still work before the scene is shown?
Thanks in advance

[2016-12-13 03:38] jareguo commented on #1350
Thanks @javierhoar , resource loading still work before scene shown

[2016-12-15 19:00] javierhoar opened #1370 "getDuration of audioclips on JSB doesn't work, always returns -1"
Hi guys,
when testing a cocoscreator app on the simulator or by building to windows,  getDuration of audioClips always returns -1. This was tested on Release 1.3.2

Also in order to improve interface,  now getDuration requires pass the cc.audioEngine's audioId as a parameter and to obtain the id, the audio mast be played before,
var id = cc.audioEngine.playEffect(sound);
var duration = cc.audioEng

[2016-12-19 05:59] rongmingLi opened #1377 "接电话后返回游戏声音没有"
接电话后，以下事件无响应，导致游戏声音无法恢复
cc.game.EVENT_HIDE
cc.game.EVENT_SHOW
此时，就算重新使用cc.audioEngine.playMusic()也无法再次播放声音。

[2016-12-19 19:32] javierhoar commented on #1370
Hi guys,

I was debugging this a bit to see why getDuration always returns -1 and I think I found a problem on AudioEngine-win32.cpp, and function "float AudioEngineImpl::getDuration(int audioID)"

Im doing this in code:
"var clip = "any.mp3";
cc.audioEngine.preload(clip , function(val){
	var id = cc.audioEngine.playEffect(clip );
	var dur = cc.audioEngine.getDuration(id)
});"

So when the getDura

[2016-12-22 04:26] stormslowly opened #1387 "dragonBone动画换肤在H5上表现正常, 在原生平台闪退"
我们自己调查了下

https://github.com/cocos-creator/engine/blob/de1c6b174b6399f502cfe6280d64b9aebf3126f7/extensions/dragonbones/ArmatureDisplay.js#L323

调用的原生解析方法返回的是一个空对象,里面`this._dragonBonesData.armatureNames` 为 `undefined`

我们游戏中调用的代码片段

[code]

使用的dragonData 在 https://pan.baidu.com/s/1jHJAhIu

[2016-12-22 09:22] natural-law commented on #1387
@stormslowly 请问你们使用的 Creator 版本是多少呢？

[2016-12-22 09:34] natural-law commented on #1387
我刚刚在 1.3.2 版本和开发环境中测试了一下，并没有闪退的问题。
可能你们使用的 Creator 版本较低，在新版本中问题已经解决了。

[2016-12-22 09:35] stormslowly commented on #1387
creator 版本 1.3.1 我升级看看吧

[2016-12-22 14:21] stormslowly commented on #1387
1.3.2 是好的. 谢谢

[2016-12-22 14:21] #1387 closed, assigned to natural-law

[2016-12-30 07:29] chiangandy opened #1409 "將騰訊開發的tutorial blackjack在Android Device運行問題"
我有將騰訊開發的tutorial blackjack以cocos creator1.3.2與1.3.3編輯，這遊戲在html5 web與ios都可以跑，但是在Android device上面執行(我是用htc 728測試)，在主畫面點擊button...就會crash 閃退(但是在Android 模擬器又可以順利執行)，用Logcat也看不到明確的錯誤log出來，這是何解啊～！？ 有人有這情況嗎？ 由於cocos creator是我們公司2017年開發項目的主義技術依據，麻煩各位大大給點意見～

[2017-01-07 02:06] snz2 opened #1418 "aws-sdk xhrAddEventListener is not function"
web platform is ok. but android, ios, simulator is this message.

I guess it's DOM element object.

another solution? or aws-sdk all platform support ?

thanks

[2017-01-07 10:32] snz2 commented on #1418
answer myself:

Edit: aws-sdk/lib/http/xhr.js

addeventlistener To
-----------------------------------------------------------

[code]

[2017-01-26 14:39] DrMoriarty opened #1465 "Build error JS_Parse_Error"
Hello!
My project can be built successfully in Debug mode (for iOS and Android). But when I disable debug mode and try to build I get this error:

[code]

As far as I see uglify-js should throw new JS_Parse_Error with additional information in what file and where it has troubles. But I not see this information in CocosCreator log. It shows me only the stack log but not the content of thrown except

[2017-01-26 18:08] DrMoriarty commented on #1465
Finally I made debug build and run uglifyjs over build/jsb-default/src/* files. It shows me full error description so I fixed the issue.
It would be nice if you fixed the cocos creator build log or provided any another way to show full build log.

[2017-01-27 05:54] jareguo commented on #1465
Thanks @DrMoriarty, Is it an error about ES6 used in plugin scripts?

[2017-02-04 01:49] javyliu opened #1470 "1.4rc1 new coffeescript component error"
Error: ENOENT: no such file or directory, open 'E:\game_projects\test_21\library\imports\40\40d9b3e4-98ea-4d49-afbc-db44114d6f4a.js.map'
at Error (native)
at Object.fs.openSync (fs.js:640:18)
at Object.module.(anonymous function) [as openSync] (ELECTRON_ASAR.js:186:20)
at Object.fs.readFileSync (fs.js:508:33)
at Object.fs.readFileSync (ELECTRON_ASAR.js:523:29)
at getBabelSourceMaps (E:\ccc1.4_rc1\

[2017-02-04 03:05] nantas commented on #1470
Fixed in next rc release.

[2017-02-04 03:06] #1470 closed, assigned to nobody

[2017-02-04 03:15] #1418 closed, assigned to nobody

[2017-02-04 03:17] nantas commented on #1409
可能是音频解码程序和硬件不兼容导致的，可以尝试使用1.4版本（很快会发布）测试，改善了很多 android 音频兼容性的问题

[2017-02-04 03:19] pandamicro commented on #1377
native 还是 web ？

[2017-02-04 03:21] nantas commented on #1349
No, project path should not include spaces.
We add this restriction to make it easier to debug errors on native platforms.

[2017-02-04 03:21] #1349 closed, assigned to nobody

[2017-02-04 03:22] nantas commented on #829
close due to not enough information

[2017-02-04 03:22] #829 closed, assigned to nobody

[2017-02-04 03:25] nantas commented on #607
should be fixed in v1.4

[2017-02-04 03:25] #607 closed, assigned to natural-law

[2017-02-04 06:16] VisualSJ commented on #1370
@dumganhar Look at this issue.

[2017-02-04 06:35] dumganhar commented on #1370
I'm busy for other projects, I will take a look at this issue when I have time.
Yes, `getDuration` seems not to works well on Win32. :(
Need refactoring...

[2017-02-06 14:15] javierhoar commented on #1370
It is a very useful feature. Hope you can fix it.

Thanks in advance.

[2017-02-13 07:45] DrMoriarty commented on #1465
@jareguo Yes, it shows an error for every using `let` directive

[2017-02-13 08:58] jareguo commented on #1465
Sorry you can not use ES6 in plugin scripts! you should transpile to ES5 by yourself.

[2017-02-17 08:53] DrMoriarty opened #1505 "Memory leaks or How to release a Scene"
Hello!
I have made a  [very simple cocos creator project](https://dl.dropboxusercontent.com/u/996824/builds/test-cocos-scenes.zip). Just four scenes which switches in a cyclic manner. Each scene has a huge background picture.

The switching code is also very simple:

[code]

When I run the project (on iOS simulator or device) and switch between the scenes I have this memory usage graph:
![2017-02-

[2017-02-17 09:58] pandamicro commented on #1505
Which version of creator are you using?

[2017-02-17 11:19] DrMoriarty commented on #1505
Cocos Creator v1.3.3 for MacOSX

[2017-02-19 02:47] pandamicro commented on #1505
@DrMoriarty Sorry there is indeed some issues with v1.3.3 native loader. The solution is:

1. Please try v1.4
2. Try not to release any resources in v1.3.3, then it won't reload again, so memory won't grow up dramatically

With v1.4, you can release resources with `cc.loader.release`, here is couple of examples described in the API:

[code]

B.t.w, we still have some minor memory leak issue in v1.

[2017-02-19 16:39] pandamicro commented on #1505
Another thing need to mention is that JSB memory deallocation is always delayed, because JS object can only be freed when the garbage collection(GC) is invoked, the timing of GC is controlled by Spidermonkey. You can also manually call GC with

`cc.sys.garbageCollect();`

Some objects may need various times of GC to be finally released

[2017-02-22 09:56] DrMoriarty commented on #1505
@pandamicro
I've downloaded CocosCreator_v1.4.0_2017021001.dmg and modified my test project. Now I loaded and unloaded the big texture in the same scene:

[code]

When I tested the application on iOS device or simulator I have this memory usage graph:
![2017-02-22 13 23 15](https://cloud.githubusercontent.com/assets/1177068/23207511/92746a5a-f902-11e6-843a-9567f59cac02.png)

The first button click

[2017-02-22 10:10] DrMoriarty commented on #1505
@pandamicro also I noticed that during the second test `Ref::release()` was never called for `cocos2d::Texture2D` object.

Ref::retain() for Texture2D was called twice: from TextureCache::addImageAsyncCallBack function and from jsb_ref_get_or_create_jsobject function.

[2017-02-22 11:29] DrMoriarty commented on #1505
@pandamicro Finally I noticed that I have no ideas what is the right way to release a texture. None of these are helped: cc.loader.release(@texture), cc.loader.release(@texture._id), cc.loader.release(@texture._uuid), cc.loader.releaseRes(@texture.url, cc.Texture2D), cc.loader.releaseRes(cc.url.raw('resources/splash_4.png'), cc.Texture2D)

Some of them does nothing, another part raises an error. W

[2017-02-22 12:33] DrMoriarty commented on #1505
@pandamicro
May be I was inattentive when tested first time cocos creator 1.4. Now I checked the first test case with additional `cc.sys.garbageCollect();` when scene is released. And it works pretty well!
![2017-02-22 15 29 28](https://cloud.githubusercontent.com/assets/1177068/23211624/0fffd5fc-f914-11e6-95ad-22293555f041.png)

The worked code is:
[code]

[2017-02-22 12:33] #1505 closed, assigned to nobody

[2017-02-23 02:52] pandamicro commented on #1505
The thing is that GC can only release objects that have no reference, in Web platform it's pretty straight forward and effective. But with JSB it's much complicated, in the new memory model introduced after v1.3, most C++ object life cycle was controlled by JS object, but we still have some C++ to JS references, for example, JSCallbackWrapper, JSFunctionWrapper, JSScheduleWrapper, they make GC mor

[2017-02-23 02:57] pandamicro commented on #1505
Often you can't release the texture directly, even if you can remove it from the loader's cache, but there will always be a SpriteFrame hold its reference, then Texture2D's JS object is always alive.

For example, if you know your texture's sprite frame was only used by a Sprite, then remove the Sprite from the scene, or set its `spriteFrame` property to null. And release the SpriteFrame from the

[2017-03-01 04:11] 845629143 opened #1524 "1.4热更新模块有问题，每次启动会清掉storagepath下的数据。"
1.4热更新模块有问题，每次启动会清掉storagepath下的数据。

1、storagepath和storagepath_temp里面都没有任何东西。
![image](https://cloud.githubusercontent.com/assets/5147234/23445427/30794ee6-fe76-11e6-8946-98c6d1b3e492.png)
2、点击检查更新，在storagepath_temp路径下会出现version文件。
![image](https://cloud.githubusercontent.com/assets/5147234/23445447/5eb4c4fc-fe76-11e6-85ef-bf7e9fee819d.png)
3、点击更新，storagepath_temp路径下的内容会被转移到sotargepath路径下。
![image

[2017-03-09 10:42] #1465 closed, assigned to nobody

[2017-03-10 05:58] DrMoriarty opened #1542 "How to use ClippingRectangleNode in cocos creator"
Hello!
In my game I have a very large game map. It is a ScrollView with content about 13 x device heights. The content node places inside of a Mask node with RECT clipping mode. I have noticed that my game map has very low fps, about 30.

I tried to check another clipping algorithm and hacked ClippingNode (it always uses stencil for clipping even for simple rect). I simple copied the code of Clipp

[2017-03-12 11:35] lazeyliu opened #1546 "我的ndk版本太高了？APP_ALLOW_MISSING_DEPS=true"
是我的ndk 版本太高了么？
/usr/local/Cellar/android-ndk/r14/build/core/build-binary.mk:687:
Android NDK: Module cocos2djs_shared depends on undefined modules: cocos2d_js_android_static log
/usr/local/Cellar/android-ndk/r14/build/core/build-binary.mk:700:
 *** Android NDK: Aborting (**set APP_ALLOW_MISSING_DEPS=true** to allow missing dependencies)    .  Stop.

设置完以后 出现新的错误

/Applications/CocosCreator.app/Con

[2017-03-14 05:31] DrMoriarty opened #1549 "Widget on canvas: can not set fullscreen canvas properly"
Hello! I have about 12 scenes in my project, but two of them behaves in very strange way. I set widget for every canvas in every scene and set in to stretch to fullscreen (the main reason is android screens with many screen aspect ratios). The most of my scenes allows me to do that:

![2017-03-14 8 20 59](https://cloud.githubusercontent.com/assets/1177068/23886871/3dc9030c-088f-11e7-8066-d418ea575

[2017-03-14 05:33] linhaiwei123 opened #1550 "cc.Graphics和cc.Sprite坐标不一致"
cc.Graphics是用父节点的左下角为坐标原点
而cc.Sprite是用父节点的真正锚点为坐标原点

[2017-03-14 05:45] #1550 closed, assigned to nobody

[2017-03-14 05:50] DrMoriarty commented on #1549
I checked scene fire file and found the widget class description. The right widget is:

[code]

The wrong widget is:

[code]

If I change margins in file and start game it looks very good. But if I open the scene in cocos creator and save it then it again makes widget with wrong margins (which leads to move bottom left corner of canvas to the center of device screen)

[2017-03-14 05:56] jareguo commented on #1549
Sorry you should not attach Widget to Canvas node because canvas size is immutable.
If you want to fullscreen, just create a new root node besides Canvas and attach this widget to it.

[2017-03-15 07:03] yangzhu6263736 opened #1552 "cocos cc.sys.language竟然没有繁体"
快加上吧。。你们别乱爱国了。一个中国也可以有两种语言的。

[2017-03-15 07:08] jareguo commented on #1552
参考 PR
https://github.com/cocos-creator/engine/pull/1320/files
https://github.com/cocos-creator/cocos2d-x-lite/pull/418/files

[2017-03-16 06:11] rongmingLi opened #1554 "截图问题"
环境：native
问题描述：用以下代码实现全屏截图，当节点中存在渲染组件“Mask”时。会被导致截图不完整
const shotRender= new cc.RenderTexture(winSize.width, winSize.height, 2);
       shotRender.begin();
        cc.director.getRunningScene().visit();
        shotRender.end();
==================原图=================
![image](https://cloud.githubusercontent.com/assets/24645328/23983727/a8cb6ba0-0a50-11e7-92a5-cec2cf271f10.png)
==================出问题

[2017-03-24 02:39] jareguo commented on #711
We will implement some decorators in 1.5 to help define the components by using ES6 Classes.

[2017-04-06 09:44] ghost commented on #1546
是的，太高了。
https://github.com/cocos2d/cocos2d-x/issues/17443

[2017-04-13 12:22] joker8x opened #1584 "Can't load scene if use prefab have cc.SceneAsset betweet 2 scene"
As title when I create prefab have cc.SceneAsset and reuse it in another scene. At first, it seems ok but if reload it will be stuck at loading on both scene.

[2017-04-13 16:13] jareguo commented on #1584
who is stuck?

[2017-04-13 17:46] joker8x commented on #1584
Cocos Creator v1.4.2

[2017-04-14 01:55] jareguo commented on #1584
Would it be possible for you to upload a demo?

[2017-04-14 02:23] joker8x commented on #1584
[DemoBug.zip](https://github.com/cocos-creator/engine/files/921279/DemoBug.zip)
this bug will happen if I use cc.SceneAsset as an array.

[2017-04-14 10:45] alankevin2 opened #1586 "How to import a template into a new project?"
I want you have our compliment in advance : 『cocos creator is a marvelous game-editor!』

However, we had bumped into some situations that we are unable to find a solution.

The problem is, we have a project that is a **template** (or boilerplate if more appropriate) which contains resource, scripts, prefab and etc.
And we have, let's say, two games that we want to apply this **template**.
How do w

[2017-04-15 01:18] GameKeys opened #1587 "ToggleGroup 修改建议"
设置toggle.ischecked按钮是隐藏或显示checkmark组件sprite，而不是checkmark组件node节点，假如做一些 给节点下放自定义的组件，它就隐藏或显示不了了

ToggleGroup 修改建议
       Background 默认显示背景
      checkmark 选择后的背景
1:**Toggle.isChecked的开关 -> 隐藏或打开应该设置 checkmark.node.active 不要设置sprite本身的隐藏或显示**
2:**节点层次问题(Background,checkmark 修改成兄弟节点)**
	{默认层次
		New ToggleGroup{
			toggle1{
				Background{
					checkmark{}
				}
			}
			...
		}
	}
	{修改成
		New ToggleGro

[2017-04-15 12:52] jareguo commented on #1584
Thanks @joker8x, this is a bug about the loader.

@pandamicro please fix this issue, I have a more simple way to reproduce the bug, just create two cross-referenced prefab, and drag them into a scene, creator will be stuck at loading on the scene.

[2017-04-17 01:47] zilongshanren commented on #1587
@GameMidlet 感谢建议，我们正好打算修改这一块。

[2017-04-17 02:22] nantas commented on #1586
You can share assets across projects with extension package, first create a package according to basic workflow:

https://github.com/cocos-creator/creator-docs/blob/master/source/en/extension/your-first-extension.md

Then register a path that contains shared assets in package folder:

[code]

For every project that load this package, your shared assets will be shown in project's asset panel.

[2017-04-17 05:37] zilongshanren commented on #1587
fixed

[2017-04-17 06:06] zilongshanren commented on #1333
@GameMidlet 可以考虑提供一个 toggleItems 的属性，感谢建议。

[2017-04-17 08:47] zilongshanren commented on #1333
@GameMidlet
1.5 版本会给 toggleGroup 添加一个 toggleItems 属性

[2017-04-18 02:34] #1333 closed, assigned to zilongshanren

[2017-04-18 02:34] #1587 closed, assigned to zilongshanren

[2017-04-19 09:24] GameKeys opened #1604 "CCGLProgram类中的 initWithVertexShaderFilename函数"
[code]

标准的地方有问题
code 1 这样那？
      this.shader = new cc.GLProgram('shader/example_Simple.vsh','shader/example_Simple.vsh');
code 2还是这样那？
     this.shader = new cc.GLProgram()
    this.shader.initWithString(vsh,fsh);

[2017-04-20 02:03] pandamicro commented on #1604
@GameMidlet  不是很明白你的意思

[2017-04-24 09:56] GameKeys commented on #1604
initWithVertexShaderFilename 函数
     cc.loader.getRes 函数问题！读取不出内容，导致创建失败了！我觉得的是函数用错了
修改成
    cc.loader.load(vShaderFilename, function (verr, vshader) {
            if (verr) {
				cc.error("Please load the resource firset : " + vShaderFilename);
				return false;
			}
            var vertexSource=vshader;
            cc.loader.load(fShaderFileName, function (ferr, fshader) {
                if (fe

[2017-04-25 01:55] pandamicro commented on #1604
这个函数本身没问题，是需要先手动加载到 loader 缓存中，再创建 GLProgram

[code]

[2017-04-25 01:55] #1604 closed, assigned to pandamicro

[2017-05-02 11:47] GameKeys opened #1625 "热更新过程中强杀进程！可能导致js层奔溃的问题"
在android 机器中！热更新过程中强杀进程！可能导致js层奔溃的问题

热更新过程中还走热更新的状态(更新进度，更新资源。。。)，强杀进程后，在进入游戏就立马还走热更新的状态机制

不走 coco2d-js v3.14 （js层打印）

求解决

[2017-05-03 06:47] alankevin2 commented on #1586
@nantas
Hi, sorry for the late reply.

This works like charm in development. But I think Creator bundles all the scripts and serialize all resources for the Project. Is there any officially recommended way to exclude the files from **Template**? We would like to separate files of **Template** and **Games**.
Why is this so critical is because if there are multiple games requiring same resources fro

[2017-05-10 07:09] #711 closed, assigned to jareguo

[2017-05-16 07:31] hbflyhbfly opened #1653 "Shader 绘制顶点位置错误"
1.4.2版本使用自定义shader,直接绘图，位置错误，一直出现在屏幕左下角
详细描述：
http://forum.cocos.com/t/creator-shader/46534

[2017-05-23 17:47] blocksbarcelona opened #1671 "Label word wrap not working with some Spanish words"
Some words are not being wrapped in the right way. For example: debería.

There is a detailed explanation in this thread forum and a possible solution:
http://discuss.cocos2d-x.org/t/bug-label-1-5-label-word-wrap-not-working-on-words-with-accents/36913

I might be able to add the missing characters to the js library, and send a pull request.
But Im not sure if thats ok, or you have plans to fix it

[2017-05-24 01:40] zilongshanren commented on #1671
@jrosich
The solution provided in the forum is correct, feel free to open a PR and I will merge it, thanks.

[2017-05-28 16:14] randalfien commented on #1671
Hi, could you please add Slavic language accents, too?

Czech: ěščřžýáíéóúůťďňĚŠČŘŽÁÍÉÓÚŤ?
Polish: żźśóńłęćąŻŹŚÓŃŁĘĆĄ

Thanks!

[2017-05-28 16:22] blocksbarcelona commented on #1671
Hi, I will wait a few days in case more people wants to add more languages before doing a new PR.

[2017-05-29 07:42] yuriilychak opened #1685 "Spine render command is breaking batch on web"
Any region of sprite generate new draw call. I don't use meshes only simple regions.
Reproduce:
    1. Create spine boy on stage.
    2. Run scene in any browser.
    3 .Get a bunch of draw calls, instead of one.

[2017-06-04 06:06] lyjstudy opened #1695 "哪些类creator会一直使用js的实现"
在creator里面的Widget
模拟器里面使用的C++的UIWidget
web里面使用的JS的CCWidget
发布windows平台也是用的JS的CCWidget 在 src/jsb_poll.js里面
哪些类creator会使用js的实现在哪里可以查到
如果统一在js里实现模拟器也最好使用js的这样不会造成困惑
cocos creator 1.5 引擎版本都是v1.5的分支 vs2015

[https://github.com/cocos-creator/cocos2d-x-lite/issues/654](url)

[2017-06-04 07:06] lyjstudy commented on #1695
模拟器用的也是js的实现，我去2d-x-lite问问

[2017-06-04 07:06] #1695 closed, assigned to nobody

[2017-06-04 14:48] jareguo commented on #1695
目前没有这样的官方列表，不过你可以看看 engine/jsb/index.js

基本上能用 js 实现的都会尽量用纯 js

[2017-06-05 02:57] nshermione opened #1698 "Can not remove cc.instantiate prefab which has box2d body"
[code]

It will throw exception as below:
![image](https://cloud.githubusercontent.com/assets/3451918/26768908/420a89f4-49d5-11e7-9593-98a053d2f995.png)

[2017-06-05 04:50] nshermione commented on #1698
I found the world had not been init before. Close!

[2017-06-05 04:50] #1698 closed, assigned to 2youyou2

[2017-06-05 04:53] jareguo commented on #1698
should not emit error even if row not initialized @2youyou2

[2017-06-07 03:45] a1q123456 opened #1709 "typescript不能定义get()、set()函数"
[code]

会在Cocos2d Creator的控制台提示

[2017-06-07 03:47] #1709 closed, assigned to nobody

[2017-06-07 03:48] jareguo commented on #1709
抱歉，property 一直就不能直接赋值为 cc.Integer，需要写 `{ type: cc.Integer }`

[2017-06-07 03:50] a1q123456 commented on #1709
@jareguo 刚找到问题，貌似getset添加@property的时候，不能设置类型，必须用@property装饰，不能用@property(...)来修饰

[2017-06-07 03:52] jareguo commented on #1709
可以，只不过是 cc.Integer 不能直接传给 property，要用 property({ type: cc.Integer })

[2017-06-07 03:54] a1q123456 commented on #1709
原来是这样，刚试了一下{type: cc.Integer, default: undefined}不行，以为不能加()，感谢回复

[2017-06-09 10:21] blocksbarcelona commented on #1671
I already added Czech and Polish. Thanks @randalfien!

[2017-06-09 18:52] kwellman opened #1722 "Refine scrollview behaviour on mobile"
When testing the scroll view component on my iPhone, there is a very noticeable "slippery" feel to scrolling. A swipe to scroll will never generate the expected amount of initial scrolling velocity you expect from using native apps.  It's an unpleasant user experience.

This seems to be caused by the *brake* parameter. Unlike in cocos2d-x C++ (which has a scroll view that feels a lot better), the

[2017-06-10 09:29] ayang008 opened #1723 "node's hit test won't work cerrectly after moved with camera"
Hi guys,

I just found out this bug using 1.5 beta2. It seems like that the node's hit test area is not adjusted when the camera moved or scaled.

[2017-06-11 03:04] jareguo commented on #1723
Thanks, this should be fixed in https://github.com/cocos-creator/engine/pull/1720

[2017-06-11 03:04] #1723 closed, assigned to nobody

[2017-06-12 02:42] zilongshanren commented on #1722
@kwellman
The brake value used for calculating touch velocity is mainly for slowing down the inertia scrolling.

If you want to achieve smoothly scrolling, you could change the brake value to 0.3-0.5.

[2017-06-12 22:21] vmatkarimov opened #1729 "cc.audioEngine.playEffect (typescript, html5) [bug]"
Hello,

Just finish one of the tutorial "Pick up the star".

When I try to use "cc.audioEngine.playEffect" function, typescript compiler doiesn't saw that function. I look into creator.d.ts and also does not saw "playEffect" function in it. Ok, I just left all as is and then start the simulator in Cocos Creator and the game work like a charm. But in my VSCode were errors: _**'Property 'playEffect'

[2017-06-13 10:48] vmatkarimov commented on #1729
I add static functions (playEffect and playMusic) in **creator.d.ts** and the problem was gone.

I think creator.d.ts need to update.

[2017-06-23 15:57] whaqzhzd opened #1755 "typescript头文件"
里面的AnimationClip的静态方法createWithSpriteFrames。需要加上static描述

[2017-06-24 16:25] Brujo2020 opened #1756 "Feature request: Scene transitions support"
Hi guys,

How are you, I hope you are fine, congrats for this engine. I missing transitions support between scenes like cocos2dx, will be great and always needed.
Thanks in advance.

Cheers,
Mario Alejandro

[2017-06-25 07:46] jareguo commented on #1756
which transition effect do you need?

[2017-06-25 07:54] Brujo2020 commented on #1756
Like cocos 2d: Push and pop scene, and flip or swipe horizontal

[2017-06-27 19:03] bnega opened #1767 "Feature request: Customizable baseURL for web resource loading"
## Problem
With a web build, all resources and assets are loaded from a directory relative to the current page's url. I would like to be able to specify a base URL for files, rather than the engine assume they are relative to the current page.

## CURRENTLY
Users playing my game land on a page at `http://myDomain.com/games/myGameName`, which downloads `main.js` from `http://myAssetServer.myDomain.

[2017-06-28 01:33] pandamicro commented on #1767
Take a look at your main.js, you should be able to find the assets init code as shown below.

[code]

What you need to do is to modify the libraryPath, rawAssetsBase to your desired relative path, hope this can resolve your problem

[2017-07-03 07:33] wijesijp opened #1779 "Mesh support not working with spine on Canvas"
I couldn't get mesh support working on Canvas with spine.

When I contacted spine they inform me the new version have mesh support on canvas.

Exact reply from them was

The setting mentioned is

Can this be added to cocos creator?.

[2017-07-03 07:52] jareguo commented on #1779
We will not support canvas mesh for now because it is not a common requirement. And the major reason is it is just an experimental feature:

via http://zh.esotericsoftware.com/forum/meshes-only-works-with-WebGL-8626

via https://github.com/EsotericSoftware/spine-runtimes/issues/750

So if you really need it, please fork the Creator engine and implement a new SGSkeletonCanvasRenderCmd.js.

[2017-07-03 07:54] #1779 closed, assigned to nobody

[2017-07-10 16:23] cphuoc91 opened #1797 "cc.Texture2D missing initWithData, updateWithData JSB"
Hi guys,

Hope you are all well !

I have a question about about cocos-creator as I am quite new to your great tool.

Currently I have a small game project written using cocos-creator there have an functional with send a dynamic generated image from a server then send it via WebSocket, parsed it as ArrayBuffer
and it work perfectly on WebGL except on JSB there are no "initWithData" this functional

[2017-07-11 02:15] pandamicro commented on #1797
Sorry it's not supported yet, we will try to add it in future version.

[2017-07-11 07:43] yuriilychak commented on #1685
@jareguo  Hello again. I was fixed this small bug in SkeletonWebGLRenderer.
Solution is check base textures, not texture regions.
Your code:
[code]
Fix:
[code]
Can you ad it to cocos creator and cocos html5?

[2017-07-11 08:22] kanelr commented on #1797
I am expecting this feature to create live streaming instead of rtmp protocol, hope soon!

[2017-07-11 08:56] jareguo commented on #1685
Thanks @yuriilychak , @pandamicro please check this issue

[2017-07-11 10:01] pandamicro commented on #1797
I created a task in our internal issue tracker

[2017-07-11 10:15] pandamicro commented on #1685
@yuriilychak confirmed this is indeed the correct solution, thanks

[2017-07-12 01:46] cphuoc91 commented on #1797
Hi @pandamicro,

Btw is there have any alternative methods to do that at this time?

[2017-07-12 08:49] a1q123456 opened #1803 "请修复creator.d.ts中的语法错误"
[code]

[2017-07-12 08:49] a1q123456 commented on #1803
手机上写的，格式乱了，将就看吧

[2017-07-12 08:53] jareguo commented on #1803
现在并不是 `typeof T` 了，已经修复了，你项目里的可能没更新到最新版吧？

[2017-07-12 08:53] #1803 closed, assigned to nobody

[2017-07-12 08:54] #1685 closed, assigned to nobody

[2017-07-12 09:04] a1q123456 commented on #1803
哦？原来更新了，抱歉

[2017-07-12 09:07] jareguo commented on #1803
没关系~

[2017-07-12 11:40] yuriilychak opened #1804 "Spine batch few skeletons in one on web."
Hello again. I have new question about spine on web. In native version of engine few skeletons that use same atlas batch in one draw-call, but in web version every skeleton render in one draw-call.

The problem is in  SkeletonWebGLRenderCmd. Before adding every new command for render skeleton calling batch rendering, and after adding slots it call's too. I try to reduce them, but vertices of new s

[2017-07-12 13:49] jareguo commented on #1804
Is this the same with https://github.com/cocos-creator/engine/issues/1685 ?

[2017-07-12 16:32] pandamicro commented on #1804
@yuriilychak  With the previous modifications based on your suggestions, I can observe that one skeleton can be drawn in one batch, slots rendering are not divided in between. Do you mean batching different skeletons together ? Is it a usual case that they share the same texture ?

[2017-07-12 19:09] yuriilychak commented on #1804
@pandamicro I mean when I create 5 spine animations from same atlas via c++ version of engine or jsb I have one draw-call, but on web I have 5 draw-calls. In web every skeleton provide one draw-call.
I have a big game with a lot of animation in one scene between 500. On native version I have 100 draw-calls because some of skeletons use same texture, but on web I have 500.
When I looked through the

[2017-07-13 01:41] pandamicro commented on #1804
I see, so you want to batch skeleton commands together, the problem in the current code is that the Skeleton render command doesn't exactly follow the renderer's batching protocol, it's using a hack way to implement batching inside one skeleton. I will try to make it right

[2017-07-13 05:01] pandamicro commented on #1804
@yuriilychak  it's fixed in the previous pull request

[2017-07-13 07:22] yuriilychak commented on #1804
@pandamicro Thanks a lot. I use cocos-html5 and add part of your fix to it, and it's work grate. Can you add it to cocos-html5 repository? Or i need create pull request?

[2017-07-13 07:23] pandamicro commented on #1804
I'm doing it, don't worry

[2017-07-13 10:46] pandamicro commented on #1804
Done @yuriilychak

[2017-07-13 11:10] yuriilychak commented on #1804
Thanks.

[2017-07-14 06:41] vonvon-rick opened #1807 "1.5.1 webview"
The http address opens well.
But https does not work.

[2017-07-14 07:36] a1q123456 opened #1808 "请恢复支持Typescript原生的import模块引用"
在1.5.0中，可以通过
[code]
[code]
但是在1.5.2中似乎不再支持了，会提示找不到Module，感觉是import路径不对，被exclude掉了，没有进一步测试

[2017-07-14 07:39] jareguo commented on #1808
npm install 本来就是废弃的用法，为什么不用插件脚本？

[2017-07-14 07:39] a1q123456 commented on #1808
因为还需要下载js文件啊，没有npm方便

[2017-07-14 07:42] jareguo commented on #1808
如果 npm 没有副作用，又那么方便，为什么我们要标记为废弃的用法？

[2017-07-14 07:42] a1q123456 commented on #1808
原来被废弃了，多谢回复

[2017-07-14 07:44] jareguo commented on #1808
不客气，修是能修，不过正好趁这个机会让大家迁移到插件脚本吧…… 这样问题会少得多

[2017-07-14 07:44] #1808 closed, assigned to nobody

[2017-07-14 08:48] #1755 closed, assigned to 2youyou2

[2017-07-14 09:02] jareguo commented on #1755
fixed in https://github.com/cocos-creator/engine/pull/1810/commits/ea52b8063c88fb517d86df9472c350124aeb1d3e

[2017-07-15 06:39] JetLua opened #1811 "`1.5.2` 多边形分割报错（项目在 `1.5.1` 可以正常运行）"
[CCPolygonSeparator.js](https://github.com/cocos-creator/engine/blob/master/cocos2d/core/physics/CCPolygonSeparator.js#L90-L95)
[code]

[2017-07-22 07:59] doums opened #1829 "[BUG] TiledMap Parser error while set a tmx file"
Hi,

I try to make a TiledMap whit cocos creator. When I drag my tmx file from asset panel to TiledMap component of the TiledMap node in the properties panel I get this error :

[code]

However the .tsx files are in the rigth place under C:/Users/Pierre/Documents/CocosProjects/FeudalTimes/assets/map/tile_set/iso-outside.tsx

What is wrong ?

edit: I used Tiled for make the iso map with this settin

[2017-07-23 18:50] blocksbarcelona commented on #1671
Hi, the bugfix has nit yet been added to release. 1.5.2 still have the bug.

[2017-07-24 02:12] nantas commented on #1671
It was merged into master branch which will be in 1.6 release.

[2017-07-24 03:49] knoxHuang commented on #1829
Sorry, TSX format is not supported for the time being.

[2017-07-24 09:31] blocksbarcelona commented on #1671
Ok. Thanks!

[2017-07-24 11:50] doums commented on #1829
Hum okay, but is not possible to generate .tmx without .tsx with Tiled Editor. And tsx contain texture informations. So it is not possible to have a functionnal tiledMap without their .tsx

So when you said

it is like you said "tiledMap is not supported for the time being."
It is the whole tileMap component which is not supported.

It's a really big probem !

[2017-07-24 13:23] persypers opened #1836 "1.5.2 cc.removeSelf is broken"
Running this code in 1.5.2 on web causes an exception in main loop:
[code]
Problem seems to be that ccNode.removeFromParent modifies state of cc.ActionManager

[2017-07-24 15:52] pandamicro commented on #1836
It's fixed a little later after 1.5.2 release, sorry for that, you can use a standalone engine and do the following modifications

https://github.com/cocos-creator/engine/pull/1812

[2017-07-25 03:34] knoxHuang opened #1838 "[Bug] Loader getResWithUrl 会出现 rawAsset 资源的 raw 标记为 false"
[code]

关联的 issue：https://github.com/cocos-creator/engine/issues/1829#issuecomment-317398427

[2017-07-25 03:36] knoxHuang commented on #1829
You're right.
Sorry, this is caused by the bug of the engine loader. （Will be repaired as soon as possible）

[2017-07-25 03:53] #1838 closed, assigned to pandamicro

[2017-07-25 15:09] doums commented on #1829
Ok thank you for info.

[2017-07-26 01:48] KioriSun opened #1841 "Cocos Creator on Linux"
This is a feature request.
Have you guys thought about porting the client to linux? I mean since it's an electron app it should be really straight forward. Also, a lot of the js community loves and uses linux anyways, so I really don't see why not. Also, pretty much everything in cocos is cross-platform, so I really don't understand why there isn't a port.

[2017-07-26 02:12] jareguo commented on #1841
Hi, just because we have no more human resources to port and test.

[2017-07-26 08:22] jareguo commented on #1829
the problem will be fixed in 1.6, thanks

[2017-07-26 08:22] #1829 closed, assigned to knoxHuang

[2017-07-27 03:01] KioriSun commented on #1841
Thanks so much for answering. I wish you guys good fortune!

[2017-07-27 03:18] doums commented on #1829
After more work on Tiled I realized it is false. We can create tmx with tsx informations embedded in tmx. Sorry for that mistake.

[2017-07-27 03:44] #1836 closed, assigned to nobody

[2017-07-27 03:46] #1804 closed, assigned to nobody

[2017-07-27 03:47] #1767 closed, assigned to nobody

[2017-07-27 03:50] nantas commented on #1756
We add your request to roadmap's 'Suggestion' and see if there's many people support it.

You can vote here:

https://trello.com/c/APfRZ7FO/110-push-pop-scene-like-old-school-cocos2d-xer
https://trello.com/c/o9PMFEc5/111-builtin-scene-transitions-swipe-flip-etc

[2017-07-27 03:53] #1722 closed, assigned to zilongshanren

[2017-07-27 10:31] VisualSJ commented on #1807
Sorry for the late response

Is it on web or native?
Is it invalid to change the URL of WebView?

I tried open https://www.baidu.com, It works fine.

V...

[2017-07-27 16:00] bnega commented on #1767
Yes, this worked perfectly for the assets. I had to make some further customizations to properly load the scripts, but it wasn't too difficult.

For others who are going down this road, I had to also take the following steps to load everything from main.js (without anything being preloaded from the web page itself):
1) Manually load settings
[code]
2) Load engine. This is in main.js by default. Ve

[2017-07-27 16:34] bnega opened #1854 "[bug] cc.audioEngine.play ignores volume parameter in browser"
The volume parameter of cc.audioEngine.play does not seem to work in the browser.

`cc.audioEngine.play(this.audio, false, 0);` is silent when played in simulator, but is fully audible when played in browser.

My code sample was adapted from the "Use AudioEngine" example here: http://cocos2d-x.org/docs/editors_and_tools/creator-chapters/audio/audio/index.html

(Observed on MacOS 10.12.5,  Chrome V

[2017-07-27 16:44] jareguo commented on #1854
Thanks so mush! This should be fixed by https://github.com/cocos-creator/engine/pull/1848/files

[2017-07-27 16:44] #1854 closed, assigned to nobody

[2017-07-27 16:51] bnega commented on #1854
Great, thanks. What release will this fix be in?

[2017-07-27 17:29] jareguo commented on #1854
1.6 Beta4

[2017-08-01 00:37] sommerper opened #1864 "Array property shows as single item in Windows editor"
CC v1.6.b3

Declaring a property like so
[code]

![image](https://user-images.githubusercontent.com/1512048/28804246-376e06ce-7662-11e7-858b-00f41cc3e552.png)

I cannot add multiple items.

(This works on Mac)

[2017-08-01 01:48] jareguo commented on #1864
You should not ignore the `default` value in `@property`, this is a bug of TypeScript compiler.
[code]

[2017-08-01 01:48] #1864 closed, assigned to nobody

[2017-08-02 05:54] wulei opened #1869 "创建预设被删除，使用的预设界面没有解绑定，再保存出错"
我先创建一个预设，然后删除这个预设，使用预设的还是关联这这个预设，然后再点这个预设实例化出来的物体保存预设报错

[code]

[2017-08-02 05:55] wulei commented on #1869
使用版本为Cocos Creator v1.6.0-beta.3

[2017-08-02 05:59] jareguo commented on #1869
这个报错信息不是 bug，是因为你预设都删掉了，所以没办法保存。报错信息里应该也已经包含了你需要的其它完整信息。

[2017-08-02 05:59] #1869 closed, assigned to nobody

[2017-08-02 13:04] yuriilychak opened #1873 "How to set uniform sempler2D varible on web?"
I have displacement map fragment shader:
[code]
What function in CCGLProgram can set sampler2D uniform variable? Or methods in this class can set only  vectors and numbers?

[2017-08-04 02:34] lovekankan opened #1880 "如何远程调试cocos-h5版本的js代码"
如何远程调试cocos-h5版本的js代码， 用cocos creator打出h5包在各种浏览器中运行时遇到非常多的兼容性问题， 现在需要在手机上运行游戏时能够在pc端进行代码调试。

[2017-08-04 02:37] jareguo commented on #1880
请参考 https://github.com/wuchangming/remote_inspect_web_on_real_device

[2017-08-04 02:38] #1880 closed, assigned to nobody

[2017-08-04 02:39] lovekankan commented on #1880
多谢了。

[2017-08-04 02:41] jareguo commented on #1331
这两个问题已解决

dragonBones 声明已添加，spine 的声明暂时不考虑添加了

[2017-08-04 02:41] #1331 closed, assigned to knoxHuang

[2017-08-04 02:42] jareguo commented on #1584
fixed

[2017-08-04 02:42] #1584 closed, assigned to pandamicro

[2017-08-04 08:01] ayang008 commented on #1873
GLProgramState::setUniformTexture

[2017-08-04 12:45] yuriilychak commented on #1873
@ayang008 Yes in JSB it works but on HTML version of engine this function isn't exist.

[2017-08-05 20:12] KioriSun opened #1885 "Polygon Physics editing improvements and docs"
This is a suggestion for interface improvement.
When editing physics polygons, i noticed that sometimes the transform gizmos?(the arrows and rotation helpers) would get in the way of the polygonal axis, and making it hard to select each one when there was overlap.
It would be nice if when you clicked on the 'editing' checkbox it would take away the transforms from the object, leaving only the poly

[2017-08-07 03:03] lovekankan opened #1887 "用cocos creator1.4.2 开发的html5游戏在qq浏览器上运行异常。"
其它浏览器运行度没问题，就qq浏览器运行异常， 控制台报错：
SCRIPT5022: InvalidStateError
bundle.project.js, 行20744 字符9
CSS3114: @font-face 未能完成 OpenType 嵌入权限检查。权限必须是可安装的。
msyh.ttf

[2017-08-07 03:13] knoxHuang commented on #1887
bundle.project.js, 行20744 字符9，这行的代码能截图给我看看吗？

[2017-08-07 03:21] lovekankan commented on #1887
![image](https://user-images.githubusercontent.com/11287620/29011056-8268ed4c-7b62-11e7-93e1-d4cc1a615d86.png)

[2017-08-07 03:24] knoxHuang commented on #1887
你这个是加载字体的时候报错的吗？还是去请求什么报错的？能不能找一下具体的原因？

[2017-08-07 03:28] lovekankan commented on #1887
嗯，我自己看下， http://bath5.mggame.com.cn   这边有个测试链接， 在android的QQ浏览器上运行时点左上角头像打开个人中心没反应， 其它浏览器都是可以打开的， 可以帮忙看下吗？
![image](https://user-images.githubusercontent.com/11287620/29011160-8667f0c2-7b63-11e7-9056-61b262519b20.png)

[2017-08-07 03:32] knoxHuang commented on #1887
好的

[2017-08-07 04:22] knoxHuang commented on #1887
是不是单纯放 ttf 上去就会有异常？
还是需要通过什么代码去加载？
最好能给我一个小的 demo 让我测试一下

[2017-08-07 05:40] lovekankan commented on #1887
我自己找到问题了， 很奇怪cc.loader.loadRes（） 在qq浏览器上运行没有走进回调函数
![image](https://user-images.githubusercontent.com/11287620/29013492-f7b766d8-7b75-11e7-93e8-9bac68e06d00.png)

[2017-08-07 05:44] knoxHuang commented on #1887
http://www.cnblogs.com/feigao/p/4789049.html
应该是 TTF 的问题，你自定义 engine 一下，然后在 engine\cocos2d\core\label\CCTextUtils.js 中的 _loadWithCSS 函数中找到

[code]
然后在后面加 `format('truetype');`
[code]

<**该问题上面为解决方案**>

[2017-08-07 05:47] lovekankan commented on #1887
好的， 帮忙看下这个cc.loader.loadRes（）加载预置资源，在android机器qq浏览器上没有进回调函数怎么回事哦

[2017-08-07 05:48] knoxHuang commented on #1887
不太可能没回调，你要打印一下 err 看是不是有错误信息

[2017-08-07 05:49] lovekankan commented on #1887
都没进回调函数， 怎么打印err信息？  我这边加了个alert("---heald.onPopup.4--");  提示都没有显示

[2017-08-07 05:50] knoxHuang commented on #1887
没报错信息吗？你先试看看我上面发的，有可能是被中断了

[2017-08-07 05:52] lovekankan commented on #1887
有联系方式么 私聊下 我qq： 545292428

[2017-08-08 03:15] 2youyou2 commented on #1885
Thanks for your advice, it's very useful.
And we will fixed the typo soon.

[2017-08-08 09:10] #1887 closed, assigned to knoxHuang

[2017-08-08 11:00] yuriilychak opened #1893 "scheduleUpdate() don't start on Spine and ParticleSysytem when change layer [HTML5]"
Hello.
On web platform particles and spine skeletons freezing when change layer of them. Every time when I change parent node of them I need to do scheduleUpdate manualy.
Steps to reproduce:
1. Create spineBoy or particle via ParticleSystem.
2. Retain it.
3. Remove from layer and add to another.
4. Release it.
5. See that animation freezing.
6. Do scheduleUpdate() and animation working.
On native

[2017-08-08 13:36] jareguo commented on #1893
These is no retain, release, or layer operation in Creator. Are you still using Cocos2d-JS ?

[2017-08-08 17:54] yuriilychak commented on #1893
@jareguo Yes, but Spine run-time are the same in both (retain and  release not important, the main idea to change layer). I see that particle system is different, and check it tomorrow.

[2017-08-09 01:36] jareguo commented on #1893
Sorry but I don't understand, there is no layer in Creator, how could you change it in spine runtime?

[2017-08-09 06:46] yuriilychak commented on #1893
@jareguo  Ok.
1. Create 2 variables with type cc.Node.
2. Create Spine skeleton.
3.  Apply some animation and add skeleton to one of the node.
4. Remove from added node and add to another node.
5. See freezing.
6. Manualy call scheduleUpdate() for skeleton.
7. All work fine

[2017-08-09 08:06] jareguo commented on #1893
If you called the `removeFromParent`, you should remember to pass a `false` otherwise it will cleanup all registered scheduler. see https://github.com/cocos-creator/engine/blob/master/cocos2d/core/utils/base-node.js#L572

[2017-08-09 08:06] #1893 closed, assigned to nobody

[2017-08-11 03:32] cuongnmx opened #1897 "Please provide an option to choose including/excluding anysdk into project"
By default anysdk is integrated in project. Each time we built the main.js is reloaded with code:
        // anysdk scripts
        if (cc.sys.isNative && cc.sys.isMobile) {
            jsList = jsList.concat(['jsb_anysdk.js', 'jsb_anysdk_constants.js']);
        }

I dont want to use anysdk because I publish my game to Apple, I dont use Wechat IAP. I have to delete it all the time.

[2017-08-21 00:39] guardianblue opened #1916 "Incorrect texture mapping in Progress Bar with rotated texture atlas"
I mistakenly posted this issue onto cocos2d-js previously ([here](https://github.com/cocos2d/cocos2d-js/issues/1839)), please bear with me

The bar Sprite of ProgressBar fails to map its texture under filled mode correctly when its SpriteFrame happens to be auto-rotated in the underlying sprite sheet.

Steps to reproduce:

1. Prepare two images, one for the progress bar track and one for the bar
2

[2017-08-21 03:28] VisualSJ opened #1917 "音频设置 setFinishCallback 后，audioID 无法正常销毁"
setFinishCallback 会取消 ended 事件，导致播放完成后无法自动销毁

[2017-08-24 10:10] cuongnmx opened #1931 "Can not include ScriptingCore.h"
When I include “ScriptingCore.h” into my project, Xcode returned error:

In file included from /Users/BugsKiller/Documents/TDG/Test/SampleProj/build/jsb-default/frameworks/runtime-src/Classes/sample.cpp:12:
In file included from /Users/BugsKiller/Documents/TDG/Test/SampleProj/build/jsb-default/frameworks/runtime-src/proj.ios_mac/../../cocos2d-x/cocos/scripting/js-bindings/manual/ScriptingCore.h:29

[2017-08-24 10:24] cuongnmx opened #1932 "Can not change 'update' function in PhysicsManager module"
bellow code is invoked in browser, but not on device/simulator:
cc.director.getPhysicsManager().update = function(dt) { cc.log('aaa text'); }

[2017-08-25 06:57] cuongnmx commented on #1931
The problem is namespace conflict.
cocos2d.h and ScriptingCore.h refer to different Ref classes (and maybe other classes too), but confuse by namespace. Maybe spidermonkey added new Ref class.

Solution: cocos2d::Ref instead of "using namespace cocos2d" and reference to "Ref".

[2017-08-25 09:11] pandamicro commented on #1931
You are right, it's always suggested to use the full namespaced name

cocos2d::Ref

[2017-08-25 09:11] #1931 closed, assigned to pandamicro

[2017-08-28 00:19] cuongnmx opened #1936 "jsval_to_long_long can converts string to long long but not number"
My game crash when trying convert number 1 to long long using jsval_to_long_long.
If I convert "1" using jsval_to_long_long then it works.
Bug in Cocos Creator 1.6

[2017-08-29 05:27] kotjarko opened #1940 "Mask IMAGE_STENCIL not work in Canvas"
I'm trying to create not flat level ground using the sprite mask.
It correctly works in WebGL render mode, but when i switch to Canvas render mode - it shows all of image. Mask not affects the image.

Screens:
in canvas mode:
![canvas](https://user-images.githubusercontent.com/10481232/29805650-45e45f6e-8cb5-11e7-8643-b4dacd07e150.png)
in webgl mode
![webgl](https://user-images.githubusercontent.c

[2017-08-29 05:34] jareguo commented on #1940
Yes, it can only works in webgl mode, not supported in canvas.

[2017-08-29 05:34] #1940 closed, assigned to nobody

[2017-09-03 08:23] blocksbarcelona opened #1956 "progressBar memory leak"
ProgressBar increase memory usage with no limit. Tested on iOS (I believe it's also happening on Android).

Test project and video showing the issue: https://www.dropbox.com/sh/tp29ob9lvw8z0bs/AACajOD0uMjwCt2mQYcVvE7ba?dl=0

It is happening with with Creator: 1.3.2, 1.5.2, 1.6
tested with iOS 8, 9 in virtual and real devices (iPhone SE and iPad 3).

[2017-09-03 15:10] jareguo commented on #1956
Thanks so much for the demo and video.
This is not a real memory leak. It is because the GC is not sensitive enough on native platform. The memory will still be released after a while (or when memory is not enough).  If you need to trigger the GC immediate, just execute `cc.sys.garbageCollect();` and the memory will be released.

[2017-09-03 15:10] #1956 closed, assigned to jareguo

[2017-09-03 15:12] jareguo commented on #1956
![image](https://user-images.githubusercontent.com/1503156/30004187-27de744a-90fd-11e7-8bc0-c83f2bd093a8.png)

Even if you don't execute the `cc.sys.garbageCollect();`, the memory will still released after 7 min.

[2017-09-03 17:58] blocksbarcelona commented on #1956
I have been doing a long test (70 min) and I can confirm GC eventually works. Thanks!

[2017-09-06 01:14] dzen-intelligence opened #1957 "Windows 10 Simulator don't work"
I'am install cocos creator version 1.6, and later install 1.6.6 and i have a problem. Simulator don't work. His show error "VCRUNTIME140D.dll not found" and "msvc140d.dll not found". On my windows i have installed only vc++ 2013. So, i'am trying to install vc++ 2015, but don't work still. When i'am install vc++ 2017, i have the same problem. In folder with simulator, was some dll, but previous ver

[2017-09-06 01:47] jareguo commented on #1957
I think it was fixed by @2youyou2

[2017-09-06 06:42] wijesijp opened #1959 "Firefox: Rect width exceeds maximum margin: 3300"
I am building an roulette game with Cocos Creator v1.5.1
I am using following code to load the roulette wheel sprites
Each sprite is 378x233
I switch the sprites manually to show wheel spinning

[code]

Sprite in the game is type : SIMPLE size mode : ROW

This works perfectly on all the browsers except Firefox.
On Firefox gives the error “Rect width exceeds maximum margin: 3300”

Instead of the wh

[2017-09-06 07:33] jareguo commented on #1959
The texture is too large, try to resize to 2048 please.

[2017-09-06 07:51] wijesijp commented on #1959
Single image is 378 x 233

Yes size taken by all the images would be over 2048

But I am not building a single image.
I am just loading images from resource folder.
I commented all other things, just loading the images is enough to give this error.

I tried to load images by grouping them into 20 from different folders
I can load around 40 images without any error.
If I load more the error is comi

[2017-09-06 07:56] jareguo commented on #1959
I think this should be fixed in https://github.com/cocos-creator/engine/pull/1787
Try 1.6 please.

[2017-09-06 07:56] #1959 closed, assigned to nobody

[2017-09-06 09:31] cuongnmx opened #1960 "[Urgent] Wrong properties when added multi joint"
I am adding some Revolute Joints. When I add the second joint, the first joint property changed to the same as the second one (everything). Now I can not modify the first joint because I can see it any more. I'm using CC 1.6.1

[2017-09-06 09:39] 2youyou2 commented on #1960
@jareguo
I think it's the same problem with this issue : https://github.com/cocos-creator/fireball/issues/6243.

[2017-09-06 09:54] jareguo commented on #1960
Yes this should be fixed in 1.6.2

[2017-09-06 09:54] #1960 closed, assigned to 2youyou2

[2017-09-06 09:58] lovekankan opened #1961 "cocos creator 1.6.1 android editbox 崩溃"
![image](https://user-images.githubusercontent.com/11287620/30106111-0d0e8812-932d-11e7-8a80-ca9fb2fedbfa.png)

[2017-09-06 10:03] lovekankan commented on #1961
注释掉editBox.setSelection(position);  这行代码就没事了， 崩溃日志：
![image](https://user-images.githubusercontent.com/11287620/30106342-b46b8dd0-932d-11e7-8522-3dccd6de10ce.png)

[2017-09-06 12:52] jakebooyah opened #1962 "Persisted nodes are not destroy after cc.game.restart"
Noticed there are memory leakages after cc.game.restart. Checked the persist nodes they are left there untouched. Is this a bug or intended behaviour?

[2017-09-06 13:28] jakebooyah opened #1963 "[BUG] SpriteAtlas animation weird vibration"
Using v1.6.1 Cocos Creator, I noticed there’s a slight vibration on the animation that uses sprite from sprite atlas packed with texture packer.

The bug occurs on:
- iOS chrome
- iOS safari
- iOS native

It is fine on:
- dekstop browser
- creator simulator

Please have a look at my test project:
[testSpriteAtlas.zip](https://github.com/cocos-creator/engine/files/1281191/testSpriteAtlas.zip)

[2017-09-06 13:29] jareguo commented on #1962
Thanks!!! This is a bug. Fix in #1964

[2017-09-06 13:34] jareguo commented on #1963
Thanks. This bug is caused by https://github.com/cocos2d/cocos2d-x/issues/17099
We will fix it as soon as cocos2d-x get fixed.
You can temporarily fix it in this way http://forum.cocos.com/t/topic/40483/50?u=jare

[2017-09-06 14:57] dzen-intelligence commented on #1957
thank u for answer

[2017-09-07 10:33] lovekankan opened #1968 "cocos creator 1.6.1 webview 崩溃"
(android安装包问题)   cocos creator 1.6.1 打开一个webview，同时监听android返回键， 点下返回键程序崩溃。

[2017-09-08 01:50] knoxHuang commented on #1961
问一下楼主你是通过什么操作触发这个报错的？我想测试一下，感谢

[2017-09-08 01:52] lovekankan commented on #1961
就是调用了editbox的setText方法就会崩溃， 不过不是所有的机型都会崩溃。

[2017-09-08 01:54] knoxHuang commented on #1961
好像并没有给出 setText 接口，只有

![image](https://user-images.githubusercontent.com/7564028/30192706-a4727d72-947b-11e7-9094-50eaee9a58f3.png)

[2017-09-08 01:55] lovekankan commented on #1961
底层调用的是setText , 上层不是， 操作步骤好像是点击输入框， 输入文字的时候崩溃的。

[2017-09-08 01:56] knoxHuang commented on #1961
哦，那我试看看，那你是什么机型导致崩溃的？

[2017-09-08 01:57] lovekankan commented on #1961
华为 TAG-AL00

[2017-09-08 01:58] knoxHuang commented on #1961
好的，感谢，我试看看（我问看看有没有这个机型）

[2017-09-08 01:58] lovekankan commented on #1961
这边可以帮忙看个creator1.6.1编辑器的问题吗？ 比较急， 场景的跟节点Canvas点击打不开属性检查器了。

[2017-09-08 01:59] lovekankan commented on #1961
![image](https://user-images.githubusercontent.com/11287620/30192839-6da8d72c-947c-11e7-9712-360341dadecd.png)

[2017-09-08 02:00] knoxHuang commented on #1961
@jareguo 能尽快帮他解决吗？还是需要等新版本？

[2017-09-08 02:06] knoxHuang commented on #1961
@VisualSJ 这个你在 1.6.2 修复了，但是他现在要怎么办？

[2017-09-08 02:16] lovekankan commented on #1961
找到原因了，  所有scene绑定了这个组建，  这么写不对吗？
cc.Class({
    extends: cc.Component,

    properties: {
        exitLogic: cc.Component.EventHandler,
        _list : null,
        _stack: {
            get : function() {
                if (!this._list) {
                    this._list = new Array();
                }
                return this._list;
            },
            set: function (value) {

[2017-09-08 02:17] lovekankan commented on #1961
把这个去掉就没事了：
_stack: {
        get : function() {
            if (!this._list) {
                this._list = new Array();
            }
            return this._list;
        },
        set: function (value) {
            this._list = value;
        }
    }

[2017-09-08 02:18] jareguo commented on #1961
没有什么不对，是编辑器不够健壮而已

[2017-09-08 02:27] VisualSJ commented on #1961
这是编辑器的问题。
你先把 _list : null, 这个定义去掉试试。
应该可以正常使用

[2017-09-08 02:27] lovekankan commented on #1961
_stack: {
            get : function() {
                if (!this.__stack) {
                    this.__stack = new Array();
                }
                return this.__stack;
            },
            set: function (value) {
                this.__stack = value;
            }
        }

真是奇怪啊，这样就好了，  _stack  里面只能用__stack变量

[2017-09-08 02:28] lovekankan commented on #1961
嗯嗯， 换成_list也可了

[2017-09-08 02:29] knoxHuang commented on #1961
这楼已经歪得不成样子了

EditorBox 目前因为没有你说的机型，然而我们这边的机型都不会出现崩溃的问题，只能等后面我们购买
机型以后再说了

[2017-09-08 03:00] lovekankan commented on #1968
@Override
    public boolean onKeyDown(int keyCode, KeyEvent event) {
        if(keyCode == KeyEvent.KEYCODE_BACK){
            getGLSurfaceView().onKeyDown(keyCode,event);
            return true;
        }
        return super.onKeyDown(keyCode, event);
    }

在按钮事件里面把key_back 事件转到getGLSurfaceView()里面就好了，  感觉webview把按钮点击事件的焦点拿走了

[2017-09-08 03:08] knoxHuang commented on #1968
能否把报错信息贴出来一下？

[2017-09-08 03:23] lovekankan commented on #1968
这个没有什么有用的错误信息， bug是必现的， 你们可以测试看看

[2017-09-08 03:26] knoxHuang commented on #1968
你这个操作是，打开 webView 然后按返回键就崩溃了？

[2017-09-08 03:27] lovekankan commented on #1968
嗯， 需要先监听android返回键事件

[2017-09-08 03:28] knoxHuang commented on #1968
你用什么监听 android 返回键事件的？ cc.systemEvent ？

[2017-09-08 03:29] lovekankan commented on #1968
cc.systemEvent.on(cc.SystemEvent.EventType.KEY_DOWN, this.onKeyDown, this);

[2017-09-08 03:30] knoxHuang commented on #1968
[code]
这样吧？

[2017-09-08 03:31] lovekankan commented on #1968
不是， if(keyCode == KeyEvent.KEYCODE_BACK){
            getGLSurfaceView().onKeyDown(keyCode,event);
        }   这个代码是在android activity里面加的

[2017-09-08 07:03] jakebooyah opened #1969 "[BUG] JSB Played audio is not stopped when cc.game.restart"
When and audio file is playing and cc.game.restart is invoked. The audio will not be stopped.

[2017-09-09 02:38] cuongnmx commented on #1960
@jareguo
When 1.6.2 is released?

[2017-09-09 09:53] jareguo commented on #1960
It will released in next week

[2017-09-11 16:43] blocksbarcelona opened #1976 "[BUG] 1.5.2 web published game not able to load TMX. Works on Android/iOS and Creator web server"
Project includes a TMX map built with Tiled. Executing on browser and simulator works great.
Android/iOS builds works great.

Web mobile and web desktop has the following error:

pack-downloader.js:163 Create unpacker 067ca4310 for 623f4319-b084-4612-8c0a-751d0ba7d9fe
CCDebugger.js:367 Can not find class 'cc.TiledMap'
(anonymous) @ CCDebugger.js:367
main.js:114 Success to load scene: db://assets/t

[2017-09-12 01:42] jareguo commented on #1976
TiledMap module is not included, you should check the checkbox in project's module settings.

[2017-09-12 01:42] #1976 closed, assigned to nobody

[2017-09-14 03:27] cocosftw opened #1980 "Layout not taking scale into consideration"
cc.layout width and height doesnt resize accordingly if the child nodes are not of scale 1.

[2017-09-14 03:39] jareguo commented on #1980
I don't think it should be fixed. Because the entire ui system in Creator dose not support rotation or scaling. This behave can make the engine more concise and efficient. If you really need scaling, don't use cc.Layout and just compute the layout by yourself. It will not be a big challenge if you refer to the source of cc.Layout.

[2017-09-14 03:39] #1980 closed, assigned to nobody

[2017-09-14 03:41] jareguo commented on #1980
@knoxHuang please add some comment to the API and Manual so users will understand that these behave is by design.

[2017-09-15 02:06] jareguo commented on #15
相关讨论 http://forum.cocos.com/t/topic/51138

[2017-09-18 09:57] cocosftw opened #1988 "Video player 'ready-to-play' event behavior"
On ios, ready-to-play event doesn't get triggered until videoplay play method is invoked while in android, ready-to-play event is invoked after the videoplayer is loaded.

[2017-09-20 01:09] lovekankan opened #1990 "cocos creator 1.6.1 webview 半透明问题。"
cocos creator 1.6.1 webview控件在h5上显示网页半透明，

[2017-09-20 03:19] knoxHuang commented on #1990
麻烦给一下详细的操作方式跟截图，或者 demo

[2017-09-20 05:35] lovekankan commented on #1990
好的， 这在准备demo， 弄好了怎么传给你啊？

[2017-09-20 05:45] knoxHuang commented on #1990
直接打包拖上来就行了，thx

[2017-09-21 02:15] lovekankan commented on #1990
我先描述下情况吧， 这种问题出现在oppo自带的浏览器上， 当不允许手机旋转时（默认是竖屏），打开一个横屏的的h5游戏，此时打开webview上的网页是半透明的。而且也不是所有的网页都这样。

[2017-09-21 02:17] knoxHuang commented on #1990
会不会是 oppo 自带浏览器的限制，其他浏览器会出现这种问题吗？

[2017-09-21 02:24] lovekankan commented on #1990
试了qq，猎豹 uc，没出现

[2017-09-21 02:26] lovekankan commented on #1990
百度浏览器也不行

[2017-09-21 02:38] lovekankan commented on #1990
[NewProject.zip](https://github.com/cocos-creator/engine/files/1319798/NewProject.zip)   demo做好了， 要构建选择横屏之后测试， 用oppo手机 百度浏览器测试。

[2017-09-21 02:39] knoxHuang commented on #1990
好的，我看看测试组是否有 oppo 手机，这个问题会跟进的，感谢

[2017-09-21 05:42] lovekankan commented on #1990
![image](https://user-images.githubusercontent.com/11287620/30680518-a39b8e96-9ed2-11e7-95c1-5def5b40c680.png)
麻烦看下CCSGWebView.js文件里面createDom() 方法， 代码好像有点问题

[2017-09-21 05:50] knoxHuang commented on #1990
嗯，这块应该是多余的，虽然这里有设置白色背景色，但是可能在 oppo 手机上不支持这样的写法，或许是需要在他的上一层设置背景色，这个会跟进的（现在任务比较多，所以不会立即的修复）

[2017-09-22 08:37] knoxHuang commented on #1990
我刚刚测试了一下并不会出现半透明的效果：

![image](https://user-images.githubusercontent.com/7564028/30736157-3f8af774-9fb4-11e7-9da2-4a8507f96f60.png)

[2017-09-22 12:02] SquishyMucus opened #1996 "Object Creation from Prefab - Constructor Options"
I’m working in Cocos Creator 1.6.1 and Typescript as script language.

I have created a simple ball prefab. I have attached a script to it. That script dictates the behaviors of instances of the ball.

I have a parent node that also has a script. That parent has a property for the prefab as well as instantiation for the multiple instances of the ball.

    @property(cc.Prefab)
    BallPrefab: cc.P

[2017-09-22 13:18] jareguo commented on #1996
There's no concept of a constructor, but you can write a factory function to achieve like that.

[code]

Further, you can also return a Ball component to call method like

[code]

[2017-09-22 13:18] #1996 closed, assigned to nobody

[2017-09-23 06:26] SquishyMucus opened #1998 "Exporting to Android"
Using CocosCreator 1.6.1
I have Androind SDK 22, 23 and 25 installed

I am trying to build/publish to android.

The build step goes fine, when I try to click 'compile' I get an error. Looking inside the native.log file I get the following error:

Ant (Eclipse project) is not supported from Android SDK Tools 25.3.0.

This happens regardless of which API level I select for compilation.

[2017-09-23 14:55] jareguo commented on #1998
I think you should turn on "Android Studio".

[2017-09-25 06:35] jakebooyah commented on #1963
@jareguo When I look through the issue and solution link you provided, noticed they are all native focused. Is there a solution for iOS Safari and Chrome?

[2017-09-25 06:39] jareguo commented on #1963
You can modify the `POSITION_TEXTURE_COLOR_FRAG` and `POSITION_TEXTURE_COLOR_VERT`
in CCShader.js

[2017-09-25 08:31] jakebooyah commented on #1963
Thanks @jareguo, it works. Which version will have the fix?

[2017-09-25 08:35] lovekankan opened #1999 "cocos creator1.6.1 华为p9 搜狗浏览器 手机竖着运行横屏游戏时不会自动变为横屏， 而是竖屏摆放着， 导致游戏表现异常麻烦官方团队看下"

[2017-09-25 08:37] jareguo commented on #1999
其它浏览器就正常吗？

[2017-09-25 08:41] jareguo commented on #1963
It should be fixed before 1.8

[2017-09-25 08:45] lovekankan commented on #1999
正常， 就搜狗有问题

[2017-09-25 09:25] lovekankan commented on #1999
可以直接新建个helloword项目构建时选择横屏，把手机竖着测试。 （华为P9，搜狗浏览器）

[2017-09-25 09:27] jareguo commented on #1999
好的我们有空看看

[2017-09-25 12:42] dganzella opened #2000 "[BUG] Pixel draw imprecision on android."
Hello!

Im having trouble with pixel perfect on Android.

The pixels size are varying. It seems that it happening around the borders.

![Image](https://user-images.githubusercontent.com/30127664/30861669-ddeb9abe-a2a1-11e7-8f83-11676e685ec8.png)

You can also see that on a web build the pixels size are rendering properly.

Specs:
Zenfone 2, Android 5.0, 1920x1080
Cocos Creator 1.6.1 Windows
Mode:

[2017-09-25 14:34] jareguo commented on #2000
Is it the same problem as #1963 ?

ps2. The mask size should be fixed in 1.6.2.

[2017-09-25 14:36] dganzella commented on #2000
Hmm i dont think so, because im testing on Android. That issue is for iOS.

[2017-09-25 15:06] jareguo commented on #2000
Not just iOS, that issue maybe happens on every platform.

[2017-09-25 16:26] dganzella commented on #2000
I see.

I tried changing ccShader_PositionTextureColor_noMVP.vert and ccShader_PositionTextureColor_noMVP.frag with highp, into <projectPath>\build\jsb-default\frameworks\cocos2d-x\cocos\renderer but it didnt work. :(

These lines:
https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/renderer/ccShader_PositionTextureColor_noMVP.frag#L28

https://github.com/cocos2d/cocos2d-x/blob/v3/cocos/renderer/cc

[2017-09-25 16:38] dganzella commented on #2000
I also tried replacing every ocurrence of lowp and mediump with highp, and no changes too :(

[2017-09-26 07:01] knoxHuang commented on #1961
相关用户反馈： http://forum.cocos.com/t/creator-editbox-string/51587/8

[2017-09-26 09:03] jareguo commented on #1961
已经修复，感谢反馈。

[2017-09-26 09:03] #1961 closed, assigned to knoxHuang

[2017-09-26 10:35] ivcoder commented on #2000
Please, try this
https://github.com/cocos2d/cocos2d-x/pull/17487

[2017-09-26 12:33] dganzella commented on #2000
ok, I tried changing:

return (_winSizeInPoints.height / 1.1566f);
to
return (_winSizeInPoints.height / 1.154700538379252f);

on

build\jsb-default\frameworks\cocos2d-x\cocos\base\CCDirector.cpp

file.

It recompiled:
[armeabi-v7a] Compile++ arm  : cocos2dx_internal_static <= CCDirector.cpp

but didnt work :(

any tips on where I can start to debug it?

I was thinking about going to CCTexture2D.cp

[2017-09-26 12:47] dganzella commented on #2000
this is the log:

09-26 09:46:27.251: I/art(17938): Late-enabling -Xcheck:jni
09-26 09:46:27.251: D/houdini(17938): [17938] Initialize library(version: 5.0.7a_y.48167 RELEASE)... successfully.
09-26 09:46:27.311: V/Monotype(17938): SetAppTypeFace- try to flip, app = org.cocos2d.helloworld
09-26 09:46:27.317: V/Monotype(17938):     Typeface getFontPathFlipFont - systemFont = default#default
09-26 0

[2017-09-27 02:06] dganzella commented on #2000
took me two days but i finnaly started to make progress..

it seems that

Scale9SpriteV2 is the "sprite panacea" of cocos creator.

so the mistake should be somewhere between the sacred silence:

void Scale9SpriteV2::draw(cocos2d::Renderer *renderer, const cocos2d::Mat4 &transform, uint32_t flags)

and sleep. I will continue my research

[2017-09-27 02:21] dganzella commented on #2000
VERT: 0 _ 2.000000, 16.000000, 0.000000
VERT: 0 TEXCOORDINATES _ 0.156250, 0.031250

VERT: 1 _ 2.000000, 0.000000, 0.000000
VERT: 1 TEXCOORDINATES _ 0.156250, 0.968750

VERT: 2 _ 15.000000, 16.000000, 0.000000
VERT: 2 _ TEXCOORDINATES 0.906250, 0.031250

VERT: 3  _ 15.000000, 0.000000, 0.000000
VERT: 3 TEXCOORDINATES _ 0.906250, 0.968750

[2017-09-27 02:39] dganzella commented on #2000
Ok I think I found the issue.

it seems that CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL is the problem.

its saying:

 * To enabled set it to 1. Disabled by default.

 * @since v0.99.5
 */
#ifndef CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL
#define CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL 1

but its actually enabled by default.

also, "99%" is a very wild guess. as you can see in this case of a 16x16 pixel, you pick

[2017-09-27 02:41] dganzella commented on #2000
0.031250, mostly known as half of 1/16.

[2017-09-27 02:53] dganzella commented on #2000
Ok everything works now.
![screenshot_2017-09-26-23-46-24](https://user-images.githubusercontent.com/30127664/30893662-da1a9baa-a315-11e7-8f67-59e90c753d49.jpg)
![screenshot_2017-09-26-23-38-48](https://user-images.githubusercontent.com/30127664/30893663-da1ed008-a315-11e7-8555-25939a1384e7.jpg)

ps1. https://www.youtube.com/watch?v=tAP4tH_2iE8 itsa gooda engine
ps2. victory music: https://www.you

[2017-09-27 03:32] dganzella commented on #2000
Whew. To my surprise, after clearing up the mess and just letting the CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL  on 0, i found out that it started showing artifacts on screen... aw shucks.. back to the lab again

[2017-09-27 03:58] jareguo commented on #2000
Okay, I am very sorry for that. I knew there was a problem of FIX_ARTIFACTS_BY_STRECHING_TEXEL, but we did fix it in Creator. I couldn’t believe the problem still affects NATIVE platfom by default...

FIX_ARTIFACTS_BY_STRECHING_TEXEL is bull shit and should be disabled by default. But if you are using TiledMap, you still need it, there's no good way to workaround...

[2017-09-27 04:18] dganzella commented on #2000
No problem, we are together in this.

I saw this link:

https://www.makeschool.com/docs/#!/cocos2d/1.4/tilemaps/troubleshooting-tilemaps

// Objective-C
CGFloat scale = [CCDirector sharedDirector].contentScaleFactor;
CGFloat newX = round(layerNode.position.x * scale) / scale;
CGFloat newY = round(layerNode.position.y * scale) / scale;
layerNode.position = CGPointMake(newX, newY);

// Swift
let sca

[2017-09-27 04:21] dganzella commented on #2000
Tomorrow im gonna try to round the transformation matrixes on every node on every draw and see what happens

[2017-09-27 04:35] dganzella commented on #2000
So .. i found out that the:

float Director::getZEye(void) const
{
    return (_winSizeInPoints.height / 1.154700538379252f);//(2 * tanf(M_PI/6))
}
fix

plus

changing all shaders lowp and mediump ocurrences to highp did the trick.

(I dont know if the shader changes is really necessary.)

Seems to be working now.

[2017-09-27 05:02] dganzella commented on #2000
Did a test with action moveBy and it still produce artifact if the tiled map stay in non integer pixels.

So it seems that:

1 . return (_winSizeInPoints.height / 1.154700538379252f);//(2 * tanf(M_PI/6)) fix
2. Adding highp everywhere (maybe its not necessary, I will check tomorrow).
3. CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL 0
4. keeping the TileMap on an integer pixels:

cc.Class({
    extends: cc.C

[2017-09-27 05:07] cocosftw commented on #1988
Hi is there any update on this? As shown in the sample project we should only call the cc.videoplayer play method after the ready-to-play event is emitted but somehow in ios browser only meta-loaded event is triggered but not ready-to-play.

[2017-09-27 05:16] dganzella commented on #2000
Yeah the highp stuff it not necessary at all.
![gif](https://user-images.githubusercontent.com/30127664/30896918-dd6eb1e2-a329-11e7-97df-0510694f8755.gif)

[2017-09-27 05:26] dganzella commented on #2000
quick question: is therr a reason to use 3d projection as default for cocos creator?

it seems that the eye stuff is just for 3d

[2017-09-27 05:31] dganzella commented on #2000
it seems that using 2d projection as default or using the 3d precision fix + disabling texel bullshit + rounding the tmx nodes on the C++ itself would be a good permanent solution.

[2017-09-27 05:38] jareguo commented on #2000
No... it just for historical reasons. Thanks for help!

[2017-09-27 06:02] dganzella commented on #2000
no problem :)

should I make a pull request? I work at a software house, we have tons of android and ios devices there, I could test the solution and make sure it works everywhere.

[2017-09-27 06:04] jareguo commented on #2000
Sure, it will be greatly appreciated!

[2017-09-27 08:10] jareguo commented on #2000
3d precision synced: https://github.com/cocos-creator/cocos2d-x-lite/pull/865

[2017-09-27 09:55] lovekankan opened #2006 "cocos creator 1.6.1 热更bug"
![image](https://user-images.githubusercontent.com/11287620/30907278-cc8f8698-a3ac-11e7-8168-fb17fdebb50e.png)
![image](https://user-images.githubusercontent.com/11287620/30907316-e6578602-a3ac-11e7-9819-2f802bac7190.png)
正在下载的文件大小 > 总大小。 这个有问题

[2017-09-27 10:59] #2006 closed, assigned to pandamicro

[2017-09-27 11:05] lovekankan commented on #2006
不好意思，问题查到原因了， 被运维坑了， 替换文件时搞错了， 配置文件的大小跟实际不符合。

[2017-09-27 14:07] mean-ui-thread commented on #1841
@KioriSun @jareguo Can we re-open this feature request? I'd love to see Cocos Creator available for Linux. I'm not sure why it got closed.

[2017-09-27 14:27] jareguo commented on #2006
这样子，那就好~

[2017-09-28 04:31] dganzella commented on #2000
so, after assessing the problem, I think thats more complicated than I expected

There are 3 types of TMX Maps
They can be Rotated
Not only C++ would need change, but also the JS for web support
The C++ matrix Class is not friendly for setting position at all
Theres also need to test on many different devices, and iOS use sub-pixels

This would actually demand a full month test, I think its more t

[2017-09-28 05:46] jareguo commented on #2000
Never mind, thanks for help~

[2017-09-28 08:03] dganzella commented on #2000
I see, then I think im gonna close the issue.

by the way, you guys will disable the CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL on next release right?

even though disabling it ma cause artifacts on tmx maps, with it is turned on it the tile look bad anyway (I never posted a screen of how bad it look, but it does, and most since tiles are low pixel)

[2017-09-28 08:03] #2000 closed, assigned to pandamicro

[2017-09-28 08:04] jareguo commented on #2000
Yes, we will. CC_FIX_ARTIFACTS_BY_STRECHING_TEXEL should be disabled on next release

[2017-09-29 01:44] lovekankan commented on #1999
大神， 有时间看下这个问题吗？

[2017-10-05 16:40] dganzella opened #2015 "[BUG] Tmx wrong culling issue"
Hello!

I think I found a bug.

It I use cc.Camera on a tmx map, and this map is scaled, It will produce wrong culling on web.
![bug](https://user-images.githubusercontent.com/30127664/31239032-2359997a-a9d2-11e7-969f-58474ead84a7.gif)

Sample project:
[TMXCullingIssue.zip](https://github.com/cocos-creator/engine/files/1360141/TMXCullingIssue.zip)

Instructions: Press any key to move the camera.

[2017-10-05 16:51] lllyasviel opened #2016 "[IMPORTANT BUG] all widgets works not properly in webgl mode with canvas as target"
When a widget's target is the default canvas, it only works in "Canvas render mode" and fails in "WebGL mode".

Example:
![image](https://user-images.githubusercontent.com/19834515/31240011-af4f5eec-aa31-11e7-9ec5-269c4e286615.png)

![image](https://user-images.githubusercontent.com/19834515/31239592-3dd18e6c-aa30-11e7-94b9-336ea46760f6.png)
Canvas:
![image](https://user-images.githubusercontent.c

[2017-10-06 03:48] cocosftw opened #2017 "CCWebView not releasing in Native"
Hi apparently after loading a page in webview the memory will not be released even after calling destroy method explicitly on the cc.webview component as well as the node associated with it on ios. This is a sample project.
[test_web_view.zip](https://github.com/cocos-creator/engine/files/1361487/test_web_view.zip)

[2017-10-06 06:37] dganzella commented on #2017
I wonder if they use Uiwebview or wkwebview on cocos creator. wkwebview is much more performatic and handles memory better, I will take a look on the native code later.

[2017-10-06 06:46] cuongnmx opened #2018 "contact.getImpulse() returns null"
I want to get impulse on collision but this code does not work:

onEndContact (contact, selfCollider, otherCollider) {
    cc.log('impulse = ' + contact.getImpulse());
}

// result: impulse = null

[2017-10-06 08:37] knoxHuang commented on #2017
@cocosftw  Can you tell me your version of Creator？

[2017-10-06 08:38] knoxHuang commented on #2017
@dganzella  sorry, There is no intention to refactor CCWebView

[2017-10-07 00:39] hyena3300 opened #2020 "Cocos Creator doesn't allow multiple spines (skeletons) to share the same atlas."
Hi, I would like to request a extension feature to allow skeletons to use the same atlas and png.

[2017-10-07 03:07] cocosftw commented on #2017
v1.6.1

[2017-10-07 09:13] cocosftw opened #2021 "cc.sys.browserType"
Hi theres a typo in the browser type determination code.
![screen shot 2017-10-07 at 5 09 35 pm](https://user-images.githubusercontent.com/31945498/31306415-628ca888-ab82-11e7-9c5d-fb03ba146d61.png)
Besides, on nexus devices with android Oreo all browsers are wrongly determined as Opera browser due to the word OPR in the android build version which presents in the user-agent.
![screen shot 2017-10

[2017-10-07 10:33] jareguo commented on #2021
Hi @cocosftw, #2022 should fix this. Thanks.

[2017-10-07 10:33] #2021 closed, assigned to nobody

[2017-10-07 15:01] knoxHuang commented on #2017
You can use 1.6.2 or use this PR https://github.com/cocos-creator/cocos2d-x-lite/pull/838 to fix it

[2017-10-07 15:02] #2017 closed, assigned to knoxHuang

[2017-10-07 17:00] dganzella opened #2024 "Keyframe editor seem to have Chinese text even on English Cocos Creator"
![image](https://user-images.githubusercontent.com/30127664/31310067-b4c2693c-ab67-11e7-954a-1fad9113cae5.png)

Small translation bug!

[2017-10-09 08:57] 2youyou2 commented on #2015
Hi, which version did you use?
Can you try 1.6.1 version ?

I think it's already been fixed.

https://github.com/cocos-creator/engine/commit/bd43e8b89d5f78712d45dbb18f8fa1da49dfc2de#diff-5ee0a747ff37b87d78b1df65e3884870

https://github.com/cocos-creator/engine/commit/19d0b45dc9b4226a849f0ffb1d30c2764de1061f#diff-5ee0a747ff37b87d78b1df65e3884870

[2017-10-09 19:34] dganzella commented on #2015
I tried on 1.6.1 - Windows

[2017-10-10 03:12] dganzella commented on #2015
Im fact I think these changes were an attempt to fix the bug but didnt solve it entirely

[2017-10-10 03:22] 2youyou2 commented on #2015
It seems 1.6.1 not contains this pr : https://github.com/cocos-creator/engine/pull/1974.
#1974 should fixed scale problem.

[2017-10-12 06:20] lovekankan opened #2037 "cocos creator1.6.1 Hot update problem"
when In the process of hot update, switch the cell phone network from 2g to wifi, restart after downloading, and make errors in the runtime js file.

[2017-10-12 06:34] lovekankan commented on #2037
切换网络之后重新开始下载了
![image](https://user-images.githubusercontent.com/11287620/31482328-73bfe224-af5a-11e7-8f59-aa0a1430dc23.png)

[2017-10-12 09:20] lovekankan commented on #2037
@pandamicro  这个可以优先看下吗？

[2017-10-12 10:30] lovekankan commented on #2037
![image](https://user-images.githubusercontent.com/11287620/31491872-61665d12-af7b-11e7-8952-f1492f779db5.png)

[2017-10-12 11:59] shishir67 opened #2038 "Weird Boundary lines in canvas mode in firefox"
Hi,
Can anyone explain these boundary lines!
I am trying to take a screenshot in my game, but couldn’t succeed in webgl mode.
So thought of fixing my game to canvas mode.
But in canvas mode, in firefox textures have these weird boundaries.
Can anyone suggest something.
Either to remove these lines, or to implement screenshot in webgl.

Thanks in advance.

![lines](https://user-images.githubusercon

[2017-10-12 12:05] shishir67 commented on #2038
Also i need to get base64 data to upload to server or share on facebook

[2017-10-12 13:15] jareguo commented on #2038
which version of Creator are you using?

[2017-10-12 13:35] shishir67 commented on #2038
1.6.1

And I have managed to get base 64 data. So that's not an issue anymore.

[2017-10-12 14:32] jareguo commented on #2038
okay, but I can not reproduce this problem. Can you upload a demo?

[2017-10-13 05:34] shishir67 commented on #2038
I shall do that in a bit of time,
Meanwhile I have found the boundaries are of nine scale stretching of slicing.
(They disappear if I change sprite type from SLICED to SIMPLE).
You could try nine scale stretch a sprite and set type of sprite to SLICED.
And then run in canvas mode in firefox.

[2017-10-14 06:57] evkwan opened #2039 "If asset used in prefab fails to load, no error is thrown from cc.loader.loadRes"
Hi, I encountered a problem in using Cocos Creator.

I have a prefab that is using many resources in my game, and loaded it using cc.loader.loadRes. The assets used in the prefab will be loaded asynchronously after the prefab json file has been successfully loaded. But subsequently if some resources failed to load, no error will be reported by cc.loader.loadRes. The result is a broken prefab being

[2017-10-14 08:40] stewiic opened #2040 "animation clip event infinite loop at low frame rate"
Hello guys. To achieve a specific animation loop for my project, I have an animation clip with event tag to call a second animation clip to start playing. The second animation clip also have an event to call the first animation clip to start playing again.

this works fine until I manually lower the frame rate to 3 fps. This will cause an infinite event calling loop and hang the game. This worries

[2017-10-15 01:01] Impulse21 opened #2041 "Invalid Project path"
I am using a valid path for my project and cocos creator states it's an invalid project path

version 1.6.1
![image](https://user-images.githubusercontent.com/9197147/31580591-9b99f4a0-b122-11e7-88c2-e7d394f9cf97.png)

[2017-10-15 03:43] jareguo commented on #2041
It is not a valid path, you should not contain "." in the path.

[2017-10-15 03:43] #2041 closed, assigned to nobody

[2017-10-15 12:43] Impulse21 commented on #2041
Why would cocos editor not accept a "." in the path. This is a valid OS path, shouldn't Coco's be able to handling this case since it's permit by the operating system. Also, to add to this. cocos2d-x CLI doesn't have this restriction.

I believe this is something that should be fixed.

[2017-10-15 14:54] jareguo commented on #2041
Because it is an invalid path for the Android project. It's not our restriction.

[2017-10-15 16:23] Impulse21 commented on #2041
Hmm, never experienced issues with my path with other android projects outside of cocos. Nor do other game engines impose such restrictions. I found a work around for creating a project in the mean time.

Thank you for the explanation.

[2017-10-16 01:42] lovekankan commented on #1999
@jareguo  这个问题有复现到吗？

[2017-10-16 01:51] jareguo commented on #1999
抱歉，目前还没有测试，这个优先级不高。等 P 大有空看看吧。

[2017-10-16 01:54] jareguo commented on #2041
You are welcome. We can improve it in the future.

[2017-10-16 04:05] 15951836388 opened #2042 "protobufjs6.8 ts项目 在android和ios、模拟器上的黑屏问题（web正常）附demo"
这算是主流的库了。官方最好能傻瓜式支持就好了，减少了很多用户的采坑，小白用户基本搞不定
[assets.zip](https://github.com/cocos-creator/engine/files/1386190/assets.zip)

[2017-10-16 04:06] 15951836388 commented on #2042
android 真机 也黑屏

[2017-10-16 04:47] jareguo commented on #2042
![image](https://user-images.githubusercontent.com/1503156/31595694-21e5a3f2-b203-11e7-89da-99053643ceb0.png)
麻烦 @pandamicro 看看，这个报错信息查不了

[2017-10-16 04:52] 15951836388 commented on #2042
刚又测试了js项目，凡是用了protobufjs，都是黑屏

[2017-10-16 05:34] lovekankan opened #2043 "cocos creator1.6.1 webview控件频繁的创建和销毁会导致内存飙升，直至崩溃"
cocos creator1.6.1 webview控件频繁的创建和销毁会导致内存飙升，直至崩溃（android环境），这个好像是android5.1的问题。

[2017-10-16 06:53] #2043 closed, assigned to nobody

[2017-10-16 07:01] jareguo commented on #2042
![image](https://user-images.githubusercontent.com/1503156/31598945-ebc4a58a-b215-11e7-9fb7-7379c66d25de.png)

[2017-10-16 15:50] cpple opened #2044 "1.6.1-TiledMap 左边缘瓦块资源丢失"
当试图加载一个比设定的地图单元格大的瓦块资源并将图片靠近左边缘时会出现丢失这个瓦块资源的问题
问题请参见 http://forum.cocos.com/t/creator-tiledmap-bug/52124

[2017-10-16 16:31] cpple commented on #2044
[assets.zip](https://github.com/cocos-creator/engine/files/1388289/assets.zip)
以上demo @jareguo

[2017-10-16 18:08] blocksbarcelona opened #2045 "1.6 - 1.6.1 and 1.6.2beta3 Breakpoints not working on VSCode"
Hi, I just tested my game developed with 1.5.2 with 1.6 - 1.6.1 and 1.6.2Beta3 and Breakpoints are not working (my code is javascript and typescript).

I believe I found out the problem. The issue is related to launch.json.

My project has this launch.json created with version 1.5.2:

[code]

And if I open it with any 1.6+ version, sourcemaps are not working properly. I found out that this config

[2017-10-16 18:08] blocksbarcelona opened #2046 "1.6.1 - 1.6.3 - 1.7 Tilemap Bug"

[2017-10-16 18:11] blocksbarcelona commented on #2046
Hi, this is how it looks my map in 1.5.2 and 1.6:
![creator-1 5 2](https://user-images.githubusercontent.com/24223792/31627553-f5aadc98-b2ad-11e7-8720-98d45090ea2c.png)

And this is how it looks the same project opened with 1.6.1 and 1.6.2:
![screen shot 2017-10-16 at 19 57 33](https://user-images.githubusercontent.com/24223792/31627574-056082aa-b2ae-11e7-80cb-973b45f75594.png)

The map actually l

[2017-10-17 01:25] 15951836388 commented on #2042
那要怎么改？才能在真机上跑起来？

[2017-10-17 01:39] cpple commented on #2044
看起来是有规律的，应该是x轴的条件判断错误，现在好像是  渲染边界、图片宽度、及图片边界坐标的计算时正负号有问题😙

[2017-10-17 01:44] cpple commented on #2046
it looks has another bug.just when you take the tiles in different tiledset and put it into the same layer you well get break screen! sorry my pool english

[2017-10-17 01:48] knoxHuang commented on #2046
@jrosich Do you have any wrong information?

[2017-10-17 01:49] knoxHuang commented on #2044
你是说渲染时裁剪的问题吗？

[2017-10-17 01:57] knoxHuang commented on #2046
This is 2 bugs, 1.7 version，It has been fixed

Can you give me a test case? (Test the 1.6 version)

[2017-10-17 02:00] cpple commented on #2044
是的

[2017-10-17 02:02] knoxHuang commented on #2044
抱歉，现在手头上有比较紧急的任务，麻烦你先看看，我会尽快更进这块的

[2017-10-17 02:07] cpple commented on #2044
好的源码我不太熟悉，如果能告诉我渲染裁剪处理单元在哪个js相信会快些

[2017-10-17 02:08] knoxHuang commented on #2044
你看看 engine\cocos2d\tilemap\CCTMXLayerWebGLRenderCmd.js 中的 uploadData

[2017-10-17 02:09] cpple commented on #2044
好的谢谢

[2017-10-17 04:32] blocksbarcelona commented on #2046
I will provide a test case for 1.6 later today.

[2017-10-17 05:12] knoxHuang commented on #2046
ok，thx

[2017-10-17 06:26] qi0727 commented on #1988
I think it is caused by race condition. https://stackoverflow.com/questions/10235919/the-canplay-canplaythrough-events-for-an-html5-video-are-not-called-on-firefox

[2017-10-17 06:59] cpple commented on #2044
尝试修正了这个问题 已经请求提交 具体是否合理请官方check

[2017-10-17 07:00] cpple commented on #2044
会被裁剪而且无论你用什么样的方式都会被裁剪包括引擎本身的预览及webgl

[2017-10-17 09:47] knoxHuang commented on #2044
好的，感谢你提的 PR, 这个可能要等一下 panda 有空的时候才能看，你先用着

[2017-10-17 20:00] blocksbarcelona commented on #2046
Hi, I tried to load the map in a new test project and everything goes well. So I do not know how to reproduce it. All I know, is that it works in 1.5.2 and 1.6, and it doesn't in 1.6.1 and 1.6.2Beta3

[2017-10-17 20:49] blocksbarcelona opened #2049 "Hover popups while debugging don't work when using 1.6-1.7"
This is how it look likes on 1.5.2 for hellow world test project:
![screenshot 2017-10-17 22 20 23](https://user-images.githubusercontent.com/24223792/31688676-615c52a2-b38d-11e7-9b69-62b8a5a9601e.png)

And it is **not** showing any popup/content on 1.6-1.7

[2017-10-18 01:27] jareguo commented on #2049
Are you debugging on native?

[2017-10-18 01:37] knoxHuang commented on #2046
Can you give me appears the wrong tilemap resource ?

[2017-10-18 02:29] 15951836388 commented on #2042
对了，初次编译报了一个错，但是web正常。不知道是不是这个问题
http://forum.cocos.com/t/hellow-android/51916

[2017-10-18 04:37] blocksbarcelona commented on #2049
Hi, this is debugging web, while playing on Chrome. My computer: Macbook pro late 2011 with macOS Sierra 10.12.16 and latest version of VSCode (but I already got this issue a few months when tested the first 1.6Beta. So it is not related to VSCode I believe).

[2017-10-18 04:42] blocksbarcelona commented on #2046
The tmx resource do you mean? It is a tilemap created with "Tiled". The base map is almost final but still waiting to get the final icons from the artist. Here you have it: https://www.dropbox.com/s/u5wcqg1rlc04w5j/tmx.zip?dl=0

[2017-10-18 09:12] knoxHuang opened #2052 "VideoPlayer Android 无法重复 Play"
用户反馈：http://forum.cocos.com/t/videoplayer/52102/2

这里是因为 android 在播放完成以后会 release 掉导致的

[2017-10-18 09:13] #2052 closed, assigned to nobody

[2017-10-18 13:19] cpple commented on #2044
我的修改是有问题的，新的修改已经提交我想应该是这里的问题，请review下

[2017-10-18 20:44] sucineri opened #2054 "Contents under a sub directory of a symlinked directory doesn't show up in CocosCreator on Mac"
Repo steps:
1. Create a  new project in CocosCreator.
2. Create a symlink to a directory that contains at least 1 sub directories, or run the following from the project's directory to create some test data:
[code]

3. Go back to CocosCreator to observe the asset appears.
![screen shot 2017-10-18 at 1 39 33 pm](https://user-images.githubusercontent.com/6344189/31741689-ff426124-b409-11e7-924c-7210d

[2017-10-19 01:27] jareguo commented on #2054
It should be a bug of node.js... maybe we can take a look

[2017-10-19 15:50] 15951836388 commented on #2042
可以关掉了，1.7什么都不用改，就能正常运行jsb和web。有个小问题是。protobuf的生成的XXX.d.ts的代码提示文件必须要放在项目assets才行。

[2017-10-20 09:12] knoxHuang commented on #2044
好的，感谢，不过要等 panda 休假回来再能合，还需要他过目一下看看是否有其他问题

[2017-10-20 12:37] jareguo commented on #2042
嗯，1.7 用的 VM 不太一样，可能兼容性比较好。既然能支持那就关掉了。之后有问题可以再提。
.d.ts 应该是工具设置问题。

[2017-10-20 12:37] #2042 closed, assigned to pandamicro

[2017-10-20 16:57] blocksbarcelona commented on #2046
I believe I found something... the issue is related to the opacity of the tiles (I change them dynamically whenever a new hexagon is explored). Still working on providing a test case.

[2017-10-21 06:51] blocksbarcelona commented on #2046
I found out the issue. It seems the bug its happening under the following conditions:

- WebGL (no issue with canvas)
- Change opacity of tiles in a given COL and a given ROW (no issues with just all tiles of a column)
- No issues on native
- Tested with 1.6.2Beta3 (I believe 1.7 has the same issue)

This is a test case: https://www.dropbox.com/s/u964lwcew743w9r/tilesBug.zip?dl=0

My computer:
![s

[2017-10-22 01:36] jareguo commented on #2046
Wow, thanks very much. Please submit a demo to us.

[2017-10-22 05:02] blocksbarcelona commented on #2046
@jareguo the link includes a project demo/test case to reproduce the issue. Let me know if you need anything else.

[2017-10-25 13:00] obouton opened #2067 "cc.sys.os is undefined with Ubuntu Mate 16.04"
Despite using Cocos Creator 1.6.1, I still have an issue with Error 3300 and Error 3400 under Firefox and Ubuntu Mate.

After some research, I found that cc.sys.os is undefined when running in the above conditions.
Thus the test below (from misc.js) is false and imagePool is not modified:

if ((sys.os === sys.OS_WINDOWS || sys.os === sys.OS_LINUX) && sys.browser !== sys.BROWSER_TYPE_CHROME) {

[2017-10-25 13:13] jareguo commented on #2067
Sorry, we do not have such device to test. Can you submit a PR to fix it ?
sys.os is initialized in CCSys.js (https://github.com/cocos-creator/engine/blob/master/cocos2d/core/platform/CCSys.js#L561-L566)

[2017-10-27 09:32] cuongnmx opened #2074 "Game almost stopped when close ads on iOS"
Steps to reproduce:
1. Show interstitial or video ads
2. Hide app (press Home button on device)
3. Show game again
4. Close ads
5. Click any item in game to print log and change some UI (hide some node, for example). Code runs, log shown, but UI is not changed.
Sometimes UI will updated, but after 5-10 minutes

Using Cocos Creator 1.6.2.

[2017-10-29 22:20] jgod opened #2081 "[1.6.2, quick-scripts] downloadScript fails on scripts from node_modules with # in path"
Cocos Creator version 1.6.2, when previewing in browser.

`es5-ext` is a [common](https://www.npmjs.com/package/es5-ext) npm dependency, why is this breaking?

Expected behavior is to load along with all other dependencies in `quick-scripts/__node_modules` that loaded fine.

I also opened up a [topic](http://discuss.cocos2d-x.org/t/1-6-2-web-preview-missing-some-necessary-node-modules/39689) on th

[2017-11-01 13:37] nimluckyfish opened #2089 "[Feature Request] Scene/prefab duplication"
I would like to ask for easier duplication of assets in CocosCreator which is essential when creating levels or similar components/animations, etc.

Currently the only way I have found to duplicate a .fire or .prefab resource file is to:
1. Ensure the scene/prefab has a single root node
2. Drag the root node to the Assets panel (to create a new prefab)
3. **For scenes:** create a new empty scene a

[2017-11-02 01:49] DeloDuan opened #2090 "ios 关闭wifi，马上重连wifi.收不到onclose事件"
如果用户关闭wifi,再马上连接wifi 会收不到onclose事件，但这个时候socket句柄已经失效了。必须要重新连接才能发送和接受服务器消息。

[2017-11-02 05:02] dumganhar commented on #2090
报bug是这样报的么？

最最最基础的版本信息都没说。

[2017-11-03 07:25] #2015 closed, assigned to 2youyou2

[2017-11-08 23:08] ma1onso commented on #1841
Cool idea. Using Unity 3D from elementary os.

[2017-11-09 09:27] ivarsbergs opened #2104 "(WEB) Can't download profile picture from Facebook Graph API with cc.textureCache.addImageAsync"
If you just pass link, it fails to understand that it is image that you are trying to download and downloads it as text. If you pass object with {url: url, type: 'image'}, it fails to reference image back from texture cache, because it mixes up string with object.

Here is our current patch for CCTextureCache.js:
[code]

[2017-11-15 15:51] blocksbarcelona commented on #2049
Any feedback on this? Have you been able to reproduce it?

[2017-11-15 15:52] blocksbarcelona commented on #2046
Any feedback on this? Have you been able to reproduce it?

[2017-11-16 02:43] jareguo commented on #2049
Sorry we don't have time to test the VSCode debugger. Please use Chrome.

[2017-11-16 02:43] #2049 closed, assigned to 2youyou2

[2017-11-16 03:19] zhaochengcai opened #2113 "TileMap里的对象层用到了“图像集合”， 在creator中不显示。"
对象层用单独的图片可以在creator中显示，
但是用“图像集合”就不显示了。

[2017-11-16 03:20] jareguo commented on #2113
请提供 demo

[2017-11-16 03:20] zhaochengcai commented on #2113
creator版本 1.6.2

[2017-11-16 03:25] xiaohao9509 commented on #2113
[map.zip](https://github.com/cocos-creator/engine/files/1477213/map.zip)
他上传不了,我帮他上传了  @jareguo @knoxHuang

[2017-11-16 03:27] knoxHuang commented on #2113
目前暂时不支持

[2017-11-16 03:28] jareguo commented on #2113
嗯，demo 我们先收下了，之后有人力的话会安排开发的。

[2017-11-16 03:28] zhaochengcai commented on #2113
好的, 谢谢！

[2017-11-16 13:35] CoderGLEric opened #2116 "scrollview 用代码设置偏移"
this.scrollview.scrollToOffset()这个API 只是左右偏移
有没有API 和这个一样的 可以上下偏移
使用的是cocos2dx-JS cocosCreator 1.6版本

[2017-11-17 05:38] knoxHuang commented on #2116
这个就是根据你 scrollView 的朝向来进行偏移的，你左右偏移代表你现在的 scrollview 是 horizontal 方向，想要上下就设置为 vertical

[2017-11-17 06:49] CoderGLEric commented on #2116
如果想往 右下  坐下 一点一点偏移呢？ 是使用哪个api
scrollToOffset?这个api的意思真正是什么样？我试了下 左右是正常的 上下和预期效果不一样

[2017-11-17 06:51] knoxHuang commented on #2116
![image](https://user-images.githubusercontent.com/7564028/32934460-ccc5c8bc-cba6-11e7-8823-610807caf260.png)

那你就用这个来做吧

[2017-11-17 06:58] CoderGLEric commented on #2116
ok thanks  不知道为什么 scrollToOffset（）这个API 和预期效果又一致了

[2017-11-17 07:31] #2116 closed, assigned to knoxHuang

[2017-11-17 08:05] cuongnmx opened #2119 "[Feature Request] Add checkbox "Fit target node" to Widget"
Many times we use widget to scale a node to fit it's parent. I suggest to create a check box as a shortcut to do it in Widget component. Alternative shortcut is providing 2 checkboxes: "Fit to width" and "Fit to height"

[2017-11-17 08:14] jareguo commented on #2119
How about if Alt/Options is pressed down while clicking Left, we also set the left margin to 0px automatically. So user just need to click 4 times.

Or add a menu - maximize

![image](https://user-images.githubusercontent.com/1503156/32937192-566784d8-cbb2-11e7-8f22-767f8625f3e6.png)

[2017-11-18 07:53] xiaohao9509 opened #2120 "creator 支持 fbx导成c3b的3dmax文件吗?"
你好,creator 1.6.2 支持展示 .fbx导成.c3b的3dmax文件吗?
还是只能在js代码里面加吗?

[2017-11-18 10:22] CoderGLEric opened #2121 "精灵描边问题"
你好，请问下，我想，有一个预置资源，然后将这个预置资源边框描边.
使用cocoscreator 1.6  版本  请问有什么方法吗？除了替换图片资源的方式 ，如何使用代码方式实现
谢谢了

[2017-11-18 16:58] jareguo commented on #2121
论坛有一些 shader 的样例，你可以搜索并参考一下

[2017-11-18 16:58] #2121 closed, assigned to nobody

[2017-11-19 08:21] jareguo commented on #2120
抱歉不支持

[2017-11-19 08:21] #2120 closed, assigned to nobody

[2017-11-19 11:08] PooperPig commented on #1729
This still seems to be an issue 5 months later?

[2017-11-19 17:40] blocksbarcelona commented on #2046
I have updated the initial post as I found out that the bug is not present on 1.6. So it happened on 1.6.1 for the first time. This may help you track it down.

I'm unable to use newer versions of creator because of this issue. Any estimations on when are you planning to take check it out? Thanks!

[2017-11-20 03:30] cuongnmx commented on #2119
Ok. That would be better than current config.

[2017-11-20 03:46] cuongnmx opened #2122 "[Feature request] Add more hot keys to editor"
As many other developers, I prefer using hot key for routine tasks. There are some hot key/shortcut I would like to have:
- Hot key to build project with latest build config (currently I have to Save, press Shift+Cmd+B, then click Build)
- Hot key to Preferences
- Hot key to clear log (or better: option to clear log every time run on simulator)
- Hot key to add new component (for example: Shift+Cm

[2017-11-20 03:47] jareguo commented on #1729
This is because playEffect is deprecated. But we are planning to add it come back. Maybe you should just ignore the warning for now.

[2017-11-20 03:47] #1729 closed, assigned to VisualSJ

[2017-11-20 03:51] jareguo commented on #2122
It will be added in 1.8

You can use Cmd + D

[2017-11-20 09:34] jareguo commented on #2046
@knoxHuang is in holiday, he will check it after 28 Nov. Thanks for help!

[2017-11-22 18:21] blocksbarcelona opened #2130 "[1.6-1.7beta] npm modules error - Only TS"
Cocos Creator shows this error message when trying to compile the project after adding a npm module (only TypeScript).

Note: **Works fine with  TS and JS on Creator 1.5.2**

![screenshot 2017-11-22 18 56 47](https://user-images.githubusercontent.com/24223792/33142650-8217b87e-cfb7-11e7-8a76-c41a32eec313.png)

How to reproduce:
This is what I did (**step-by-step**) to create the test case project

[2017-11-22 21:55] blocksbarcelona commented on #2130
I found out the problem, thanks to the feedback of a fellow member of the forum. In version 1.5.2 I had to import the module using the path to node_module:
`import * as moment from "../../node_modules/moment";`

But starting on version 1.6.x I have to add them without path:
import * as moment from "moment";

I was not aware of the change and thats why the warnings and errors.

[2017-11-23 01:52] jareguo commented on #2130
You should not use npm modules, its deprecated since 1.3. Use plugin scripts instead.

[2017-11-23 01:52] #2130 closed, assigned to nobody

[2017-11-23 03:16] wijesijp opened #2131 "[Feature request] Mesh sprite in Cocos Creator"
Hi cocos team,

When can we see mesh sprite add to cocos creator?

Thanks

[2017-11-23 03:52] jareguo commented on #2131
Perhaps 2.0

[2017-11-23 03:52] #2131 closed, assigned to nobody

[2017-11-23 09:30] xiaohao9509 opened #2136 "CCClass 子类和父类必须在一个js文件中吗?"
你好,我把子类和父类放在不同的.js文件中后,
creator1.6.2 报了 failed : ReferenceError: ValetBase is not defined.
子类和父类需要放在一个.js文件中才能继承吗?

[2017-11-23 09:34] xiaohao9509 commented on #2136
var Node = cc.Class({
    ctor: function () {
        this.name = "node";
    }
});
var Sprite = cc.Class({
    extends: Node,
    ctor: function () {
        // 子构造函数被调用前，父构造函数已经被调用过，所以 this.name 已经被初始化过了
        cc.log(this.name);    // "node"
        // 重新设置 this.name
        this.name = "sprite";
    }
});
就像官网的例子一样

[2017-11-23 09:46] jareguo commented on #2136
请参考 http://www.cocos.com/docs/creator/scripting/modular-script.html

[2017-11-23 09:46] #2136 closed, assigned to nobody

[2017-11-25 07:10] CoderGLEric opened #2137 "node.on('cancle')问题"
cocos2dx-JS 中貌似没有监听事件冲突时的一个cancle回调，node.on（‘cancle’）；监听的只是不在该节点上的一个事件回调 ， 我查看源码，确实是有ccTouchesCallback onTouchesCancelled这个回调，请问下系统的touchCanclelled这个回调js中是怎么监听的？谢谢

[2017-11-25 16:11] pandamicro commented on #2137
touch cancel 事件
http://docs.cocos.com/creator/api/zh/classes/Node.EventType.html#touchcancel
http://docs.cocos.com/creator/manual/zh/scripting/internal-events.html

[2017-11-25 16:11] #2137 closed, assigned to pandamicro

[2017-11-27 09:33] cuongnmx opened #2140 "Can not change PhysicsCircleCollider radius in code"
Bellow code does not work as expected:

    let cl = this.node.addComponent(cc.PhysicsCircleCollider);
    cl.radius = 400;

[2017-11-29 12:28] gzbbxu opened #2150 "集成android 原生，在切换activity 的时候，界面卡住。"
11-29 17:58:03.392 32600-433/com.ifreetalk.ftalk A/libc: Fatal signal 11 (SIGSEGV), code 1, fault addr 0x0 in tid 433 (GLThread 11387)
11-29 17:58:03.533 1631-1631/? E/DEBUG: engrave tombstone!
11-29 17:58:03.533 1631-1631/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
11-29 17:58:03.533 1631-1631/? A/DEBUG: Build fingerprint: 'OPPO/A77/A77:7.1.1/NMF26F/1499074074:user/

[2017-11-30 01:41] skaraman opened #2151 "RichText AutoWrap Bug"
http://discuss.cocos2d-x.org/t/richtext-autowrap-bugged/40019

Hi, I found two bugs with autowrap -
![entered text](http://discuss.cocos2d-x.org/uploads/default/original/3X/2/3/23da982adba0a6d49d0d2f663c32cc19211464f3.png)

![resulting rich text](http://discuss.cocos2d-x.org/uploads/default/optimized/3X/8/7/871fcaba3094ebad276924beee749a954ddc22ca_1_496x500.png)

the expectation would be -

1 - no

[2017-11-30 01:45] jareguo commented on #2151
@knoxHuang : 文本换行要完美支持多语言是很难的，麻烦看看有没有办法简单的修改一下，或者提供接口由用户自定义换行方式。另外这个 bug 应该在 Label 中也存在。

[2017-12-04 08:11] knoxHuang commented on #2151
- [x] no space in front of "uneeded space"
- [x] whole word “autowrap’s” to drop to second line

[2017-12-04 17:39] skaraman commented on #2151
FYI - words like "don't, can't, shouldn't" and "we'll, I'll, we've, they've" should also drop to the next line.
https://en.oxforddictionaries.com/punctuation/apostrophe

[2017-12-05 03:02] chen1zee opened #2160 "es6使用 async await 语法，编译时报错"
报错，regeneratorRuntime is not defined
`SayHello.js:36 Uncaught ReferenceError: regeneratorRuntime is not defined
    at SayHello.onLoad (SayHello.js:36)
    at CCClass.eval [as _invoke] (eval at createInvokeImpl (component-scheduler.js:256), <anonymous>:3:65)`
看编译后代码
[code]
虽然不知道 内部是用 什么 编译 es6 至 es5的，
但应该是 编译 缺失 async 的编译插件
可查考 https://stackoverflow.com/questions/33527653/babel-6-regeneratorruntim

[2017-12-05 03:56] jareguo commented on #2160
是的，确实有缺失一些插件。不过暂时不打算支持了。真想用的话可以自己 polyfill 一下或者用 .ts 后缀

[2017-12-05 03:56] #2160 closed, assigned to nobody

[2017-12-05 06:43] pandamicro commented on #2151
@skaraman  Thanks for the report, it's fixed and will be released in v1.7.2

[2017-12-05 06:43] #2151 closed, assigned to knoxHuang

[2017-12-05 07:30] chen1zee commented on #2160
已解决_使用 https://www.npmjs.com/package/regenerator-runtime 包 下的 runtime.js 作为 插件脚本引入。
即可解决。

[2017-12-05 09:06] jareguo commented on #2160
哈哈，赞！

[2017-12-06 14:51] boyvk92 opened #2166 "Editbox, Input Mode Number , not display when string = "1,000""
Cocos creator 1.7.0
When players enter the gold value to buy items, I want to transform that number ( the value ) into a different form. Players will find it easier to check the value that they has entered before ( Eg : 100000 => 100,000 )

I use cc.Edibox so players can enter the gold value they need. Input mode is a kind of Numeric that only number can be entered so players can not enter other k

[2017-12-07 01:26] knoxHuang commented on #2166
html5 input only supports 1.00 or 1 numbers in this format

[2017-12-08 06:17] jareguo commented on #2166
You should use normal mode instead of number mode. Then validate input text by yourself.

[2017-12-08 06:17] #2166 closed, assigned to knoxHuang

[2017-12-08 07:36] dumganhar commented on #2150
@gzbbxu , 请提供demo。
手机机型？
系统Android版本？

[2017-12-08 14:01] betovidal commented on #1549
It was my approach too. Shouldn't there be a restriction so the user can't attach a widget component to the canvas ?

Assigning a widget component to the canvas worked only for desktop mobile, however it's broken in Android and the chrome mobile emulator.

[2017-12-08 15:13] jareguo commented on #1549
Indeed, we should add a restriction so users can't attach a widget to canvas.

[2017-12-08 15:49] yuriilychak opened #2175 "Spine environment problem"
Hello. I try to switch from Cocos2d-JS to Cocos Creator and have a lot problems with spine integration in Cocos Creator. I describe it on example.
I have game with a lot of spine objects.
![terrain01](https://user-images.githubusercontent.com/8695823/33770938-f9a00c8e-dc37-11e7-9adc-6c873919e5a0.png).
All stage objects made with spine. For reducing draw calls,  minimize atlas size (cause some skel

[2017-12-09 03:29] jareguo commented on #2175
Thanks for the reply. We should make this more clear.
Now I have two question.
 - Why don't you just copy one duplicated JSON and rename it?
 - Is it possible to change entire atlas by using setSkin()?

FYI. On native platform, you can not create skeleton data dynamically, but you can change atlas dynamically
[code]

[2017-12-09 05:24] yuriilychak commented on #2175
Hello @jareguo. I have few json files for one atlas, and in library skeleton data always crashing cause don't find atlases with same name.
![dff](https://user-images.githubusercontent.com/8695823/33792691-3c13ee88-dcaf-11e7-9a34-66027b1cb23b.png).
I can't create spine objects in stage cause can't set atlas of spine data in editor, and get message like "Failed to drop asset <asset id>, message: Err

[2017-12-09 07:23] jareguo commented on #2175
Understand.

[2017-12-11 10:05] jareguo opened #2179 "引擎分包实现讨论"
需求：减小 72 变引擎首包。完整首包包含首场景、游戏脚本首包、引擎首包。引擎首包包含骨骼动画。

[2017-12-14 03:25] zilongshanren opened #2184 "The code compiled with Creator has lots of duplicated _createClass declaration"
If you write a bunch of ES6 classes, creator will bundle your classes with lots of duplicated babel helper functions in front of each compiled class:

[code]

More info and possible solutions, refer to :

https://github.com/babel/babel/issues/4709

https://stackoverflow.com/questions/38826550/duplicated-declarations-in-compiled-out-file-using-babel

[2017-12-16 07:33] jareguo commented on #2046
Will fix in 1.7.2-beta.2

[2017-12-16 07:33] #2046 closed, assigned to knoxHuang

[2017-12-21 12:42] sommerper opened #2202 "[1.7.0] Bitmap fonts with spaces in name have missing texture id"
Attached two google fonts. One has a space the other one doesn't.
Only the latter works when assigned on a label.

[HelveticaNeue Light.zip](https://github.com/cocos-creator/engine/files/1579196/HelveticaNeue.Light.zip)
[HelveticaNeue-Light.zip](https://github.com/cocos-creator/engine/files/1579197/HelveticaNeue-Light.zip)

[2017-12-21 14:35] sommerper opened #2203 "[1.6 - 1.7] Widgets get disabled for no reason"
I'm not sure what is causing it but it appears that sometimes widgets get disabled for no reason.

I turn it back on and it works again for a while until it turns itself off again.

I have a project that I'm currently working that is using widgets extensively and and all of them where turned off all of a sudden.

[2017-12-21 14:41] jareguo commented on #2203
If AlignOnce is on, the widget will disable itself after alignment. (At Runtime)

[2017-12-21 14:41] #2203 closed, assigned to nobody

[2017-12-21 14:44] jareguo commented on #2202
The limitation comes from the browser. We will prompt the user to rename it.

[2017-12-21 14:44] #2202 closed, assigned to nobody

[2017-12-22 13:14] cuongnmx opened #2206 "[BUG] Crash on iOS when update tile color, opacity"
I'm using tiled map and I regularly update tile in the map:

tiledLayer.getTileAt(x, y).color = color;
tiledLayer.getTileAt(0,0).opacity = opacity;

After few updates the game crashes.

[2017-12-23 03:57] jareguo commented on #2206
Which version? Please submit a demo.

[2017-12-26 18:55] sommerper commented on #2203
But that's not what I'm talking about. In the editor I have to repeatedly enable the widgets because something turns them off.

[2017-12-27 01:35] jareguo commented on #2203
When you preview animation in the Timeline, the widget will be disabled to make sure animation take effects. After the preview, widgets will be enabled automatically.

[2017-12-27 10:20] aa851853 opened #2217 "这个地方不知道是不是应该使用 this._fragShader"
https://github.com/cocos-creator/engine/blob/7c8aa7e50088e4add6567039f80ddfee41045c93/cocos2d/shaders/CCGLProgram.js#L720

[2017-12-28 09:57] alexanderzubarev opened #2222 "ScrollView: scroll on tap (Samsung)"
I have a strange behavior when tapping on the items inside the ScrollView. When you tap on the panel it scrolls a little (but it should not).

Can be reproduced only on Samsung devices, behavior on iOS/Huawei Honor/Nexus 4 is ok.

I am using Cocos Creator 1.7

[2017-12-28 10:20] kongsanwen opened #2223 "locPosition is null"
我是在我的项目里面发现的这个bug，在游戏场景开始播放动画，动画有回调事件，然后跳转到另一个场景，发现在浏览器控制台出现该异常，不一定会造成游戏卡死，接入bugly之后，发现上传了很多的这种异常，
建议在CCNode.js增加容错，
[code]

[2017-12-28 10:28] jareguo commented on #2223
请自行在回调中校验节点是否已经销毁。校验方法是 if (!node.isValid) return;
当然，更好的做法是切换场景时，主动停止动画或者取消回调。

[2017-12-28 18:02] sommerper commented on #2203
There's something going on when I trigger animations. I just had an issue which I can't explain.
1. All widgets are set up and working correctly.
2. In MyView.ts I add some code where I trigger an animation like so
[code]
3. Go back to editor and press play
4. In browser widgets are now disabled.
5. Go back to editor and see that widgets are all disabled.

I changed nothing in the editor except fo

[2017-12-29 01:50] jareguo commented on #2203
Please post a demo project for us. It should be a bug that the script executed in editor unexpectedly.

[2017-12-29 01:59] kongsanwen commented on #2223
额，完整的流程我没办法重现，我们测试也是在一种很极端的情况下重现出来，setposition函数应该不是游戏代码调用的，应该是引擎在执行编辑的动画clip的时候出现的，所以回调是不存在的，我只是根据堆栈里面的异常说这个地方可能有回调什么的。

[2017-12-29 02:45] jareguo commented on #2223
有可能是动画会控制子节点，播放到一半时，用户不小心把动画的子节点删掉引起的。
麻烦 @2youyou2 确认下这个问题是否存在，如果存在的话，似乎在 sample 的时候验证下 target.isValid 会好点。

[2018-01-01 10:19] blocksbarcelona commented on #2046
Hi, I have tested the fix and it works with Web builds and Android However there is a crash on iOS. I got this error:

[code]

As you can see this is related to tilemap. it crashes on .getTiles(). This works great in Android.
My XCode version is 9.0.1 (9A1004). Check initial posts for my OS (I haven't updated it).
Thanks!

[2018-01-02 02:13] jareguo commented on #2046
Thanks, we will fix it in next version.

[2018-01-02 02:43] knoxHuang commented on #2046
What do you want getTiles to do?
Because this API will be discarded to 2.0

[2018-01-02 04:41] blocksbarcelona commented on #2046
hi @knoxHuang I'm getting the tile Type of each tile using tiles.getTile(). Is there a better way to do it?

This is what Im doing:

[code]
Then I use the information in mapTile to get the tile type:

hex.type = this.mapTiles[(row * this.cols) + col]

what else would be discarded? Do you have info on what would be the API to access the tiles of a tilemap?

[2018-01-02 07:54] jareguo commented on #2046
Why don't you use `setTileGID` and `getTileGIDAt`?

[2018-01-02 08:05] blocksbarcelona commented on #2046
Because it is easy to get an array of all tiles with tiledLayer.getTiles(); and I didnt know I couldnt use it ( and that you will remove it).

I can change my code to work with setTileGID and getTileGIDAt, but still I want to know what API calls would be removed and what would be kept so I can adjust the rest of my code.

@knoxHuang said API would be discarded. There are many developers are workin

[2018-01-02 08:16] jareguo commented on #2046
ping @pandamicro

[2018-01-02 08:22] pandamicro commented on #2046
@jrosich sorry for the confusion, in the current version, this should be a bug.

It's not decided yet whether we are keeping or removing this API in v2.0, we are seeing some use cases that requires these APIs. That's also why we want to know the reason you are using these APIs

[2018-01-02 08:54] blocksbarcelona commented on #2046
@pandamicro ok, I understand.

This is my use case: I need to know the type of tile in order to trigger game events for that type of tile (type 1 = mountain, type 2 = forest, etc...). I also need access to the tiles to change opacity (explored, not explored...). See post 1 for game use.

I can build an array of tile types with getTileGIDAt, but this means I have to build the loop myself through th

[2018-01-02 08:59] pandamicro commented on #2046
@knoxHuang please ask @dumganhar for the help to bind getTiles / setTiles

[2018-01-02 12:04] HuMoran opened #2230 "coco-creator能不能用es7的语法？"
coco-creator能不能用es7的语法？试了下好像不行，有没有什么办法

[2018-01-02 16:37] jareguo commented on #2230
试试将 .js 文件重命名为 .ts

[2018-01-02 23:05] maximtsai opened #2232 "Cocos Creator Adds Unwanted Blur to Sprites 图片模糊"
In Cocos, I notice that my sprites are slightly blurry looking. This happens even if I have scale set to 1 and have size mode RAW for the sprite.
![image](https://user-images.githubusercontent.com/6758316/34503499-7cff0870-efcd-11e7-8d87-cf982d169799.png)

Creator version（版本号）: v1.6.1
Affected Platform （受影响的平台）: I am using Windows 10. Problem happens on web and simulator and may happen on other pl

[2018-01-03 01:29] pandamicro commented on #2232
Globally, `cc.view.enableAntiAlias(false)` will do the trick.
Otherwise, you need to use `texture.setAliasTexParameters();`

[2018-01-03 01:29] #2232 closed, assigned to nobody

[2018-01-04 03:04] dumganhar commented on #2046
Binds getTiles method：
https://github.com/cocos-creator/cocos2d-x-lite/pull/1053

It was missing since we did a big refactor of JSB in creator 1.7. Sorry for that.

[2018-01-04 08:40] blocksbarcelona commented on #2046
Thanks for the explanation! Happy to help.

[2018-01-04 11:12] sommerper commented on #2203
Ok, I'll see if I can get around to doing that.

[2018-01-08 14:11] sommerper opened #2243 "gulp build fails and cc.ENGINE_VERSION inconsistencies"
I have downloaded the 1.8 release of Cocos Creator for MacOS.
I need to do some changes in the engine code but `gulp build` fails

[code]

Gives me an error

[code]

So I clone the `https://github.com/cocos-creator/engine/` repository and switch to the `v1.8-release` branch.

No problems with `gulp build` so I copy the `bin` folder to `/Applications/CocosCreator.app/Contents/Resources/engine/bin`

[2018-01-08 14:57] jareguo commented on #2243
The engine version is not correct in CCBoot, but it doesn't matter.
The gulp error is just because you need to `npm update uglify-es` to latest version.

[2018-01-08 14:57] #2243 closed, assigned to nobody

[2018-01-08 15:20] sommerper commented on #2243
I did this in the engine folder
[code]
uglify-es is now at
`"uglify-es": "^3.3.5"`

When I run `gulp build` I still get the same error.

[2018-01-08 16:01] jareguo commented on #2243
Sorry, the bug not yet being fixed in the builtin 1.8.0. Please checkout the `v1.8-release` branch from git and retry.

[2018-01-09 02:40] cuongnmx commented on #2206
version 1.7, 1.7.2, 1.8.
You can use any tiled map and use above code.

[2018-01-09 02:48] jareguo commented on #2206
Which platform? Please submit a demo, our developers have no time to do that demo.

[2018-01-09 15:33] #2230 closed, assigned to nobody

[2018-01-10 04:08] cuongnmx commented on #2206
I have tested on official version 1.7.2 and the bug is fixed. At the moment I post the issue I tested with beta version. I close this issue.

[2018-01-10 04:08] #2206 closed, assigned to nobody

[2018-01-10 04:44] jareguo commented on #2206
Thanks!

[2018-01-10 19:40] rChaoz opened #2246 "Autocompletion not working - errors in creator.d.ts"
After doing all the steps in getting auto completion, I could not get VS Code to suggest anything when typing `cc.`. Steps for autcompletion are the ones mentioned in the docs (without the not mentioned but existing in the `Developer/VS Code Workflow` menu option - "Add TypeScrypt Config"):
* installed the cocos creator extension (which appears in VS Code extensions)
* generated VS Code API source

[2018-01-11 01:54] jareguo commented on #2246
Thanks for the reply, this will be fixed in 1.8.1 (or 1.7.3, when 1.8.1 is stable enough)

[2018-01-11 01:54] #2246 closed, assigned to nobody

[2018-01-12 08:24] alexanderzubarev opened #2252 "cc.Layout wrong width & height in scaled nodes"
I am using scaled labels inside layout, but layout does not correctly get the width of the label, it get it without scale factor.
For example i have label with scale 0.5 and width 50, cc.Layout should use width * scale (25) instead of 50.

The initial reason of using scaled labels is that on mobile phones with high DPI all labels looks blurry, so i multiply fontSize & liheHeight with scaleFactor (

[2018-01-12 08:40] jareguo commented on #2252
Thanks for the feedback, we should take scale of children into account.

[2018-01-12 08:44] alexanderzubarev commented on #2222
As a temporary solution, i patched ScrollView prototype with followings:

[code]

[2018-01-13 08:52] vonhezhou opened #2257 "1.7 iphoneX下调用cc.director.convertToGL()转换错误"
### Creator version?（版本号）
1.7

### Affected platform?（受影响的平台）

IOS11
### How to reproduce?（如何重现）
iPhone X下，调用cc.director.convertToGL(0， 100).y - cc.director.convertToGL(0， 0).y === 200,
而不是300.
iPhone X物理跟逻辑分辨率的比应该是3

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-01-13 18:49] zlpersonal commented on #2046
Regarding this opacity that is being mentioned, I find that node opacity property will not change the tilemap opacity. Is this intended or is it a bug?

[2018-01-15 06:15] dumganhar commented on #2257
你的理解有误，convertToGL 是把 用户设计分辨率下的 UI 坐标系（左上角为原点）的点转换为下的GL坐标系(左下角为原点)。就是输入输出都是基于设计分辨率的，convertToGL 把Y 做了 height - Y 的操作。
与iphoneX 本身的物理分辨率没关系。

cocos2d-x 里面已经不是ios系统的中的pixel -》point的关系，cocos2d-x是根据用户设置的“设计分辨率”而规划对应的point值。你如果需要获取物理尺寸，可以通过 cc.view.getFrameSize 拿到。

[2018-01-15 07:04] jareguo commented on #2257
这个 API 讲得也太不清楚了…… convertToUI 和 convertToGL 都只讲到了 point，没说到设计分辨率。麻烦更新一下 CCDirector.js 的注释

[2018-01-15 11:06] vonhezhou commented on #2257
原来是这个意思"就是输入输出都是基于设计分辨率的"，我一直都误解了，以为是从屏幕坐标转换进入cocos的坐标空间。哦，不对，中文文档就是这么写的啊

[2018-01-15 11:06] #2257 closed, assigned to dumganhar

[2018-01-18 03:38] chenpangzi opened #2270 "Socket.io在native上事件只能有一个监听者"
### Creator version?（版本号）
1.6.2

### Affected platform?（受影响的平台）
native

### How to reproduce?（如何重现）
io.on('disconnect', =>console.log('disconnect   1'));
io.on('disconnect', =>console.log('disconnect   2'));
只会打印 disconnect   2

[2018-01-18 03:45] jareguo commented on #2270
谢谢反馈，我们之后计划移除 socket.io 的原生实现。并且提供在 native 上使用重写过的使用纯 JavaScript 实现的 socket.io 的相关教程。
目前的 socket.io 原生实现都不再维护了，之前这个实现也不是我们做的，是网友提供的，我们没有人能
 hold 住这部分内容，非常抱歉。建议你尝试自己 debug 修复问题。

[2018-01-18 03:45] #2270 closed, assigned to nobody

[2018-01-20 15:33] Ronsku opened #2275 "Cc.sequence in cc.sequence duration bug + cc.moveBy() bug"
### Creator version?（版本号）1.8.0

### Affected platform?（受影响的平台）
Mac / Browser

### How to reproduce?（如何重现）
Example

Working example (notice: .repeat(1);
[code]
When you change to repeat(2) the durations of the cc.moveBy will actually be 0.5s instead of 1. If you do .repeat(4); the cc.moveBy duration will be 0.25… etc.

This means the animation will always run in 2 seconds and it does move it the am

[2018-01-22 08:14] GameKeys opened #2278 "怎么打包时修改jsb_polyfill文件"
### Creator version?（版本号） 1.4.0

### Affected platform?（受影响的平台）
 mac

### How to reproduce?（如何重现）
场景切换时触发这个问题的！可是代码里上下的确没有这个问题

### JavaScript output or error produced?（报错信息和调用栈）

01-22 16:03:19.197 19323 19356 D cocos2d-x debug info: jsb: ERROR: File /Workspace/GitHub/KL_DDZ/KL_DDZ/KL_DDZ/build/jsb-default/frameworks/cocos2d-x/cocos/scripting/js-bindings/proj.android/../auto/jsb_cocos2dx_auto.cpp

[2018-01-22 08:16] jareguo commented on #2278
请参考 http://docs.cocos.com/creator/manual/zh/advanced-topics/engine-customization.html#%E5%AE%9A%E5%88%B6-javascript-%E5%BC%95%E6%93%8E 进行定制

[2018-01-22 08:16] #2278 closed, assigned to nobody

[2018-01-22 08:27] GameKeys commented on #2278
我不能定做！能不能简单点告诉我再什么地方修改一个这个文件
build/jsb-default/frameworks/cocos2d-x/ 修改那个文件就可以了！多谢了，项目有点急

[2018-01-22 08:28] jareguo commented on #2278
不懂，你那个文件跟 jsb_polyfill 有什么关系？？你需要改什么？这是你传入参数有问题吧？

[2018-01-22 08:34] GameKeys commented on #2278
我查了一下所有调用的地方我都加了输出！那个地方就没有我调用setLocalZOrder 函数

[2018-01-22 08:36] jareguo commented on #2278
查一下调用栈吧，看看是怎么调用到 jsb_polyfill  的

[2018-01-22 08:38] GameKeys commented on #2278
zIndex: {
                    get: function() {
                        return this._localZOrder;
                    },
                    set: function(value) {
                        if (this._localZOrder !== value) {
                            console.warn('gfp-zindexA:'+value);
                            // value=(typeof(value)=='number'?value:0);
                            if(!value){

[2018-01-22 08:40] jareguo commented on #2278
这样看看不出来，麻烦提供一个 demo，用于呈现错误的可理解的 Creator 工程或资源，不依赖第三方工具或插件或者服务端。这个 demo 应该越小越好。

[2018-01-22 08:42] GameKeys commented on #2278
可以远程调试吗？

[2018-01-22 08:53] jareguo commented on #2278
抱歉公司不行

[2018-01-22 08:55] GameKeys commented on #2278
手机上可以输出堆栈信息吗？怎么输出？求帮助

[2018-01-22 09:05] jareguo commented on #2278
真机调试时，IDE 不是都能看到 log 吗？ log 里就有堆栈啦

[2018-01-22 19:33] skaraman opened #2279 "[Deprecation] GainNode.gain.value setter smoothing is deprecated"
[Deprecation] GainNode.gain.value setter smoothing is deprecated and will be removed in M64, around January 2018. Please use setTargetAtTime() instead if smoothing is needed. See https://www.chromestatus.com/features/5287995770929152 for more details.

WebAudioElement | @ | CCAudio.js:286

[2018-01-23 07:03] VisualSJ commented on #2279
Thank you for your feedback.

[2018-01-23 22:12] skaraman opened #2282 "No option to choose font face for EditBox"
Looks like the EditBox component does not have an option to choose a font face and/or family:

http://docs.cocos.com/creator/manual/zh/components/editbox.html
<img width="285" alt="screen shot 2018-01-23 at 2 11 00 pm" src="https://user-images.githubusercontent.com/2840020/35303570-445d8a66-0047-11e8-98af-624cd732430f.png">

Expectation - have option to insert font face file (.ttf, etc) or input f

[2018-01-24 01:47] knoxHuang commented on #2282
https://github.com/cocos-creator/fireball/issues/3308

[2018-01-27 18:32] chenpangzi opened #2286 "1.6.2下android，unschedule throw 1510错误"
### Creator version?（版本号）
1.6.2

### Affected platform?（受影响的平台）
Android

### How to reproduce?（如何重现）
unschedule(fn)这个fn之前没有被schedule过

另外报错的github链接下并没有这个errCode的解释
[报错链接](https://github.com/cocos-creator/engine/blob/master/EngineErrorMap.md#1510)

**1.4.2的android以及1.6.2的web是OK的**

[2018-01-27 18:33] chenpangzi commented on #2286
个人感觉这种情况下最多给个warn， 而不是直接打断程序的运行

[2018-01-28 13:56] yuriilychak opened #2287 "runAction and sequence bug"
### Creator version: 1.7.

### Affected platform: Native (Android, Windows, Simulator)

### How to reproduce:
MoveTo don't change position, callback work:
[code]
Work all:
[code]
On web both cases work correct.
### JavaScript output or error produced: No errors.

[2018-01-28 14:11] yuriilychak opened #2288 "cc.directors scheduleUpdate don't work on native"
### Creator version: 1.7.
### Affected platform: Native ( Android, Simulator, Windows)

### How to reproduce:
I have array with models (they contain only game data) that don't inherit from cc.Component. Sometimes I need to update some of them every frame.
I try to use cc.director.getScheduler().scheduleUpdate() for them it looks like:
[code]
It works on web, but on native nothing happen.
Now I use

[2018-01-29 06:07] pandamicro commented on #2288
The correct way to use scheduleUpdate is

[code]

I know the API doc is indicating a fourth update function, but it's not supported in native. After some discussion, we think it's not very clear to support `updateFunc` parameter in web neither, because you can always use `schedule` to achieve the same task.

Sorry for the confusion in API description and inconsistence, we will remove the `updateFu

[2018-01-29 08:15] yuriilychak commented on #2288
@pandamicro  Thanks for response. The problem is that update function that I wont to use in the simple class that don't extends from cc.Component. Is it any solution for add scheduler to it?
I use MVC for some parts of game, and sometimes some models (not all) need to update, for example, speed with acceleration. I have two ways to update them for loop in controller update in every frame or schedu

[2018-01-29 08:57] pandamicro commented on #2288
It's quite simple, you don't need to extend from cc.Component, you just need a update function definition. For example, the following code would work in your case.

[code]

[2018-01-29 09:43] yuriilychak commented on #2288
@pandamicro Thanks.

[2018-01-29 18:45] Ronsku opened #2292 "Particle System texture atlas improvement"
### Creator version?（版本号）
1.8.1

### Affected platform?（受影响的平台）
MacOS/Windows

### How to reproduce?（如何重现）
Forum post:
http://discuss.cocos2d-x.org/t/particle-systems-to-support-textures-from-an-image-atlas/40962

I know that Particle Systems doesn’t support textures from an image atlas, but this would be a very nice feature to have. Is there anything that makes this very difficult to do or ineffi

[2018-01-29 20:19] yuriilychak commented on #2292
Hello. Particles use another shader than sprites. Particle shader simpler than sprite cause don't need skew, slice9, atlas UV transformation and etc. It need's for create a lot of particles without FPS drop. Even if you merge them to one atlas with sprites, they can batch only with other particles (if cocos particle fragment shader support UV frames).

[2018-01-30 01:50] jareguo commented on #2292
@yuriilychak is right. But we will still support using SpriteFrame rather than Texture2D in v2.0, for API consistency.

[2018-01-30 01:50] #2292 closed, assigned to nobody

[2018-01-30 02:03] pandamicro commented on #2292
Yes, it's a nice feature, and already supported in v2.0, we have also implemented particle using GPU based simulation

[2018-01-30 09:06] Ronsku commented on #2292
Thanks for your response! Great work everyone!

[2018-01-31 05:56] yuriilychak opened #2295 "Auto-atlas issues"
### Creator version? 1.7.

### Affected platform? All

### How to reproduce?

-  Is it any way to use auto-atlas on debug (simulator or in browser). For example on simulator I have 900 draw-calls but when I build to device I have only 4. It's drop fps on simulator and I don't know is my code drop FPS. In this case simulator is useless;
- Can I load auto atlases (and prefabs) from server (for examp

[2018-01-31 09:48] jareguo commented on #2295
Sorry, the only way is using TexturePacker rather than auto-atlas.

No...

Yes, we will support compression, thanks.

[2018-01-31 11:53] yuriilychak commented on #2295
@jareguo Is prefabs can't be load from server too? Is it any way to do this (for example Unity use Asset bundles), or do it via workarounds, by parsing data from prefabs to json. If no, it means that every time when I add new graphic and animation (creating via cocos creator) to project and union them via prefabs, I increase build size, cause can't upload them at run-time.
Maybe I did not express

[2018-01-31 13:36] jareguo commented on #2295
AssetBundle is not yet implemented, but it will be landed in 2018.

Maybe I did not express myself clearly. I mean how to load content of DLC (or some content that dont need in first user level, but need when user reach 20) if it is in prefab.

Yes. There may be some kind of workarounds, but I am not sure how to do it without AssetBundle.

[2018-01-31 13:36] #2295 closed, assigned to nobody

[2018-02-01 19:56] KioriSun commented on #1841
@AlonsoEnrique @mchiasson , beyond Unity, on Linux, you can also try Defold(has great html5 export), or Phaser/Contruct 3 if you need a pure js engine.

Yoyo games says they might also release an editor for Linux in the future, they have just released for mac, so stay tuned.

[2018-02-01 21:12] ma1onso commented on #1841
@KioriSun more options in Linux it's much better, reopen this please maybe some developer can help with this task.

[2018-02-05 10:17] fusijie opened #2310 "讨论：Node Component 是否应该存在 color 及 opacity 属性 ？"

[2018-02-05 10:30] jareguo commented on #2310
我觉得是不需要的
作为参考，能否提供一下 Unreal / Godot / PlayCanvas 的相关情况？

[2018-02-05 10:55] fusijie commented on #2310
**Unreal**
![](http://img.blog.csdn.net/20160830154751112?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQv/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/Center)

**Godot**
![](https://i.ytimg.com/vi/pFHzsgqufOI/maxresdefault.jpg)

**PlayCanvas**
![](https://forum-files-playcanvas-com.s3-eu-west-1.amazonaws.com/original/1X/42c1ab0f6b4cf64010dce5b18afdbad68036a076.png)

Unity 也是。这几个编

[2018-02-05 15:34] #2310 closed, assigned to nobody

[2018-02-05 15:34] jareguo commented on #2310
Issue moved to [cocos-creator/fireball #6924](https://github.com/cocos-creator/fireball/issues/6924) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-05 15:35] jareguo commented on #2310
以后内部 issue 都建在 fireball 哈

[2018-02-05 16:36] chenpangzi opened #2313 "ToggleGroup 文档404了"
http://docs.cocos.com/creator/manual/zh/api/classes/toggleGroup.html
404 error
 并且[ToggleGroup组件参考](http://docs.cocos.com/creator/manual/zh/components/toggleGroup.html)提示我被新的组件取代，但是新组件的链接一样是404

[ToggleContainer组件](http://docs.cocos.com/creator/manual/zh/components/ToggleContainer.md)
404 error

[2018-02-06 01:52] jareguo commented on #2313
春节后我们会统一更新 API 链接哈

[2018-02-06 01:52] #2313 closed, assigned to nobody

[2018-02-06 02:08] chenpangzi commented on #2313
嗯 ， 好， 那有可以应急的旧版吗？

[2018-02-06 02:24] jareguo commented on #2313
![image](https://user-images.githubusercontent.com/1503156/35838772-e6c26de0-0b27-11e8-9d02-246f9ec36ec2.png)

[2018-02-06 02:32] #2179 closed, assigned to jareguo

[2018-02-07 09:59] sercand opened #2317 "Missing asset-db package"
Hello,
I don't know if this is the correct place to submit the issue. It seems [asset-db](https://www.npmjs.com/package/asset-db) package on npm is not compatible with assets of cocos-creator v1.8. Also, [old repo](https://github.com/fireball-x/asset-db) is removed; therefore I am unable to work with new `.meta` files on created by cocos-creator.
Is there any plan to re-publish the recent version

[2018-02-07 10:01] jareguo commented on #2317
Why do you need to use asset-db outside of CocosCreator?

[2018-02-07 10:26] sercand commented on #2317
@jareguo I am going to create a nodejs package to build games created with CocosCreator. In my case, I want to build the game on each commit and release it to s3. We use gitlab and our CI is docker based so each job runs as docker container. Also, CocosCreator does not support Linux officially. I have rebuilt [CocosCreator](https://hub.docker.com/r/sercand/cocos-creator/) to run on Linux but it is

[2018-02-07 14:49] jareguo commented on #2317
You can not build game by using asset-db. asset-db is just resources importers, not a real builder.
You should build the game on Mac, can Docker run on Mac?

[2018-02-08 09:16] sercand commented on #2317
@jareguo I know I can't build game by just using asset-db, It's for determining which assets to include on builds. CocosCreator generates a JSON file in output res folder and settings.js file to map asset ids and paths.
Docker and all other container technologies are only for Linux.

[2018-02-08 09:19] jareguo commented on #2317
It is determined by Creator, not asset-db.

Well, I suggest using Mac, Linux support is not in the plans.

[2018-02-08 09:20] jareguo commented on #2317
I will close this because asset-db is not needed.

[2018-02-08 09:20] #2317 closed, assigned to nobody

[2018-02-08 17:05] pandamicro commented on #2317
Additional info, asset-db is actually our private repo and not yet open sourced

[2018-02-08 20:57] sercand commented on #2317
@pandamicro asset-db open sourced before under fireball-x and there are some [forks](https://github.com/iHaD/asset-db) still lives on GitHub. When fireball become cocos-creator it was removed.

[2018-02-09 01:47] pandamicro commented on #2317
You are right, we upgraded a bit since then, the current version will not be open sourced in short term, hope you understand

[2018-02-13 16:51] zynga-jpetersen opened #2339 "CC_PREVIEW doesnt match documentation, should be off when game is built"
Documentation says:
http://www.cocos2d-x.org/docs/creator-api/en/modules/GLOBAL-MACROS.html#ccpreview
"CC_PREVIEW - Preview in browser or simulator."

Code says:
https://github.com/cocos-creator/engine/blob/11c68ca83049ce28775783298451cd480027491d/predefine.js#L128
"defineMacro('CC_PREVIEW', !CC_EDITOR);"

That would seem to read that the constant is true so long as you arent in the editor? And fr

[2018-02-14 09:57] LazyCushion opened #2340 "分支1.8 engineVersion = '1.6.0';"
这里漏改了我可以理解, 但是 Creator随包的engine的这个值没有错误, 难道你们发布新版本不是从github上同步的么?

[2018-02-17 10:13] dream2023 opened #2342 "component.schedule 设定repeat，会执行n+1次"
version：1.8.1
platform：Mac
代码：
let interval = 5; // 时间间隔
let repeat = 3; // 重复次数
let delay = 2; // 开始延时
this.schedule(()=>{
     console.log('我执行了!');
}, interval, repeat, delay);

console信息：
eruda.min.js:2 1.8.1
eruda.min.js:2 我执行了!
3 eruda.min.js:2 我执行了!

从上面可以看出，先显示了一次（我执行了），然后又显示了3次，共4次

[2018-02-17 15:16] jareguo commented on #2339
Good question. Actually, the code only takes effect when running in the editor or previewing in browsers. So it behaves correctly.
When the game is built, CC_PREVIEW will be hard coded as false by UglifyJS, you can test it in your project.

[2018-02-17 15:16] #2339 closed, assigned to nobody

[2018-02-17 15:20] jareguo commented on #2340
目前发布新版本的时候，版本号会在本地替换，不会提交到 GitHub。这是不对的，过完年后我们会把版本号提交到 GitHub，谢谢反馈。

[2018-02-17 15:20] #2340 closed, assigned to nobody

[2018-02-18 01:44] LazyCushion opened #2343 "creator v1.8.1 的微信UserAgent判断错误"
### Creator version?（版本号）
v1.8.1

### Affected platform?（受影响的平台）

微信
### How to reproduce?（如何重现）
cc.sys.browserType

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-02-22 01:17] pandamicro commented on #2343
什么手机系统下？判断出的 browserType 是什么？

[2018-02-22 07:32] jareguo commented on #15
有经过一段时间的开发，还是决定保留原样。
接口啰嗦点，等于是在不断强调 Component 与 Node 的区别，这样对没有智能提示的代码来说，可读性会好点。对不习惯用 ECS 的新手也会友好一些。

[2018-02-22 07:32] #15 closed

[2018-02-22 07:33] jareguo commented on #15
Issue moved to [cocos-creator/fireball #6970](https://github.com/cocos-creator/fireball/issues/6970) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-23 06:50] blocksbarcelona opened #2350 "[BUG] Low FPS with bigger Canvas - 1.8.2rc2"
As stated in this thread: http://discuss.cocos2d-x.org/t/fps-performace-issues/41547

### Creator version?（版本号）

1.8.2rc2 but its also happening with earlier versions 1.6+ I believe.
No FPS issues on 1.5.2

### Affected platform?（受影响的平台）

OSX - High Sierra. Executing from editor and VSCode. It is happening on Chrome, Safari and Firefox.

This is happening on WebGL only. Canvas seems to work fine.

[2018-02-24 02:20] jareguo commented on #2350
A possible reason: http://discuss.cocos2d-x.org/t/fps-performace-issues/41547/16?u=jare

[2018-02-24 06:59] #2279 closed, assigned to VisualSJ

[2018-02-24 09:41] pandamicro commented on #2350
Hi, @jrosich thanks for noticing and keep testing this issue, I reviewed all the differences and found the reason.

## Direct reason

Here is the thing, v1.5 was using antialias option to create 3d context, it's set to false on desktop

https://github.com/cocos-creator/engine/blob/v1.5/cocos2d/core/CCGame.js#L676

But since then, we notice the performance issue on mobile devices, so we removed thi

[2018-02-24 10:31] jareguo commented on #974
Sorry not officially support Linux/Docker. Here is a possible resolution: http://discuss.cocos2d-x.org/t/successfully-run-cocos-creator-on-linux-and-released-it-as-docker-image/40755

[2018-02-24 10:31] #974 closed, assigned to nobody

[2018-02-24 10:31] #2350 closed, assigned to pandamicro

[2018-02-24 12:42] blocksbarcelona commented on #2350
I have implemented myself this fix (https://github.com/cocos-creator/engine/pull/2357/files) in my 1.8.2rc2 and loaded the test project.

Im still having performance issues on Chrome, Safari and Firefox.

See chrome screenshot:

![screenshot 2018-02-24 13 39 49](https://user-images.githubusercontent.com/24223792/36630546-851ecb48-1968-11e8-90f1-a210b605f30c.png)

My chrome flags config:
![screensh

[2018-02-24 14:17] jareguo commented on #2350
Is it a scrollview specific issue? How about other scenes?

[2018-02-24 14:42] blocksbarcelona commented on #2350
It is not a scrollview specific issue. See scene EventInMask.fire from examples-cases-master resized to 1600x900 (design resolution - canvas).
It has 55-60fps with 1.5.2
![screenshot 2018-02-24 15 37 02](https://user-images.githubusercontent.com/24223792/36631487-14275610-1979-11e8-964c-41367f9f5e41.png)

And 25-30 fps with 1.8.2rc2 and the fix (https://github.com/cocos-creator/engine/pull/2357/fi

[2018-02-24 15:41] pandamicro commented on #2350
It's strange, on my chrome, 1.8.2 project with the fix have returned to 60fps, have you build the engine after changing CCGame.js source file ? If not, you need to do gulp build, or you can modify directly engine/bin/cocos2d-js-preview.js

[2018-02-24 15:48] blocksbarcelona commented on #2350
Yeah, forgot to build, sorry! It will probably work. :) I will check it now. Thanks!
Edit: it works!!! Thank you guys!! You fixed it during the weekend! You guys never stop working? @pandamicro @jareguo Great job!! :D 👍

[2018-02-25 09:47] pandamicro commented on #2350
haha, actually it was a working day after spring festival vacations

[2018-02-26 03:02] jareguo opened #2358 "将部分动态对象显式声明为字典模式"
@jareguo commented on [Fri Jul 21 2017](https://github.com/cocos-creator/fireball/issues/6089)

参考 PR github.com/Microsoft/TypeScript/pull/10270

主要针对一次性使用的动态添加属性的对象，或者会进行 delete 的对象，或者数量庞大需要节约内存的零碎对象进行优化

---

@jareguo commented on [Fri Jul 21 2017](https://github.com/cocos-creator/fireball/issues/6089#issuecomment-316960209)

优化后，部分 hasOwnProperty 判断可同时去掉

---

@pandamicro commented on [Fri Jul

[2018-02-26 03:05] jareguo opened #2359 "禁止用户在 deactivate 节点时改变层级"
@jareguo commented on [Wed Feb 21 2018](https://github.com/cocos-creator/fireball/issues/6963)

https://github.com/cocos-creator/example-cases/pull/418

有问题的逻辑在 https://github.com/cocos-creator/engine/blob/3a28f21eb9dcb536d667cafaba8999cd9a7258d9/cocos2d/core/utils/base-node.js#L1024
为了保持引擎简单，这里只检测 _disableChildComps 调用后 _children.length 是否有改变。一旦改变则报错 "Cannot change hierarchy while activating or d

[2018-02-26 06:37] jareguo commented on #2359
提交到 master 分支

[2018-02-26 06:41] pandamicro opened #2362 "整理 Cocos Creator 1.x to 2.0 API 变更列表"
Cocos Creator 2.0 engine 的开发重写了底层的渲染框架，整理了引擎的 API，这涉及到很多公有和私有 API 的变更。所以需要整理给用户，让用户更好得了解升级过程中的成本，这个任务产出的变更列表将作为升级文档的重要部分发布给用户。

这个任务的目标分为以下几个

1. 整理所有公有 API 的变更，模块，类，函数的增删；deprecation；函数名／参数／返回值的变更。
2. 扫描 engine 源码中的 API 注释格式是否有错误或遗漏。如果能补齐中文就更好了。
3. 私有 API 目前也有一部分用户使用，以模块／类为单位整理出我们所删除的 1.x 的私有 API，以便用户知悉。

@CocosAss  这项工作很琐碎，需要耐心和细心，不过也可以帮助你更快熟悉引擎的底层实现有哪些部分，各个模块之间如何协同工作，如果你有耐心，也建议阅读关键部分的引擎源码。

[2018-02-26 06:43] ColinCollins commented on #2362
收到,我尽快

[2018-02-26 06:47] pandamicro commented on #2362
take your time

[2018-02-26 06:49] ColinCollins commented on #2362
Panda大哥~,2.0和现版本的Api我应该去哪里查询啊?

[2018-02-26 06:56] pandamicro commented on #2362
目前版本：master 分支或 v1.8 / v1.9 分支
2.0：next 分支

所有的 API 文档都是从以上分支的源码中生成的，生成出来的文档 next 分支已经发你，目前分支的可以看[在线 API 文档](http://docs.cocos.com/creator/api/zh/)，顺便 @jareguo 也给他发一份离线的吧

[2018-02-26 07:08] jareguo commented on #2362
当前的离线版本在 https://github.com/cocos-creator/creator-api-docs ，clone 或者 download 下来即可

[2018-02-26 07:10] ColinCollins commented on #2362
收到

[2018-02-28 09:07] jareguo opened #2379 "升级 CircleCI 到 2.0"
circleci 配置文件位于 circle.yml
请参考这篇指南将该文件升级到 2.0 https://circleci.com/docs/2.0/config-translation/
升级后的配置请提交到 v1.8 分支

[2018-02-28 12:05] unalakunal opened #2383 "Layout component does not ignore non-active children while in children resize mode"
### Creator version?
v1.8.0

### How to reproduce?
While using NodePool, say there exist 10 children for a parent but 7 of them has `active == false` and `activeInHierarchy == false`, so 3 of them are active at a time. During the resize, the layout component calculates according to all of the children of the corresponding parent node, but it should only care about the active ones instead.

[2018-02-28 15:41] jareguo commented on #2383
What layout mode you are using?

[2018-03-01 03:30] jareguo opened #2384 "整理 DebugInfos 工作流"
1. 引擎的报错信息必须保留所有历史纪录。
2. 无用的 id 从 DebugInfos.js 去掉。
3. 把工作流整合到 engine/gulpfile.js（build,build-dev）

[2018-03-01 03:31] jareguo opened #2385 "uglify 后，global_defs 在控制台不生效"

[2018-03-01 06:05] pandamicro opened #2386 "fnt 解析无法接受字符串格式的数字"
反馈于 http://forum.cocos.com/t/rect-width-exceeds-maximum-margin/56868

fnt 文件如果数字以字符串形式保存，读取之后在做加法时，会变成字符串拼接，进而导致 uv 错误，需要在 fnt parser 中对字符串读取时做 parseInt 或 parseFloat 操作。

有问题的 fnt 文件：

http://forum.cocos.com/uploads/default/original/3X/3/b/3b474c5926d4b32bed93246e5fc28d631cb99b0b.zip

[2018-03-01 08:06] unalakunal commented on #2383
It's horizontal mode, I suspect that it's because `_doLayoutHorizontally` uses `children.length` instead of `activeChildCount` in layout component.

https://github.com/cocos-creator/engine/blob/cbe73519d75dd684229600c633b1076df7d77ab4/cocos2d/core/components/CCLayout.js#L526

[2018-03-01 08:35] jareguo commented on #2383
Thanks, we will check it later.

[2018-03-02 13:13] #2359 closed, assigned to ColinCollins

[2018-03-04 14:57] jareguo opened #2394 "利用封闭类优化 getComponent 性能"
@jareguo commented on [Thu Jan 19 2017](https://github.com/cocos-creator/fireball/issues/5111)

目前 getComponent(ctor) 时，一个主要开销是判断每个组件是否继承自 ctor。
但如果我们能预先知道 ctor 是否包含子类，那么就能在 ctor 不含子类时，直接快速的比较 comp.constructor === ctor，从而优化性能。
通常用户 getComponent 时都会传入最终的类型，因此这个优化应该可以提升 90% 情况下的组件性能。

由于我们所有组件都必须基于 CCClass 实现，因此我们完全可以自动维护每个类的 sealed 属性，来标记它是否包含子类。于是用户又得到了一次免费的性能提升。

[2018-03-04 14:58] jareguo opened #2395 "考虑给 widget 加入 align once window resized"
@jareguo commented on [Fri Oct 14 2016](https://github.com/cocos-creator/fireball/issues/4407)

来自 http://discuss.cocos2d-x.org/t/enter-fullscreen-event-force-widget-reposition/32709
可以把 align once 改成枚举，Align: ALWAYS, Align: ONLY_ONCE, Align: ONCE_WINDOW_RESIZED
@nantas

---

@nantas commented on [Tue Jan 03 2017](https://github.com/cocos-creator/fireball/issues/4407#issuecomment-270049029)

同意

[2018-03-05 03:24] #2358 closed, assigned to PPpro

[2018-03-05 03:49] PPpro commented on #2386
引擎部分已经修复了这个问题，pr 已经提交
编辑器部分由于没有访问权限，所以没办法修复

[2018-03-07 09:15] jareguo opened #2409 "处理小游戏环境中音频的内存泄漏"
@pandamicro commented on [Mon Jan 29 2018](https://github.com/cocos-creator/fireball/issues/6888)

反馈来自于子龙

https://mp.weixin.qq.com/debug/wxagame/dev/tutorial/ability/audio.html?t=2018115

audio downloader 中的 Audio 对象需要根据微信 API 进行释放处理

---

@knoxHuang commented on [Tue Jan 30 2018](https://github.com/cocos-creator/fireball/issues/6888#issuecomment-361462933)

这里是因为在每次播放的时候，会通过 document.createElem

[2018-03-08 17:09] #2395 closed, assigned to PPpro

[2018-03-15 11:10] Machaelnee opened #2443 "7002"
### Creator version?（版本号）

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-03-15 14:34] jareguo commented on #2443
？

[2018-03-15 14:34] #2443 closed, assigned to nobody

[2018-03-16 09:16] PPpro commented on #2409
小游戏那边并没有实现 setVolume， 只是简单的volume 属性赋值，可以做调节音量的适配
不过一设置音量他就会停止播放
要重新调用play()，，不过这样会重新播放

[2018-03-16 11:20] rajatk001 commented on #2232
Thanks bro, You solved my problem.

[2018-03-19 02:54] #2409 closed, assigned to PPpro

[2018-03-20 07:12] zkd8907 opened #2455 "Cocos Creator构建的web-mobile在360浏览器中提示：Error 8301"
### Creator version?（版本号）
Cocos Creator 1.6.1

### Affected platform?（受影响的平台）

Web。发布平台：Web Mobile，渲染模式：自动，未勾选AnySDK、Eruda、调试模式以及Source Maps。
浏览器方面，仅在360安全浏览器上重现（版本号：9.1.0.410，内核版本：55.0.2883.87）

### How to reproduce?（如何重现）
始终重现

### JavaScript output or error produced?（报错信息和调用栈）

[code]

### Demo project?（demo 项目）

暂无。

这里只想确认一下Cocos Engine抛出的Error 8301具体是什么原因？在错误信息的markdown文档中并没有关于这个错误信息的说明。谢谢。

[2018-03-20 07:28] zkd8907 commented on #2455
使用调试模式似乎发现了问题的原因，抱歉。

[2018-03-20 07:28] #2455 closed, assigned to nobody

[2018-03-20 09:33] jareguo opened #2456 "微信小游戏不支持TTF字体"
@heyanfei commented on [Tue Mar 20 2018](https://github.com/cocos-creator/fireball/issues/7089)

微信小游戏不支持TTF字体，选择TTF字体后，构建出来的微信平台也还是使用系统默认的字体；

[2018-03-21 01:28] maximtsai opened #2458 "Inconsistent sprite position depending on different uses of cc.loader.loadRes"
Problem: In-game images appear different depending on whether cc.loader.loadRes(url, type, callback) was used or cc.loader.loadRes(url, callback) where we don't specify the type.

Creator version?（版本号）
v1.7.2

### Affected platform?（受影响的平台）
Tested and confirmed to happen on Simulator, Windows and Maac

### How to reproduce?（如何重现）
Load then create an image with cc.loader.loadRes(url, type, callback

[2018-03-21 09:58] jareguo commented on #2384
[code]

[code]

[2018-03-21 16:20] #2394 closed, assigned to PPpro

[2018-03-22 07:45] #2386 closed, assigned to PPpro

[2018-03-23 10:24] ColinCollins commented on #2456
看了一下，现在不支持本地的自定义字体，官网上最好的答案是 必须要求 自定义字体是存放在网上的，并且允许跨域操作。

[2018-03-23 10:25] jareguo commented on #2456
不是吧？这是为什么呀

[2018-03-23 14:03] pandamicro commented on #2456
@CocosAss 分别验证一下本地和远程的是不是可以通过 wx.loadFont 来加载

[2018-03-24 07:07] acvrp-lab opened #2471 "scrollview err 3804"
### Creator version?（版本号）
1.9

### Affected platform?（受影响的平台）
all?

### How to reproduce?（如何重现）
any scrollview while your project doesnt include Layout module

### JavaScript output or error produced?（报错信息和调用栈）
cocos2d-js-min.js:1 Error 3804, please go to https://github.com/cocos-creator/engine/blob/master/EngineErrorMap.md#3804 to see details.
that is, getComponent: Type must be non-nil

(anonymo

[2018-03-24 08:29] JetLua commented on #1811
3Q

[2018-03-24 08:29] #1811 closed, assigned to 2youyou2

[2018-03-24 10:13] jareguo commented on #2471
Fixed, thanks!

[2018-03-24 10:13] #2471 closed, assigned to nobody

[2018-03-25 12:58] jareguo commented on #2362
issue 先关掉，2.0 发布前仍需要定期更新。

[2018-03-25 12:58] #2362 closed, assigned to ColinCollins

[2018-03-28 20:36] acvrp-lab opened #2478 "negative time cause action to freeze"
### Creator version?（版本号）
1.9

### Affected platform?（受影响的平台）
web

### How to reproduce?（如何重现）
并不是故意写了一个负的时间，
某个moveby根据移动距离来计算用时，偶尔距离为0时会卡住
打印了一下时间是负的e-17。。
因为都是向下移动所以距离没有取绝对值

[2018-03-29 12:45] LiangTiger opened #2483 "报错求助 BUG need help"
### Creator version?（版本号）
1.81

### Affected platform?（受影响的平台）
所有

### How to reproduce?（如何重现）
有时发生碰撞的时侯

### JavaScript output or error produced?（报错信息和调用栈）
1.8.1
utils.js:5 Uncaught TypeError: Cannot read property 'parent' of null
    at getWorldRotation (utils.js:5)
    at cc_RigidBody.__init (CCRigidBody.js:906)
    at CCClass.update (CCPhysicsManager.js:192)
    at TheClass.update (CCScheduler

[2018-03-29 13:41] LiangTiger commented on #2483
最新测试。碰撞第三次出现上述错误

[2018-03-31 09:44] GameKeys opened #2488 "引擎1.8.1 android8.0 editbox 输入行数串行"
版本是1.8.1
android 8.0上遇到的这个问题，editbox 输入行数串行，求解决

遇到问题的机器是 小米6和小米max2 都是android8.0系统

[2018-03-31 16:36] jareguo commented on #2488
什么叫串行？能截个图吗？

[2018-04-01 14:41] chenpangzi opened #2489 "1.8.2 android 7 下会闪退"
必现
测试了两台手机 小米5s和华为mate8都会闪退，看逻辑应该是加载某一个场景的时候闪退。并不是一进游戏就闪退的

### Creator version?（版本号）
1.8.2

### Affected platform?（受影响的平台）
android   两台有问题的都是android7

### How to reproduce?（如何重现）
暂时不清楚

### JavaScript output or error produced?（报错信息和调用栈）
04-01 22:39:59.448  1541  1620 I ActivityManager: Displayed packageName/org.cocos2dx.javascript.AppActivity: +3s255ms
04-01 22:39:59.449  1541  1620 I Timeline: T

[2018-04-02 03:52] acrazing opened #2490 "能把cocos creator开源吗?"
RT. 用creator, 感觉好多东西都变成了黑盒, 并且有些觉得不合理的地方想改都改不了.
比如 main.js, 如果自定义模板, 现在必须在各个模板目录下面放一个同样的文件(以及shares里面的其它文件), 如果想改这个文件的话, 就得把所有模板目录下面的内容都改了. 并且这个模板应该是用了ejs之类的工具来编译, 不是一个标准的js文件, 如果我想修改, 都没有办法去弄.

[2018-04-02 04:37] jareguo commented on #2490
谢谢反馈，我们将来会尽量开源的！

[2018-04-02 04:37] #2490 closed, assigned to nobody

[2018-04-02 05:19] GameKeys commented on #2488
我在论坛提了，你们有贴图  http://forum.cocos.com/t/1-8-1-android8-0-editbox/58174

[2018-04-02 07:51] qingwabote opened #2491 "SkeletonAnimation would read json file again after its skeletonData did in JSB"
cocos creator 1.8 & jsb:
We use cc.loader to load SkeletonData, json file would be read during this time.
But then, _SGSkeletonAnimation's constructor would read the json file again at Skeleton._createSgNode.
So the file would be read twice in JSB.

[2018-04-02 07:53] jareguo commented on #2491
Yes, this is a problem. We fixed it in 2.0, thanks for the reply.

[2018-04-02 07:53] #2491 closed, assigned to nobody

[2018-04-02 12:38] acrazing opened #2492 "有支持 Label Shadow的打算么?"
我才发现现在的Label是没有Shadow的, 只有个Outline, 但是这个不够用啊. 而原本的cocos2d是支持的, creator为啥把它去掉了?

[2018-04-03 01:42] jareguo commented on #2492
Creator 是一个新的引擎，没有去掉什么功能，只是没完整实现 -x 的所有功能而已。这个需求 2.1 之后会考虑支持的。

[2018-04-03 01:42] #2492 closed, assigned to nobody

[2018-04-03 09:26] acrazing opened #2496 "Error: write callback calls multiple times"
构建时发生的, 请问一下该如何解决?

错误日志:

[code]

[2018-04-03 09:31] jareguo commented on #2496
请问用的是什么版本？能提供一个示例项目吗？

[2018-04-03 09:33] acrazing commented on #2496
1.9.0, 项目内容太多了, 似乎提供不了

[2018-04-03 09:34] jareguo commented on #2496
那我们也看不出是什么问题啊…… 有点像是压缩脚本所用的 uglify 的 bug，可能是特殊的 js 语法触发的。

[2018-04-03 09:42] drelaptop opened #2497 "改进建议 保存 isAlignTop/Left... 信息到 fire 文件"
## Widget 组件导出到 Cocos2d-x 的需求

### Creator version?（版本号）

1.8.1

根据 fire 文件无法得到 Top, Left 选框是否被选中

![creator-widget](https://user-images.githubusercontent.com/26329291/38241851-d7f19e02-3765-11e8-92e4-1baff408c7f7.png)

### How to reproduce?（如何重现）

1. 新建场景
1. 增加 UI 节点，为 UI 节点增加 WIdget 组件
1. 保存场景，查看场景的 fire 文件 cc.Widget
1. 根据这些信息，无法判断, Widget 组件，Top，Left 这样的方向选框是否被选中

[code]
建议保存 6 个表示选框是否被选中的布尔值属性

[2018-04-03 09:51] jareguo commented on #2497
现在是保存成了 _alignFlags，
[code]

[2018-04-03 09:51] #2497 closed, assigned to nobody

[2018-04-03 09:53] drelaptop commented on #2497
thanks

[2018-04-07 06:49] acrazing commented on #2496
应该是sourcemap的问题, 我去掉选项就好了, 但是我没法debug, 不知道是什么原因导致的.

[2018-04-07 06:55] acrazing opened #2505 "需求: Editbox添加Margin选项"
即输入框的文字相对于背景图片/颜色在水平方向的偏移, 因为很多情况下背景图片都是带部分区域不放文字的.
我看了下js的代码, 还可以改, 但是c++的代码实现太复杂, 我没windows/mac上的开发经验, 没这技术.

[2018-04-07 11:23] jareguo commented on #2505
@knoxHuang 请评估下这个需求好不好做，需不需要做，以什么形式做？

[2018-04-08 06:52] mooooooi opened #2508 "Branch Next compiled，I got error ：cc is not defined."
### Creator version?（版本号）
2.0 alpha 5

### Affected platform?（受影响的平台）

估计都有
### How to reproduce?（如何重现）
想提前使用 2.0版本，根据了README操作且没有报错

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-04-08 14:02] jareguo commented on #2496
嗯…… 先关掉吧，应该是特殊项目引起的，没有 demo 的话我们查不了，抱歉哈

[2018-04-08 14:02] #2496 closed, assigned to nobody

[2018-04-09 02:39] #2456 closed, assigned to ColinCollins

[2018-04-10 06:32] h87kg opened #2516 "无网络时 socketio 导致 app crash"
E/URLConnection exception( 4034): java.net.UnknownHostException: Unable to resolve host "test.xx": No address associated with hostname
E/URLConnection exception( 4034): java.lang.NullPointerException: Attempt to invoke virtual method 'int java.io.InputStream.read(byte[], int, int)' on a null object reference
E/URLConnection exception( 4034): java.net.UnknownHostException: Unable to resolve host "t

[2018-04-11 14:42] inuheaven opened #2523 "webgl模式下canvas无法透明，cc.macro.ENABLE_TRANSPARENT_CANVAS 无效"
### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）

Web webgl模式

### How to reproduce?（如何重现）
必现。直接修改
cc.macro.ENABLE_TRANSPARENT_CANVAS = 1;

cc.rendererCanvas._clearColor = cc.color(0,0,0,0);
cc.rendererCanvas._clearFillStyle = "rgb(0,0,0,0)";

cc.rendererWebGL._clearColor = cc.color(0,0,0,0);
cc.director.setClearColor = cc.color(0,0,0,0);

canvas渲染模式下可以透明  webgl模式下不能透明

### JavaScri

[2018-04-13 02:24] jareguo opened #2530 "微信小游戏不支持TTF字体"
@heyanfei commented on [Tue Mar 20 2018](https://github.com/cocos-creator/fireball/issues/7089)

微信小游戏不支持TTF字体，选择TTF字体后，构建出来的微信平台也还是使用系统默认的字体；

---

@heyanfei commented on [Fri Apr 13 2018](https://github.com/cocos-creator/fireball/issues/7089#issuecomment-380999967)

在1.9.1-rc1版本上验证：微信小游戏上还是不支持TTF字体的，详见附件截图；
![ttf](https://user-images.githubusercontent.com/14326991/38713363-606677fe-3f03-11e8-8be

[2018-04-13 11:18] jareguo commented on #2530
警告一下用户这个问题仅限于调试环境，真机是没问题的

[2018-04-13 12:09] #2530 closed, assigned to ColinCollins

[2018-04-13 15:01] #2384 closed, assigned to PPpro

[2018-04-15 10:47] edmand46 commented on #2282
pls make it.

[2018-04-16 13:07] GameKeys opened #2546 "creator 1.8.1 苹果 提审被拒 4.3问题 就解决"
Guideline 4.3 - Design
This app duplicates the content and functionality of other apps submitted by you or another developer to the App Store, which is considered a form of spam.

Apps that simply duplicate content or functionality create clutter, diminish the overall experience for the end user, and reduce the ability of developers to market their apps.

The next submission of this app may requir

[2018-04-16 13:08] GameKeys commented on #2488
求解决？

[2018-04-16 13:18] jareguo commented on #2546
这个是你的应用被识别为马甲包了。这个应该你们想办法去优化才对，可以尝试淘宝找找有没有第三方提供的变脸服务。

[2018-04-16 13:18] #2546 closed, assigned to nobody

[2018-04-17 02:56] HuMoran opened #2548 "微信小游戏音效BUG？"
### Creator version：1.9
### Affected platform：huawei mate 10 微信小游戏
我们的游戏分为背景音乐和其他玩家操作音效。
背景音乐先调用```cc.loader.loadRes```获取音频url，然后在调用微信小游戏的api接口播放
[code]
玩家操作音效直接用的```cc.audioEngine.play```播放，发现调用```cc.audioEngine.play```会改变前面的```bgm.src ```，在其他机型（包括IOS、Android）上面，虽然改变了```bgm.src ```，但是音效能正常播放，在```huawei mate 10```上面，音效就会混乱，玩家的本次操作，播放的不是本次操作的音效，而是上一轮的音效。
另外能不能提供一下cocos的```weapp-adapter```源码地址？

[2018-04-17 03:29] maxwzg opened #2549 "微信小游戏执行: new cc.RenderTexture(width, height); 必报错!"
### Creator version?（版本号）
1.9

### Affected platform?（受影响的平台）

微信小游戏
### How to reproduce?（如何重现）
在微信小程序里, 只要执行:
var renderTexture = new cc.RenderTexture(width, height);
就会报错.
### JavaScript output or error produced?（报错信息和调用栈）

Uncaught TypeError: Failed to execute 'texImage2D' on 'WebGLRenderingContext': No function was found that matched the signature provided.
at CCClass.190.game.once.p.setImage

[2018-04-17 03:38] jareguo commented on #2548
应该是 adapter 的问题，https://github.com/cocos-creator-packages/weapp-adapter
过几天就会发布 1.9.1 到时你可以试试

[2018-04-17 03:53] maxwzg commented on #2549
跟踪代码, 是gl.texImage2D调用时候出错
if (
sys.platform === sys.WECHAT_GAME ||
sys.platform === sys.QQ_PLAY ||
img instanceof HTMLCanvasElement ||
img instanceof HTMLImageElement ||
img instanceof HTMLVideoElement
) {
gl.texImage2D(
gl.TEXTURE_2D,
0,
glFmt.internalFormat,
glFmt.format,
glFmt.pixelType,
img
);
}

[2018-04-17 12:51] dotingcode opened #2555 "cocos2d-js 人物换装问题"
你好 想问下 人物换装 有什么好的实现方式吗
想问小 spine动画 skin 是什么概念

[2018-04-18 10:33] gyt0412 opened #2560 "命令行发布项目，项目界面打开后不会自动继续，需要手动打开构建界面并点击构建按钮"
命令行发布项目，项目界面打开后不会自动继续，需要手动打开构建界面并点击构建按钮
比如执行：D:/CocosCreator/CocosCreator.exe --path "E:/cocos/first/start_project"
命令行执行到以下这个地方：
===== Initializing Editor =====
arguments:
  --path
  E:/cocos/first/start_project

[3408] Load ~/.CocosCreator/settings.json
[3408] checking language setting...
[3408] Language: zh
[3408] protocol editor-framework registered
[3408] protocol app registered
[3408] protoc

[2018-04-18 15:40] jareguo commented on #2560
请参考 http://docs.cocos.com/creator/manual/zh/publish/publish-in-command-line.html ，使用正确的构建参数

[2018-04-19 01:37] #2379 closed, assigned to ColinCollins

[2018-04-19 01:38] #2288 closed, assigned to nobody

[2018-04-19 01:41] jareguo commented on #2458
When you load the left circle, you got a cc.SpriteFrame. But when you load the right circle, you got a cc.Texture2D, not spriteData. You should always specify the type if you have a same named texture.

[2018-04-19 01:41] #2458 closed, assigned to nobody

[2018-04-19 01:43] jareguo commented on #2252
@CocosAss 请看下这个问题，在编辑器中测试，提交到 next 分支。

[2018-04-19 01:46] jareguo commented on #2089
@VisualSJ 第二点满足了吗？也就是说如果同时复制相互关联的 ABC 三个资源，会产生 DEF 三个新资源，并且三个新资源仍然相互关联。

[2018-04-19 08:08] maxwzg commented on #2549
此问题在论坛是已有人给出解决办法:
http://forum.cocos.com/t/cc-rendertexture-create-gl-teximage2d/58801/4

[2018-04-19 09:36] HuMoran commented on #2548
测试了应该是wx音乐播放有bug，建的空项目，只用wx播放声音，如果关了上一个声音马上播放下一个声音资源，就会出现bug

[2018-04-19 09:36] #2548 closed, assigned to nobody

[2018-04-19 10:08] jareguo commented on #2548
也可以试试 1.9.1
win：http://cocos2d-x.org/filedown/CocosCreator_v1.9.1_win
mac：http://cocos2d-x.org/filedown/CocosCreator_v1.9.1_mac

[2018-04-19 14:24] acrazing opened #2567 "简化创建单色纹理的方法"
creator里面有这个组件, 但是我发现创建后的节点和普通sprite没有区别, 请问如何在脚本里面创建呢?

[code]

[2018-04-20 08:21] gyt0412 commented on #2560
谢谢回复，现在可以了。原因就是我省略了那些参数，我以为那些参数是可以省略的，因为文档中有一句：这里会使用 Creator 中构建面板当前的参数来作为默认构建参数，如果指定了其他参数，则会使用指定的参数来覆盖默认参数。
希望文档可以描述清楚一点以免误导吧。
两次感谢！

[2018-04-20 08:23] jareguo commented on #2560
麻烦 @xunyi0 按照 gyt0412 反馈的部分更新下文档，避免误导用户。

[2018-04-22 16:23] jareguo commented on #2287
Thanks, fixed in 1.8.2

[2018-04-22 16:23] #2287 closed, assigned to nobody

[2018-04-22 16:25] jareguo commented on #2567
抱歉目前不提供这样的创建方式。建议采用复制、粘贴组件的方式实现。最好是把单色 SpriteFrame 手动添加一份到项目中，便于合图。

[2018-04-22 16:26] #2067 closed, assigned to nobody

[2018-04-22 16:58] jareguo commented on #2252
Fixed, it will be landed on v2.0

[2018-04-22 16:58] #2252 closed, assigned to ColinCollins

[2018-04-22 17:03] jareguo commented on #615
Hi, you can editor the default code in `CocosCreator.app/Contents/Resources/static/template/new-script.js`

[2018-04-22 17:03] #615 closed, assigned to nobody

[2018-04-23 08:52] #2560 closed, assigned to xunyi0

[2018-04-24 04:25] limichange commented on #2555
你应该去论坛问 http://forum.cocos.com/

[2018-04-24 06:26] cpple commented on #2044
我想这个问题依然存在，但我并不认为我的修复是可行的，还请官方操心下！

[2018-04-24 06:27] cpple commented on #2044
我尝试在1.9.2，仍然出现这个问题 @knoxHuang

[2018-04-24 14:14] nathanielalexislo opened #2591 "window.WebGLRenderingContext is not defined in u4-core of UC Browser"
https://github.com/cocos-creator/engine/blob/0cbdd1119d7457aadf9b9ccb733660face778652/cocos2d/core/platform/CCSys.js#L902

Browsers may NOT expose the 'WebGLRenderingContext' interface to the DOM scripting API, so this judgement should NOT be a necessary but a sufficient？

[2018-04-24 14:21] nathanielalexislo opened #2592 "web-mobile版是否支持webgl的条件判断在UC浏览器上不成立！"
https://github.com/cocos-creator/engine/blob/0cbdd1119d7457aadf9b9ccb733660face778652/cocos2d/core/platform/CCSys.js#L902

issue(1)# Browsers may NOT expose the '**WebGLRenderingContext**' interface to the DOM scripting API, so this judgement should NOT be a necessary but a sufficient .

https://github.com/cocos-creator/engine/blob/0cbdd1119d7457aadf9b9ccb733660face778652/cocos2d/core/platform/CCS

[2018-04-24 14:22] #2591 closed, assigned to nobody

[2018-04-24 14:44] jareguo commented on #2275
Thanks, fixed in #2581

[2018-04-24 14:44] #2275 closed, assigned to ColinCollins

[2018-04-26 08:02] jareguo commented on #2549
谢谢反馈，已修复

[2018-04-26 08:02] #2549 closed, assigned to pandamicro, knoxHuang

[2018-04-26 08:32] dotingcode commented on #2555
多谢

[2018-04-26 08:43] jareguo commented on #2555
cocos2d-js 已经不维护了，抱歉哈，去社区问问吧。

[2018-04-26 08:43] #2555 closed, assigned to nobody

[2018-04-26 09:26] gz65555 opened #2604 "MotionStreak 拖影位置错误，当节点 rotation 发生改变。"
使用MotionStreak时，当物体的rotation发生改变时， 拖影位置会出现错误。

### Creator version?（版本号）
1.9.0

### How to reproduce?（如何重现）
使用MotionStreak范例中，改变MotionStreak的rotation值即可重现。

[2018-04-26 09:37] jareguo commented on #2604
请 @ColinCollins 验证一下这个问题

[2018-04-26 13:22] acrazing opened #2605 "请问如何指定TypeScript版本?"
我发现内置的ts版本太低了, 好像才2.4, 我想升级到ts 2.8, 需要怎么操作? 有可用的方案么?

[2018-04-26 13:24] jareguo commented on #2605
你是指这个文件吗？  https://github.com/cocos-creator/engine/blob/master/polyfill/typescript.js

[2018-04-26 14:13] acrazing commented on #2605
不是, 编译器的版本, 因为它现在处理不了我用的一些新语法, 然后编译出的quick-script里面的js有语法错误

[2018-04-26 16:21] jareguo commented on #2605
目前没有办法，请等待编辑器进行升级。

[2018-04-26 16:25] acrazing commented on #2605
sigh

[2018-04-26 16:25] #2605 closed, assigned to jareguo

[2018-04-26 16:27] acrazing commented on #2605
另外你说的那个文件没啥用, tsconfig有个选项, importHelpers, 可以通过引入tslib包来防止重复定义公共函数

[2018-04-27 01:58] jareguo commented on #2605
呃，主要是现在 ts 是每个文件单独编译的，所以引入 tslib 这一步好像作用不大。

[2018-04-27 02:40] limichange opened #2607 "微信开发平台中audio销毁导致的报错"
http://forum.cocos.com/t/cc1-9-1-audiosource/59163/2

### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）
微信开发工具

### JavaScript output or error produced?（报错信息和调用栈）
https://github.com/cocos-creator/engine/blob/1ae826d8636d46e4c2356c07eb4ee6aecb996d50/cocos2d/audio/CCAudio.js#L159-L163

[code]

[code]

[2018-04-27 03:12] acrazing commented on #2605
这是一个标准的dependency呀, 它会在js文件里面插入一条 tslib = require('tslib'), 这个包是需要手动安装的, 然后就跟处理标准的npm包一样处理就可以了, 比如我的一个ts文件:

[code]

编译后是这样子:

[code]

[2018-04-27 03:14] jareguo commented on #2605
明白了，好的谢谢！

[2018-04-27 03:16] jareguo commented on #2607
fixed in https://github.com/cocos-creator/engine/pull/2596/files

[2018-04-27 03:16] #2607 closed, assigned to nobody

[2018-04-27 03:17] acrazing commented on #2605
如果可以的话希望能在下个版本里面加一个项目配置指定tsc或者typescript包的位置, 这样就可以使用自定的编译器版本了

[2018-04-27 06:27] ColinCollins commented on #2604
确认过了，emmm，MotionStreak 没有进行正确的对应的旋转。。。

[2018-04-27 09:57] caochao opened #2609 "cocos creator 1.9.1发布微信小游戏子域的问题"
cocos creator 1.9.1发布微信小游戏， 构建发布栏输入subdomain

这将会在wechatgame包game.json中写入一条"subContext":"subdomain"，这时我把子域代码目录放到wechatgame包中对应目录。微信开发者工具会提示找不到sub.js。

然而，微信文档关系链 [关系链数据使用指南](https://developers.weixin.qq.com/minigame/dev/tutorial/open-ability/open-data.html) 中提到添加到game.json中的应该是openDataContext

[2018-04-27 09:59] caochao commented on #2609
我这里的子域代码没用cocos creator 1.9.1发布的子域工程，而是按照官方文档手写的js

[2018-04-27 13:30] limichange opened #2610 "微信开发者工具中报错"
### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）
微信开发工具

### How to reproduce?（如何重现）
在微信开发工具里运行一段时间后 执行loadScene。web平台没有问题。

### JavaScript output or error produced?（报错信息和调用栈）
[code]

[code]

[code]

[2018-04-27 13:39] jareguo commented on #2610
谢谢反馈，已修复

[2018-04-27 13:39] #2610 closed, assigned to nobody

[2018-04-27 13:40] limichange commented on #2609
我用发布的子域工程的功能，倒是正常的。你可以发布一下看看，有什么区别。

[2018-04-27 13:47] jareguo commented on #2609
官方文档也说了要发布为子域工程喔

[2018-04-27 14:37] limichange commented on #2610
@jareguo 辛苦辛苦

[2018-04-28 01:49] gz65555 commented on #2604
请问一下大概是什么时候能解决😂

[2018-04-28 02:23] caochao commented on #2609
@limichange 区别就是如果用creator发布子域工程到主域wechatgame包，要包含sub.js。但如果我按官方文档用openDataContext，就要要求子域目录包含index.js

[2018-04-28 02:28] jareguo commented on #2609
麻烦 @knoxHuang 跟进下这个问题，微信似乎调整了 game.json 中的子域字段。新旧字段加载的 js 不是同一个。如果统一用 openDataContext 是否又会有旧版 SDK 不兼容的问题？

[2018-04-28 04:32] ColinCollins commented on #2604
额。。。最快这个下午咯，但是就算我解决了也得是下个版本才更新哇。。。。

[2018-04-28 10:00] Holajulie opened #2615 "ios运行小游戏时拖出控制中心导致报错"
### Creator version?（版本号）
v1.8.0

### Affected platform?（受影响的平台）

ios
### How to reproduce?（如何重现）
麻将游戏过程中，拖出控制中心（就是调音量、亮度等的那个组件），如果在控制中心显示时收到socket消息触发动画，动画被封装成了promise，关闭控制中心后，动画显示但是控制台报错并且catch不到异常，wx.onError也监听不到错误。当控制台被拖出时，只有一个动画的时候偶尔不会报错，报错时程序能接着往下运行，多个动画相继被触发时，报错且程序运行不下去了。主要是拖出控制中心无法监听到，没办法找到对应措施。找不到具体哪里报的错，偶尔可以接着运行，偶尔不行，偶尔又不报错，catch不到。
不知道开发人员在一些demo中有没有遇见过类似情况。

### JavaScript output or er

[2018-04-28 10:04] jareguo commented on #2615
抱歉我们也不太清楚，这不是上层引擎能控制的，麻烦咨询下微信官方技术支持，或者在论坛里问一下吧。

[2018-04-28 10:04] #2615 closed, assigned to nobody

[2018-04-28 11:51] limichange commented on #2609
确实是改了
[code]

[2018-04-28 15:44] jareguo commented on #2604
这个问题在 2.0 已经修复啦，由于改动太大，1.x 不会再同步这个修改啦。这边其实没有太大关系，只要旋转的是 Motion Streak 的子节点，也就是那个 gold，就没关系啦！

[2018-04-28 15:44] #2604 closed, assigned to ColinCollins

[2018-05-02 13:11] limichange opened #2624 "关于引擎性能的问题"
### 问题
目前在做一个跑酷游戏时发现一个问题，游戏本身元素很少，但运动的时候有明显的卡顿。在微信小程序（iPhone6）上卡顿明显。

### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）
微信小程序

### How to reproduce?（如何重现）
相关链接里有项目代码

### Demo project?（demo 项目）
https://github.com/cocos-laboratory/Parkour
http://forum.cocos.com/t/topic/58805/32

[2018-05-02 13:15] limichange commented on #2624
可以提供更加详尽的源代码

[2018-05-03 00:55] limichange opened #2625 "节点active设为false后，资源没有销毁"
### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）

微信小游戏，web没有问题
### How to reproduce?（如何重现）
暂时没有办法重现

### JavaScript output or error produced?（报错信息和调用栈）

[code]
[code]

[code]
### Demo project?（demo 项目）

暂时没有复现

[2018-05-03 01:13] limichange commented on #2625
不知道是不是和这个有关 https://github.com/cocos-creator/engine/pull/2611/。

做了这个修改后，就会报这个issue的错误
[code]

[2018-05-03 01:32] limichange commented on #2625
原因找到了

https://github.com/cocos-laboratory/engine/commit/28665f39e0ccbc839160a5ee3b720674426c10c0

[2018-05-03 01:38] limichange commented on #2625
所有default_sprite_splash的节点都会有这个问题。

[2018-05-03 02:28] knoxHuang commented on #2609
如果是用来 subContext 字段的话，就需要 sub.js，反之使用了 openDataContext 的话就需要 index.js，目前 creator 使用的是 subContext 所以如果要自己写的代码，需要把入口脚本命名为 sub.js

[2018-05-03 03:07] knoxHuang commented on #2488
抱歉，怎么久才回复，能否给一下有问题的 demo 呢？
QA 用官方范例的 editbox 测试没复现

[2018-05-03 04:46] jareguo commented on #2609
@knoxHuang  最好还是改用微信文档里最新的写法吧

[2018-05-03 04:58] jareguo commented on #2625
抱歉没看出原因所在。能提供一个 demo 吗？
从你的修复来看，应该是 spriteFrame._rect 为空引起的。spriteFrame._rect 什么情况下会为空呢？
麻烦 @ColinCollins 跟进下这个问题

[2018-05-03 04:59] ColinCollins commented on #2625
收到。。。。

[2018-05-03 05:04] jareguo commented on #2624
性能会在 2.0 有很大幅度提升，1.x 系列已经不再重复进行帧率方面的优化了。请关注我们后续的发布情况，预计 5 月就会有 Preview 版本。

[2018-05-03 05:04] #2624 closed, assigned to nobody

[2018-05-03 05:38] limichange commented on #2625
我直接用单色组件就会有这个问题。
![image](https://user-images.githubusercontent.com/1947344/39561260-30751788-4ed7-11e8-85e5-2cfe1326f6c1.png)
![image](https://user-images.githubusercontent.com/1947344/39561266-36af2bde-4ed7-11e8-90e7-33a6f48e7364.png)

我现在把默认的图片换成自己的了，之后就没有这个问题了。

[2018-05-03 05:39] limichange commented on #2609
微信这个肯定做兼容了，最好按最新的来，不然之后哪个版本微信可能就废弃了。

[2018-05-03 05:40] limichange commented on #2624
🤣 现在已经5月了

[2018-05-03 05:55] knoxHuang commented on #2609
嗯，会改为最新的 openDataContext 来

[2018-05-03 07:41] ColinCollins commented on #2625
@limichange  我使用了 splash 默认图片 微信平台和Android 都没有出现报错啊，能否提供一下你的报错demo呢
引擎1.9.1
Android: 系统版本6.0.1
平台 1.02

[2018-05-03 12:40] limichange commented on #2625
我试着写一个demo试试。但我觉得那段代码还是需要check一下变量的。

[2018-05-04 02:52] acrazing opened #2629 "有支持pushScene/popScene的打算么?"
感觉有些时候这个功能还是挺重要, 比如在游戏大厅里面通过弹窗进入游戏房间, 然后从房间返回的时候产品逻辑应该是希望这个弹窗保持调起的.

[2018-05-04 02:59] jareguo commented on #2629
之后有打算提供类似机制，不过短期优先级还不高，抱歉。

[2018-05-04 02:59] #2629 closed, assigned to nobody

[2018-05-04 03:29] Youngchangoon opened #2630 "When I build to Web Mobile, All sounds can't play"
### Creator version?（版本号）
v1.9.1

### Affected platform?（受影响的平台）

Build machine: Mac Editor
Platform: Web Mobile

### How to reproduce?（如何重现）
play preview or play after build.

### JavaScript output or error produced?（报错信息和调用栈）

[code]

[code]

### Demo project?（demo 项目）
 This error found any project..

[2018-05-04 03:33] jareguo commented on #2630
not a bug of the engine. Please play sound during the callback of input event. See https://goo.gl/7K7WLu for details.

[2018-05-04 03:33] #2630 closed, assigned to nobody

[2018-05-04 09:32] GameKeys opened #2632 "cc.game.EVENT_HIDE | cc.game.EVENT_SHOW 问题"
### Creator version?（版本号）1.8.1

### Affected platform?（受影响的平台）android

### How to reproduce?（如何重现）
切换前后头都没有问题，但在游戏中微信分享，游戏暂停后没有几秒就切入前台了，很诡异，求解决？

### JavaScript output or error produced?（报错信息和调用栈）

下面调用日子输出
cc.game.EVENT_HIDE ...切入后台
cc.game.EVENT_SHOW ...切回来 | ....切入前台

![6a794c9f-718f-44ec-802b-87813d9996bb](https://user-images.githubusercontent.com/6950818/39621343-0239a7c2-4fc1-11e8-9e80-fc524

[2018-05-04 09:37] GameKeys commented on #2488
android 低版本没有发现，小米6,android8.0系统就有这个问题，
输入框不需小于屏幕的一半就会出现这个问题

图片是输入前和输入后的内容？
![9953efc3-0e96-46d1-9700-d9f57f62ffdf](https://user-images.githubusercontent.com/6950818/39621483-840733a0-4fc1-11e8-9603-3353274e0daa.png)

[2018-05-04 09:58] GameKeys commented on #2488
这个是你们的案例，我在小米6上运行是这样显示的看下面的图，求解决？

![ac16d1fd-334e-433b-9bc4-8a6d36ee0f09](https://user-images.githubusercontent.com/6950818/39622386-9ac70c48-4fc4-11e8-892f-4d3a64ed6966.png)
![b38b6ed4-6e87-4454-bb74-2a856a42ffc1](https://user-images.githubusercontent.com/6950818/39622388-9b169eac-4fc4-11e8-85de-1cc82fe2ac41.png)
![dad99a08-bc15-4997-9e0f-59873e5b70b9](https://user-images.githubusercontent.com/6

[2018-05-08 07:00] ColinCollins commented on #2625
请问您的 demo 写出来了嘛？

[2018-05-08 07:16] #2609 closed, assigned to knoxHuang

[2018-05-08 07:16] #2383 closed, assigned to knoxHuang

[2018-05-08 14:06] limichange commented on #2625
目前复现不出来

[2018-05-08 14:10] jareguo commented on #2625
抱歉为了便于管理，我们会先关闭这个 issue。如果之后有其它信息，欢迎继续反馈！

[2018-05-08 14:10] #2625 closed, assigned to ColinCollins

[2018-05-10 03:49] knoxHuang commented on #2488
@heyanfei QA 组有空验证一下，谢谢

[2018-05-11 22:54] Ronsku opened #2671 "Roadmap"
Hi,

A month or two back Cocos Creator roadmap disappeared completely. It was a very pleasant way to see in what way Cocos Creator is heading and what features or fixes you could expect to see soon. I still see the link in the readme.md file in this project: [Road Map](https://trello.com/b/JWVRRxMG/cocos-creator-roadmap).

I tried to ask on the forums about it, but got no response. [(The forum thr

[2018-05-12 09:06] jareguo commented on #2671
Sorry, we hide the roadmap because it's out of date. We don't have any new roadmap at this moment. We will publish a new roadmap after we adjusted human resources. (We will have an independent product group to take charge of CocosCreator development.)

[2018-05-12 09:06] #2671 closed, assigned to nobody

[2018-05-12 11:09] acrazing opened #2673 "所有asset/Script下的ts文件都会被打包?"
我新建了一个空文件, 写了一行代码:

[code]

结果构建发布后, 这个文件被打包进来了:

![image](https://user-images.githubusercontent.com/10029810/39956667-c606953c-5617-11e8-9610-b326cf15bfa0.png)

能做到只把打包的Scene以及resources里面的prefab依赖的ts/js打包进来么? 这样可以把单元测试的文件直接放asset/Script里面, 并且减少不必要的依赖引入.

[2018-05-12 13:07] jareguo commented on #2673
目前需要手动声明。在脚本里使用 if (CC_EDITOR) { ... } 保住所有代码，这样发布后这些代码会被剔除。之后开放脚本构建的代码后就可以让用户自定义。

[2018-05-12 13:07] #2673 closed, assigned to nobody

[2018-05-12 14:20] acrazing commented on #2673
唉, 感觉好多功能现在都没接口呢, 可控程度太低了.

我觉得可以考虑下用`jsx`去构建节点树

[2018-05-13 09:49] jareguo opened #2674 "[1.9.1]微信开发者工具ES6转换ES5项在不同Android手机上报错"
@Ywenwen9 commented on [Wed Apr 18 2018](https://github.com/cocos-creator/fireball/issues/7176)

1.打开example工程，选择微信平台，构建，在微信开发者平台上运行后，勾选“ES6 转 ES5”，勾选“不校验安全域名，TLS 版本以及 HTTPS 证书”——>使用小米4微信进入小程序有报错
2.打开子域工程，选择微信平台，构建，在微信开发者平台上运行后，不勾选“ES6 转 ES5””——>使用Oppo A37微信进入小程序有报错
（注：在其他helloworld，空白工程上不会出现以上问题）
![log](https://user-images.githubusercontent.com/30791406/38923576-7e78273c-432d-11e8-8d69-b23f9fabb4