[2018-05-13 13:36] Voyager2718 commented on #2609
想问一下我在我的主域里面的 `start()` 写了
[code]
同时在主域的
[code]
放入了一个单色的 Sprite 节点。

在子域写了
[code]

想问一下为什么启动的时候子域没有任何 log 输出呢？
——————————
还有为什么我下载了[官方教程项目文件](https://github.com/cocos-creator/creator-docs/blob/master/en/publish/publish-wechatgame-sub-domain.md)看，里面无论是主域还是子域都没有把 launch.js 添加到 Canvas 节点里面去。这是正常的吗？

[2018-05-13 14:02] limichange commented on #2609
应该是
[code]

[2018-05-13 14:19] Voyager2718 commented on #2609
主域是 `postMessage()`，子域是 `onMessage()` 应该没错阿。

[2018-05-15 07:17] ColinCollins commented on #2674
1. example-case 中调用的 socketio.js 文件引用 webSocket 对象在 es6 转 es5 的时候会在微信开发工具上丢失，因此问题一在 example-case 中远程服务器重现的方式似乎是不成立的。
![image](https://user-images.githubusercontent.com/35832931/40041607-31e0fdb6-5851-11e8-94bc-573785c0d1bf.png)
2. 问题二的内容没有重现出来..很有可能是微信那边自己更新了..
微信开发平台 : 1.02
cocosCreator : 1.9.1
手机: 小米note 4
微信: 6.6.5

[2018-05-15 08:10] Ywenwen9 commented on #2674
与家辉沟通了一下：
问题一，意思要处理成直接跳过报错；
问题二，尝试复现，我这也没出现报错了。

[2018-05-16 03:15] #2674 closed, assigned to ColinCollins

[2018-05-16 06:05] jareguo commented on #2592
麻烦 @ColinCollins  参考这个帖子 http://forum.cocos.com/t/h5-uc-webgl/60121?u=jare 进行完善，在 next 分支上修改。

[2018-05-22 06:42] zhaoqinghai opened #2715 "cocos creator 不同路径下场景切换"
当我使用loadscene时 我通过文件名去引用时 是无法找到那个场景的 当我用db://assets/path/filename时也是行不通的 我应该怎么使用loadscenen呢

[2018-05-22 06:59] #2715 closed, assigned to nobody

[2018-05-22 07:02] jareguo commented on #2715
？？？

[2018-05-22 07:31] zhaoqinghai commented on #2715
不好意思 其实是我早上弄错了 导致的问题 其实是没问题的

[2018-05-22 07:39] jareguo commented on #2715
好滴

[2018-05-23 02:09] jareguo opened #2720 "使用 squash and merge 管理 PR"
@pandamicro commented on [Tue May 22 2018](https://github.com/cocos-creator/fireball/issues/7341)

现在 -x 已经实行了 squash and merge 来管理 PR，我也考虑在 engine 中实行同样的方案，关于 squash and merge 和 merge 的区别，可以看下面几篇文章

https://blog.github.com/2016-04-01-squash-your-commits/
https://help.github.com/articles/about-pull-request-merges/
https://www.zhihu.com/question/61283395

对我们来说，squash and merge 的好处主要是：

1. 仓库管理者不用关

[2018-05-23 09:02] VisualSJ opened #2723 "节点的 localZOrder 被修改了的时候，无法修改节点顺序"
场景内的节点的 _localZOrder 如果被修改，无论怎么修改，都会被 sortAllChildren 方法重置回原来的顺序。

[2018-05-23 09:07] jareguo commented on #2723
怎么可能会被重置呢

[2018-05-23 09:17] VisualSJ commented on #2723
照理来说不应该被修改的额。
查看了下，scene 数据从 assetLibrary 读取出来的时候，节点的 zIndex 就已经被修改了。

先关闭 issue 吧，问题应该是找到哪里修改了这个 zIndex。

[2018-05-23 09:17] #2723 closed, assigned to nobody

[2018-05-24 04:14] zqxiaojin opened #2726 "Fixture对象销毁导致的异常"
### Creator version?（版本号）
1.7.1

### Affected platform?（受影响的平台）

iOS

### How to reproduce?（如何重现）
构造物理碰撞小球，触发jsc的 GC

### JavaScript output or error produced?（报错信息和调用栈）

详情见 http://forum.cocos.com/t/undefined-is-not-an-object-evaluating-colliderb-body/60184/12?u=lucky_06

问题有2个：
一是 _disableChildComps 这个函数，在删除component的时候，body有可能比其对应的 Collider 更早被destroy，这就导致Collider 在destroy的时候，没法获取到body对象从而执行 Des

[2018-05-24 05:49] zqxiaojin commented on #2726
#2727  该pull request 修正了上面的问题一

[2018-05-24 08:36] dumganhar commented on #2726
Fixed at https://github.com/cocos-creator/cocos2d-x-lite/pull/1264

[2018-05-25 06:57] mooooooi opened #2739 "TouchMove在没有移动情况下会回调"
### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）

仅测试了Simulator Web
### How to reproduce?（如何重现）
1.创建HelloWorld工程,
2.onLoad(){
      this.node.on('touchmove',function(event){
              cc.log(event.getDelta())
      }
}
3.运行，点击一下屏幕（不移动），会打印出cc.Vec2 ({ x: 0 , y: 0})

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-05-25 08:08] tdouguo opened #2740 "微信小游戏(主域+子域)开发遇到问题"
### Creator version?（版本号）
Cocos Creator v1.9.1

### Affected platform?（受影响的平台）

Android 华为
- STF-AL10,安卓版本 8.0
- MT7-TL00C01B571 安卓版本 6.0

### How to reproduce?（如何重现）
通过好友分享的链接进入微信小游戏 子域项目
使用Cocos默认字体 在微信子域中 获取好友排行榜数据之后 绘制lable 赋值

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-05-25 08:09] tdouguo commented on #2740
![huawei1](https://user-images.githubusercontent.com/22972345/40533638-faa885fc-6035-11e8-8824-35c6b26b8b13.jpg)
![huaweirongyao9](https://user-images.githubusercontent.com/22972345/40533640-fb07e150-6035-11e8-9cc6-6ca68de64cd9.jpg)
![Uploading system_huaweirongyao9.jpg…]()
![Uploading systemhuawei1.png…]()

[2018-05-25 08:44] pandamicro commented on #2740
微信 6.6.7 会彻底修复这个问题

[2018-05-25 08:44] #2740 closed, assigned to nobody

[2018-05-25 10:03] #2592 closed, assigned to ColinCollins

[2018-05-25 10:08] jareguo commented on #2150
没有答复，issue 关闭

[2018-05-25 10:08] #2150 closed, assigned to dumganhar

[2018-05-25 10:08] #2726 closed, assigned to nobody

[2018-05-25 10:41] jareguo opened #2744 "混淆 AnySDK 相关字段"
反馈来自 http://forum.cocos.com/t/anysdk/60415

[2018-05-26 03:25] osanir commented on #1841
A lot of developers using GNU/Linux distros and maybe somewhere there are developers to build and test Cocos Creator for on linux. This request opened on 2017 but now 2018. Maybe it's time to reopen.

[2018-05-28 08:58] tdouguo opened #2745 "关于声音的暂停恢复功能(急！！！ 急 ！！！ 急！！！) 跪谢"
### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）

微信小游戏
### How to reproduce?（如何重现）
CCAudioSource
模块中  背景声音 循环播放 然后调用 pause 成功暂停  恢复调用resume 第一次恢复不成功
调用暂停 调用恢复 这之后就OK了  然后 停止
在播放 之后暂停恢复都OK
继续测试之后发现在微信小游戏中
CCAudioSource.mute 无作用
CCAudioSource.volume 无作用
CCAudioSource.resume 第一次恢复时候调用2次就OJ  以后都正常
[NewProject.zip](https://github.com/cocos-creator/engine/files/2044539/NewProject.zip)

#

[2018-05-28 09:12] gz65555 opened #2746 "构建发布时的第三方库会报错"
在构建发布时，若使用了browserify打包的第三方库会提示报错

[code]

但在开发环境下并没有问题。

可能是构建时代码检查无法识别browserify打包js库的方式，若很难修改构建发布的代码检查方式，是否可以提供忽略错误强行发布的功能？

### Creator version?（版本号）

1.9.1

### Affected platform?（受影响的平台）

All

### How to reproduce?（如何重现）

使用browserify打包后的单个js文件，再构建发布项目时出现

[2018-05-28 09:17] jareguo commented on #2746
请使用插件脚本来引入第三方库 http://docs.cocos.com/creator/manual/zh/scripting/plugin-scripts.html

[2018-05-28 09:17] #2746 closed, assigned to nobody

[2018-05-28 09:47] tdouguo commented on #2745
微信：vvvgjm

[2018-05-28 11:12] PPpro commented on #2745
resume问题可以参考这个pr
https://github.com/cocos-creator/engine/commit/9029fe04470d229b0950b2e60df377a0d1aa6d8b

[2018-05-29 07:11] #2745 closed, assigned to PPpro

[2018-05-31 06:18] frenb opened #2775 "you need to use "--ephemeral" instead of "--instantapp" on pre-Oreo android devices"
### Creator version?（版本号）
1.11-alpha.4

### Affected platform?（受影响的平台）

Mac Editor, Android build
### How to reproduce?（如何重现）
Connect to an Android 7 (nougat) device, and click the Play button on the build dialog.

### JavaScript output or error produced?（报错信息和调用栈）

Error message below. Root cause is that you need to run a different command on pre-Oreo android devices: adb install-multiple -r -t -

[2018-05-31 06:31] frenb opened #2776 "APK size unchanged no matter what I do in refactor step"
### Creator version?（版本号）
1.11-alpha.4

### Affected platform?（受影响的平台）

Mac Editor
### How to reproduce?（如何重现）
Go through record and refactor steps, keep all textures selected, and build and compile. Rename APK in /Users/bfrenkel/Documents/InstantGames/Slash/android-instant/publish/android

Go through record and refactor steps, unselect all textures, and build and compile. Compare the APKs. The AP

[2018-05-31 06:56] frenb opened #2778 "Operations column does not do anything. There should be an option to select an action to perform on a record, such as reduce image quality"
### Creator version?（版本号）
1.11-alpha.4

### Affected platform?（受影响的平台）

Mac editor
### How to reproduce?（如何重现）
There is no option to select an operation.

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-05-31 06:58] frenb opened #2779 "Assets are not sorted by size in refactor step"
### Creator version?（版本号）
1.11-alpha.4

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）
Record and then go to refactor UI. Open any of the asset groups such as "Textures." Assets are not ordered by size.

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-05-31 07:02] frenb opened #2780 "Asset groups such as "Texture" are not sorted in descending order"
### Creator version?（版本号）
1.11-alpha.4

### Affected platform?（受影响的平台）

Mac editor
### How to reproduce?（如何重现）
Record and then go to refactor step. Asset groups are not sorted. The "Texture" group should be at the top because size of all the textures combined are larger then all the asset groups.

Asset groups should be sorted by total size in descending order.

### JavaScript output or error prod

[2018-05-31 07:09] frenb commented on #2780
Please associate with Google Play Instant milestone. I don't have the option to assign it to a milestone.

[2018-05-31 07:09] frenb opened #2781 "test issue"
### Creator version?（版本号）

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-05-31 07:09] #2781 closed, assigned to nobody

[2018-05-31 07:10] frenb commented on #2779
Please associate with Google Play Instant milestone. I don't have the option to assign it to a milestone.

[2018-05-31 07:10] frenb commented on #2778
Please associate with Google Play Instant milestone. I don't have the option to assign it to a milestone.

[2018-05-31 07:10] frenb commented on #2776
Please associate with Google Play Instant milestone. I don't have the option to assign it to a milestone.

[2018-05-31 07:11] frenb commented on #2775
Please associate with Google Play Instant milestone. I don't have the option to assign it to a milestone.

[2018-05-31 07:14] frenb opened #2782 "Dragging and dropping an asset from the asset window to the refactor window should enable user to replace an existing asset"
### Creator version?（版本号）
1.11-alpha.4

### Affected platform?（受影响的平台）

Mac editor
### How to reproduce?（如何重现）
Dragging and dropping an asset from the asset window should enable the developer to replace an existing asset.

As of build 1.11-alpha.4 you can only add an asset by dragging the asset to the refactor window.

In addition, even after adding an asset to the refactor step it does not change

[2018-05-31 07:14] frenb commented on #2782
Please associate with Google Play Instant milestone. I don't have the option to assign it to a milestone.

[2018-05-31 08:08] wuzhiming commented on #2778
@frenb if we unselect the resource it won't be packed into the apk.

![image](https://user-images.githubusercontent.com/6093737/40770213-99a61e84-64ec-11e8-9dd7-191eace39ffb.png)

[2018-05-31 09:47] wuzhiming commented on #2775
@frenb Hello ,I try to change the adb command to install instant app on Android 7.0, but it always show failed to finalize session.

![image](https://user-images.githubusercontent.com/6093737/40775166-fbf2baf4-64f9-11e8-965a-2c27cf5e2f8c.png)

[2018-05-31 15:28] jareguo commented on #2782
Thanks @frenb !

[2018-05-31 15:37] jareguo commented on #2779
Thanks! It will be improved in next version.

[2018-05-31 15:37] #2779 closed, assigned to wuzhiming

[2018-05-31 15:44] wuzhiming commented on #2776
@frenb Hello frenb, for the apk size, you may need to save the record on refactor panel and choose this record on builder panel like this.Because we support multiple records on builder panel

![image](https://user-images.githubusercontent.com/6093737/40792345-4efacdea-652c-11e8-95da-b44cc8931222.png)

[2018-06-01 02:22] wuzhiming commented on #2782
Hello @frenb ,about the dragging and dropping an asset , did you mean we need to enable developer to select an asset from refactor and add a swap button to enable developer replace the selected asset?
![image](https://user-images.githubusercontent.com/6093737/40817242-f7bb29fa-6583-11e8-818c-169086dd9644.png)

In the refactor records, we only record uuid for assets, if the developer replace their

[2018-06-01 21:46] frenb commented on #2776
Thank you for feedback! I'll try that

[2018-06-03 09:37] guawoo opened #2795 "[bug]event.getLocation只是返回一个普通的object={x, y}对象，不是vec2对象。"
### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）
直接打印，cc.log(event.getLocation())

今天使用event.getLocation().add()方法一直报错，打印发现event.getLocation()竟然只是简单的返回了一个{x, y}的对象，不是一个vec2对象。

[2018-06-05 13:54] ashokduddukuri opened #2808 "Click event not triggered on canvas element with javascript"
### Creator version?（版本号）
V1.8.2

### Affected platform?（受影响的平台）

Web

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

I'm trying to programitically trigger mouse click events using cordinates on the canvas element to perfrom autamted testing. Code([JS Fiddle link](http://jsfiddle.net/gAxHe/95/)) works fine on the normal canvas element.

[2018-06-06 19:32] RockerHX opened #2817 "creator.d.ts中cc.audioEngine的api和引擎内置接口对应不上"
[快速上手：制作第一个游戏](http://docs.cocos.com/creator/manual/zh/getting-started/quick-start.html)教程中指出播放音效使用如下代码：
[code]
使用ts编写脚本，自动补全提示只有`static play(filePath: string, loop: boolean, volume: number): number;`这个方法，按照方法的描述填充参数不能播放声音，而在ts脚本里使用上述js代码能播放音效，但是`VSCode`提示找不到该方法，是否是creator.d.ts中的api描述有问题呢？
问题代码如下：
[code]
or
[code]
均不能播放音效，下载的示例工程也无法播放音效。

Mac: 10.13.4 (17E202)
Chrome:  66.0.3359.139（正式版本） （64 位）
C

[2018-06-07 02:26] xianyinchen opened #2818 "浏览器预览，提示uuid关联的json文件找不到。"
### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）

全部
### How to reproduce?（如何重现）
打开一个场景，新建cc.Label并设置TTF字体，关闭该编辑场景，然后删除TTF文件，网页预览报错文件找不到，就是TTF的UUID丢失了

[2018-06-07 02:37] jareguo commented on #2818
现在要做的，就是完善报错信息，让用户看到原来的资源是哪个。然后告诉用户重新打开、保存一次指定资源，就可以消除警告。

[2018-06-07 13:00] KAndQ opened #2827 "请问能不能在物理引擎计算完成后, 增加一个回调接口?"
在 Component 的 update 的方法之后, 物理引擎才更新, 那么这时的物体的物理状态(位置/角度/速度)已经不能再修改, 直到下一帧.

那么这时在 update 做一些临界的判断可能会出现: 还未到达临界状态 -> 物理引擎更新(超过临界状态) -> 渲染出临界状态.

[2018-06-08 09:24] gyt0412 opened #2839 "在PC上，监听cc.game.EVENT_HIDE和cc.game.EVENT_SHOW事件会被触发2次？"
### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）

Web

### How to reproduce?（如何重现）
1、chrome打开页面：https://abcmouse.qq.com/h5/
2、F12打开调试面板
3、打开另一个无关页面后，并切换到该页面，再切换回1中打开的页面，看Log，会出现2条
[DcReportAction] onAppReport():pauseApp和[DcReportAction] onAppReport():resumeApp。

### Demo project?（demo 项目）
调用代码：
onLoad: function () {
        // 设置为常驻节点
        cc.game.addPersistRootNode(this.node);

[2018-06-08 09:28] jareguo commented on #2839
谢谢反馈，这个问题在 1.10 已经修复了。鉴于很多人最近都来反馈，我们会提取到 1.9.3

[2018-06-08 09:48] gyt0412 commented on #2839
明白了，谢谢神速回复！

[2018-06-08 10:17] ColinCollins commented on #2016
1.9.1 version I built a new project in the editor， but didn't reappear this kind of problem， maybe it has been fixed by others.

![image](https://user-images.githubusercontent.com/35832931/41153208-aeb6cabe-6b48-11e8-9c97-e9a73d25d6c2.png)
![image](https://user-images.githubusercontent.com/35832931/41153217-b2ec00c2-6b48-11e8-9d9e-0933e360ec72.png)

[2018-06-08 10:23] #2016 closed, assigned to ColinCollins

[2018-06-09 04:33] Swipes13 opened #2841 "Finding assets"
In cocos creator when i have some asset named for example "NotificationBanner" i need to find it in "Search..." box with perfect match like: "NotificationBanner".
Plz, make it with some regex like "Not*Ban". It Will be great!

[2018-06-09 23:31] VictorQueiroz commented on #1841
Very disappointing to see such contempt regarding Linux developers.

[2018-06-10 07:02] jareguo commented on #1841
Human resources are very scarce for us, and opening a new platform will only greatly distract us from our energies. The engine also has a lot of modules that need to be perfected. Linux, by contrast, has a much lower priority. I'm not averse to supporting Linux, it's just not the time.

[2018-06-11 07:40] #2744 closed, assigned to nobody

[2018-06-11 07:40] jareguo commented on #2744
Issue moved to [cocos-creator/fireball #7558](https://github.com/cocos-creator/fireball/issues/7558) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-12 13:15] superlixun opened #2855 "关于Canvas创建3D元素的验证"
Creator 1.9.2
Web

三星 SM-T700

系统webview更新66之后还是无法开启webgl渲染方式，所以看源码定位问题：
CCSys.js
[code]
为什么不验证webgl2 和 experimental-webgl2 ？
我添加这两项之后就可以了。

[2018-06-13 02:47] KAndQ commented on #2827
https://github.com/cocos-creator/creator-docs/issues/424
解决了.

[2018-06-13 02:47] #2827 closed, assigned to nobody

[2018-06-14 06:57] PPpro opened #2860 "exact Fit 的canvas 适配在小游戏平台按钮出现偏移"
master 分支

canvas 组件勾选  fit height、fit width，构建打包wechatGame， 运行项目，按钮区域出现偏移

好吧这个问题还是我修，提个 issue 怕忘了

[2018-06-14 06:57] jareguo commented on #2860
请提交到 1.9.3 对应分支

[2018-06-15 08:07] pandamicro opened #2866 "调整 UC 内核判断方法"
1. 在 1.10 版本中对 UC 11 以上版本也开启 WebGL 支持。
2. 兼容下面格式 UA 的 UC 浏览器判断。

![1](https://user-images.githubusercontent.com/632460/41457429-2e824e2c-70b6-11e8-9027-adfa7bd9d6bc.jpg)

[2018-06-15 09:18] Xcoderrdyx opened #2868 "PhysicsManager里的testPoint接口在碰撞刚体为static时候无效，看了下代码应该是你们只判断了dynamic的刚体没有处理static的刚体"
### Creator version?（版本号）

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-06-15 09:19] Xcoderrdyx commented on #2868
版本1.9.1

[2018-06-19 02:40] jareguo commented on #2780
Fixed in 1.11.0-alpha.4

[2018-06-19 02:40] #2780 closed, assigned to wuzhiming

[2018-06-22 06:01] #2839 closed, assigned to ColinCollins

[2018-06-22 09:22] GameKeys opened #2891 "QQ玩一玩不能发送二进制"
### Creator version?（版本号） 1.9.2

### Affected platform?（受影响的平台）
  QQ 玩一玩

creator 1.9.2

var request = cc.loader.getXMLHttpRequest();
request.responseType = 'arraybuffer';

发送的二进制数据 服务器收到全是
args
Buffer(20) [91, 111, 98, 106, 101, 99, 116, 32, …]
args.toString();
"[object ArrayBuffer]"

这个项目在微信小游戏上没有问题，浏览器上也没有问题，只有QQ玩一玩上有问题

求解决 @dumganhar @jare @擎开发团队

[2018-06-22 14:25] 9b9387 opened #2894 "子域中设置Sprite颜色失效"
### Creator version?（版本号）
1.9.2

### Affected platform?（受影响的平台）

微信小游戏

### How to reproduce?（如何重现）
新建一个子域项目，Canvas下新建一个Sprite，然后在Node上设置Color。项目设置为子域项目，然后发布运行，Color设置无效，Sprite是原来的颜色。如果不设置为子域项目，颜色正常。这个问题必现。

### JavaScript output or error produced?（报错信息和调用栈）

无
### Demo project?（demo 项目）

[2018-06-22 21:44] frenb commented on #2776
I don't think this is working still. APK is always the same size.

[2018-06-23 01:53] xfxdev opened #2895 "微信小游戏平台一大堆BUG"
### Creator version?（版本号）
1.9.2

### Affected platform?（受影响的平台）

微信小游戏

### How to reproduce?（如何重现）
都是基础功能BUG，无复杂重现步骤

### JavaScript output or error produced?（报错信息和调用栈）

无

### Demo project?（demo 项目）

无

**Bug：**
1. 音乐音效第二次播不出来
2. MotionStreak不能使用AtuoAtlas（不确定是Bug还是就是不支持）

**子域Bug：**
1. Sprite设置颜色无效
2. Label使用Bitmap Font时启动直接报错
3. Button不会触发事件
4. ScrollView可以滚动，但触摸不精确，经常拖不动

[2018-06-23 03:08] GameKeys commented on #2891
帮我看看吧！

[2018-06-23 07:01] frenb commented on #2778
I stand corrected. In version alpha.5, and after unselecting the resource this does work.

[2018-06-23 07:01] #2778 closed, assigned to wuzhiming

[2018-06-23 07:02] frenb commented on #2782
Ok. That makes sense. Accepted.

[2018-06-23 07:02] #2782 closed, assigned to wuzhiming

[2018-06-23 07:09] frenb commented on #2776
Correction. Tried it with alpha.5 and it appears to be working as intended.

[2018-06-23 07:09] #2776 closed, assigned to wuzhiming

[2018-06-23 07:39] frenb commented on #2775
I would consider switching over to using the instant apps command line tool, which takes care much of these issues.

The CLI present in the Instant Apps SDK versions 1.2 and above will be much easier. Download the SDK using the SDK manager (either in Android Studio or from the command line version) and add extras/google/instantapps/ia (inside your SDK folder) to your PATH.

Then you can do "ia run

[2018-06-23 11:04] k8w opened #2896 "node-activator.js onLostFocusInEditor 事件BUG"
### Creator version?（版本号）
1.9.2

### Affected platform?（受影响的平台）

All

### How to reproduce?（如何重现）
*cocos2d\core\node-activator.js 第112行*
[code]

这里 如果没定义onFocusInEditor 只定义了onLostFocusInEditor
会使得focus时也调用 onLostFocusInEditor

是不是应该改为
[code]

[2018-06-23 11:38] k8w opened #2898 "-"
-

[2018-06-23 11:51] #2898 closed, assigned to nobody

[2018-06-24 14:13] jareguo commented on #2896
感谢，已合并！

[2018-06-24 14:13] #2896 closed, assigned to nobody

[2018-06-24 14:16] jareguo commented on #2895
AutoAtlas 只能用于 SpriteFrame喔，所以这个本来就不支持。

[2018-06-24 14:17] jareguo commented on #2894
子域不支持 WebGL，所以 color 也没办法支持~

[2018-06-24 14:50] #2866 closed, assigned to ColinCollins

[2018-06-25 03:20] jareguo opened #2900 "提供 preloadScene 的进度支持"
@jareguo commented on [Wed May 16 2018](https://github.com/cocos-creator/fireball/issues/7312)

比如，像《王者荣耀》，匹配成功后，10 个人同时开始战斗，在这之前，大家都是处于加载资源的阶段，要能互相看到各自的加载情况。

请添加到 2.0

[2018-06-25 03:54] xfxdev commented on #2895
@jareguo 了解了，多谢。不过感觉会很容易带来问题，因为如果MotionStreak用的贴图与其它AutoAtlas的贴图放在一起的话，发布时不会有警告。pc上用模拟器跑正常，但发布到微信就不行了。

[2018-06-25 04:55] jareguo commented on #2895
嗯嗯，警告信息 1.10 版本已经加上了

[2018-06-25 06:10] 9b9387 commented on #2894
艺术数字也没办法显示，是同样的原因么？

[2018-06-25 08:28] wuzhiming commented on #2775
Hello, @frenb

I've tried this CLI , it install and launch right on pre-Oreo devices , but it always show 'item not found' on Play Store and it also can't find on Settings/Google/Instant Apps , is that correct?

![wechatimg632](https://user-images.githubusercontent.com/6093737/41838834-162e39ea-7894-11e8-8248-0e8253891812.jpeg)
![wechatimg633](https://user-images.githubusercontent.com/6093737/4183

[2018-06-25 11:48] jareguo commented on #2894
艺术字很有可能是我们不支持，需要 @pandamicro 确认下

[2018-06-26 16:23] jy03078959 opened #2908 "videoplayer 组件层级太高会挡住下面元素事件"
### Creator version?（1.9.2）

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

如果选择一个视频全屏播放，看了下视频会是才 canvas 的上层做的一个video元素盖住的canvas。导致下层的canvas事件点击不了。建议添加的视频元素加一个 pointer-events: none; 样式。禁用掉他的事件响应，透下去。否则无法点击到元素

![image](https://user-images.githubusercontent.com/3038488/41925998-a62fb5ca-79a0-11e8-8080-86b96aea7192.png)

[2018-06-27 03:22] jareguo opened #2911 "兼容 < 6.6.7 版本的微信"
之前说好的月底会强推到 6.6.7，所以我们就没考虑兼容性了。不过根据调查，还是有很多老版本的用户。
目前报错主要集中在 document.dispatchEvent 和 wx.getPerformance 上面，运行子域的测试项目可以重现。
QA 那边有一台 5S 测试机，据说是 6.6.1，可以用于测试。

[2018-06-27 08:24] phynero opened #2916 "求问 widget 如何获取适配后的高度和宽度 我通过node.height 和 width获得的都是预设的值"
### Creator version?（版本号）
v1.9.2

### Affected platform?（受影响的平台）

微信
### How to reproduce?（如何重现）
必现

### JavaScript output or error produced?（报错信息和调用栈）

无
### Demo project?（demo 项目）

[2018-06-28 03:08] thanwah commented on #2775
Here is some code that will execute "ia run app.apk" for a different project:
https://github.com/google/play-instant-unity-plugin/blob/master/GooglePlayInstant/Editor/PlayInstantRunner.cs#L138

(Note that it calls java directly instead of using the "ia" wrapper script.)

Can you please clarify a few things about your pre-Oreo test environment:

- What device are you using?
- What OS version is it

[2018-06-29 02:04] wuzhiming commented on #2775
Thanks @thanwah I've found the problem , we need to put -u param in front of apkPath ,  or it will load the url by package name
eg:   ia run -u https://xxxx/x instant.zip ------>correct
        ia run instant.zip -u https://xxxx/x   ------>It will load the url by package name

[2018-06-29 07:26] GameKeys commented on #2891
没有人管我，好冷呀

[2018-06-29 07:50] jareguo commented on #2775
It should be fixed in 1.11.0-rc.1. Now all issues in Google Play Instant milestone are resolved.

[2018-06-29 07:50] #2775 closed, assigned to wuzhiming

[2018-06-29 10:47] wuzhiming commented on #2775
Hello , @frenb @thanwah
When we pack CocosCreator to .app on Mac ，and try to run 'ia' command , something went wrong and this is the error output:

![image](https://user-images.githubusercontent.com/6093737/42088094-0117c0fa-7bcb-11e8-8fa4-7ad89d1203f8.png)

But when we start CocosCreator by Terminal (cd to 'CocosCreator.app/Contents/MacOS' and ./CocosCreator), it works correct , and we don't know

[2018-06-29 11:10] dumganhar commented on #2891
@jare

[2018-06-29 22:02] thanwah commented on #2775
Thanks for the detailed bug report. It looks like there is an issue with the "ia" script since it tries to do "tput cols" to determine terminal width and pass it on to the JAR. We will change the script to have a fallback of not passing anything (and letting the default value of 80 be used). This will require us to release a new version of the script.

In the meantime you can work around this issu

[2018-07-01 15:58] wzpan opened #2927 "CCDrawNode 的贝塞尔曲线绘制会出现棱角"
### Creator version?（版本号）

1.9.0

### Affected platform?（受影响的平台）

Web / iOS / Android

### How to reproduce?（如何重现）

1. 下载 demo project；
2. 预览 test 场景；
3. 在 test 场景中拖动，会发现线条转角处容易出现一些棱角。期望的效果是不会有这些棱角，而是一条粗细均匀的曲线。

![](http://forum.cocos.com/uploads/default/original/3X/a/0/a027f75504e6ccb3219d8d301335f1d666ad1baa.png)

### JavaScript output or error produced?（报错信息和调用栈）

通过断点我发现在一些情况下，_drawSegments 方法

[2018-07-02 07:31] wzpan opened #2933 "CCDrawNode 接口一致性问题"
### Creator version?（版本号）

1.9.0

### Affected platform?（受影响的平台）

Web / iOS / Android / Simulator

### How to reproduce?（如何重现）

CCDrawNode.js 和 CCDrawNode.h 中定义的大部分的接口存在不一致。

例如，CCDrawNode.js 中的 `drawQuadBezier` ：

[code]

CCDrawNode.h 中的 `drawQuadBezier`：

[code]

可以看到后者比前者少了个 `lineWidth` 参数。请问这个差异是出于什么样的考虑？

### Demo project?（demo 项目）

下面这个 demo 工程，在 Native 和 Browser 中表现会不一样。Browser 中经过我的 hack （

[2018-07-02 07:37] ColinCollins opened #2934 "ttf 字体远程加载无效"
### Creator version? 1.10

### Affected platform?微信小游戏

### How to reproduce?（如何重现）
远程加载 ttf 字体资源就无法显示 ttf 的字体

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-07-02 07:40] jareguo commented on #2934
延后到 2.0 处理

[2018-07-02 07:43] jareguo commented on #2933
非常感谢您的反馈，你说的问题确实存在。由于我们没有在 1.x 中正式开放 DrawNode 模块，而且 DrawNode 在 2.0 已经移除，因此这些功能层面的东西我们已经不会在旧版本继续维护了。如果有其它建议，请继续指正。

[2018-07-02 07:43] #2933 closed, assigned to nobody

[2018-07-02 07:45] jareguo commented on #2927
非常感谢您的反馈，你说的问题确实存在。由于我们没有在 1.x 中正式开放 DrawNode 模块，而且 DrawNode 在 2.0 已经移除，因此这些实现层面的东西我们已经不会在旧版本继续维护了。如有需要，建议尝试使用 [Graphics](http://docs.cocos.com/creator/manual/zh/components/graphics.html) 系统代替。如果有其它建议，请继续指正。

[2018-07-02 07:45] #2927 closed, assigned to nobody

[2018-07-02 07:47] wzpan commented on #2933
@jareguo 能请教下如果不用 DrawNode 我们怎么实现橡皮擦（或者说刮刮乐）效果吗？我没有想到其他方案。

[2018-07-02 08:04] wzpan commented on #2933
我看了你们的 Mask 的实现，也是利用 CCDrawNode 来绘制的：https://github.com/cocos-creator/engine/blob/cbe73519d75dd684229600c633b1076df7d77ab4/cocos2d/core/components/CCMask.js#L312
想要对 Mask 的内容进行修改，不用 CCDrawNode 我想不到其他的方案呢。

[2018-07-02 08:24] jareguo commented on #2933
Graphics 目前不支持橡皮擦效果，2.0 稳定后我们研究看看吧，最近几个版本任务已经都排满了。

[2018-07-03 02:36] dongerlei opened #2938 "cc.audioEngine的三个接口存在bug，会导致对音效操作的同时也会对音乐进行操作"
`setEffectsVolume: function (volume) {
        var musicId = this._music.id;
        this._effect.volume = volume;
        for (var id in id2audio) {
            if (id === musicId) continue;
            audioEngine.setVolume(id, volume);
        }
    },`
这里的id是string类型，而musicId是一个number类型。使用严格等于===，在这里总是会返回false。
所以并没有过滤掉对背景音乐的处理
pauseAllEffects、stopAllEffects存在同样的问题。请及时修复之。

[2018-07-04 12:01] lich2333 opened #2942 "1.10以及2.0preview中存在，因合图导致拖拽绑定spriteFrame属性name出错"
在1.10和2.0preview中，通过拖拽绑定的图片 如果被合图，那么在打包后这个图片名字不是原来的！！！
老版本1.9.1是正确的
![image](https://user-images.githubusercontent.com/31687063/42276063-ea8716e4-7fc4-11e8-93fc-7fc7e459ce00.png)
![image](https://user-images.githubusercontent.com/31687063/42276070-f0a25c0a-7fc4-11e8-92d6-d1d427272ed2.png)

[2018-07-04 12:14] jareguo commented on #2942
是的，所有资源的名字在打包后都会被剔除。请不要依赖这个名字进行开发。

[2018-07-04 12:14] #2942 closed, assigned to nobody

[2018-07-05 11:50] zjsjmvn opened #2946 "在ios中播放admob插页广告时切到后台，在切回来界面会卡住。无效果。applicationWillEnterForeground不会被调用"
### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）
在原生平台播放广告时，切到后台。在回到游戏，游戏会卡住

### JavaScript output or error produced?（报错信息和调用栈）

无堆栈
### Demo project?（demo 项目）

[2018-07-07 12:45] yuriilychak opened #2953 "Spine skin change bug."
Creator version: 1.9
Affected platform: Web.

1. Create skeleton with lot of skins.
2. Set skin placeholders in some skin's to empty state (without attachment);
3. Write code like:
[code]
4. See that attachment in empty skin placeholders don't clear, and skin that you use have some images that use another skin.

It's not hard fixed bug, you only need to clear slot when attachment of next skin is e

[2018-07-09 04:32] yuriilychak commented on #2953
I modified one function in lib/spin, and fix this bug in my case. I clear all old slot information before add new slot attachments.
[code]
But I don't know is it correct way to remove attachment via `slot.attachment = null;` or I need to do something else?

[2018-07-10 02:35] #2911 closed, assigned to ColinCollins

[2018-07-10 02:35] #2900 closed, assigned to ColinCollins

[2018-07-10 04:38] #2953 closed, assigned to nobody

[2018-07-11 07:18] knoxHuang commented on #1990
此 issue 关闭，在 2.0 后如果遇到在打开

[2018-07-11 07:19] knoxHuang commented on #1968
此 issue 关闭，在 2.0 后如果遇到在打开

[2018-07-11 07:19] #1990 closed, assigned to knoxHuang

[2018-07-11 07:28] knoxHuang commented on #2044
该 bug 已经在 2.0 修复，可关闭

[2018-07-11 07:32] #2044 closed, assigned to knoxHuang

[2018-07-11 07:32] #1968 closed, assigned to knoxHuang

[2018-07-11 07:44] knoxHuang commented on #2113
duplicated with #https://github.com/cocos-creator/fireball/issues/7873

[2018-07-11 07:45] #2113 closed, assigned to knoxHuang

[2018-07-13 08:32] knoxHuang commented on #2488
@umbrellaPP 有空的话在 2.0 验证一下

[2018-07-13 08:34] PPpro commented on #2488
好的

[2018-07-15 00:50] h87kg commented on #2342
请查看文档 http://docs.cocos.com/creator/api/zh/classes/Component.html#schedule

[2018-07-15 00:51] h87kg opened #2980 "clearInterval 有时不起作用"

[2018-07-17 06:56] gz65555 opened #2987 "CollisionManager 能否手动调用碰撞检测？"
因为业务需求，需要手动去调用碰撞测试，而非使用内置地每帧检测，是否有方法可以可以控制何时去检测一次。

[2018-07-19 07:42] EattingGrass opened #2998 "cc.audioEngine.isLoop不能正常工作"
CCAudioEngine.js中：
    isLoop: function (audioID) {
        var audio = getAudioFromId(audioID);
        if (!audio || !audio.isLoop)
            return false;
        return audio.isLoop();
    },
其中audio.isLoop在CCAudio.js中没有定义，应该改为getLoop

[2018-07-20 16:53] unace commented on #2795
https://github.com/cocos-creator/engine/commit/920e4dbfa6a369fb6cbc7b5c237250b3642180f4 fixed this.

[2018-07-20 18:28] unace opened #3001 "2.0 missing function : this.m_debugDraw.DrawTransform is not a function (box2d.js:20388)"
### Creator version?（版本号）
Cocos Creator v2.0.0-beta.7

### Affected platform?（受影响的平台）

I think all platform.

### How to reproduce?（如何重现）
1. create a "HelloWorld" project.
2. open "HellowWorld" scene.
3. add a PhysicsBoxCollider component to cocos node.
4. add
"cc.director.getPhysicsManager().enabled = true;
        cc.director.getPhysicsManager().debugDrawFlags = cc.PhysicsManager.DrawBits |

[2018-07-20 23:06] unace opened #3002 "[2.0] b2body SetTranform parameter error when node position changed"
### Creator version?（版本号）
Cocos Creator v2.0.0-beta.7

### How to reproduce?（如何重现）
1. create a new node.
2. add rigidbody component.
3. change position of the node in Javascript.

### JavaScript output or error produced?（报错信息和调用栈）
Uncaught TypeError: xf.GetAngle is not a function
    at b2Body.290.b2Body.SetTransform (box2d.js:6772)
    at cc_RigidBody.syncPosition (CCRigidBody.js:779)
    at cc_R

[2018-07-22 03:55] 2youyou2 commented on #3001
@unace Thanks for your feedback.

[2018-07-22 04:45] unace commented on #3001
@2youyou2 Thank you for the fix. Could you also look into this https://github.com/cocos-creator/engine/issues/3002 ?

[2018-07-22 04:55] 2youyou2 commented on #3002
This issue can also be fixed with pr : https://github.com/cocos-creator/engine/pull/3003

[2018-07-23 16:50] unace commented on #3002
Thanks!

[2018-07-24 09:30] yeahlang opened #3011 "游戏Resize后，物理对象偏离原来界面位置"
### Creator version?（版本号）
1.9.3

### Affected platform?（受影响的平台）
实际测试在Android、IOS、Web上都受影响

### How to reproduce?（如何重现）
1、创建一个RigidBody，例如Static类型
2、打开物理引擎Debug Draw
3、使屏幕变形（在android上测试是点击了Editbox后产生的变形，ios测试时是横竖屏切换变形，web测试时是切换模拟器变形）
4、观察物理对象调试框跟原来显示位置的位移

### JavaScript output or error produced?（报错信息和调用栈）
无

### Demo project?（demo 项目）
无

自己尝试的修复代码，在android/ios/web上测试可用

    onLoad () {
        xNo

[2018-07-25 00:46] jackhub opened #3013 "发布到native platforms例如iOS系统，发现性能非常差"
您好，我发现通过cocos-creator发布的native版本例如iOS中，游戏运行性能很差。通过工具分析看到主要开销在于JS与native bridge层的调用的通信开销，占了绝大部分CPU。请问你们有注意到这个问题吗，后续有没有什么优化思路？

[2018-07-26 17:55] unace opened #3020 "Some functions of rect in Typescript are defined as wrong return type."
### Creator version?（版本号）
Cocos Creator v1.9.3

### Affected platform?（受影响的平台）
All

### How to reproduce?（如何重现）
Developer > VS Code Workflow > Add Typescript config.

### JavaScript output or error produced?（报错信息和调用栈）
Non javascript error.

The return type of intersects, contains, containsRect are 'void'. They should be 'boolean'. But they actually return boolean value in runtime.

Please check be

[2018-07-26 19:40] serge-shaldanov opened #3021 "Impossible to use full version of Cocos2d JS with Cocos Creator"
Hi for everyone!

I'm just a confused. Is it not possible to use full version of Cocos2d-JS with Cocos Creator?
Let's me to explain.
Okay, I'm try to use some features of full version of Cocos2d-JS like a `cc.spriteFrameCache` or `cc.loaderScene` in my JS code.
When I use template distributed with this full version of Cocos2d-JS: http://cocos2d-x.org/filecenter/jsbuilder all things do in right way

[2018-07-27 11:02] ColinCollins opened #3025 "v2.0 小游戏子域排行榜 ScrollView 点击区域偏移"
### Creator version： v2.0 beta9

![image](https://user-images.githubusercontent.com/35832931/43313839-caac38d4-91c3-11e8-99f7-6e783261bbc0.png)

### Affected platform： 微信小游戏
### How to reproduce:：绘制子域排行榜
### JavaScript output or error produced： 无
### Demo project：
[wxtest.zip](https://github.com/cocos-creator/engine/files/2235304/wxtest.zip)

[2018-07-30 16:49] TimOfTheYear opened #3032 ""Inline all SpriteFrames" build option always true, even when unchecked."
When building a project for web or web-mobile, the value of the "Inline all SpriteFrames" option is always true, even when unchecked. The value of the "Merge all JSON that the Start Scene depends on" option is always false.

### Creator version?（版本号）
1.9.2 -> 2.0.2

### Affected platform?（受影响的平台）
Windows Editor - Publish to Web

### How to reproduce?（如何重现）
Publish any web project with the "Inline

[2018-07-31 06:36] PPpro commented on #2934
2.0 已经修复
https://github.com/cocos-creator/fireball/issues/8032
关闭问题

[2018-07-31 06:40] ColinCollins commented on #3025
已经修复，主要是适配屏幕策略的要求，在微信小游戏上 Canvas 选择 fitHeight/width 同时选中的话会有点击区域的偏移，该问题解决方法是只选中 fitHeight 就可以。
顺便关联的适配策略完善 pr：
https://github.com/cocos-creator/engine/pull/3031/commits/f0c979da4a3a6e8047216c415c1f57353c796a78

[2018-07-31 07:17] #2934 closed, assigned to ColinCollins

[2018-07-31 11:21] serge-shaldanov commented on #3021
I got it.

Cocos2d-x that provides described features is an absolutely different engine that is incompatible with Cocos Creator engine.

Cocos Creator is IDE and engine at the same time, and it's "engine" is a non-dividable part of this solution.

So, it's impossible to use Cocos2d-x with Cocos Creator.

It's a very sad because there are some good features in Cocos Creator only, and some good feat

[2018-07-31 11:22] #3021 closed, assigned to nobody

[2018-07-31 11:30] jareguo commented on #3021
Yes, you are right.

[2018-08-01 02:15] #2795 closed, assigned to nobody

[2018-08-01 07:06] #3025 closed, assigned to nobody

[2018-08-03 01:28] unace opened #3041 ""setMix" function of Spine Skeleton doesn't work."
master branch : https://github.com/cocos-creator/engine/blob/dcd3357d61e518886ccbf8b2026bed4edc6c615d/extensions/spine/SGSkeletonAnimation.js#L159

next branch : https://github.com/cocos-creator/engine/blob/1abfe0c006ad6b562ec4d25eab1dd40b27c73079/extensions/spine/Skeleton.js#L589

should use "setMix" instead of "setMixWith" because fromAnimation and toAnimation are strings.

![image](https://user

[2018-08-06 03:43] Habe-He opened #3043 "微信小游戏在IOS平台，在下拉菜单和上拉状态栏无法收到game show hide事件回调"
### Creator version?（版本号）
1.9.1

### Affected platform?（受影响的平台）
微信小游戏

### How to reproduce?（如何重现）
微信小游戏中下拉菜单和上拉状态栏即可

不过在游戏中点击Home键以及主动点击关闭按钮，show hide事件会响应了。
在新更新的2.0.0版本中提到修复了此问题，不过按照上面操作还是没有出现事件响应了

[2018-08-06 03:53] knoxHuang commented on #2998
对的，谢谢反馈，这个已经在修复了

更新的版本是 1.10 和 2.0

[2018-08-06 05:39] #2998 closed, assigned to nobody

[2018-08-07 10:22] ColinCollins commented on #3011
I think that perhaps is the same question, so I keep the link in here. http://forum.cocos.com/t/editbox/64149
http://forum.cocos.com/t/cocos2dx-3-17/63889

[2018-08-08 04:34] bilibiliChangKai opened #3054 "CCNode.js中的问题"
### Creator version?（版本号）
2.0.1

### Affected platform?（受影响的平台）

Web

### How to reproduce?（如何重现）
1. CCNode.js中的getWorldMatrix函数(2550行)注释错误。写成了getLocalMatrix函数的注释。
2. 对应[文档](http://docs.cocos.com/creator/api/zh/classes/Node.html#getlocalmatrix)中出现了两个getLocalMatrix条目，应该改成getWorldMatrix。
3. 旧版的getNodeToParentTransform/getNodeToWorldTransform遭废弃，却没有对应的新版API， 新版getLocalMatrix/getWorldMatrix只是和getNodeT

[2018-08-08 15:42] jareguo commented on #3041
fixed in #3058

[2018-08-08 15:42] #3041 closed, assigned to nobody

[2018-08-10 06:49] chenhongtu opened #3065 "[2.0] Color类fromHSV方法结果不正确"
2.0 Color类fromHSV方法中
`this._val = ((r << 24) >>> 0) + (g << 16) + (b << 8) + this.a;`
明显反了，应该是
`this._val = ((this.a<<24) >>> 0) + (b<<16) + (g<<8) + r;`

[2018-08-10 07:46] superlixun opened #3068 "Creator 2.0 Tiledmap 中的object的x的值是string类型"
### Creator 2.0

### 如题，Tiledmap 中的object的x的值是string类型
下边是对一个Object的Log
`
height : 32
 id : "1" 
name :"born"
 rotation : 0 
type : 0 
visible : true
 width : 32
 x : "96"
 y : 2464
`

[2018-08-10 08:40] pandamicro commented on #3065
谢谢反馈

[2018-08-10 11:05] #3065 closed, assigned to pandamicro

[2018-08-12 01:45] hymanbuer opened #3072 "2.0.0 TiledMap相关bug"
### Creator version?（版本号）
2.0.0

### Affected platform?（受影响的平台）

All

### How to reproduce?（如何重现）
Bug1：TiledLayer:getTileFlagsAt(pos, y)接口bug。
当pos为0时，会被判断为null。（源码的判断表达式有误）

Bug2：TiledLayer:getTileFlagsAt(x, y, forceCreate)接口问题。
当forceCreate为true而自动创建TiledTile组件后，又没对返回的TiledTile进行任何操作，但所绘制的TiledMap与调用该接口之前不一致，即产生副作用。

Bug3：更改TiledTile所在节点的锚点属性无效果。
我希望将锚点设置为Tile中心，然后做旋转等操作。

### JavaScript output

[2018-08-12 17:35] hymanbuer opened #3073 "v2.0.0-release Label组件使用.fnt字体文件编辑器中报错，但运行时没问题"
### Creator version?（版本号）
v2.0.0-release

### Affected platform?（受影响的平台）

All

### How to reproduce?（如何重现）
随意新建一个Label节点，拖拽要使用的.fnt文件到Font字段。这在升级之前（v1.9.1）是没有问题的。

### JavaScript output or error produced?（报错信息和调用栈）

拖拽完成后报错：
TypeError: Cannot read property '_renderData' of null
    at Object.updateRenderData (F:\DevTools\CocosCreator\resources\engine\bin\.cache\dev\cocos2d\core\renderer\utils\labe

[2018-08-13 20:22] alphaonex86 opened #3082 "Linux/Wine bug"
### Creator version?（版本号）
2.0

### Affected platform?（受影响的平台）

Linux/Wine

### How to reproduce?（如何重现）
Start under Linux/Wine

### JavaScript output or error produced?（报错信息和调用栈）

![screenshot_20180813_222213](https://user-images.githubusercontent.com/778581/44056041-5abd44aa-9f47-11e8-8105-e8aeaa30f985.png)

[2018-08-14 09:55] pawankps opened #3089 "not able load image using addImageAsync from facebook profile pic https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=315610502517779&height=100&width=100&ext=1536831584&hash=AeQRPSkdxuvww7m0"
### Creator version?（版本号）

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-08-14 10:05] pawankps opened #3090 "Not able to load image using addImageAsync from facebook profile pic url"
addImageAsync not works if provided facebook image url retrieved from graph api. This url directly download image if opened in browser instead of loading. addImageAsync  work if it is provided the image url which load image in browser instead of downloading it.
url(does not works) - https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=315610502517779&height=100&width=100&ext=1536831584&h

[2018-08-14 10:08] #3089 closed, assigned to nobody

[2018-08-16 02:31] jareguo opened #3097 "移除 cc.info API"
- 确保从代码、文档、API 中，移除 cc.info
 - 确认现有平台，特别是安卓，能在 deprecated.js 中支持 cc.info
 - 提交到 master（2.1）

[2018-08-16 06:35] drrr8991 opened #3101 "2.0的camera"
### Creator version?（版本号）
creator2.0

### Affected platform?（受影响的平台）

wechat小游戏 真机
### How to reproduce?（如何重现）

官方截图demo，直接重现，camera.render()去掉就不会卡死闪退，但是存在就会；

[2018-08-16 10:57] ColinCollins commented on #3054
注释内容已修复
https://github.com/cocos-creator/engine/pull/3048

[2018-08-16 13:18] jareguo commented on #3054
旧版的 getNodeToParentTransform/getNodeToWorldTransform，作用是什么呢？

[2018-08-16 14:11] molinx opened #3105 "2.0.0 Missing/wrong Typescript definitions"
In the 2.0.0 version, these console functions are missing in creator.d.ts:

[code]

Additionally, in the `VideoPlayer` component, I think the `clip` property should be a `cc.Asset` when using LOCAL Resource Type

[2018-08-17 05:44] ColinCollins commented on #3105
still be in there.
![image](https://user-images.githubusercontent.com/35832931/44247042-3c543f80-a214-11e8-8fca-27f0f2f2a6c2.png)

[2018-08-18 08:18] chenquanjun commented on #3105
+1!
missing these function!
![no](https://user-images.githubusercontent.com/2570285/44297343-4e141080-a302-11e8-8f30-b24793e95a0a.png)

[2018-08-23 07:39] jareguo opened #3136 "[2.0.1-rc1]Creator安装过程中勾选VS2017进行安装时会出现报错信息（windows版本）"
@heyanfei commented on [Thu Aug 23 2018](https://github.com/cocos-creator/fireball/issues/8259)

操作步骤：进行Creator版本的安装，安装时勾选VS2017进行安装；
预期结果：可以正确安装VS2017
预期结果：在更新下载VS2017过程中出现了报错信息，详见下面截图；
![vs2017](https://user-images.githubusercontent.com/14326991/44510940-99eefd00-a6e8-11e8-80c9-e1b47026697d.jpg)

[2018-08-24 03:07] ColinCollins commented on #3105
.... WTF， sorry for the late to response...
just like what I said, those function still exist, maybe you need to find more carefully.
ohhh, perhaps, you need to update your editor version. This problem has been fixed certainly.

[2018-08-24 03:41] ColinCollins commented on #3136
![image](https://user-images.githubusercontent.com/35832931/44563802-88622f80-a792-11e8-9a26-d7b06ccf3a16.png)
目前觉得是安装文件 json 文件配置的问题。实际 Cocos Component 是存在的，表示可能是路径相关信息有所变动。

[2018-08-24 05:42] jareguo commented on #3136
用英文版安装，然后搜看看英文报错信息？

[2018-08-24 09:35] zmox opened #3144 "[2.0.x]EVENT_ENGINE_INITED触发的时机和描述不符"
### Creator version?（2.0.1）
### Affected platform?（all）

CCGame.js 中 EVENT_ENGINE_INITED 和 EVENT_GAME_INITED emit的时机比加载脚本的时机更早
比如项目加一个脚本:
[code]

断点发现触发emit的时机 比执行cc.game.on的时机更早
只是因为代码里做了特殊处理 才log出:EVENT_ENGINE_INITED
但是 EVENT_GAME_INITED 没有输出log

CCGame.js特殊处理的代码:

[code]

这个做法有点怪吧 这样我并没办法真正做到区分 引擎初始化 和 游戏脚本初始化的时机
注释是说EVENT_ENGINE_INITED是在加载完所有脚本后emit的 但是实际情况也并不是

[2018-08-27 02:50] bilibiliChangKai commented on #3054
@jareguo
getNodeToParentTransform是基于节点的左下角的变换矩阵
getNodeToParentTransformAR基于节点锚点的变换矩阵
这个就是他们的区别

[2018-08-28 02:56] jareguo commented on #3054
是的，我想知道的是，你希望使用基于节点左下角的变换矩阵目的是什么？如果没有特别强烈的理由，新版本应该是不会加回来这两个 API 了。毕竟节点左下角只是一个特例，没理由支持左下角不支持左上角、右下角啥的。可以手动计算下 anchor 绕过这个问题吗？毕竟 node to parent 还是比较简单的

[2018-08-28 09:13] bilibiliChangKai commented on #3054
@jareguo
我希望绘制节点的边框，便于DEBUG，所以要计算anchor，否则边框会不符合。
但是，我并没有太强烈的需求，因为之后我也通过手动计算anchor实现了我想要的效果。

[2018-08-28 09:14] jareguo commented on #3054
好的好的。这边主要还是对旧 API 的兼容不够理想。之后我们尽量避免。

[2018-08-28 09:14] #3054 closed, assigned to nobody

[2018-08-29 02:16] ColinCollins commented on #3136
![image](https://user-images.githubusercontent.com/35832931/44761160-9807bc80-ab74-11e8-9975-817a260d7559.png)

相同报错。。。

[2018-08-29 07:22] jareguo commented on #3136
不是，你这还是中文啊。你把系统语言改成英文先

[2018-08-29 09:05] molinx commented on #3105
Console functions are back again in v2.0.1 definitions

[2018-08-30 02:57] shinsim opened #3163 "Webview not working on Creator 2.0.x"
### Creator version?（版本号）
2.0.x

### Affected platform?（受影响的平台）
iOS & Android

### How to reproduce?（如何重现）
New Empty Project
Create new Webview & put in any url link in the component
Build->Compile->Install in device/simulator
Run

### JavaScript output or error produced?（报错信息和调用栈）
No error

[2018-08-31 03:13] xulidong opened #3173 "the bug of loading font on wecht mini game"
### Creator version?（版本号）
2.0.1

### Affected platform?（受影响的平台）

we chat mini game
### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[code]

CustomFontLoader._fontCache[url] 保存的是字符串 ‘Arial’

[code]
取出来的 fontDescriptor 实际上是 ‘Arial’，没有 isLoaded 方法，这里就会报错

论坛发帖没人理，提个issue

[2018-09-03 07:05] yuangu opened #3185 "部分AppleWebkit内核浏览器发生无法渲染的异常"
### Creator version?（版本号）
V2.0.1

### Affected platform?（受影响的平台）
Android(部分使用AppleWebkit) 以及旧版本的AppleWebkit浏览器

### How to reproduce?（如何重现）
重现方法：
方法一：小米3的原生浏览器
方法二（建议使用此方法重现）：（safri for windows浏览器）
http://dl.pconline.com.cn/html_2/1/104/id=44487&pn=0.html

### JavaScript output or error produced?（报错信息和调用栈）
大部分是这些。

[code]
[code]

[2018-09-03 08:05] yuangu commented on #3185
发现 gl = canvasEL.getContext("webgl", opts) || canvasEL.getContext("experimental-webgl", opts) || canvasEL.getContext("webkit-3d", opts) || canvasEL.getContext("moz-webgl", opts);这行获取的gl为nil

[2018-09-03 08:48] skaraman opened #3187 "[2.0.1-rc3]cc.Graphics extend builds without _assembler"
### Creator version?（版本号）2.0.1-rc3

### Affected platform?（受影响的平台）
Mac / Web

### How to reproduce?（如何重现）
include custom component that uses `extends: cc.Graphics`
use custom component to render graphics to screen
build to Mac or Web platforms

### JavaScript output or error produced?（报错信息和调用栈）
e._assembler.updateRenderData() is not a function
e._assembler is null

### Custom Solution
include chec

[2018-09-05 09:34] karl511 opened #3198 "2.01 bug"
c节点设置了zIndex600， 复制了这个节点生成d节点，经查看zIndex也是600， 但是却被zIndex100的背景节点a挡住了， 这三个节点是兄弟节点，这canvers下面。背景节点在节点树的最上面..

原因是cc.instantiate 以后， 复制的对象b，zIndex和原对象A的一样，但是_localZOrder 里面高16位为0，缺失了应有的zIndex信息。。  而且设置zIndex的代码里面有判断是否相同，即使后面又设置了和A节点一样的zIndex，有没有起到效果。。。 我现在的临时解决办法就是在cc.instantiate 以后设置b的zIndex为0，应为我后面load函数里有脚本设置zIndex非零参数， 才起到了更新_localZOrder， 画面才正常。 貌似2.0版本里面没有遇到这样的问题。
### Creator version?（版本号）
2.01

[2018-09-05 09:45] chenhongtu opened #3199 "[2.0.1]cc.audioEngine.stopAllEffects会把背景音乐一起停掉"
2.0.1 cc.audioEngine.stopAllEffects方法会把背景音乐一起停掉

[code]
其中   `if (id === musicId) continue;`  id 为String , musicId 为 Number
要改成  `if (id == musicId) continue;`

[2018-09-06 05:41] django-d commented on #3199
在stopAllEffects 等多个方法里写了这样的判断 for (var id in _id2audio) { if (id === musicId) continue;}
for in 出来的是 key 是string 这个肯定不成立 导致 判断失败， 改成 if (_id2audio[id].id === musicId) continue;这样就好了

[2018-09-06 05:58] django-d opened #3203 "2.0.1 子域 滑动点击，会穿透"
2.0.1 子域 滑动点击，会穿透,并且不好滑动

[2018-09-06 13:22] kreys opened #3212 "2.0.1 Low resolution on facebook insant games with 2.0.1 (mobile only) Cocos Creator"
### Creator version: 2.0.1
### Affected platform: Facebook Instant Games - on mobile Messenger only
### How to reproduce:
1) Create empty project
2) Build for Instant Games
3) Upload, check on mobile by Messenger app
4) View resolultion is too low, everything is totally blured / pixelated

### JavaScript output or error produced: no errors

### Demo project:
[resolutionTest.zip](https://github.com

[2018-09-06 20:36] skaraman commented on #3212
can you also check and see what `window.devicePixelRatio` is on all 3?

[2018-09-07 05:40] jareguo commented on #3212
It must be a common issue on all instant games. Can you check the value of cc.view._devicePixelRatio ?

[2018-09-07 06:58] jareguo opened #3214 "改进资源加载流程（ cc.loader 和 AssetLibrary）"
@pandamicro commented on [Mon Jan 11 2016](https://github.com/cocos-creator/fireball/issues/1499)

For https://github.com/fireball-x/fireball/issues/1456

---

@pandamicro commented on [Mon Jan 11 2016](https://github.com/cocos-creator/fireball/issues/1499#issuecomment-170415742)

前置的改进：https://github.com/fireball-x/engine/pull/210

---

@pandamicro commented on [Mon Jan 11 2016](https://github.co

[2018-09-07 07:56] sebas86 opened #3215 "Correct _cullingMask in node is set to late"
This small defect cause that findCamera doesn't work correctly in all cases.

Right now `_cullingMask` is set in `cc.Node` constructor and when node is rendered but it should be updated just after deserialization. This small issue casue that findCamera can't be used before first frame update for new node. For example using `cc.Camera.findCamera` in `onLoad`, `start`, `onEnable` or first call of `u

[2018-09-07 11:13] kreys commented on #3212
We have already released two games on Facebook Instant Games with Cocos Creator 1.9.3 and it never was a feature - they both look good - so there is some degradation with 2.0.1.

Anyway, I did what you both have asked, also doing these tests on same Facebook app, but with Cocos 1.9.3.

**Cocos Creator 2.0.1:**

Device type | `cc.view. getCanvasSize()` |  `cc.view. getDevicePixelRatio()` | `window.

[2018-09-08 04:31] pandamicro commented on #3212
Please check cc.view.isRetinaEnabled() in v2.0.1, from what you posted, it should be false, but we actually enabled it by default in main.js, so please check where do you disable it.

Maybe you are using a custom template for main.js, then you can compare with the default one

[2018-09-10 07:50] xianyinchen opened #3224 "prefab 每次保存，都会更新组件实例ID"
### Creator version?（版本号）

2.0.2

### How to reproduce?（如何重现）

每次保存预制体，组件实例_id都会更新一个新值，这样不利于版本控制和团队协作。

[2018-09-10 12:33] jareguo commented on #3224
最新 2.0.2 编辑器已修复，多谢反馈

[2018-09-10 12:33] #3224 closed, assigned to jareguo

[2018-09-11 08:16] PPpro commented on #2488
2.0 上验证没这类问题，问题可以关闭

[2018-09-11 08:22] #2488 closed, assigned to knoxHuang, PPpro

[2018-09-11 08:29] drelaptop commented on #3163
thanks for this feedback, webview didn't works on 2.0.x, it's a unfinished feature. we plan to support it on creator 2.1.

[2018-09-11 23:23] tdeck commented on #2775
Hi, I'm the main developer working on the Google Play Instant CLI. Just dropping by to note that version 1.4 of the CLI has now been released in the SDK, and it fixes the issue you described with the wrapper script ([release notes](https://developer.android.com/topic/google-play-instant/release-notes)). You can either continue invoking it as a JAR or run `ia` directly.

[2018-09-12 06:11] jareguo commented on #2775
Thanks for the information.

[2018-09-12 07:44] zilongshanren opened #3236 "safeMeasureText 改进"
在ios系统上面，如果用户呼出控制中心，或者游戏中接电话，此时如果去操作canvas去获取metric，会得到null, 引擎做了safeMeatureText，但是实现不够好，会导致UI展示出问题。因为不管传什么字符串，返回的宽度都是0.

我这里有一个改进

[code]

@jareguo @knoxHuang  有点小懒，就不提PR了。

[2018-09-12 07:45] zilongshanren commented on #3236
对于中文字符，fontSize * length 和measureText的结果差不多。对于英文，会有一些差异，但是也比直接返回0要好，UI显示不会错的太离谱。

[2018-09-12 07:54] jareguo commented on #3236
感谢大大，这个修复对什么平台有效呢？小游戏？

[2018-09-12 07:57] zilongshanren commented on #3236
小游戏，其他平台metric不会为null

[2018-09-12 08:07] dumganhar commented on #3236
小游戏底层的问题居然要上层hack代码改啊。。。

[2018-09-12 12:03] jareguo commented on #3236
只是小游戏的话，感觉在 adapter 中修改比较好

[2018-09-12 18:07] unace opened #3240 "[v2.0.2-beta.2] particle upgrade issues from v1.9.3 to v2.0.2"
I found particle upgrade issues from v1.9.3 to v2.0.2.
1. custom particle is not upgraded automatically.
2. particle is not changed by scheduler's timescale. (it works on v1.9.3)
3. custom particle sprite frame is displaying as a square.
4. warning message if I save the scene with custom particle sprite frame.
"The SpriteFrame used by component "cc.ParticleSystem" is missing. Detailed information:

[2018-09-13 00:59] unace commented on #3212
I don't know why, but v2.0.2 doesn't have below code in **default** main.js. It was in v1.9.3.
After adding this code to main.js, the problem has been resolved.

[code]

[2018-09-13 01:55] pandamicro commented on #3236
@knoxHuang 在 Adapter 中尝试重写 CanvasRenderingContext2d.prototype.measureText，需要测试真机环境，如果真机环境保护了这个 prototype，不允许重写，那就不要做修改了

[2018-09-13 13:02] caochao opened #3248 "cocos creator 2.x怎么实现3d透视投影效果"
理论上我应该创建一个透视投影类型的相机，2.x场景中默认的相机已经是这种类型的了。
然后我应该能设置3d坐标，但是目前只能设置xy平面的，无法设置z值，因此无法在z轴上实现近大远小的效果。
另外，相机应该能设置lookAt某一个3d坐标，2.x中camera也已经支持了。
所以我的问题是，要如何才能设置相机在z轴上的坐标？在cocos2dx中的写法是这样的
camera->setPosition3D(Vec3(0, 0,300));
camera->lookAt(Vec3(100, 0, 0),Vec3(0,1,0));

@jareguo @pandamicro @knoxHuang

[2018-09-13 13:24] caochao commented on #3248
发在cocos creator论坛里一直没人理会，所以来这里问一下

[2018-09-13 15:01] 252378189 opened #3249 "打android包使用wss协议进行websocket连接出错"
### Creator version?（版本号）
cocos creator v2.01

### Affected platform?（受影响的平台）
Android

### How to reproduce?（如何重现）
只要使用wss协议来连接的Android包每次都会出现，但是如果改为用ws协议来连的Android包是没有问题的。
PS：服务器是支持wss及ws的，打微信小程序包以及Web包是都是没有问题的。

### JavaScript output or error produced?（报错信息和调用栈）

没有特别的报错，就是连接websocket的时候直接报onerror的连接错误

### Demo project?（demo 项目）

cc.Class({
    extends: cc.Component,

    properties: {

[2018-09-14 01:43] caochao commented on #3248
有没什么办法能魔改一下engine，我对这个需求很强烈。。。

[2018-09-14 01:48] caochao commented on #3248
理论上只要能设置相机位置在z轴上的坐标，生成一个包含z的3d的视图矩阵。但是我不太清楚应该在引擎哪部分修改，所以请指点一下

[2018-09-14 02:00] pandamicro commented on #3248
你需要创建一个 Camera 组件，然后重写它的 beforeDraw

[code]

具体实现参考 CCCamera 原始内部实现

[2018-09-14 02:01] caochao commented on #3248
好的，我看一下

[2018-09-14 02:24] caochao commented on #3248
![image](https://user-images.githubusercontent.com/1911170/45525963-bffb4f00-b807-11e8-845b-06226df6f293.png)
我可以写死这个camera的z值，来设置它注视点z坐标？

[2018-09-14 02:32] caochao commented on #3248
但是_vec3_temp_1是设置相机注视的位置。我应该是要设置相机的位置，是这里的node.z值么，现在z值这种计算方法是什么意思？

[2018-09-14 02:58] caochao commented on #3248
我发现改了node.z值后，相机注视区域有了缩放，但是并没有透视近大远小的效果。 @pandamicro 麻烦指点一下，感谢

[2018-09-14 03:56] caochao commented on #3248
CCNode里有两个函数
_updateLocalMatrix
_updateWorldMatrix
但是要命的是这两的变换都是基于affine-transform的也就是 只控制了6个元素 a b c d tx ty 同时，这套东西也是标准的2d变换的东西，做不了3d变换。
但是 Node的属性 _matrix _worldMatrix 都是 mat4类型的 也就是说完全可以做3d变换。
所以我现在有点迷茫了，在CCCamera beforeDraw里改z坐标真的能实现3d变换吗

[2018-09-14 07:54] caochao commented on #3248
![image](https://user-images.githubusercontent.com/1911170/45537288-66f6df80-b836-11e8-8cc7-ab60ac0ebd09.png)
最后发现要搭配调整相机注视点y坐标和相机自身y坐标，能实现效果

[2018-09-14 09:44] DylanJiangPro commented on #3248
遇到一个问题：当多Camera（分组渲染）时，要怎样设置重写后脚本的cullingMask和clearFlags值？有办法通过脚本来设置吗？
副Camera截图：
![image](https://user-images.githubusercontent.com/30583427/45543416-f1dfd600-b846-11e8-9b7b-4943c8b81945.png)

仅重写了 beforeDraw
![image](https://user-images.githubusercontent.com/30583427/45542863-a678f800-b845-11e8-905e-219f3d35e84b.png)

[2018-09-14 09:55] caochao commented on #3248
是可以设置的，只是失去了默认的样式。 culling mask default为1，自定义的依次加1。 clear flags参考main camera, 值分别是1，2，4。三者按位与之后值为7。

[2018-09-14 11:38] superlixun commented on #3068
2.0.1应该是修复了

[2018-09-14 11:38] #3068 closed, assigned to nobody

[2018-09-18 02:02] xianyinchen opened #3262 "使用图集，带有旋转的图片单元，显示不正常"
2.0.2 版本

[2018-09-18 06:21] zilongshanren commented on #3236
@pandamicro 那这个修改最后是写在哪里。。。

[2018-09-19 02:30] jareguo commented on #3236
@knoxHuang
要不就在 weapp-adapter 中重写 safeMeasureText，内部调用引擎原先的 _safeMeasureText，判断下如果返回是 0 并且 string.length > 0，则说明需要按照子龙的方法重新拿 fontSize 进行计算

[2018-09-20 13:31] caochao opened #3296 "creator 2.0.1 worldToScreen求解"
我们游戏cocos2dx版本用到了Camera做透视投影的近大远小效果，也用到了projectGL来计算屏幕坐标。目前我把游戏用creator改写的过程中由于自带的cocos2dx-lite移除了Camera，导致遇到一系列问题。

而我之前也有发帖提到过，我修改了cccamera的beforeDraw方法实现了针对节点N做透视投影。这次我想把节点N里的坐标C转化为屏幕坐标。
看到render-engine.js里有个worldToScreen方法，是把一个世界坐标乘以摄像机的视图和投影矩阵最终变化到视口坐标，应该和cocos2dx Camera里的projectGL方法是同样的作用。但是我调用这个方法无论传入什么世界坐标返回结果一直在ui设计尺寸的中心点左右, 设计尺寸是750*1334，返回结果一直近似于(375,667)。麻烦指点一下。
相关代码如下：
![image](https:

[2018-09-21 01:50] caochao commented on #3296
@pandamicro 空闲的时候帮忙看看

[2018-09-21 03:42] caochao commented on #3296
我发现问题了，render-engine.js worldToScree方法里先用vec3.transformMat4把世界坐标乘以视图投影矩阵，这个方法里已经将x,y坐标除以w做了一次透视除法得到裁剪坐标（这一步似乎不用除w）
![image](https://user-images.githubusercontent.com/1911170/45859065-ffd7ae80-bd92-11e8-98be-9aee7bf4a1e3.png)

接下来又将x,y做了除w操作。x, y除了2次w后变得非常小，所以返回值一直近似于设计尺寸一半。
![image](https://user-images.githubusercontent.com/1911170/45859079-154cd880-bd93-11e8-8597-1ff518bcdbf4.png)

[2018-09-21 07:12] caochao commented on #3296
![image](https://user-images.githubusercontent.com/1911170/45863823-72a05400-bdaa-11e8-8b46-d5d59aa016aa.png)
我把实现改了一下，使用了vec4.transformMat4（这个方法里没有将x,y除w），所以没有问题。而且我这个改法，和cocos2dx Camera中projectGL方法功能应该是一致的
![image](https://user-images.githubusercontent.com/1911170/45879073-c1171800-bdd5-11e8-84b1-139f264e58c4.png)

[2018-09-21 09:37] knoxHuang commented on #3236
safeMeasureText 主要是这个在 weapp-adapter 是没办法获取到到

[2018-09-21 09:50] DavidHome opened #3300 "你好，请问node怎么支持纵深坐标呢，就是z方向的。现在做2.5d没有z方向也不行啊"
你好，请问node怎么支持纵深坐标呢，就是z方向的。现在做2.5d没有z方向也不行啊？
现在node只能下x，y。相机改了透视node还是只能下x，y效果是纵深的感觉，但是不能调z就没法把node抬起来，比如跳跃没法起来。

[2018-09-21 10:00] knoxHuang commented on #1807
This bug fixed

[2018-09-21 10:01] #1807 closed, assigned to nobody

[2018-09-21 10:01] #3199 closed, assigned to nobody

[2018-09-21 10:05] pandamicro commented on #3173
目前 font 加载已经重构，不会出现这个问题了

[2018-09-21 10:05] #3173 closed, assigned to nobody

[2018-09-21 10:06] #3300 closed, assigned to nobody

[2018-09-21 10:12] knoxHuang commented on #2938
谢谢反馈，这个已经进行修复了

[2018-09-21 10:15] knoxHuang commented on #1917
2.0 已经调整了 setFinishCallback 了，不会有该 bug 了

[2018-09-21 10:20] #2938 closed, assigned to nobody

[2018-09-21 10:35] DavidHome commented on #3248
面板属性问题，在继承后把下面这个也加上。感谢你们的问题， 让我解决了我的问题。
 editor: CC_EDITOR && {
        menu: 'i18n:MAIN_MENU.component.others/Camera',
        inspector: 'packages://inspector/inspectors/comps/camera.js',
        executeInEditMode: false
    },

![1](https://user-images.githubusercontent.com/6417695/45876379-14389d00-bdcd-11e8-9bce-840178bfbdbc.jpg)

[2018-09-23 05:52] jareguo commented on #3236
safeMeasureText 其实也不应该放在 text-utils 中。建议直接放到 ttf.js 中，然后注册到 cc.Label._ttfAssembler 中，就可以在其它平台上进行 polyfill 了。

[2018-09-24 14:24] kreys commented on #3212
As @unace mentioned above, the following line that enable `cc.view.enableRetina(true)` disappeared from `fb-instant-games` default `main.js` file.

It is enabled by default in `web-mobile` `main.js` file, however it is not in facebook template, so I guess it should be enabled here as well. Manually enabling it in `main,js` file fixes issue, and it looks like it was looking in `1.9.3`.

[2018-09-25 02:44] Ander456 commented on #3296
额 ，没懂。老哥 意思是 官方的代码 这个 worldToScreen是有bug的么？

[2018-09-25 09:02] jareguo commented on #3212
same feedback: http://forum.cocos.com/t/v2-0-1-facebook-instantgame/66453

[2018-09-26 08:24] toddlxt opened #3313 "cc.Texture2D initWithData错误"
使用initWithData后，执行到这一行会报错（this._texture为null）：
https://github.com/cocos-creator/engine/blob/96bda88193f046d4669a2fb38a5ad968c5d6a9df/cocos2d/core/assets/CCTexture2D.js#L377

[2018-09-26 23:45] unace opened #3318 "[2.0.2] cc.audioEngine.setEffectsVolume affects to Music volume"
### Creator version?（版本号）
2.0.2

### Affected platform?（受影响的平台）

Mac

### How to reproduce?（如何重现）
1. Play Music with "cc.audioEngine.playMusic"
2. Set Effect sound volume to 0 (cc.audioEngine.setEffectsVolume(0);)
3. setEffectsVolume affects to music volume

### JavaScript output or error produced?（报错信息和调用栈）

![image](https://user-images.githubusercontent.com/7022750/46115210-c942cf00-c1aa-11e8-9e

[2018-09-27 01:28] #1917 closed, assigned to VisualSJ

[2018-09-27 01:48] zilongshanren opened #3319 "cocos creator 2.0 首次进入游戏或者分享回来，有机率横竖屏错误"
![image](https://user-images.githubusercontent.com/785541/46118705-6e58b880-c23a-11e8-81d1-eb711ab1599b.png)

2.0 首次进入游戏或者分享之后回来游戏，有机率横竖屏错误
反复多按几次右上角退出，然后进入游戏就可以重现了。

[2018-09-27 01:54] jareguo commented on #3319
据说安卓重现概率大一点
先重现看看吧……

[2018-09-28 02:11] PPpro commented on #2860
1.x 小游戏的 bug 不再修复

[2018-09-28 02:11] #2860 closed, assigned to nobody

[2018-09-28 02:56] cmontiel opened #3333 "White rectangles and glow glitches"
There appear semitransparent white rectangles and white glows around all sprites.

### Creator version?（版本号）

2.0.2

### Affected platform?（受影响的平台）

Mac + Google Chrome v69. No issues on other browsers.
### How to reproduce?（如何重现）

Random, in my case I just load any scene and display a node with a lot of l cc.Label, or play an animation changing opacity. It happens on several projects.

Resizing b

[2018-09-29 04:06] xduooo opened #3339 "[2.0.2正式版]当 scrollView 内 mask 与 scrollView 外 mask 重叠时，外部 mask 遮罩失效"
### Creator 2.0.2 正式版

### 描述
当 scrollView 内 mask 与 scrollView 外 mask 重叠时，外部 mask 遮罩失效
![image](http://forum.cocos.com/uploads/default/original/3X/a/0/a0a012c8850e74418f0ebb35878af6db832d8952.png)

### 讨论帖
http://forum.cocos.com/t/mask-bug-demo/66995

### Demo project
http://forum.cocos.com/uploads/default/original/3X/0/7/07d420d18e1325c2852d99cca36f3c0d23de51ce.rar

[2018-09-29 12:24] dumganhar commented on #3319
这还能是引擎的问题啊？不应该是微信小游戏底层没处理好么？

[2018-10-01 11:12] celp opened #3347 "Continuous unintended node blinking and afterimage with specified hierarchy"
### Creator version?（版本号）
2.0.2

### Affected platform?（受影响的平台）
Mac Browser (Chrome)
There is no issue on Simulator.

### How to reproduce?（如何重现）
I created simple project for this issue attached below.
You may easily reproduce when play on "Browser" from Creator on Mac (not on Simulator).
Click center white rectangle, and you can see blinking issue.

### JavaScript output or error produced?（报错信息和调

[2018-10-01 19:38] cmontiel commented on #3163
Also, the webview position is wrong when exporting to "Web Mobile".

[2018-10-02 06:33] celp commented on #3347
This issue is occurred when adding child node or loading scene.
I have loaded scene in Demo Project.

[2018-10-02 07:01] kreys commented on #3212
Bug still exists in 2.0.2.

[2018-10-05 01:00] zilongshanren commented on #3319
@dumganhar 可能是底层的问题。。。

[2018-10-05 23:53] corpana opened #3348 "Moving particle emitter moves particles as well"
### Creator version?（版本号）
2.0.2

### Affected platform?（受影响的平台）

Web
### How to reproduce?（如何重现）

https://discuss.cocos2d-x.org/t/moving-particle-emitter-moves-particles-as-well/40145?u=emarine26

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-10-09 16:44] hufans commented on #3339
cocos2dx 传说中的一裤裆bug 1k bug vs 12k star

[2018-10-10 02:44] caochao commented on #3248
ts版本的要这么写：
![image](https://user-images.githubusercontent.com/1911170/46710775-f8157680-cc7b-11e8-8c94-c1849877a81c.png)

[2018-10-11 06:13] zhefengzhang opened #3369 "微信小游戏项目调用cc.game.end() 报错：close is not defined"
微信小游戏项目调用cc.game.end()  报错：close is not defined

### Creator version 2.0.2
![image](https://user-images.githubusercontent.com/35944775/46783994-05576180-cd5f-11e8-9db9-2879765011cd.png)

### Affected platform?（受影响的平台）
wechatGame

### How to reproduce?（如何重现）
执行cc.game.end()；

### JavaScript output or error produced?（报错信息和调用栈）
close is not defined

### Demo project?（demo 项目
[test_ccgame_end.zip](htt

[2018-10-12 07:11] caochao opened #3375 "ios10以下es6语法错误"
### Creator version?（2.0.1）

### Affected platform?（ios 9.3.5）

### How to reproduce?（必现）

### JavaScript output or error produced?（报错信息和调用栈）

ERROR: SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode., location: jsb-adapter/engine/jsb-node.js:28:8
这是jsb-adapter的语法错误。用户脚本project.js已经被转译成了es5，为什么adapter不能转译一下

[2018-10-12 10:06] ColinCollins commented on #3212
I will fix it immediately, Thx for your feedback, This problem will be fixed in the next version. @kreys

[2018-10-12 23:44] Ronsku opened #3379 "Project specific Preview-templates"
Hi,

Something that would really help a lot when working with different projects using Cocos Creator would be to be able to have project specific "preview-templates" folders in the root of the projects, the same way as "build-templates" in project roots override the "resources\static\build-templates" default build templates.

Preview-templates folder is also in Cocos Creator application under "res

[2018-10-15 03:54] #3097 closed, assigned to ColinCollins

[2018-10-15 17:15] zhefengzhang opened #3385 "必现，挂在根目录下的脚本组件在编辑器数据显示和脚本属性不一致的现象,重启编辑器无效"
### Creator version?（版本号）
2.0.2  、1.9.1  我在这两个版本中运行都出现了异常

### Affected platform?（受影响的平台）

All platform
### How to reproduce?（如何重现）
在脚本开发过程中偶现，并且在这个过程中编辑器控制台没有任何报错。

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[game.zip](https://github.com/cocos-creator/engine/files/2479797/game.zip)
![qq 20181016010456](https://user-images.githubusercontent.com/35944775/4696665

[2018-10-15 18:44] jmparsons opened #3386 "Pageview - insert before current index content shift"
The current Pageview uses an array and inserting pages before the current index will shift the content. There's no method for the current view to be retained in position while animating to dynamically insert new pages without interruptions. This makes Pageview very difficult to create dynamic lists.

[2018-10-16 01:44] #3385 closed, assigned to nobody

[2018-10-16 06:04] yzpTsubasa opened #3391 "Label显示阿拉伯语不完整，右边会有裁切"
### Creator version 1.9.3 （新版本 1.10 也会有）

### 目前只测试过Web情况会如此

### 在Creator中任意创建一个 Label，把 Horizontal Align 设置为 Right，输入一段阿拉伯文，如：
**و   المحتوى   عبارة   عن**

实际会被裁切，效果如图（最右边的و被裁剪掉了）：
![tim 20181016135359](https://user-images.githubusercontent.com/6694440/46995678-4dee9080-d14c-11e8-971b-d39faf96eb88.png)

### Demo project?（demo 项目）
[CoccosDemo.zip](https://github.com/cocos-creator/engine/files/24

[2018-10-16 07:11] xianyinchen opened #3392 "[2.0.2] EXACT_FIT 适配模式效果不对。"
### Creator version?（版本号）
2.0.2

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

var size = cc.view.getDesignResolutionSize();
cc.view.setDesignResolutionSize(size.width, size.height, cc.ResolutionPolicy.EXACT_FIT);
cc.Canvas.instance.alignWithScreen();

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-10-16 14:25] sommerper commented on #3379
+1

[2018-10-17 14:35] cmontiel opened #3397 "Webview position is wrong after build."
### Creator version?（版本号）

2.0+

### Affected platform?（受影响的平台）

Exporting to 'web mobile'.

### How to reproduce?（如何重现）

Add a WebView and make a build. The webview moves to a wrong place when you resize the browser.

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-10-17 14:37] cmontiel commented on #3333
Fixed in 2.1 alpha 9.

[2018-10-17 14:37] #3333 closed, assigned to nobody

[2018-10-17 16:46] TimOfTheYear commented on #3032
@slackmoehrle @pandamicro @jareguo Any help on this? It has been 2 and 1/2 months, issue still seems to persist in cocos 2.0.

[2018-10-17 18:14] slackmoehrle commented on #3032
@TimOfTheYear Thanks for reaching out. Please be patient for a few days as our team is finalizing releasing Cocos Creator 2.0.4. The engineering team can take a look at this issue soon. Please reach out if you need anything in the mean time.

[2018-10-18 05:55] knoxHuang commented on #3032
hi, i try test it in cocos 2.0.2, they are valid

**Inline all SpriteFrames** and **Merge all JSON that the Start Scene depends on** is false

![image](https://user-images.githubusercontent.com/7564028/47133661-46f68800-d2dc-11e8-9b84-a68b82aeb70a.png)

**Inline all SpriteFrames** is true

![image](https://user-images.githubusercontent.com/7564028/47133690-5fff3900-d2dc-11e8-9b2e-ea8345e590b5.png)

[2018-10-19 00:56] micahli commented on #3397
same bug!

[2018-10-19 02:55] #3032 closed, assigned to knoxHuang

[2018-10-20 18:50] caochao opened #3408 "scrollview内部子元素滚动后监听失效"

[2018-10-20 18:55] #3408 closed, assigned to nobody

[2018-10-21 14:25] #2720 closed, assigned to nobody

[2018-10-22 09:11] benloong commented on #3240
#2730  PR may lead to this ParticleSytem backward compatibility broken

[2018-10-23 07:49] linml opened #3415 "Build Failed: TypeError: Cannot convert undefined or null to object"
Build Failed: TypeError: Cannot convert undefined or null to object
这种错误如何查看；
TypeError: Cannot read property '_uuid' of null
如何定位？ 有删除过meta文件

[2018-10-23 10:14] xianyinchen opened #3416 "[2.0.2] 调用spriteFrame.setRect后，使用的纹理区域不被更新！！！"
详见论坛帖子 http://forum.cocos.com/t/topic/68034/8

[2018-10-23 10:21] shangchihh opened #3417 "Mask无法屏蔽遮罩外面的触摸事件"
### Creator version?（版本号）
2.0.2

### Affected platform?（受影响的平台）

Web

### How to reproduce?（如何重现）
创建一个ScrollView，ScrollView含有Mask组件。在ScrollView里面添加一些子节点，如Button、Toggle。点击位置落在Mask的外面时，ScrollView的子节点依然可以监听到触摸事件。

希望的结果是：Mask可以屏蔽遮罩外面的触摸事件。

### JavaScript output or error produced?（报错信息和调用栈）

无。

### Demo project?（demo 项目）

无。

[2018-10-23 18:06] celp commented on #3347
This issue seems to be fixed in 2.1.

[2018-10-23 18:06] #3347 closed, assigned to nobody

[2018-10-24 09:48] #3212 closed, assigned to ColinCollins

[2018-10-25 08:08] #1963 closed, assigned to jareguo

[2018-10-26 05:52] unace commented on #3212
@ColinCollins Is #3390 related to this issue? It doesn't look like that to me.

[2018-10-26 08:18] ColinCollins commented on #3416
这个问题已经修复了,在 2.0.5 进行更新，issue 关掉咯
https://github.com/cocos-creator/engine/pull/3410

[2018-10-26 08:21] ColinCollins commented on #3318
This problem has been fixed.
There is the pr:
https://github.com/cocos-creator/engine/pull/3299
we will update this part of the content in the version 2.0.5.
Thx your feedback

[2018-10-26 08:22] #3318 closed, assigned to nobody

[2018-10-26 08:24] ColinCollins commented on #3262
setRotate 问题同样已经修复了。
https://github.com/cocos-creator/engine/pull/3410

[2018-10-26 16:25] unace commented on #3318
Thank you for the fix.

[2018-10-28 23:07] Ronsku opened #3439 "Mask Fade-out"
It would be very useful if the mask-component would support opacity, so that you could fade-out the masked area. This could be done for example with a stencil image.

[2018-10-29 05:35] #3313 closed, assigned to nobody

[2018-10-29 05:40] k8w opened #3441 "[2.0.4] Graphics 设置透明度无效"
### Creator version?（版本号）
2.0.4

### Affected platform?（受影响的平台）

Web & All

### How to reproduce?（如何重现）
1. 新建一个Graphics节点，绘制任意内容
1. 修改节点的opacity为50

### 期望结果
半透明

### 实际结果
不透明

[2018-10-29 08:46] k8w opened #3442 "[2.0.4] 勾选自动释放资源后，Spine动画无法正常播放"
### Creator version?（版本号）
2.0.4

### Affected platform?（受影响的平台）

所有

### How to reproduce?（如何重现）
1. 场景放一个Spine动画，勾选【自动释放资源】
2. 切到其它场景，再切回来
3. Spine动画无法播放

[2018-10-30 06:11] #3136 closed, assigned to ColinCollins

[2018-10-30 09:33] TomatoBoy opened #3449 "Tiledmap里的对象层不显示"
Creator version: 2.0.2
1: Tiledmap里的对象层不显示;
2: 在Tiled里修改图块图层的透明度为0, 导入到Creator里又变成了255;

之前用1.9.3是正常的

[2018-11-02 02:55] ColinCollins commented on #3313
This issue has been fixed, Thx for your feedback. @toddlxt

[2018-11-03 09:30] hulifu opened #3461 "[2.0.5 rc2] mask和多摄像机 mask前面节点都显示为白色，后面节点显示正常"
###2.0.5 rc2?（版本号）
### Affected platform?（受影响的平台）
谷歌浏览器和模拟器
一个摄像机负责把场景所有的节点显示到nodeA的组件sprite上，另一个摄像机负责把nodeA到屏幕上
一旦有mask话，mask前面节点都显示为白色，后面节点显示正常
https://forum.cocos.com/t/cocos-creator-v2-0-5-1030-rc-2/68353/151?u=hulifu

[2018-11-05 08:46] wellziy opened #3465 "creator v2.0.2编辑器下onDestroy会被调用两次"
编辑器下通过Node Tree窗口删除node时，node上面executeInEditMode的component的onDestroy会被调用两次。

[2018-11-07 11:07] JarvisMMMM commented on #3392
能尽快改这个吗？各位大大们啊

[2018-11-09 03:02] jareguo commented on #2282
It will land on v2.1, see https://github.com/cocos-creator/engine/pull/3475

[2018-11-09 03:02] #2282 closed, assigned to knoxHuang

[2018-11-09 06:47] jareguo commented on #3369
已修复，感谢反馈

[2018-11-09 06:47] #3369 closed, assigned to nobody

[2018-11-09 08:27] zilongshanren opened #3489 "小游戏安卓截图保存相册显示不全"
需要修改 CCView.js

![image](https://user-images.githubusercontent.com/785541/48251357-4e710300-e43c-11e8-91fd-e344b7f321d8.png)

[code]

[2018-11-09 11:50] caochao opened #3492 "dragonBone不支持blendMode"
![image](https://user-images.githubusercontent.com/1911170/48261004-94d45b00-e458-11e8-8636-676bbe1a872a.png)

CCSLOT.js直接return了，这是还没完成吗？有计划吗？
https://github.com/cocos-creator/engine/blob/2.0.5/extensions/dragonbones/CCSlot.js

[2018-11-09 11:59] caochao commented on #3492
@pandamicro @jareguo 现在cc.Scale9Sprite都没了，这块要怎么改呀？_renderDisplay属性也没赋值了.
现在用的是2.0.1的creator。看文档应该是要拿到显示节点的RenderComponent来设置blendFunc吧？

[2018-11-12 03:24] #3386 closed, assigned to nobody

[2018-11-12 03:40] huangliu commented on #3144
我刚翻了半天引擎代码才发现2.x依旧没有改这个问题..

[2018-11-12 05:00] caochao commented on #3492
大佬关注一下呀

[2018-11-12 06:21] tigershinny commented on #3163
@drelaptop  videoplayer didn't works on 2.0.x, and will be supported for android and ios in coming creator 2.1?

[2018-11-12 06:24] drelaptop commented on #3163
yeah, creator 2.1 will be released soon. now we are testing RC version. This is related with Android & iOS Native WebView, AFAIK __WebView in Web platform is supported already__.

[2018-11-12 06:28] tigershinny commented on #3163
Great, looking forward to it, and thanks for your effort!

[2018-11-12 08:33] jareguo commented on #3492
@sunnylanwanjun 有空麻烦透露下我们现在的重构情况

[2018-11-12 08:39] sunnylanwanjun commented on #3492
这块已经改了，这周会提个dragonbones的pr，到时我发个pr链接上来，稍微等待一下。

[2018-11-12 09:35] caochao commented on #3492
感谢

[2018-11-12 11:28] zhefengzhang opened #3497 "cocos creator 1.9 webview中点击输入框会使界面内容异常"
### 1.9.1

###
[NewProject.zip](https://github.com/cocos-creator/engine/files/2571708/NewProject.zip)

安卓原生

使用了r12b,r15b,r16b,r18b等各版本ndk，都出现上诉情况。

关于测试机型，已经小米、oppo、vivo、三星等都会出现这种情况。

其中，红米3 6.x的系统，运行demo时，点击“账号”，出现如你截图所示情况，键盘弹出但是画面没有移动；但是点击 “密码”时，就又出现我发的截图所示情况，被遮盖。

这可以肯定是一个大规模出现的问题。我们测试的机型，大部分都是6.x\7.x\8.x\，暂时没有找到4.x的机型来测试

[2018-11-14 06:55] caochao opened #3507 "v2.0.5 ios9 使用用ttf字体真机运行黑屏"
### Creator version?（版本号）
2.0.5

### Affected platform?（受影响的平台）
ios

### How to reproduce?（如何重现）
场景上放个label, 设置ttf自定义字体

### JavaScript output or error produced?（报错信息和调用栈）

ERROR: ReferenceError: Can't find variable: Promise, location: jsb-adapter/jsb-builtin.js:3008:35

### Demo project?（demo 项目）

![image](https://user-images.githubusercontent.com/1911170/48465238-28bd7280-e81d-11e8-9fd0-1dccb421

[2018-11-14 07:26] KaloFreeze opened #3508 "龙骨动画闪烁"
### Creator version?（版本号）
1.10.2WIN

### Affected platform?（受影响的平台）

目前测试 网页上正常播放 但是在安卓上出现闪烁

### How to reproduce?（如何重现）
只要动画有透明度 就会出现

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-11-14 10:11] MarkusTieche opened #3511 "More enhanced project Manager"
A more enhanced project Manger would be very helpful. Especially when working with multiple projects.
Something with custom icons(stored in project folder), an "open project directory" button and maybe a "delete project from HDD" button.

![moreusefulprojectselect](https://user-images.githubusercontent.com/8083536/48475535-54c8fb80-e7fd-11e8-95db-8b745d584f13.png)

[2018-11-14 13:15] molinx commented on #3105
The VideoPlayer clip type should be updated to `Asset | string` (https://github.com/cocos-creator/creator-api-docs/blob/master/en/classes/VideoPlayer.md#clip)

Is the `creator.d.ts` file generated from the creator-api-docs?

[2018-11-15 09:17] xianyinchen opened #3518 "creator 1.10.2 微信小游戏勾选ES6转换报错“__require is not defined”"
![image](https://user-images.githubusercontent.com/8321365/48542461-2b41ca00-e8fa-11e8-93b4-233ec8cbacbe.png)

主要是勾选es6，微信会强制严格模式，导致这里报错。
把 __require 改成 var __require 就没问题！

[2018-11-16 14:14] utkayd opened #3527 "RichText appearance bug"
Hello,
We are using cocos-creator to deliver games for quite some time, and we've recently been occupied with upgrading the games from v1.9 to v2.x. While most of our scenes transformed rather easily, we've noticed a bug with the RichText component, and scenes using it. When we use a richtext component that is either not enabled or has 0 opacity, we change the text by editing its RichText's "strin

[2018-11-18 05:39] sss316 commented on #3392
求求快修复这个bug，等的好急

[2018-11-19 01:56] caryliu1999 commented on #3527
Thank you for your feedback. This problem has been fixed by [pull/3528](https://github.com/cocos-creator/engine/pull/3528).

[2018-11-19 06:00] #3527 closed, assigned to nobody

[2018-11-19 08:49] lulukdog opened #3532 "shader精度highp报错"
Creator 版本： 2.X

目标平台：web

详细报错信息，包含调用堆栈： Failed to compile fs 0 (ln 4): 'highp' : precision is not supported in fragment shader

重现方式：启动即黑屏

手机型号 ：CHM-TL00

手机浏览器 ： X5内核

编辑器操作系统 ：安卓 4.4.2

出现概率： 用户报，自己尝试未浮现

[2018-11-19 09:53] jareguo commented on #3511
Thanks, we will implement it in the next-generation editor.

[2018-11-19 09:56] #3511 closed, assigned to nobody

[2018-11-20 06:18] knoxHuang commented on #3417
这个已经在 2.0.5 版本修复了，

[2018-11-20 06:18] #3417 closed, assigned to nobody

[2018-11-20 15:03] Ronsku commented on #3439
Maybe I didn't explain this clear enough. My thought was to use the stencil image alpha values to create the transparency in the masking, instead of having hard edges with a static alpha threshold.

If the alpha threshold would be removed you could create sharp edges and smooth fade-out edges of your masks.

Let me know if you need more detailed explanation. This feature would be huge for many thi

[2018-11-20 15:19] cmontiel commented on #3397
It's fixed in 2.1 RC4

[2018-11-20 15:20] #3397 closed, assigned to nobody

[2018-11-20 15:25] cmontiel opened #3538 "2.1 RC4 Build Window"
![image](https://user-images.githubusercontent.com/8818683/48783493-cd89f500-ece0-11e8-814d-8991173cf620.png)

### Creator version?（版本号）

2.1 RC4

### Affected platform?（受影响的平台）

Mac Editor.

### How to reproduce?（如何重现）

Project -> Build

### JavaScript output or error produced?（报错信息和调用栈）

No error.

[2018-11-20 15:28] cmontiel opened #3539 "2.1 RC4 Electron is not defined."
![image](https://user-images.githubusercontent.com/8818683/48783637-2ce80500-ece1-11e8-9c32-ba426783d0c3.png)

### Creator version?（版本号）

2.1 RC4

### Affected platform?（受影响的平台）

Mac Editor.

### How to reproduce?（如何重现）

Make a build from command line.

[2018-11-21 05:16] QwincyLi opened #3541 "错误指定节点group,导致的debug与release表现不一致"
### Creator version?（版本号）
#### 2.0.4

### Affected platform?（受影响的平台）
#### release(android , web-mobile ， 其他的没有测试)

### How to reproduce?（如何重现）
#### 1.创建一个渲染节点并添加到场景中
#### 2.指定它的group为一个不存在的错误的字符串
#### 3.在预览及debug包中能够被渲染出来，但是在release包中无法被渲染
####
#### 应该表现一致或者有个错误警告？
### JavaScript output or error produced?（报错信息和调用栈）
#### 无

### Demo project?（demo 项目）

[2018-11-21 05:28] QwincyLi commented on #3541
看了下 是Camera组件的DebugCamera对其进行的绘制。。。

[2018-11-21 16:46] cmontiel commented on #3539
Fixed in RC5

[2018-11-21 16:46] #3539 closed, assigned to nobody

[2018-11-21 16:46] cmontiel commented on #3538
Fixed in RC 5.

[2018-11-21 16:46] #3538 closed, assigned to nobody

[2018-11-22 02:01] pandamicro commented on #3489
感觉这是安卓微信的 bug ？

[2018-11-22 12:45] bigbanana opened #3546 "无法自定义引擎 gulp build 没有生成/engine/bin/.cache/dev"
### Creator version?（版本号）
2.0.5

### Affected platform?（受影响的平台）
Mac Editor

### How to reproduce?（如何重现）
gulp build 然后设置自定义引擎

### JavaScript output or error produced?（报错信息和调用栈）
can not find ... /engine/bin/.cache/dev

[2018-11-23 02:14] llj1107984843 opened #3549 "布局组件缺少居中功能！"
http://ae01.alicdn.com/kf/HTB1RBeqXZfrK1Rjy1Xd761emFXaJ.png
暂时用了两布局组件实现了

[2018-11-23 02:17] llj1107984843 commented on #3549
并且 布局组件导致  一个节点移动给另外一个当孩子  撤销一下  节点是回来了  但是场景里位置错了

[2018-11-23 08:44] fkworld opened #3551 "两个重叠的mask导致显示异常"
### Creator version?（版本号）
2.0.2

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）
依次创建两个mask，后一个mask如果为IMAGE_STENCIL模式，则会导致前一个mask显示异常。

### JavaScript output or error produced?（报错信息和调用栈）

无报错信息

### Demo project?（demo 项目）

https://gitee.com/fkworld/cocos_bug_demo

[2018-11-24 04:34] bigbanana opened #3554 "2.1 release rotateTo旋转不正确"
### Creator version?（版本号）
2.0.5

### Affected platform?（受影响的平台）
Web

### How to reproduce?（如何重现）
更换引擎2.1release
使用cc.rotateTo(2, 60);多次调用发再会重复旋转，并且在旋转开始目标旋转就会发生改变（满足最小角度导致的Bug？）

[2018-11-24 05:12] bigbanana commented on #3554
可能描述得不是很准确，可以新建一个项目试一下，一直调用rotateTo，会发现旋转一开始就会设置一个角度，产生抖动，并不是平滑的。很突兀

[2018-11-24 10:53] caochao commented on #3442
是无法播放还是图片全乱了？

[2018-11-25 00:53] AntonShalgachev opened #3555 "[2.0.5 Editor] Ghost colliders remain "attached" in the editor scene after changing node's parent"
### Creator version?（版本号）
2.0.5

### Affected platform?（受影响的平台）

Windows Editor / Web

### How to reproduce?（如何重现）
* Create 2 nodes on the same level in hierarchy:
  * Create empty node (say, 'Objects')
  * Create node (say, 'Player') with RigidBody & PhysicsBoxCollider
* Make 'Player' a child of 'Objects' by dragging 'Player' with the mouse onto 'Objects'
* Move\scale scene in the editor with the

[2018-11-25 01:18] AntonShalgachev opened #3556 "[2.0.5] Joint anchors aren't scaled properly"
### Creator version?（版本号）
2.0.5

### Affected platform?（受影响的平台）

Windows Editor / Web

### How to reproduce?（如何重现）
* Create empty Node with the scale of 0.5
* Inside this node create 2 nodes with the RigidBody and physics collider components (say, 'Body' and 'Wheel')
* Connect 'Wheel' to the 'Body' with the joint (I used WheelJoint)
* Play a game in the browser
##### Result: Connected body ('Wheel

[2018-11-25 01:42] AntonShalgachev opened #3557 "[2.0.5 Editor] Component data is lost when reverting node with several components of the same type"
### Creator version?（版本号）
2.0.5

### Affected platform?（受影响的平台）

Windows Editor / Web

### How to reproduce?（如何重现）
* Create an empty node (say, 'Player')
* Add 2 PhysicsBoxCollider components to the 'Player' node with different data (e.g. size, offset, density etc)
* Save this node as a prefab
* Press "Go Back" on the top of the "Properties" while 'Player' node is selected (effectively reverting t

[2018-11-25 02:01] AntonShalgachev opened #3558 "[2.0.5 Editor] Joint anchor handle jumps to the top-right after moving it with the mouse (on a node with non-zero size)"
### Creator version?（版本号）
2.0.5

### Affected platform?（受影响的平台）

Windows Editor / Web

### How to reproduce?（如何重现）
* Create an empty Node (named, say, 'Player')
* Set its size to (100, 100)
* Add RigidBody and WeldJoint to it
* Try to move joint anchor handle on the scene with the mouse

#### Result: After grabbing anchor with the mouse and moving it just a bit, the anchor jumps to the top-right o

[2018-11-26 11:27] k8w commented on #3442
无法播放 没图

[2018-11-26 12:59] Sumxx opened #3561 "[ts] preloadScene callback function param problem"
preloadScene  creator.d.ts
`preloadScene(sceneName: string, onProgress?: (completedCount: number, totalCount: number, item: any) => void, onLoaded?: (error: Error) => void): void;`

preloadScene   Source code
[code]

onLoaded(error, asset); is have 2 param
so ues strange code
[code]

[2018-11-28 13:00] interfacekun commented on #3249
老哥你找到原因了吗

[2018-11-28 13:09] 252378189 commented on #3249
解决了，是需要连接websocket的时候加载证书：
this.websocket = new WebSocket(this.wsServer,"","客户端证书路径");

PS:
这个证书路径要特别注意，不知道为什么把证书像资源文件那样放在资源的目录是不行的。
查看过在构建原生包的时候也是有构建进去，但就是死活报路径不对。
后来这个 客户端证书 我在构建完了之后再复制到构建后的资源路径里，然后写代码的时候硬引用就对了。搞不明白为毛这样。
^O^对了我已转Laya.................

[2018-11-28 13:55] interfacekun commented on #3249
路径不对可能需要cc.url.raw("resources/214771538980572.pem")转换一下，最近也在了解laya。

[2018-11-29 10:54] ayarami opened #3575 "facebook打包后不能正常上传"
[https://discuss.cocos2d-x.org/t/the-bundle-config-file-included-in-this-upload-has-an-invalid-configuration-facebook-instant-games/44706](https://discuss.cocos2d-x.org/t/the-bundle-config-file-included-in-this-upload-has-an-invalid-configuration-facebook-instant-games/44706)
fb上传规则修改，选择fb平台构建后不能上传，之前正常。
在fbapp-config.json中添加navigation_menu_version字段后上传成功。

[2018-11-30 07:30] fkworld commented on #3551
更新到2.0.5版本后无法复现

[2018-11-30 08:19] knoxHuang commented on #3551
这个在 2.0.5 已经修复了，推荐更新到 2.0.5

[2018-11-30 08:19] #3551 closed, assigned to nobody

[2018-11-30 09:13] VisualSJ commented on #3575
已经修复，请在下个版本回归测试

[2018-11-30 09:30] #3575 closed, assigned to knoxHuang

[2018-12-02 17:26] ggnewt opened #3579 "Rotated Particle Systems nodes don't emit into world space correctly."
### Creator version?（版本号）
v2.0.1

### Affected platform?（受影响的平台）

Windows Editor

### How to reproduce?（如何重现）
Set a particle system to emit in "Free" mode.
Rotate that particle system node with animation.
Watch particles now emit locally and spin with animated node.
![cocos_particle_rotation_bug](https://user-images.githubusercontent.com/43218307/49342776-43ad2680-f614-11e8-8a73-eb4c3a7072c8.gif)

[2018-12-03 01:38] xianyinchen opened #3580 "图片资源下载失败，loadRes 仍返回成功。"
creator 2.0.5
构建web-mobiel，然后删除指定的图片文件，然后使用loadRes单独下载该文件，下载仍成功，但是纹理为空。
[LoadRes.zip](https://github.com/cocos-creator/engine/files/2637728/LoadRes.zip)

[2018-12-03 06:21] ColinCollins commented on #3561
Thx for your feedback, we'll modify this part of annotation on the version 2.1.

[2018-12-03 06:30] #3416 closed, assigned to nobody

[2018-12-03 06:33] knoxHuang commented on #3339
已经修复，2.0.5 版本可验证

[2018-12-03 06:33] #3339 closed, assigned to nobody

[2018-12-03 06:37] ColinCollins commented on #3546
2.0 之后的版本脚本都是在打开编辑器的时候自动编译的，不需要通过 gulp build 进行编译脚本了。
这个情况之前有偶然遇到过一次，你首先确认 engine 版本以及 编辑器版本对应，同时在偏好设置中勾选自动编译脚本。
找不到缓存路径可能是 engine 路径设置错误，建议尝试重开编辑器。
最终还是不行的话建议重新配置自定义引擎，重新安装编辑器。

若不是 engine 功能问题建议直接在论坛发帖求助。@bigbanana

[2018-12-03 06:41] #3546 closed, assigned to nobody

[2018-12-03 08:38] ColinCollins commented on #3580
2.0.5 测试没问题啊，按照你的要求构建完成之后我删除了 flight1 之后：
![image](https://user-images.githubusercontent.com/35832931/49362503-ebf8e300-f719-11e8-9053-31b85d9c7665.png)
你是不是没删干净， uuid 的记录存储和文件都要删除啊

[2018-12-03 09:27] knoxHuang commented on #3319
测试了一下，并没有走我们引擎 setDesignResolutionSize ，屏幕适配到代码，可能是底层没有旋转成功导致到

子龙也重现验证了一次，发现无法重现

[2018-12-04 03:15] SantyWang commented on #3580
@ColinCollins 这里没问题，只是err返回的数据是空数组，我已经修复了

[2018-12-04 06:16] ColinCollins commented on #3549
关于组件功能问题请查阅相关功能手册文档。
https://docs.cocos.com/creator/manual/zh/components/widget.html
如果有功能上的 bug 反馈，请提交准确 bug 复现环境描述，并且在能力范围内提供辅助效果展示如：截图，动图，demo 等。

[2018-12-04 06:17] #3549 closed, assigned to nobody

[2018-12-04 06:19] #3561 closed, assigned to nobody

[2018-12-04 06:51] ColinCollins commented on #3187
The cc.Graphics is a special Component， it inherits from the RenderComponent.
when Creator executes the extends command it will set the constructor as the parent class, you can see [here](https://github.com/cocos-creator/engine/blob/master/cocos2d/core/platform/js.js), the graphics get the _assembler when running the ctor method (you can see  [here](https://github.com/cocos-creator/engine/blob/mas

[2018-12-04 07:18] ColinCollins commented on #3379
Thx for your suggestion. but I don't know where I can use this and it works.
Would you mind provide the environment for me to understand this feature?
@Ronsku

[2018-12-04 08:02] ayarami opened #3589 "未考虑emoji表情在label中换行的处理，导致显示有问题"
https://forum.cocos.com/t/cocos-creator-emoji/70247

[2018-12-06 02:23] Flickering-Alvin opened #3600 "ios10.3.3 或者更低版本 语音没播放完就停止了"
由于项目遇到这个问题比较紧急，麻烦大神们解决一下
### Creator version?（版本号）
v1.10.2  v2.0.5

### Affected platform?（受影响的平台）

iOS
### How to reproduce?（如何重现）
ios10.3.3 或者更低版本，cc.audioEngine.playEffect 播放一段语音，最后几百毫秒没有播放完。

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

https://demo.mathufo.com/h5/test/sample.rar

[2018-12-06 02:54] xingfude123 opened #3601 "编辑器界面卡死"
### Creator version?（版本号）
V2.1.0

### Affected platform?（受影响的平台）
Windows Editor

### How to reproduce?（如何重现）
控制台报错后,整个编辑器界面无响应.
![image](https://user-images.githubusercontent.com/27794684/49558357-afa9ca80-f945-11e8-8dcf-52917135f89e.png)

[2018-12-06 06:02] ColinCollins commented on #3601
你好，感谢你的反馈。由于你当前提供的报错信息不够完善导致我们无法锁定这个问题起因。建议提供更详细的信息反馈，详细的实现环境描述，复现操作描述，这有助于我们快速的定位这个问题起因，以尽快解决你当前可能遇到的问题。@xingfude123

[2018-12-06 07:57] pandamicro commented on #3580
@xianyinchen

[2018-12-06 07:57] #3580 closed, assigned to nobody

[2018-12-06 08:38] ColinCollins commented on #3579
Would you mind providing your demo for us to verify your problem?

[2018-12-06 19:22] ggnewt commented on #3579
Yes, I'd be happy to.  What's the best way to get it to you?

Thanks, Greg

On Thu, Dec 6, 2018 at 12:38 AM ColinCollins <notifications@github.com>
wrote:

[2018-12-07 10:00] xianyinchen opened #3609 "使用action去控制的粒子，在横竖移动过程，会出现粒子抖动"
[2.1] 将 CCParticleSystem.js 文件下的 update 函数名改成 lateUpdate 函数名，可以解决问题。

[2018-12-07 10:04] ColinCollins commented on #3579
Just drag your zip or dmg file to GitHub comment block, it will be available for others.

[2018-12-07 16:22] ggnewt commented on #3579
[ParticleRotationBug.zip](https://github.com/cocos-creator/engine/files/2657991/ParticleRotationBug.zip)

Here's the project with the particle rotation bug.

[2018-12-08 05:39] genxium opened #3611 "ObjectLayer images of the TiledMap are gone"
### Creator version?（版本号）
I'm using Creator v2.1.0 MAC, but I just upgraded from v1.9 MAC which doesn't have this issue.

### Affected platform?（受影响的平台）

Mac Editor, Web.

### How to reproduce?（如何重现）
I've attached the intact "TMX+TSX+PNG" files in this [big_trunks.zip](https://github.com/cocos-creator/engine/files/2659431/big_trunks.zip) for reproduction of the issue. You can import the file "big_

[2018-12-08 07:32] genxium commented on #3611
I noticed that in master-branch, [cc.TiledLayer](https://github.com/cocos-creator/engine/blob/master/cocos2d/tilemap/CCTiledLayer.js) is currently a subclass of cc.RendererComponent whilst [cc.TiledObjectGroup](https://github.com/cocos-creator/engine/blob/master/cocos2d/tilemap/CCTiledObjectGroup.js) is not. Is that a cause of the issue here?

EDITED: In the source code of branch v1.9 they are bot

[2018-12-09 01:18] kreys opened #3612 "Facebook Instant Games crash on new Chrome Mobile 71 - Fullscreen issue"
### Creator version?（版本号）

both 2.0.2 and 2.0.5

### Affected platform?（受影响的平台）

Android - Messenger Instant Games with newest Chrome 71.0.3578

### How to reproduce?（如何重现）

Just start the build on Messenger on android with newest Chrome 71.0.3578

### JavaScript output or error produced?（报错信息和调用栈）

`TypeError
fullscreen error`

This error is 100% reproducable on every android Messenger game when

[2018-12-09 01:38] kreys commented on #3612
Does this have anything in common with Chrome 71 supporting new optional parameter of `requestFullscreen` function, which previously was not available?

New api:
https://developer.mozilla.org/en-US/docs/Web/API/Element/requestFullscreen

[2018-12-10 07:43] bmbariah commented on #3163
Was the WebView for Android fixed in Creator 2.1.0?

[2018-12-10 07:54] drelaptop commented on #3163
sure, for Android and iOS @bmbariah

[2018-12-10 08:14] #3589 closed, assigned to knoxHuang

[2018-12-10 08:15] knoxHuang commented on #3589
已修复，可测试

[2018-12-10 08:24] knoxHuang commented on #3319
经过 @zilongshanren 的测试，目前可以解决的 hack 方法，去掉过滤判断，每帧去做：

![image](https://user-images.githubusercontent.com/7564028/49719059-ffb2c500-fc96-11e8-8aa6-34ea4014dac3.png)

但是这个应该是微信底层去做才对，已经反馈给微信了

[2018-12-10 15:27] jareguo commented on #3319
好吧，那就先 close 吧，实在还需要我们来改再说

[2018-12-10 15:27] #3319 closed, assigned to knoxHuang

[2018-12-11 02:52] unace commented on #3612
I just disabled "AutoFullScreen" to avoid this error. I don't know what the "AutoFullScreen" feature is, but my game looks working well on FIG without it.
in main.js
cc.view.enableAutoFullScreen(
                    cc.sys.browserType !== cc.sys.BROWSER_TYPE_BAIDU &&
                    cc.sys.browserType !== cc.sys.BROWSER_TYPE_WECHAT &&
                    cc.sys.browserType !== cc.sys.BROWSER_T

[2018-12-11 07:25] ColinCollins commented on #3579
Hi, @ggnewt ，I checked your demo, Ummm, but I didn't get what's the problem you have met....
What's wrong with this demo?

[2018-12-11 21:27] ggnewt commented on #3579
Particles emitting into "Free" world space work correctly when the emitter is translating. When the emitter rotates, the particles rotate with the emitter, as if it was emitted with "Group" or local space. The particles should not rotate with the emitter if the are emitting into world space (Free mode).  Here is an example showing the difference.  Cocos doesn't emit particles into world space, or

[2018-12-12 03:29] ColinCollins commented on #3579
![gif](https://user-images.githubusercontent.com/35832931/49845147-87681300-fe00-11e8-86db-e92024e979d8.gif)
@ggnewt  Ummm, I get what's your means totally, but our engine particleSystem has a little bit different with others probably. so you need to change some setting for the particleSystem.
![image](https://user-images.githubusercontent.com/35832931/49845272-f8a7c600-fe00-11e8-97d8-197bd910215a

[2018-12-13 01:48] ggnewt commented on #3579
Hi ColinCollins - Thanks for you response, I appreciate it. Please allow me to explain my point a little differently as I don't think I explained it quite right the first time.  The Cocos Manual states "Free" mode as:

**FREE
Living particles are attached to the world and are unaffected by emitter repositioning.**

Repositioning should be defined to include both both translation and rotation.  Cur

[2018-12-13 15:06] KAndQ opened #3629 "iOS 平台切换到后台报错"
### Creator version?（版本号）
Cocos Creator 2.1.0

### Affected platform?（受影响的平台）
iOS

### How to reproduce?（如何重现）
1. 构建项目;
2. jsb 实现 onHide 方法;
3. 真机运行(iPhone7), 点击 Home 键;
4. 回到 App, 重复 3 操作, 2-3 次后就会出现.

### JavaScript output or error produced?（报错信息和调用栈）
2018-12-13 22:56:39.809433+0800 test-mobile[31213:9911275] Execution of the command buffer was aborted due to an error during execution. Insuffici

[2018-12-14 08:02] wusuizhi opened #3634 "特定的spine资源无法正常播放，已提供资源"
### Creator version?（版本号）
2.0.5 & 2.1.0

### Affected platform?（受影响的平台）

Windows Editor
### How to reproduce?（如何重现）
直接拖到编辑器查看

### JavaScript output or error produced?（报错信息和调用栈）

2.0.2 和 1.10版本都能正常显示，从2.0.5开始无法正常显示
### Demo project?（demo 项目）

[2.0.2good-2.0.5bad.zip](https://github.com/cocos-creator/engine/files/2679102/2.0.2good-2.0.5bad.zip)

[2018-12-14 10:57] joelyoung opened #3635 "_globalOrderOfArrival溢出导致图层错位"
### Creator version?（版本号）
2.0.5

### Affected platform?（受影响的平台）
所有平台

### How to reproduce?（如何重现）
反复切换界面

### JavaScript output or error produced?（报错信息和调用栈）
无

反复切换界面或者多次创建删除对象后, _globalOrderOfArrival超过65535溢出, 导致后续所有新节点图层错位

[2018-12-14 12:39] caochao commented on #3508
我2.0 release合并c++版龙骨动画，部分龙骨动画位置会跳动。网页上则正常

[2018-12-14 18:02] ggnewt commented on #3348
I second this bug. This would be a very helpful fix.

[2018-12-14 18:35] ggnewt opened #3639 "Color Swatch in Sprite Node UI Not Updating."
### Creator version?（版本号）
v2.1.0

### Affected platform?（受影响的平台）

Windows

### How to reproduce?（如何重现）

Create a sprite node with a sprite.
Add an animation node to that Sprite.
Create an animation curve.
Change the color to different colors over the length of the animation.
Save and close the animation curve.
Open the animation for edit again.
Drag around on the timeline, scrolling back and forth

[2018-12-14 18:36] ggnewt commented on #3639
![colorswatch_bug](https://user-images.githubusercontent.com/43218307/50020817-1190b280-ff8c-11e8-96ad-11dbd42a149a.png)

[2018-12-14 18:36] ggnewt commented on #3639
[ColorSwatch_Bug.zip](https://github.com/cocos-creator/engine/files/2681315/ColorSwatch_Bug.zip)

[2018-12-17 01:16] KAndQ commented on #1552
请问上面两个 PR 链接的意思是自己参考着处理吗?

[2018-12-17 16:16] jareguo commented on #1552
不是，我是留着给我们内部人员参考的

[2018-12-17 16:18] jareguo commented on #1552
论坛讨论：https://forum.cocos.com/t/cc-sys-language/47608

[2018-12-18 19:04] celp opened #3649 "cc.Label fade-in blinking issue"
### Creator version?（版本号）
v2.1.0

### Affected platform?（受影响的平台）
Mobile / Web / Mac Editor

### How to reproduce?（如何重现）
[code]
Label is blinking before fade-in.
Making a delay before fade-in makes the issue clear.

### JavaScript output or error produced?（报错信息和调用栈）
None.

### Demo project?（demo 项目）
[NewProject.zip](https://github.com/cocos-creator/engine/files/2691892/NewProject.zip)

Movie:
[Labe

[2018-12-19 10:29] sdfasffsdf opened #3653 "怎么判断是 ipad"
怎么判断是 ipad

[2018-12-19 10:59] xianyinchen opened #3654 "Camera 渲染到纹理，如果与Sprite 组件使用的是相同纹理，而且Sprite的分组和Camera一致，会导致WebGL渲染报错"
rendertexture有个问题，就是把sprite的纹理设置成camera的targetTexture的目标，如果这个sprite的分组是与camera的分组一样，这时候就会出现渲染报错。 glDrawElements: Source and destination textures of the draw are the same.

[rendertexture.zip](https://github.com/cocos-creator/engine/files/2694529/rendertexture.zip)

[2018-12-19 11:13] pandamicro commented on #3654
哦那肯定啊。。。不能这么做，这样就死循环了

[2018-12-19 11:13] #3654 closed, assigned to 2youyou2

[2018-12-21 01:29] xianyinchen opened #3663 "[2.1] 节点的active激活，节点数据的更新有延后一帧的情况"
节点在active=false的情况下，修改alpha后，立即设置active=true，alpha 的没法立即响应！
https://forum.cocos.com/t/fadein-bug/71024/8
[LabelDemo 2.zip](https://github.com/cocos-creator/engine/files/2701160/LabelDemo.2.zip)

[2018-12-24 07:53] jareguo commented on #1552
已经加入，谢谢反馈，将在 2.0.7 提供

[2018-12-24 07:53] #1552 closed, assigned to knoxHuang

[2018-12-25 03:34] #3663 closed, assigned to nobody

[2018-12-26 07:50] yafacex opened #3684 "render-flow的sourcemap很混乱，无法调试"
### Creator version?（2.1.0）

### Affected platform?（开发）

### How to reproduce?（在chrome里调试）
![image](https://user-images.githubusercontent.com/7322814/50437700-df853600-0925-11e9-92c8-b75bfaa5bb95.png)

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2018-12-26 07:56] yafacex commented on #3684
貌似是core/renderer  core/value-types目录下的文件的source-map都有问题  core/platform目录下的就没事 CCDirector也没事

[2018-12-28 01:51] Serisu opened #3687 "iOS 下 Safari 視窗變化無反應"
### Creator version?（版本号）
2.0.5

### Affected platform?（受影响的平台）
iOS

### How to reproduce?（如何重现）
在 GameCanvas 上面疊一層夠長的 div，使用 Safari 開啟後滑動 div 使網址列隱藏，會觸發 resize 事件，但是引擎沒有處理

交叉檢查後發現是 Safari 的 clientWidth 與 clientHeight 會永遠鎖定在網址列顯示時的長寬

目前修改 CCView.js 將 cc.sys.BROWSER_TYPE_SAFARI 如同 cc.sys.BROWSER_TYPE_WECHAT_GAM 使用 window.innerWidth, window.innerHeight 暫時可以解決

[2018-12-28 02:03] Serisu commented on #3653
isIPAD(): boolean {
        let ua = navigator.userAgent;
        if (ua.indexOf('iPad') > -1) {
            return true;
        } else {
            return false;
        }
    }

[2019-01-01 13:13] RaoNawaz commented on #3212
This solved my problem. Thanks a lot

[2019-01-02 00:30] bmbariah commented on #3163
@drelaptop Is it possible to send POST data to the webview url?
Kindly assist.

[2019-01-02 10:45] kyrnii opened #3702 "2.1.0正式版渲染BUG"

[2019-01-04 13:02] #3702 closed, assigned to nobody

[2019-01-08 09:42] ayarami opened #3728 "[2.1.0 Editor] can not transition when editor open a scene"
### Creator version?（版本号）
2.1.0

### Affected platform?（受影响的平台）
Browser preview

### How to reproduce?（如何重现）
There is Scene A and B,Scene A can transit to scene B.
step 1 : editor open scene A and preview on browser.
step 2 : editor open scene B
step 3 : try to transit to scene B and failed on browser preview

### JavaScript output or error produced?（报错信息和调用栈）
no error produced in editor console

[2019-01-08 09:47] ayarami commented on #3728
2.0.7 had fixed.close this issue

[2019-01-08 09:47] #3728 closed, assigned to nobody

[2019-01-09 11:39] seiyap70 opened #3733 "资源后缀名没有完全去掉，比如 samp_audio.mp3?useDom=1, 生成的的path= samp_audio.mp3?"
https://github.com/cocos-creator/engine/blob/e8a39abcdf26bfe4556a747f68c289b5ec0544ff/cocos2d/core/load-pipeline/asset-table.js#L164

[2019-01-09 13:50] wijesijp commented on #3612
I am also getting the error.
setting the fullscreen to false didn't worked for me.

Is there a fix for this?

[2019-01-10 10:25] xianyinchen commented on #3532
这个是GPU的兼容性问题，跟硬件有关，把源码中的 highp 替换成 mediump 就可以避免这个问题，但是渲染精度会所损失。

[2019-01-10 12:29] ayarami opened #3739 "RichText used custom font can not works"
### Creator version?（版本号）
Version 2.0.7

![image](https://user-images.githubusercontent.com/20372902/50968306-992efa00-1515-11e9-9384-7280809c1384.png)

it works on version 2.1 and other versions:
![image](https://user-images.githubusercontent.com/20372902/50968288-8fa59200-1515-11e9-979f-25bf7a4ee5c5.png)

but it can not work on version 2.0.7.
![image](https://user-images.githubusercontent.com/20

[2019-01-11 07:58] fkworld opened #3747 "cc.follow()逻辑异常"
### Creator version?（版本号）
2.0.5

### Affected platform?（受影响的平台）

在Web中异常，其他平台未测试过

### How to reproduce?（如何重现）
新建2个node，nodeA.runAction(cc.follow(nodeB))，nodeA的运动逻辑异常。
按照描述，nodeA会跟随nodeB运动，如果B停止，则A停止。
但是实际上会反向一直移动，移动速度可能与nodeB的坐标变动大小有关。

### JavaScript output or error produced?（报错信息和调用栈）

无报错信息

### Demo project?（demo 项目）

工程：
https://github.com/fkworld/game_01_cocos_bug_demo
代码：
https://github.co

[2019-01-14 03:55] fuyifan opened #3750 "The game will pause for almost 10 sec after power off and on in wechat game in iOS"
### Creator version?（版本号）
2.0.7

### Affected platform?（受影响的平台）

wechat game in iOS platform

### How to reproduce?（如何重现）
push the power button to switch off the screen. After some seconds, show the screen.

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

One thread in the forum discussed this issue and someone responsible for the engine proposed to set the preserve

[2019-01-14 07:46] bmbariah opened #3751 "Detect the app version on Android during runtime"
### Creator version?（版本号）
v2.1.0

### Affected platform?（受影响的平台）

How can I detect the application version during runtime on Android?

[2019-01-15 03:23] smellypotato opened #3753 "Unable to change editbox input flag: setReturnType not implemented"
### Creator version?（版本号）
v1.10.2

### Affected platform?（受影响的平台）
iOS / Android / Simulator (Native JSB)

### How to reproduce?（如何重现）
Set input flag of editbox to any one of them in editor
Create a button that call a function to change the input flag to any other
`this.editbox.inputFlag = cc.EditBox.InputFlag.PASSWORD;`

### JavaScript output or error produced?（报错信息和调用栈）

setReturnType not impleme

[2019-01-15 07:51] 2van opened #3756 "RichText组件报错"
微信端
cocos版本:2.0.5
2.0.7试了也报错
测试了最简单的例子（Canvas下只添加默认的richtext）
![image](https://user-images.githubusercontent.com/13221394/51166063-39519e00-18dd-11e9-90d0-69760ff70833.png)

[2019-01-15 09:53] #3756 closed, assigned to nobody

[2019-01-16 07:58] smellypotato commented on #3753
The input flag is changed when clicking the button, if you click the button to change the input flag then click the editbox, the visibility is changed. The problem is that it does not change dynamically i.e. click button then change the visibility of current input without further interaction

[2019-01-17 02:29] ayarami opened #3763 "Label字数太多，导致顶点数超过限制，显示存在bug"
### Creator version?（版本号）
2.1

### How to reproduce?（如何重现）
Label中字数太多，顶点数超过65535的限制，导致显示出现bug

### JavaScript output or error produced?（报错信息和调用栈）
![image](https://user-images.githubusercontent.com/20372902/51291598-a03c9780-1a42-11e9-862a-42f847bd4d06.png)

[2019-01-17 11:07] Tlioylc opened #3767 "android9.0 设备识别出现问题，cc.sys.os 返回linux。华为meta20pro 版本9.0"
### Creator version?（版本号）
2.0.1版本

### Affected platform?（受影响的平台）

android平台9.0版本
### How to reproduce?（如何重现）
打包成web游戏后,获取当前设备系统平台信息错误

### JavaScript output or error produced?（报错信息和调用栈）

无报错
错误源码：
https://github.com/cocos-creator/engine/blob/42b297e9f0d18dfb930567b1e344bd173043d0d0/cocos2d/core/platform/CCSys.js#L747

webview提供的user-agent为 (Linux; Android 9;........导致正则匹配错误
建议修改代码：
var uaResult =

[2019-01-17 11:07] #3767 closed, assigned to nobody

[2019-01-17 11:10] Tlioylc opened #3768 "android9.0 设备识别出现问题，cc.sys.os 返回linux。华为meta20pro 版本9.0"
### Creator version?（版本号）
2.0.1版本

### Affected platform?（受影响的平台）

android平台9.0版本
### How to reproduce?（如何重现）

打包成web游戏后,获取当前设备系统平台信息错误
### JavaScript output or error produced?（报错信息和调用栈）

无报错
https://github.com/cocos-creator/engine/blob/42b297e9f0d18dfb930567b1e344bd173043d0d0/cocos2d/core/platform/CCSys.js#L747
webview提供的user-agent为 (Linux; Android 9;........导致正则匹配错误
建议修改代码：
var uaResult = /andro

[2019-01-17 11:11] Tlioylc commented on #3768
星号被隐藏了- -，把最后一个加号改为星号，亲测可用

[2019-01-21 06:27] lulukdog commented on #3532
已经修改，提到线上。多谢

[2019-01-21 06:27] #3532 closed, assigned to nobody

[2019-01-21 07:14] hbiang opened #3774 "java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol “__register_atfork”"
Build to adnroid apk okay but when install and run, only black screen and logs cat:

java.lang.UnsatisfiedLinkError: dlopen failed: cannot locate symbol “__register_atfork”

Creator version: 1.10.2
Android SDK: 26
Android NDK: r17c
![issue-01](https://user-images.githubusercontent.com/17015703/51458114-9be7e580-1d86-11e9-823e-2f2e1714137f.jpg)

Tested on real devices: android 5.1, android 8.0

[2019-01-22 06:06] jigelang opened #3777 "setRect不能达到预期效果，在Anchor(1,0.5),以及(0.5,0)下与预期效果不符"
在这两种锚点的设置下，截取出来，渲染的部分不符合预期，提供demo和其中之一的
[setRect.zip](https://github.com/cocos-creator/engine/files/2781483/setRect.zip)

预期图片
![default](https://user-images.githubusercontent.com/5381991/51515477-d3ba6000-1e4e-11e9-8645-4f46de4158e4.png)

### Creator version?（版本号）2.07

### Affected platform?（受影响的平台）
Web-Mobile

[2019-01-22 06:12] #3777 closed, assigned to nobody

[2019-01-22 06:13] jigelang commented on #3777
自己代码理解错误

[2019-01-24 09:34] sercand commented on #3163
Also does not work on 2.1. It does work with webgl but not with canvas.
[code]
which is located at cocos2d/particle/CCParticleSystem.js and cocos2d/particle/particle-system-assembler.js files

[code]

[2019-01-24 09:59] drelaptop commented on #3163
AFAIK, cocos creator 2.x didn't support canvas. did it? @umbrellaPP

[2019-01-24 10:09] wangyhzzz commented on #3392
官方是放弃EXACT_FIT了吗？ 2.0.7 问题依然存在

[2019-01-24 12:51] sercand commented on #3163
@drelaptop Canvas renderer still there: https://github.com/cocos-creator/engine/tree/2.1.0/cocos2d/core/renderer/canvas and https://github.com/cocos-creator/engine/blob/2.1.0/cocos2d/core/renderer/index.js#L146 example codes. If device does not support webgl it fallbacks to canvas.

[2019-01-24 15:49] AndreyPostelzhuk opened #3786 "F12 key not working when Cocos Creator is opened (Mac)"
### Creator version?（版本号）
Creator version is 2.1.0

### Affected platform?（受影响的平台）
Bug is reproduced in Mac Editor

### How to reproduce?（如何重现）
Just open Cocos Creator and navigate to the another app (VS code for example)
F12 key is not working when editor opened. F12 works in combination with other key. For example Shift+F12 works. But F12 alone not working.

[2019-01-25 06:12] hbiang commented on #3774
Sorry, I used wrong NDK version, run okay with r16, please close this issue.

[2019-01-25 11:24] zhandouxiaojiji opened #3788 "cc.sys.languageCode在安卓平台返回不完整"
### Creator version?（版本号）
2.0.7

### Affected platform?（受影响的平台）

安卓(华为)

### How to reproduce?（如何重现）
在PC浏览器上能返回zh-cn, zh-tw等区码，但在打包到手机上返回的却是zh，跟cc.sys.languageCode的结果一样

[2019-01-26 12:52] zonex5 opened #3789 "TOUCH_MOVE like MOUSE_MOVE"
How to make that TOUCH_MOVE fires at the node without initial TOUCH_START on it (like MOUSE_MOVE works)

[2019-01-26 15:58] Salmakis commented on #3348
Any updates here? Still a very annoying bug :(
cocos creator 2.1.0 in browser target

[2019-01-28 02:21] smellypotato opened #3790 "Android html5 label shown as black box when node is too long"
### Creator version?（版本号）
v.1.10.1

### Affected platform?（受影响的平台）
Android Web (Chrome)
### How to reproduce?（如何重现）
1. Create a node with label
2. Set overflow to Shrink
3. Set width of the node to any number > 4096 (2^12?)
4. Input some character (not necessary to fill the whole box, one or two char also work
4. Verify the label

May also be reproduced by setting the string to be very long with o

[2019-01-28 17:28] ggnewt commented on #3348
Hi Annika R -

No updates that I am aware of.. :(

On Sat, Jan 26, 2019 at 7:58 AM Annika R <notifications@github.com> wrote:

[2019-01-31 10:01] sean-looong commented on #3339
并没有修复v2.1.0

[2019-02-01 02:33] jigelang opened #3829 "引擎初始化报错Can't find variable: performance"
引擎初始化报错：Can't find variable: performance
![log](https://user-images.githubusercontent.com/5381991/52099112-b0d93a00-260c-11e9-9e8c-dcbdae40d13f.png)

### Creator version?2.0.1

### Affected platform? iOS8.3, Safari8.3

[2019-02-01 17:09] szpnygo opened #3832 "PageView SizeMode Free错位"
我的PageView的SizeMode是Free，content有Spacing X，然后每次addpage后，滑动就一直错位了。

[2019-02-02 03:57] fuyifan commented on #2987
直接调用cc.director.getCollisionManager().update()

[2019-02-13 08:46] andrewlu1 opened #3839 "带有Scrollview 组件的界面 在0-1缩放展现后 初始ScrollOffset 不正确."
### Creator version?（版本号）
CocosCreator 2.1.0 版本.

### Affected platform?（受影响的平台）

全平台.

### How to reproduce?（如何重现）
一个预置体, 其中包含一个ScrollView节点. 要实现预置体实例化后 由小到大 动画显示出来. 类似于弹窗界面.
同时在Script代码中动态向ScrollView的content中添加列表item.
此时content 可以滚动到 Scrollview 中间的位置, 也即顶部有一半的空白区. 同样的 滚动到底部后,底部也出现一半的空白区.
调试发现初始的Scrollview 的 getScrollOffset() != 0 而是等于 Scrollview 高度的一半.
而未做缩放动画时, 初始的getScrollOffset() == 0.

### D

[2019-02-13 09:02] andrewlu1 commented on #3839
https://forum.cocos.com/t/v2-1-0-scrollview/71260/5
这个帖子给出了解决方案:
延迟0.1S 后手动调用一次.
this.scParentNode.children[0].getComponent(cc.ScrollView)._calculateBoundary();
已确认可行. 但正常情况不应该调用私有的可能变化的API. 需要官方给出解决方案.

解决方案2:
已证实是 因为 缩放起始值 scale =0 导致的.  因此做缩放动画时, 给scale一个非0的值 如0.1,即可解决此问题. 且不需要手动调用以上API.

[2019-02-18 12:03] fkworld opened #3863 "编辑器bug：自定义错误的cocos2d-x引擎路径后导致编辑器无法修改\保存项目设置"
### Creator version?（版本号）

2.0.5

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

1. 新建一个空项目，打开项目-项目设置-自定义引擎-勾掉“使用内置cocos2d-x引擎”-新增任意错误的引擎路径，例如“E:\”。
2. 打开开发者-编译引擎。这是会输出“Compile engine finished”。
3. 再次打开项目设置，此时不可修改\保存任何东西，点击保存按钮会输出“Sorry, save failed. Cannot find simulator config.json under E:\simulator\win32\config.json”。

猜测可能原因是由于编译了错误的引擎后，无法依据错误引擎对项目设置进行修改。

### JavaScript output

[2019-02-19 07:57] fkworld commented on #3863
给出一个临时的解决方案：
打开项目文件夹下 local/settings.json，修改/清理/删除此文件后，再次打开项目，则引擎设置会被重置。

[2019-02-19 16:23] Steph155 opened #3875 "Suggestion : Option to change CCreator's UI size in the settings menu"
### Creator version : 2.1

This a suggestion about offering the ability to scale the Editor's UI and font size if not available already. I personally find it too big for my screen(widgets, panels, buttons are too big on a Full HD screen)...

[2019-02-20 03:59] chenhongtu opened #3877 "2.0.8 dragonBones.ArmatureDisplay 使用on注册事件触发不了"
### Creator version 2.0.8

### Affected platform 所有

dragonBones.ArmatureDisplay 使用on注册事件，2.0.8都触发不了，要用 addEventListener 注册就正常，之前2.0.5使用 on 是正常的

[2019-02-20 14:23] MechaGirls opened #3883 "微信小游戏子域项目里无法使用字体"
### Creator version?（版本号）
Cocos Creator v2.0.6

### Affected platform?（受影响的平台）

微信小游戏,当前开发平台mac os
### How to reproduce?（如何重现）
在子域项目里引入字体文件到Label上
![1550671777528](https://user-images.githubusercontent.com/21666293/53097477-7c4a0580-355c-11e9-86f1-31cadc013178.jpg)

### JavaScript output or error produced?（报错信息和调用栈）

<img width="667" alt="qq20190220-221347 2x" src="https://user-images.githubuserco

[2019-02-25 03:21] jigelang opened #3902 "引擎初始化报错Failed to execute 'shaderSource' on 'WebGLRenderingContext': parameter 1 is not of type 'WebGLShader'."
### Creator version?2.0.1

暂时无法重现
![error](https://user-images.githubusercontent.com/5381991/53312287-71da9380-38ef-11e9-96f3-c2b182eb336e.png)

[2019-02-26 12:59] ghost opened #3920 "Why many same spine objects aren't one draw call?"
### Creator version?（版本号）
2.1.0

### Affected platform?（受影响的平台）
Web, Simulator

I created 10 spine boys.
10 spine boys => 10 draw calls

[2019-02-27 02:11] smellypotato commented on #3920
i think that is because your spine contains multiple sprite (eg. sprite A, sprite B). it draws one spine at a time, so it draws all sprite in one spine then draw the other spine, the draw sequence is sprite A -> sprite B -> sprite A -> sprite B instead of sprite A -> sprite A -> sprite B -> sprite B

[2019-02-27 11:09] ghost commented on #3920
@smellypotato

The sprite is texture packed.

spine-boy contains spineboy.atlas and spineboy.json and spineboy.png.

[2019-03-02 03:39] Ronsku commented on #2908
+1 :+1: Would be very useful!

[2019-03-02 07:27] ngtrhieu opened #3950 "cc.audioEngine setMusicVolume(0) and setEffectVolume(0) will set its perspective volume to 1 instead"
### Description
Based on the [API documentation](https://cocos2d-x.org/reference/html5-js/V3.0alpha2/symbols/cc.audioEngine.html#setMusicVolume) of cc.AudioEngine, the acceptable parameter ranges from 0.0 to 1.0 (inclusive on both end).

However, setting volume to 0 will instead make the volume to be 1.

This behaviour happens on both `setMusicVolume()` and `setEffectVolume()`

### Creator version

[2019-03-02 07:30] #3950 closed, assigned to nobody

[2019-03-02 07:31] ngtrhieu commented on #3950
Issue has been fixed
https://github.com/cocos-creator/engine/blob/f3824926df773eca3f4083f328094e0e094ac0e5/cocos2d/audio/CCAudioEngine.js

[2019-03-04 06:14] himansh01 opened #3954 "Cocos creator v2.1.0 Editbox on android web becomes blank when clicked on return key on keyboard"
In android web, when I enter text in editbox and then click on return key on keyboard, the text disappears from the editbox and the editbox string I get is empty. It works fine in ios web builds.
This issue has occurred in cocos creator v2.1.0 . It was fine in the earlier versions.

### Creator version?（版本号）
v2.1.0

### Affected platform?（受影响的平台）

Android web

### How to reproduce?（如何重现）
Enter tex

[2019-03-07 03:48] fkworld commented on #3649
补充：
1. 此bug在2.0.8版本上也存在。
2. 此bug在label节点为子节点，父节点fadeIn()时也存在。
3. fadeTo()时也存在。

[2019-03-13 08:02] ayarami opened #4025 "Cocos Creator 2.0.9 video player set currentTime invalid during play"
### Creator version?（版本号）
2.0.9 2.0.8

when the video player is playing ,the "this._loaded" is always "false",this issue caused that set currentTime can not works
[https://forum.cocos.com/t/video-palyer/74853/3](https://forum.cocos.com/t/video-palyer/74853/3)

[2019-03-14 03:58] foreverOnTheWay opened #4034 "while starting a cocos creator project in Andorid, it always has black screen about 0.5s. Even if I start a empty cocosCreator project. I wanna know how to slove this problem?"
### Creator version?（版本号）

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2019-03-14 04:31] foreverOnTheWay commented on #4034
first load black screen problem

[2019-03-14 07:28] CrazyCodeLee opened #4038 "cocos"
### Creator version?（版本号）

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2019-03-14 07:28] CrazyCodeLee opened #4039 "cocos creator"
### Creator version?（版本号）

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2019-03-14 07:36] CrazyCodeLee opened #4040 "cocos creator 1.8.1升级到2.1.0 切换场景的时候闪退"
![image](https://user-images.githubusercontent.com/2958987/54338935-45a07000-466e-11e9-8bcb-5f5ccade1ab0.png)
看着这个图能看出来 切换场景的一瞬间直接能涨到 内存360多 然后有memory警告有时直接闪退 我看 场景文件大小是800K 现在是就iphone6 有这个问题 貌似就是1G内存的手机有这问题 能帮忙看下 我这个哪里操作错了吗  我需要提供什么呢。现在就等着上线遇到了这个问题 压力山大。

[2019-03-15 07:32] knoxHuang commented on #4025
已修复

[2019-03-15 07:32] #4025 closed, assigned to knoxHuang

[2019-03-17 05:53] shenxiyou opened #4054 "原生平台运行出错 console.time is not a function"
### Creator version?（版本号）
2.0.9

### Affected platform?（受影响的平台）

全部
### How to reproduce?（如何重现）
必现。空场景打包win平台，编译运行 。

### JavaScript output or error produced?（报错信息和调用栈）
D/jswrapper (4159): glGetIntegerv: pname: 0x8b4c
E/jswrapper (271): ERROR: Uncaught TypeError: console.time is not a function, location: src/cocos2d-jsb.js:0:0
STACK:
[0]_loadSceneByUuid@src/cocos2d-jsb.js:6123
[1]loadScene@src/coc

[2019-03-19 11:54] Ronsku commented on #3379
Hi @ColinCollins,

Sorry for the super late response. I did not see your message before this and was about to bump this post.

The problem is that you are not able to have custom "preview-templates" folders / game project, but you can have "build-templates" for a specific project. My request would be to support **Project Specific "preview-template" folders**

I try to explain by using images:
In y

[2019-03-21 18:49] asarazan commented on #3556
Also experiencing this problem on version 2.1.0

[2019-03-24 00:03] balazsnemeth commented on #3379
👍

[2019-03-24 12:41] xbwxxxxx opened #4092 "cc.view.setFrameSize 无效"
### Creator version?（版本号）
2.0.9

### Affected platform?（受影响的平台）

iOS / Android / Simulator / Web发布版
### How to reproduce?（如何重现）
运行必现，demo里点击按钮即可重现

### JavaScript output or error produced?（报错信息和调用栈）

无
### Demo project?（demo 项目）

[Demo_setFrameSize_2.0.9.zip](https://github.com/cocos-creator/engine/files/3000377/Demo_setFrameSize_2.0.9.zip)

[2019-03-25 02:30] xianyinchen opened #4093 "[2.0.9] 分包不能构建输出成*.jsc文件"
https://forum.cocos.com/t/jsc/75425

[2019-03-25 05:53] olddriver3000 opened #4095 "cocosCreator2.0.9 ios平台 弱网状态下XMLHttp大概率crash！"
cocosCreator2.0.9 ios弱网状态下XMLHttp大概率crash Bug

用Android机器来做热点比较容易复现，因为Android热点关闭4g网络的时候不会顺带关闭热点。

https://forum.cocos.com/t/cocos2-0-9-ios-xmlhttp-crash-bug/75450

[2019-03-25 07:04] knoxHuang commented on #4092
谢谢反馈，该 bug 已经记录

[2019-03-25 07:04] twodogli opened #4098 "2.0.8 物理引擎设置了enabledAccumulator为true后，微信小游戏真机上会变得非常卡。"
物理引擎设置了enabledAccumulator为true后，微信小游戏真机上会变得非常卡
### Creator version?（版本号）
2.0.8
### Affected platform?（受影响的平台）

微信小游戏
### How to reproduce?（如何重现）
直接cc.director.getPhysicsManager().enabledAccumulator = true就有了，微信小游戏上就可以重现（IOS）。CCPhysicsManager.js中 206行 中的while改成if卡顿就没了。 但是不知道为什么，步长从1/60 改成 1/30感觉变得更卡了，但是改成1/120性能却有明显提升

### JavaScript output or error produced?（报错信息和调用栈）

没有报错

[2019-03-25 07:06] #4038 closed, assigned to nobody

[2019-03-25 07:06] #4039 closed, assigned to nobody

[2019-03-25 07:55] #4098 closed, assigned to nobody

[2019-03-27 11:47] meifujiwara opened #4111 "audio音量設為0在chrome中仍會播放約0.01秒"
### Creator version?（版本号）
2.0.7 & 2.0.9

### Affected platform?（受影响的平台）

Web in chrome瀏覽器

### How to reproduce?（如何重现）
使用cc.audioEngine或cc.AudioSource播放音檔，將volume設為0，在chrome中仍會播放約0.01秒
cc.AudioSource只有第一次play會出現此問題

[2019-03-28 09:37] Ronsku commented on #3379
@ColinCollins Did you understand what we are trying to achieve with the project specific preview-template folder?

[2019-03-30 13:13] dnvuanh commented on #3649
pump, any solution to work around ?

[2019-04-01 03:08] ColinCollins commented on #3379
Sorry for feedback so late @Ronsku , I just finished my vacation. We have discussed this kind of issue before, but we think that is not a necessary requested, so perhaps we won't add preview-template in a long time.
@jareguo  any other suggestions?

[2019-04-01 04:13] recoye opened #4122 "自动全图合双份图片数据"
### Creator version?（版本号）
2.0.9

### Affected platform?（受影响的平台）
ALL

### How to reproduce?（如何重现）
自动合图里面有已经合过图的图片和plist文件（使用场，原UI已经合好一张图，使用自动合图把艺术数字合到同一张图里面）
目录结构：
ui
- ui.png
- ui.plist
- num.png
- num.labelatlas
- autoUI.pac

合成后的UI里面会有两份ui.png图片数据

### JavaScript output or error produced?（报错信息和调用栈）
无

### Demo project?（demo 项目）
https://github.com/recoye/autoAtls

[2019-04-01 04:35] jareguo commented on #3379
I think we should add it in 2.2

[2019-04-02 04:14] fkworld commented on #3649
1. 在2.0.9版本中已经修复。
2. 使用`opacity=1`来代替`opacity=0`。

[2019-04-03 06:33] huangliu opened #4132 "typescrip下配置路径映射, 微信小游戏导出有错"
typescrip下tsconfig.json配置路径映射baseUrl和paths
网页正常, 但是微信小游戏上无法通过映射的路径取到模块, 微信中生成的代码如下.
<img width="443" alt="图片" src="https://user-images.githubusercontent.com/5343499/55457702-48fb9b80-561d-11e9-9d2c-0e9d28485df3.png">
只能识别为void 0, 想问下这部分导出逻辑在哪里可以修改, 我来改也行

[2019-04-04 07:33] gandou opened #4147 "ios微信小游戏,EditBox组件InputFlag模式为PASSWORD时,文本颜色失效,只以默认白色渲染"
### Creator version?（版本号）
2.0.9

### Affected platform?（受影响的平台）

ios微信小游戏上有问题
微信开发平台上是正常表现

### How to reproduce?（如何重现）
EditBox组件InputFlag模式为PASSWORD时,文本颜色失效,只以默认白色渲染

### JavaScript output or error produced?（报错信息和调用栈）

无
### Demo project?（demo 项目）

[2019-04-05 18:14] dracovash opened #4157 "建议修改ColliderManager.removeCollider的CPU开销的问题"
对contacts的for循环中的 contacts.splice(i, 1); 语句，在对大量碰撞体（例如子弹）一帧内removeChild时会消耗大量的CPU时间，建议修改为双缓冲，push的效率相比splice有显著提高。

代码示例：
removeCollider: function (collider) {
	let colliders = this._colliders;
	let index = colliders.indexOf(collider);
	if (index >= 0) {
		colliders.splice(index, 1);

		let contacts = this._contacts;
		let newContacts = this._cachedContacts
		// swap cache
		for (let i = contacts.

[2019-04-09 09:16] ayarami opened #4175 "RichText <on clock="xxx"></on> still works when it had changed string"
[NewProject_1.zip](https://github.com/cocos-creator/engine/files/3058070/NewProject_1.zip)
demo

RichText的string从<on click="handler">11111</on>改为其他字符后，点击事件仍会触发

[2019-04-09 09:16] ayarami opened #4176 "RichText <on clock="xxx"></on> still works when it had changed string"
[NewProject_1.zip](https://github.com/cocos-creator/engine/files/3058070/NewProject_1.zip)
demo

RichText的string从<on click="handler">11111</on>改为其他字符后，点击事件仍会触发

https://forum.cocos.com/t/richtext-onclick/76226

[2019-04-10 02:05] sunnylanwanjun commented on #3920
2.0.9 has add `enableBatch` field, it's used to open or close spine's batch, you can use it in `cocos creator` editor, or just set the field true or false.
But the function is just effectivity in web platform at present, native platform will be supported later.

[2019-04-10 18:52] asarazan opened #4191 "Nested ScrollViews do not work"
### Creator version?（版本号）
2.1.0

### Affected platform?（受影响的平台）
All

### How to reproduce?（如何重现）
Create a horizontal scrollview inside a vertical scrollview. The parent scrollview should be able to cancel events to the child scrollview when you try to scroll vertically. Instead it is impossible to scroll the parent vertically using touch events on the child.

[2019-04-11 08:11] #4175 closed, assigned to nobody

[2019-04-11 08:12] #4176 closed, assigned to nobody

[2019-04-11 08:25] knoxHuang commented on #4191
Sorry, this may require you to rewrite the interface to implement it, the engine will not do anything.

[2019-04-11 16:19] #3001 closed, assigned to 2youyou2

[2019-04-11 16:19] #3002 closed, assigned to nobody

[2019-04-11 16:19] #1962 closed, assigned to nobody

[2019-04-11 16:20] #1671 closed, assigned to nobody

[2019-04-11 16:29] #3492 closed, assigned to sunnylanwanjun

[2019-04-11 16:30] #3236 closed, assigned to nobody

[2019-04-11 16:31] jareguo commented on #3020
fixed

[2019-04-11 16:31] #3020 closed, assigned to nobody

[2019-04-11 16:32] #1087 closed, assigned to nobody

[2019-04-12 08:40] wuzhiming commented on #4092
@xbwxxxxx  这个API在native设置无效是正常的，因为我们没办法像在web上改变外框的大小（比如屏幕大小，窗口的大小）等，所以这个是正常的，所以请问你是需要实现什么功能需要native使用这个方法？

[2019-04-12 09:06] mikeroyal opened #4208 "Snap package support [Feature Request]"
I was wondering if you might have an interest in making [snap package](https://snapcraft.io/) version. Also, your app would be promoted on the [snap store page](https://snapcraft.io/store).

[Crafting your first snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Build and test snap](https://snapcraft.io/build)

[2019-04-13 08:41] stonejiang208 opened #4214 "刚体和精体旋转方向"
刚体所在的父节点水平翻转后，刚体和精体旋转方向相反 测试代码   https://github.com/stonejiang208/rigid-test

[2019-04-15 08:40] RannarYang commented on #2492
你好，请问下现在还有支持 Label Shadow的打算么

[2019-04-15 08:53] caryliu1999 commented on #2492
2.1.1 版本已经支持了，论坛已发布Beta版本。

[2019-04-15 12:21] #3649 closed, assigned to nobody

[2019-04-15 12:22] jareguo commented on #3649
fixed in 2.0.9

[2019-04-15 12:22] #3262 closed, assigned to nobody

[2019-04-19 10:34] fuyifan opened #4263 "新建Vivo小游戏编译运行就报错"
### Creator version?（版本号）
2.0.7 2.0.9

### Affected platform?（受影响的平台）

vivo 小游戏

### How to reproduce?（如何重现）
新建项目就会出问题

### JavaScript output or error produced?（报错信息和调用栈）
java.lang.RuntimeException: (see stack)Uncaught TypeError: Cannot read property 'createBuffer' of undefined[0]VertexBuffer@/data/user/0/com.vivo.hybrid/app_resource/com.zstar.bricking/src/cocos2d-runtime.js:30429
[1]ctor@/data/us

[2019-04-22 07:41] PPpro commented on #4147
已经反馈给微信，在下个微信版本里会修复这个问题

[2019-04-22 07:45] #4147 closed, assigned to nobody

[2019-04-23 06:57] knoxHuang commented on #791
The new version already has this feature.

[2019-04-23 06:57] #791 closed, assigned to nobody

[2019-04-23 08:36] fuyifan commented on #4263
升级快应用就好了

[2019-04-23 08:36] #4263 closed, assigned to nobody

[2019-04-23 08:38] fuyifan opened #4279 "vivo 小游戏的bug在哪提？相应adapter的git有吗？"
cc.loader.load 目前在vivo小游戏上是完全不好用的，想提个bug，改改源代码的地方都没有

[2019-04-24 06:29] #3579 closed, assigned to ColinCollins

[2019-04-25 08:13] ayarami opened #4303 "Android原生 Editbox键盘被底部导航栏遮挡"
https://forum.cocos.com/t/cocoscreator-editbox/77082

[2019-04-25 08:15] ayarami commented on #4303
@umbrellaPP

[2019-04-25 22:03] asarazan opened #4309 "Streaming Audio"
### Creator version?（版本号）
v2.1.0

### Affected platform?（受影响的平台）
Mac Editor Simulator

### How to reproduce?（如何重现）
Try to stream remote audio via the DOM:
[code]

### JavaScript output or error produced?（报错信息和调用栈）
`HTMLElement audio.play is not a function`

Am I doing something wrong? Is there a way to stream audio from a server using the `<audio>` tag?

[2019-04-26 06:46] masteage opened #4314 "gulp build fail - JavaScript heap out of memory"
### Creator version?（版本号）

* branch - master (6ae92ca60)

### Affected platform?（受影响的平台）

* Mac

### How to reproduce?（如何重现）

* gulp build

### JavaScript output or error produced?（报错信息和调用栈）

[code]

### Demo project?（demo 项目）

[2019-04-26 07:40] #4314 closed, assigned to nobody

[2019-04-26 07:41] masteage commented on #4314
my bashprofile set -> NODE_OPTIONS="–-max-old-space-size=4096"

[2019-04-26 10:15] masteage opened #4322 "where save "javascript engine path" ?"
### Question

* Where save  "JavaScript Engine Path", i want clear "JavaScript Engine Path" setting
* **detail**
   *  not good "JavaScript Engine Path" setting after
   * i don`t load project
   * i don`t setting "JavaScript Engine Path"

### Creator version?（版本号）

* branch - master (6ae92ca)

### Affected platform?（受影响的平台）

* Mac

### How to reproduce?（如何重现）

* "JavaScript Engine Path" setting a

[2019-04-28 03:59] hubluesky opened #4326 "没有数学库，无法正常3D开发。请开放vmath数学库"
### Creator version? 2.1.1

### How to reproduce?（如何重现）
没有数学库，无法正常3D开发。请开放vmath数学库

[2019-04-29 10:20] masteage opened #4347 "engine build use error"
### Creator version?（版本号）

* master branch (36d6971bs)

### Affected platform?（受影响的平台）

* Mac

### How to reproduce?（如何重现）

* "JavaScript Engine Path" setting after fail

### JavaScript output or error produced?（报错信息和调用栈）

* **Error Msg**
[code]

<img width="420" alt="error" src="https://user-images.githubusercontent.com/13742619/56890028-402ea600-6ab3-11e9-93fb-734afaa83fbf.png">

### Demo projec

[2019-04-30 09:39] fkworld opened #4358 "Function-name属性在构建后无法获得正确值"
### Creator version?（版本号）
2.0.9

### Affected platform?（受影响的平台）

目前包括Web和Wechat，猜测会出现在所有打包后平台

### How to reproduce?（如何重现）
[code]
在编辑器预览时打印`test A`；
构建为web-mobile后打印`test  `；
此外，测试Helloworld项目中的Helloworld类时，打印结果为`r`。

[2019-04-30 10:13] fkworld commented on #4358
补充原因：可能是构建后代码压缩导致的：
https://developer.mozilla.org/zh-CN/docs/Web/JavaScript/Reference/Global_Objects/Function/name#JavaScript_%E5%8E%8B%E7%BC%A9%E5%92%8C_minifiers

[2019-05-02 21:34] corpana opened #4361 "Gray border appeard in iOS browsers"
### Creator version?（版本号）
2.0.9

### Affected platform?（受影响的平台）

Web on iOS

### How to reproduce?（如何重现）
1. Open [this url ](https://cocosreport.firebaseapp.com/)with iOS device.
2. You can see borders of images only in iOS browsers, not in desktop, android browsers.

![image](https://user-images.githubusercontent.com/3689788/57824521-27c7b800-7750-11e9-87c1-1d839989eed8.png)

### JavaScript outpu

[2019-05-05 11:30] sunnylanwanjun commented on #3611
We have fix the issue，please wait for v2.3
https://github.com/cocos-creator/engine/pull/4245

[2019-05-05 11:32] sunnylanwanjun commented on #3449
已经修复，详看pr：https://github.com/cocos-creator/engine/pull/4245

[2019-05-12 09:26] cjz9032 opened #4404 "Deactivating节点时，如需要反激活，应当是哪个节点"
https://github.com/cocos-creator/engine/blob/19698da168bb0e2c10dd75f48cc192029fc4a9be/cocos2d/core/node-activator.js#L197

root的必须是canvas吗?
按我的理解,只要找到当前Deactivating Node的所有父和祖先都是可以的（即图中的X1或canvas）?

![image](https://user-images.githubusercontent.com/11435814/57580333-c34ff300-74da-11e9-8c0c-fa4207aee402.png)

[2019-05-14 02:48] cjz9032 opened #4412 "Action使用精度为FLT_EPSILON"
https://github.com/cocos-creator/engine/blob/5c36b5b9957e377683c8570c951908c4bd5e3af5/cocos2d/actions/CCActionInterval.js#L156

虽然FLT_EPSILON也是可行(因为比最小精度大),但是不知道为什么不是使用Number.EPSILON呢?
是为了兼容其他的系统还还是什么考虑吗?

[2019-05-15 02:41] fsyoungOcean commented on #4157
使用樓主提供的方式
針對頻繁移除碰撞器的情形,CPU使用率顯著下降許多

[2019-05-15 04:22] shrinktofit opened #4421 "Missing functions of glTF in Cocos3D"
- [ ] Sparse accessors
- [ ] Morph targets
- [ ] Double Sided materials
- [ ] Cameras
- [ ] Lights

[2019-05-16 09:17] 2youyou2 opened #4434 "调用 cc.game.end() 在 native 平台可能会引起崩溃"
原因：cc.game.end() 会调用 jsb 绑定的 close 实现，进而会调用到 ScriptEngine 中的 cleanup 接口，这时再调用 evalString，DownloaderAndroid::_onFinish 之类的接口程序就会崩溃

解决方法：

1. 通过在 https://github.com/cocos-creator/2d-tasks/issues/1424 中 evalString 添加的判断应该可以解决 evalString 调用时的崩溃

2. 在 DownloaderAndroid::_onFinish 中需要加入需要加入相应的检测吗，如果需要的话，引擎里还有没有其他此类的方法需要加入检测，这种地方应该会有蛮多的吧？

[2019-05-16 09:20] #4434 closed, assigned to wuzhiming

[2019-05-16 15:28] asarazan opened #4437 "Android build produces corrupted paths"
### Creator version?
2.1.1

### Affected platform?（受影响的平台）
Mac Editor & Android

### How to reproduce?（如何重现）
Create an Android Build. This happened during a release build for me.

### JavaScript output or error produced?（报错信息和调用栈）
It created a bunch of files with paths like this:
[code]

Note specifically: `property(interface org.gradle.api.file.Directory, fixed(class org.gradle.api.internal.file.

[2019-05-16 16:17] asarazan commented on #4437
I just downgraded to 2.0.9 and the problem still exists. Please fix this as soon as you can! our Android app crashes instantly due to bad resource paths. I can't downgrade past 2.0.9 because of the cc.Label animation bug fix.

[2019-05-16 16:46] asarazan commented on #4437
Update: Can no longer repro on 2.0.9 so it might just be 2.1.1 -- the problem also coincides with installing the Facebook SDK in SDKBox. Unsure where the problem actually lies.

[2019-05-17 10:12] id-ilych opened #4448 "cc.Assert.nativeUrl is wrong when "MD5 Cache" is on"
### Creator version?（版本号）
2.0.9

### Affected platform?（受影响的平台）
Web / iOS / Android

### How to reproduce?（如何重现）
1. Add property of type `cc.Asset` and assign some file from assets directory
2. Access `nativeUrl` field and see that it matches the filename
3. Build with "MD5 Cache" option on
4. See that `nativeUrl` field doesn't match the filename (hash suffix is missing)

### Demo project?（demo 项目

[2019-05-18 09:38] VYuLinLin opened #4451 "The cocos engine does not limit the maximum width and height of the canvas canvas?"
### Creator version?（版本号）
version 1.9.3

### Affected platform?（受影响的平台）

Web
### How to reproduce?（如何重现）
When the browser is automatically reduced to a certain extent, the initial load and rendering will be maximized, and the height or width will exceed the visible range.

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2019-05-19 07:44] youenough opened #4453 "使用 cc.primitive 创建的 Quad 与 Sphere 无法正确绘制"
### Creator version?（版本号）
v2.1.1

VertexData 构造函数[参数顺序](https://github.com/cocos-creator/engine/blob/master/cocos2d/core/3d/primitive/vertex-data.js#L12)如下：

[code]

[quad.js](https://github.com/cocos-creator/engine/blob/master/cocos2d/core/3d/primitive/quad.js#L38) 与 [sphere.js](https://github.com/cocos-creator/engine/blob/master/cocos2d/core/3d/primitive/sphere.js#L59) 中返回的参数顺序有误，导致使用 primitive

[2019-05-20 09:17] #3954 closed, assigned to nobody

[2019-05-20 09:18] himansh01 commented on #3954
This is fixed in v2.1.1.

[2019-05-24 03:51] jestg commented on #3902
cocos  版本 2.0.6

vivo手机 旋转屏幕 就会报 "TypeError: Failed to execute 'shaderSource' on 'WebGLRenderingContext': parameter 1 is not of type 'WebGLShader'.

[2019-05-25 07:42] #3920 closed, assigned to nobody

[2019-05-26 15:07] deathnopool opened #4505 "节点关联脚本bug"
### Creator version?（版本号）
win10 v2.0.9

### Affected platform?（受影响的平台）
 Web chrome

### How to reproduce?（如何重现）
1.  一个脚本game.js引用一个节点player(这个节点关联了一个脚本player.js)；
2. 修改player.js.  譬如加入新的方法run(){ console.log("run") }.
3. 这时候game.js中用这个player实例调用run()会找不到run方法。从浏览器中查看player.js可以看到这个方法，但是实例对象里面却没有。

my solution: 先把节点关联的player.js脚本删掉，重新关联节点和player.js, 这时候在game.js中调用player.run()才不会出错。

### JavaScript o

[2019-05-27 07:32] VYuLinLin commented on #790
请问是在哪个版本解决的，目前1.9.3版本获取场景名称，还是有为空的情况

[2019-05-27 08:20] jareguo commented on #790
1.1…… 请问是如何重现的？我们目前测不出来

[2019-05-27 09:23] darzens opened #4506 "CocosCreator v2.x iOS平台 png 图片内存使用问题"
一张 4096X4096 的 png 图片，加载到内存中应该占用 64M 的内存。使用了 Cocos 2dx v3.17.1、v3.13.1 测试，分别创建了 Cpp、JS 工程经测试内存使用大概都是64M。使用 Cocos Creator v1.9.3 测试 4096X4096 的图片占用大概也是 64M 左右，但是 Cocos Creator 2.0.5、2.0.7、2.0.9 实测内存占用均为实际的 2 倍，大概是 128M 左右。

[2019-05-27 10:21] VYuLinLin commented on #790
在 __preload 生命周期里面 通过cc.director.getScene() 获取的场景有时 name 会为空，不是必现，暂时也未定位到具体原因。

[2019-05-28 17:05] of28guino opened #4514 "About creator.d.ts"
Good day everyone, I am using cocos creator and I want to share my modifications of engine.d.ts, may it can be useful to other people and even for you, but I don't know where I can share it or create a pull request.

[2019-05-29 01:02] #4506 closed, assigned to nobody

[2019-05-29 01:10] darzens commented on #4506
重复。[当src为空或或者null的时候，释放image的buffer](https://github.com/cocos-creator-packages/jsb-adapter/pull/119)
[native上没有image.id 所以用image.src释放图片资源](https://github.com/cocos-creator/engine/pull/3992)

[2019-05-29 01:36] zhitaocai opened #4515 "希望发布的时候，能检查一下发布的文档"
新的功能总是没文档，又或者总是缺这缺哪的文档，又或者直接给了一个与文档不符的.d.ts文件。(比如 **``tween``**)

与其说发布了一个面向开发者的版本，我更愿意理解为发布了一个面向引擎开发人员自身的版本，有点自嗨了。

对开发者很不友好，希望能完善下这方面

[2019-06-03 15:33] MarkusTieche opened #4546 "Creator 2.1.1 rendering problems"
### Creator version?（版本号）
2.1.1

### Affected platform?（受影响的平台）
Mac Editor

### How to reproduce?（如何重现）

Using an Array of cubes and replace theme while camera moves in one direction. If the camera have moved 100px the last cube moves to the front and stays in camera view.

There will be visible gab between the cubes, after the camera moved some distance and replaced the cube multiple times.

###

[2019-06-04 01:44] #3634 closed, assigned to nobody

[2019-06-04 10:12] hejunmingstrogner opened #4551 "2.0.9 经常出现问题"
Error: Uuid Loader: Deserialize asset [ /TagChineseWorl/library/imports/3f/3fe36dc5-0f83-40f7-96df-356ca7410c5e.json ] failed : TypeError: Cannot set property uuid of #<cc_Component> which has only a getter

Failed to load scene: Error: [AssetLibrary] loading JSON or dependencies failed: undefined
Task [load-scene-by-uuid] run error, stop running other tasks.

 2.0.9 上面这个cocos creator 经常出现这种问题，好像是

[2019-06-11 21:00] WWWcool opened #4594 "[2.0.9 - last] dragonBones.ArmatureDisplay.getArmatureNames() return empty list when init by hand"
### Creator version?（版本号）
Tested on 2.0.9 and 2.0.10
dragonBones version 5.6

### Affected platform?（受影响的平台）

Windows Editor and Web

### How to reproduce?（如何重现）
Add some dragon anim(asset + atlas), script and check
example code

[code]
mb i doing some error? in 2.0.8 it works fine...

[2019-06-12 07:15] PPpro commented on #4303
可能是红米的虚拟导航栏适配的问题，暂时没有办法复现

这个 issue 就先关闭了吧，如果还有其他机型出现同样的问题再打开

[2019-06-12 07:15] PPpro commented on #4303
才发现没有权限 close issue @ayarami

[2019-06-12 08:56] #4303 closed, assigned to nobody

[2019-06-12 10:14] godnotking opened #4605 "shader 顶点demo"
建议出一个在2.x版本中怎么使用顶点数据的demo，一直不懂怎么将顶点数据传到shader中使用

[2019-06-12 11:53] jareguo commented on #3439
There is no easy way to do this. Currently Mask does not cull out child nodes in shader, but in gl stencil, which doesn't support alpha blending. To support alpha blending, we need to inject the blending code into every builtin or custom shaders, and compute screen positions in it. You can use a render texture to bake the nodes in the mask, and display it in a custom shader.

cc @2youyou2

[2019-06-12 11:53] #3439 closed, assigned to nobody

[2019-06-12 12:33] Ronsku commented on #3379
@jareguo @ColinCollins I would really appreciate this. I think this is something that many doesn't realize how strong it would be. I'm also assuming that it would not be a super complicated thing to do (I might be wrong).

If we would get it in 2.2 I would be supper happy!

[2019-06-12 15:23] linguitang commented on #3248
修改beforeDraw实现透视投影后，通过getCameraToWorldPoint已经无法得到正确的变换后的坐标，可有啥解决方案 @caochao @DavidHome @pandamicro

下面是修改的代码
[code]

[2019-06-12 23:20] unace opened #4608 "[2.1.1] Android build failed if python3 is a default python interpreter."
### Issue

Android build works if python2 is a default python interpreter, but it doesn't if python3 is a default python interpreter.
Cocos Creator 2.0.9 works even if python3 is a default python interpreter.

### Expected behavior
Android build should work regardless of the python version of the user's machine. Cocos creator should use the embedded python runtime.

### Creator version?（版本号）
2.1.1

[2019-06-13 10:07] mookhf commented on #3379
+1

It is important to have the same result when preview and release for developers.

[2019-06-13 11:18] linguitang commented on #3248
升级到了2.1，不改引擎代码，用3d相机实现透视，可是依然没法得到透视后，显示在屏幕上的坐标

[2019-06-14 11:16] caochao commented on #3248
你可以使用camera私有方法worldToScreen

[2019-06-14 14:57] linguitang commented on #3248
你之前反馈的问题还是依然存在[https://github.com/cocos-creator/engine/issues/3296](https://github.com/cocos-creator/engine/issues/3296)，获取到的依旧是中心点，还是得再改一次代码

[2019-06-15 05:57] caochao commented on #3248
那你用我改的那个worldToScreen2方法，我现在也是用的这个方法。引擎代码里加上这个方法，然后在creator设置里使用自定义js引擎

[2019-06-15 06:49] linguitang commented on #3248
嗯，这个方法我知道，谢谢

[2019-06-15 07:09] #3611 closed, assigned to sunnylanwanjun

[2019-06-15 07:17] #3449 closed, assigned to sunnylanwanjun

[2019-06-18 01:35] fjqingyou opened #4643 "ts 对象继承 Object，导致声明的方法失效"
### Creator version?（版本号）
v2.0.9

### Affected platform?（受影响的平台）

Mac Editor，其他平台没测试

### How to reproduce?（如何重现）
声明一个类文件：TestExtendsObject.ts，并写入下方的代码内容
[code]

### JavaScript output or error produced?（报错信息和调用栈）

[code]

### Demo project?（demo 项目）

上方的一个测试 TS 代码文件就可重现 bug，无需 Demo 项目了

[2019-06-18 12:32] jareguo commented on #3248
这个 issue 可以关闭了吗？ @caochao

[2019-06-19 01:55] caochao commented on #3248
可以

[2019-06-19 01:55] #3248 closed, assigned to nobody

[2019-06-19 11:57] dcorpStudio opened #4655 "Node hidden by a mask get shown in another mask"
### Creator version? 2.0.10

### Affected platform? Only tested with simulator on windows 7

### How to reproduce?
### Demo project?（demo 项目）

The project attached in this topic

https://discuss.cocos2d-x.org/t/bug-report-node-hidden-by-a-mask-get-shown-in-another-mask/46879

[2019-06-20 02:25] jareguo commented on #4608
Maybe we should embed a standalone python 2.7 in the editor, just as Windows.
@wuzhiming Search "Python27" in the editor, make them take effect on Mac please.

[2019-06-24 08:30] Ronsku opened #4680 "[Feature Request] Widget "Keep aspect ratio""
Feature request: Widget "Keep aspect ratio"

### Creator version?（版本号）
2.1.1

### Affected platform?（受影响的平台）
All

### How to reproduce?（如何重现）
The idea would be to have a widget and give it a certain size according to how it works right now, but to be able to keep the aspect ratio of the image while still satisfy all given parameters.

Example 1:
- Container 500 x 500
- Button 200 x 100
![image](ht

[2019-06-26 02:10] zty8023ys commented on #4643
Object 是个 interface
export class Test extends Object{//测试的对象继承自 Object 就会出现这个问题
修改为
export class Test implements Object{//测试的对象继承自 Object 就会出现这个问题

这个锅cocos不能背

[2019-06-26 03:18] fjqingyou opened #4715 "Mac 无法显示更多菜单，点击显示更多菜单箭头 ↓是无反应的"
### Creator version?（版本号）
v2.0.9

### Affected platform?（受影响的平台）
Mac Editor

### How to reproduce?（如何重现）
任意可以弹出菜单，且在屏幕下方，并且菜单没法一次展示全部时
例如：

![QQ20190626-111523](https://user-images.githubusercontent.com/31087168/60148466-c6414180-9803-11e9-9586-6e8624e408b6.png)

![QQ20190626-161549](https://user-images.githubusercontent.com/31087168/60163217-ba6a7500-982d-11e9-8ae4-3692bbed68ab.png)

![QQ20190626

[2019-06-26 13:58] Ronsku opened #4724 "[Feature Request] Time based meta file UUID - No more Colisions"
# Creator version?（版本号）
2.1.1

### Affected platform?（受影响的平台）
All

### How to reproduce?（如何重现）
Have 2 big projects - Copy a large amounts of files from one project to another. There is a chance of collisions

It would be so amazing to be able to copy big amounts of prefabs, assets, folders, including meta files simultaneously, if only the UUID's would not collide. If they would be time-based UUID'

[2019-06-26 14:14] Ronsku commented on #4724
I realized that it my personal mistake this time in the copy. Although I've have had this happen before, but I think this has a very low prioritization compared to other things, so I'm closing the ticket!

Thanks for a great product!

[2019-06-26 14:14] #4724 closed, assigned to nobody

[2019-06-26 14:16] Ronsku commented on #4514
Awesome @of28guino, @jareguo can you assist him on creating a PR for this?

[2019-06-27 06:50] jareguo commented on #4514
Hi, the `creator.d.ts` is generated from source codes in the engine. So there's no direct way to merge your .d.ts file into Creator. Can you just upload the .d.ts file here, so we can check what changes you made and update our source codes for you. BTW, which version are you using?

[2019-06-27 15:16] fjqingyou opened #4742 "meta 文件在mac和window平台没保持一致！"
mata文件在mac和window平台上的文件换行符没保持一致。
mac 是 **\r\n**
windows 是 **\n**

不但**没保持一致**，反而**是相反的**？

### Creator version?（版本号）
2.0.9

### Affected platform?（受影响的平台）

mac editor、windows editor

### How to reproduce?（如何重现）
1、mac系统上新建任意项目，新建任意会自动生成meta文件的文件。
2、上传这个项目到git 上面
3、windows从git下载这个项目，并打开这个项目！
4、等待项目加载完毕后，git status 观察meta文件，会发现它已经发生了变化！
5、可选的，可以用十六进制文件查看器比较两个文件，会发现原本mac上的meta文件中的换行符是0x0D, 0x0A，而windo

[2019-06-27 15:27] of28guino commented on #4514
Hi, Thanks for answering, I am using Cocos Creator V2.1.1, at this moment I have no the code, but as soon I have my laptop I will share the extracts from code here.

[2019-06-28 13:56] MarkusTieche commented on #4546
Setting camera "near clip" to 1 or larger seems to solve to problem.
https://forum.cocos.com/t/creator2-1-1-z-fbx/78560

[2019-06-29 09:02] jigelang opened #4758 "2.0.10版本ccscrollView的上的滚轮事件，会失效的问题"
### Creator version?2.0.10（版本号）

### Affected platform?Web pc（受影响的平台）
做了个tab形式的界面，两个界面都有ccScrollView组件，切换tab，使他们active的值变化，当首次进来是，可以使用滚轮，但是切换一次回来之后滚轮事件就不好用了

[2019-07-03 05:58] ghost opened #4800 "cretor 2.0.10 label CHAR模式 字母底部被裁剪"
开启 label 的 CHAR 模式之后，“qqpy” 底部裁剪，显示如下图：

![1](https://user-images.githubusercontent.com/10294716/60566763-7ed62a80-9d9a-11e9-8a7d-6e33093edced.png)

[2019-07-04 02:22] Hideer opened #4808 "在微信开发者工具中异常报错"
### Creator version?（版本号）
2.0.10

### Affected platform?（受影响的平台）

微信开发平台

### How to reproduce?（如何重现）
在进行弹窗中按钮执行场景切换的时候报错；
在浏览器中是没问题的

### JavaScript output or error produced?（报错信息和调用栈）

![image](https://user-images.githubusercontent.com/31301552/60635486-93233180-9e45-11e9-94e2-4de25e19b48a.png)

### Demo project?（demo 项目）

[2019-07-05 09:14] wijesijp opened #4827 "Can't zoom page if clicked on the canvas"
### Creator version?（版本号）
1.10.0

### Affected platform?（受影响的平台）
Web

### How to reproduce?（如何重现）

1. Run the game.
2. Click on the canvas
3. Try to zoom the game with Ctrl +/- or Ctrl and mouse scroll
4. Won't zoom
5. If you click are outside the canvas and try this it will work
6. The reason this is a problem is; if the game ran inside a iFrame we have unusual behavior.

Is there a workaround fo

[2019-07-07 07:15] ghost opened #4830 "希望增加色轮功能"
希望编辑器界面的节点颜色那里可以使用色轮,个人觉得色轮比色相立方体能更好地体现亮度,色相和饱和度

[2019-07-09 04:04] fjqingyou opened #4841 "Label 的 overflow 属性 SHRINK 和 CacheMode 属性的 CHAR 冲突"
### Creator version?（版本号）
v2.0.9

### Affected platform?（受影响的平台）
Mac Editor

### How to reproduce?（如何重现）

将会下列结果中任意一个：

[2019-07-09 11:13] #4827 closed, assigned to nobody

[2019-07-12 03:08] fjqingyou opened #4868 "重命名"
### Creator version?（版本号）
v2.0.9

### Affected platform?（受影响的平台）

Mac Editor

### How to reproduce?（如何重现）
1、找到任意项目中的文件。
2、按回车进入重命名状态，任意输入内容。不按回车确认，按Esc取消

### 预期行为
放弃本次重命名操作

### 实际行为
文件已经被重命名

[2019-07-18 09:01] zero16832 opened #4911 "shader 问题"
2.0.9 的shader 在 升级到 2.1.12之后 报错

提示信息如下：
load script [spriteShader] failed : TypeError: Cannot read property 'length' of undefined
    at ProgramLib.define (C:\CocosCreator_2.1.2\resources\engine\bin\.cache\dev\cocos2d\renderer\core\program-lib.js:129:52)
    at temp\quick-scripts\assets\scripts\shader\spriteShader.js:16:38
    at Object.once (C:\CocosCreator_2.1.2\resources\engine\bin\.cache\dev\

[2019-07-23 03:21] HengHuH opened #4942 "运行时修改添加 PhysicsCollider 组件的 Node 的 group 属性，报错。"
### Creator version?（版本号）
2.0.10

### Affected platform?（受影响的平台）

Web, maybe ALL
### How to reproduce?（如何重现）
为 node 添加 PhysicsCollider 组件
运行时修改 node 的 group 属性

### JavaScript output or error produced?（报错信息和调用栈）

collider not added or already removed
Can't find testFunc for (cc.PhysicsBoxCollider, $s). cc.BoxCollider

### Demo project?（demo 项目）

[2019-07-23 03:25] HengHuH commented on #4942
原因： PhysicsCollider 组件并没有交给 CollisionManager 管理。
NodeEvent.GROUP_CHANGED 触发后，获取 Node 上所有 Collider 组件（包含 PhysicsCollider）用来删除。

[2019-07-23 14:52] udzhou opened #4955 "通过cc.audioEngine.play播放音乐，始终有一个音乐state等于cc.audioEngine.AudioState.ERROR"
问题：
由于播放的音乐state为error，cc.audioEngine便一直不能控制这个播放的音乐

### Creator version?（版本号）
Mac系统，creator v2.1.2

### Affected platform?（受影响的平台）
Web

### How to reproduce?（如何重现）
var aid = cc.audioEngine.play(clip, true, 1);
var state = cc.audioEngine.getState(aid);
如果第一次state正常，过段时间也会变成error

### JavaScript output or error produced?（报错信息和调用栈）
无

[2019-07-23 15:17] udzhou commented on #4955
找到bug了，重现情况：
var aid = cc.audioEngine.play(clip, true, 1);
cc.audioEngine.pauseAll();
var state = cc.audioEngine.getState(aid);
if (state == cc.audioEngine.AudioState.PAUSED) {
      cc.audioEngine.setLoop(aid, isLoop);
      cc.audioEngine.setVolume(aid, volume);
      cc.audioEngine.resume(aid);
}

[2019-07-24 03:13] coolqingcheng opened #4958 "希望能增强对typescript的支持。typescript写法和文档有很大出入"
### Creator version?（版本号）2.1.2

- 比如cc.tween。在ts里面，需要写为new cc.Tween().target(obj).to(),但是to或者by等方法里面的所有参数都是必填的，只能自己修改，给不需要的参数加上问号。
- 新建的typescript脚本文件，类名为默认的NewClass，不是ts文件名称。刚开始半天引用不了。最后才发现是这个问题

[2019-07-25 08:09] #3379 closed, assigned to knoxHuang

[2019-07-25 10:05] Ronsku commented on #3379
Why was this closed @jareguo @knoxHuang ? :(

[2019-07-25 11:39] fjqingyou opened #4982 "enabledInHierarchy 内部缺少对node空指针判定，会导致空指针的异常"
### Creator version?（版本号）
v2.0.9

### Affected platform?（受影响的平台）

Mac Editor -> chrome

### How to reproduce?（如何重现）
node.destroyAllChildren() 之后新建到 node 下面，详细的暂且未知！

### JavaScript output or error produced?（报错信息和调用栈）
VM189642:239 Uncaught TypeError: Cannot read property '_activeInHierarchy' of null
    at SkillManagerSkillItem.get [as enabledInHierarchy] (CCComponent.js:194)
    at Object.undefine

[2019-07-26 00:28] knoxHuang commented on #3379
This feature has been implemented and will be in version 2.2, so turn it off

[2019-07-30 02:22] knoxHuang commented on #3788
感谢反馈，该问题已经修复，会进入到 2.1.3 版本

这个是 -lite pr 你也可以自定义

https://github.com/cocos-creator/cocos2d-x-lite/pull/1784

[2019-07-30 02:22] #3788 closed, assigned to nobody

[2019-07-30 06:40] Marssssssss commented on #4111
https://github.com/cocos-creator/engine/pull/4767/files

该问题已修复

[2019-07-30 06:48] #4111 closed, assigned to nobody

[2019-07-30 08:29] fkworld opened #5013 "打包成 vivo 小游戏后 cc.audioEngine.AudioState 属性丢失"
### Creator version?（版本号）
2.0.10

### Affected platform?（受影响的平台）
 vivo 小游戏

### How to reproduce?（如何重现）
在游戏逻辑中输出 cc.audioEngine.AudioState，在 web 预览时会输出一个 object，在打包为vivo小游戏时会输出 undefined。

### JavaScript output or error produced?（报错信息和调用栈）

一般无，如果用到具体的 cc.audioEngine.AudioState.?，则会在vivo小游戏中报错。
打包参数：支持的最小平台版本号-1041

### Demo project?（demo 项目）

[2019-07-30 09:56] Marssssssss commented on #4505
按照您说的方式无法重现bug，可以具体说说是如何引用的吗？

[2019-07-30 10:26] Marssssssss commented on #4758
您好，这个bug您那里有demo吗？

[2019-07-30 16:35] lijjLyb opened #5023 "在使用摄像机后，cc.Node.EventType.TOUCH_START 事件不能正确触发"
关闭 issue , 已解决问题，是我这使用的问题。

[2019-07-30 16:52] #5023 closed, assigned to nobody

[2019-07-31 01:29] knoxHuang commented on #3832
谢谢反馈，该 bug 已在 2.1.2 新版本修复

[2019-07-31 01:29] #3832 closed, assigned to nobody

[2019-07-31 01:35] knoxHuang commented on #4309
The simulator is not a web platform, so audio tags are not supported.

you can try

[code]

[2019-07-31 01:38] knoxHuang commented on #4054
谢谢反馈，2.1.x 版本已经支持了

[2019-07-31 01:38] #4054 closed, assigned to nobody

[2019-07-31 01:44] #4191 closed, assigned to nobody

[2019-07-31 01:45] asarazan commented on #4309
Is that a valid method signature? It doesn't exist in creator.d.ts.

[2019-07-31 02:03] knoxHuang commented on #4942
未能重现，能否用 2.1.2 版本在测试一次呢？

[2019-07-31 02:04] knoxHuang commented on #4800
该问题已经在 2.1.2 中修复了，可能到话，麻烦升级到最新版本在验证一次

[2019-07-31 02:07] omega-mk10 opened #5024 "无法在脊柱中设置材质？"
当Material（灰色着色器）设置为Spine数据时，显示变得奇怪
你可以修改它以便设置材料吗？
### Creator version?（版本号）
v2.1.2

### Affected platform?（受影响的平台）

Web
### How to reproduce?（如何重现）
let skeleton = this._spine.getComponent(sp.Skeleton);
skeleton.setMaterial(0, this._material);

### JavaScript output or error produced?（报错信息和调用栈）

No errors
### Demo project?（demo 项目）

[2019-07-31 08:04] bin-zhao commented on #4314
@masteage not work for me.

[2019-07-31 08:28] #4800 closed, assigned to nobody

[2019-08-01 03:53] fkworld commented on #5013
已经被引擎组修复
https://forum.cocos.com/t/vivo-cc-audioengine-audiostate/81379

[2019-08-01 03:53] #5013 closed, assigned to nobody

[2019-08-01 05:50] sunnylanwanjun commented on #5024
May I have a look at your gray shader？You'd better copy the origin spine shader and modify it, or you may lost some internal value.

[2019-08-02 06:10] MSoft1115 opened #5067 "编辑器启动地形资源释放问题"
地形destroy时会release所有layer，编辑器启动时进入该场景会出现layer的gfx对象没有被创建，如果从别的场景进入则不会。

[2019-08-02 07:21] Marssssssss commented on #4655
Thank you for raising this issue, this situation seems to have been fixed on version v2.1.2

[2019-08-02 07:24] #4655 closed, assigned to nobody

[2019-08-02 07:34] sunnylanwanjun commented on #5067
这个是3d 还是 2d的？是tiledmap的问题？

[2019-08-02 07:59] sunnylanwanjun commented on #3877
2.0.10已修复

[2019-08-02 07:59] #3877 closed, assigned to nobody

[2019-08-04 00:41] khalid-sani commented on #2020
Any updates on this? Currently, we have to duplicate the same atlas file to match the json filename

[2019-08-05 02:59] #5067 closed, assigned to sunnylanwanjun

[2019-08-05 06:30] Marssssssss commented on #3747
您好，谢谢反馈！这个功能是较老的功能，您可能是理解成了节点跟随节点这种类型的功能，但是实际上它主要实现的是子节点在父节点背景中类似摄像机跟随的功能。当子节点移动的时候会让父节点向相反方向移动以产生镜头跟随的观感，那些计算是为了实现这个功能而进行的~~

[2019-08-05 06:31] #3747 closed, assigned to nobody

[2019-08-05 06:35] knoxHuang commented on #4942
该问题已经修复

[2019-08-05 06:35] #4942 closed, assigned to nobody

[2019-08-05 06:56] Marssssssss commented on #3461
属于 api 使用层面的问题， 待 @jareguo 确认之后关闭该 issue

[2019-08-06 01:14] Marssssssss commented on #3558
Thank you for raising this issue and sorry for my late reply, this bug is going to be fixed on version v2.1.3.

[2019-08-06 02:27] Marssssssss commented on #3554
您好，谢谢您的反馈。这个情况我在 v2.1.2 上对 sprite 连续调用 rotateTo 没有出现抖动的问题，您可以用新版本的 creator 试试或者描述得再具体一些吗？（有 demo 的话当然是最好的了）

[2019-08-06 02:41] Marssssssss commented on #3733
您好，谢谢反馈。 example-cases 的11_network/downloader-web/downloader-web 范例里面我在 url 后面添加 ?useDom=1 后缀可以进行正常下载，您可以具体描述下是在什么场合引入资源出现的这个问题吗？（有demo当然是最好的了~）

[2019-08-06 02:55] Marssssssss commented on #3639
Thank you for raising this issue and sorry for this late reply! Color Swatch Picker is used for color picking but not color showing by our design. In this version this situation is normal.

[2019-08-06 03:00] #3639 closed, assigned to nobody

[2019-08-06 03:06] Marssssssss commented on #3739
Thanks for raising this issue and sorry for this late reply, it proves that this problem has been fixed on version 2.1.

[2019-08-06 03:10] Marssssssss commented on #3442
您好，谢谢您的反馈！在v2.1.2版本的样例项目中 Spine 工作正常没有出现类似的问题，您可以直接用新版本的编辑器进行测试。

[2019-08-06 06:01] Marssssssss commented on #3441
您好，谢谢您的反馈。直接设置节点的透明度不会改变 Graphics 组件内与作图颜色和透明度有关的设置的，可以参考 [相关文档](https://docs.cocos.com/creator/2.1/manual/zh/components/graphics.html?h=graphi) 中关于颜色和样式的部分 。

[2019-08-06 06:06] Marssssssss commented on #3073
您好，谢谢反馈。请问在目前版本还有这个问题吗？

[2019-08-06 06:17] #3441 closed, assigned to nobody

[2019-08-06 06:20] #3558 closed, assigned to nobody

[2019-08-06 06:24] Marssssssss commented on #2508
您好，谢谢反馈。目前版本已经更新到 v2.1.2 ，可以直接使用最新版本的编辑器~

[2019-08-06 06:24] #3442 closed, assigned to nobody

[2019-08-06 06:24] #3739 closed, assigned to nobody

[2019-08-06 06:30] #3774 closed, assigned to nobody

[2019-08-06 06:31] #2508 closed, assigned to nobody

[2019-08-06 07:15] Marssssssss commented on #3144
您好，谢谢您的反馈。v2.1.2 已经修复该问题。

[2019-08-06 07:17] #3144 closed, assigned to nobody

[2019-08-06 07:34] knoxHuang commented on #2891
抱歉，目前 QQ 玩一玩已经不维护了

[2019-08-06 07:34] #2891 closed, assigned to nobody

[2019-08-06 07:40] Marssssssss commented on #3863
您好，谢谢反馈。按您说的步骤在 v2.1.2 不会出现不可修改\保存任何东西的情况，也没有出现报错，可以尝试使用最新版本的编辑器。

[2019-08-06 07:43] #3863 closed, assigned to nobody

[2019-08-06 08:18] jareguo commented on #3461
let gl = cc.game._renderContext;
texture.initWithSize(cc.visibleRect.width, cc.visibleRect.height, gl.STENCIL_INDEX8);

可以参考摄像机的文档说明，需要传第三个参数
https://docs.cocos.com/creator/manual/zh/render/camera.html?h=camera5

[2019-08-06 08:18] #3461 closed, assigned to nobody

[2019-08-06 08:29] sunnylanwanjun commented on #2020
Try to place the file which you want to share atlas into same directory.

[2019-08-06 08:34] Marssssssss commented on #3839
您好，谢谢反馈。论坛上的 demo 在 v2.1.2 调试效果是正确的：
1、循环数为3时：

![image](https://user-images.githubusercontent.com/42939682/62524307-f26eca00-b867-11e9-83f0-658f44165ba0.png)

2、循环数为30时：

![image](https://user-images.githubusercontent.com/42939682/62524509-55f8f780-b868-11e9-9d04-dfb2f56c06a4.png)

可以更换使用新版本的编辑器。

[2019-08-06 08:38] #3839 closed, assigned to nobody

[2019-08-06 08:48] Marssssssss commented on #3609
您好，谢谢反馈。v2.1.2 版本下已修复该问题。

[2019-08-06 08:50] #3609 closed, assigned to caryliu1999

[2019-08-08 01:48] knoxHuang commented on #4868
已经修复，会进到 2.1.3 版本

[2019-08-08 01:48] #4868 closed, assigned to knoxHuang

[2019-08-08 02:57] Sumxx opened #5120 "Memory Leak"
https://github.com/cocos-creator/engine/blob/8474c229f5b8905c2935fc8a988770afb55f8fa2/cocos2d/core/renderer/render-engine.js#L13858-L13872

Why is there no equal sign? Is it intentional? No need to release the 0 serial number?

[code]

[2019-08-08 03:24] fjqingyou opened #5121 "建议添加Editor环境专属文件夹"
### Creator version?（版本号）
2.0.9

效果：
1、Editor环境下，跟普通资源一样能被正常使用
2、编译时。排除掉。不打包进入客户端

好处：
1、美术提供的图片可能包含布局预览图。可直接放到不会被编译的文件夹中，可直接放入场景里面，对照摆放控件，可精准对位。
2、自定义编辑器脚本。仅仅工作在编辑器模式下。
3、其他编辑器专属环境下用的素材什么的。

[2019-08-08 03:29] CoderNeko commented on #5120
It's very helpful to me！！！

[2019-08-08 03:32] DevilNeverCry commented on #5120
It's very helpful to me too too.

[2019-08-08 03:56] Sumxx commented on #5120
oh my god    data.length ?  data._data.length ?

[2019-08-08 12:27] fjqingyou opened #5130 "TypeError: vb.destroy is not a function"
### Creator version?（版本号）
2.0.9

### Affected platform?（受影响的平台）
Chrome

### How to reproduce?（如何重现）
暂且未知

### JavaScript output or error produced?（报错信息和调用栈）
mesh-buffer.js:216 Uncaught TypeError: vb.destroy is not a function
    at cc_MeshBuffer.destroy (mesh-buffer.js:216)
    at Impl.clear (impl.js:158)
    at cc_Graphics.onDestroy (graphics.js:185)
    at cc_Graphics.onDestroy (CCClass.js:778)

[2019-08-09 02:31] jigelang commented on #4758
2.0.10的更新了一个小版本已经解决了

[2019-08-09 02:32] #4758 closed, assigned to nobody

[2019-08-09 03:50] Marssssssss commented on #3790
Thank you for raising this issue and sorry for this late reply, this bug seems to have been fixed. Test this problem on new version please.

[2019-08-09 03:52] #3790 closed, assigned to nobody

[2019-08-10 03:07] jigelang opened #5144 "Safari10上会出现Cannot declare a let variable twice: 'e'.的问题"
### Creator version?2.0.10 p1

web safari10

项目打包运行就会出现，
之前在2.0.10的第一个正式版本中出现过，调整过uglify-es解决了，用最新的p1用同样的方式无法解决了，之前是在mifify.js中的mangle中
加入了```
{
safari10：true
}
[code]

[2019-08-14 03:08] tuyazuo opened #5154 "webview界面点击按钮崩溃(jsb_opengl_manual.cpp)"
ios webview接入传奇H5手游，在H5界面点击游戏的操作按钮（90%的按钮）都会造成app崩溃。
测试版本creator2.0.10，2.1.2 设备iPhone6 12.3 iPhoneXR 12.1.2以及模拟器均会报错，信息如下：

见论坛帖子：https://forum.cocos.com/t/webview-100/82030

另外还有几个反馈和建议：
1. webview不会自动播放声音（需要用户点击触发一次声音播放），这个建议加个接口给用户，在有声音的页面中开发者的预期肯定是要播放声音的。
2. webview销毁后（webview组件所在的node已经destroy了）不会停止播放声音

[2019-08-14 03:52] tuyazuo commented on #5154
经测试发现在creator1.9.0版本功能正常，已在论坛帖子中上传demo

[2019-08-14 08:34] meifujiwara opened #5156 "資源引用了package提供的組件會無法導出"
### Creator version?（版本号）
2.0.9

### Affected platform?（受影响的平台）

編輯器

### How to reproduce?（如何重现）
場景或prefab若引用了package提供的組件，拉到導出資源面板上時會報錯並呈現一直Loading的狀態

![圖片](https://user-images.githubusercontent.com/24955257/63006430-1e65fd00-beb1-11e9-89b5-e85fa0f8c540.png)

### JavaScript output or error produced?（报错信息和调用栈）

Error: ENOENT: no such file or directory, stat 'C:\NewProject\assets\el-node'
    at

[2019-08-15 02:27] #2020 closed, assigned to sunnylanwanjun

[2019-08-16 03:02] jigelang commented on #5144
发现在编译引擎的node-module中的uglify-es也会影响，以同样的方式修改了编译引擎中的node-module后就好了

[2019-08-16 07:59] ghost opened #5171 "TTF字体启用CHAR模式，字体边缘出现杂色"
安卓上比较明显， 引擎版本2.1.2

[2019-08-20 03:21] Marssssssss commented on #4808
您好谢谢您的反馈，我这里使用 2.0.10 版本在 example-cases 上面的菜单点击按钮进行测试没有出现您说的状况，您可以在最新版本上测试一下，若还有该问题可以提供一份 demo 以便于这里更快地定位问题。

[2019-08-20 03:22] Marssssssss commented on #4808
上面的关联的 PR 与该问题无关，请忽略这个错误的关联

[2019-08-20 06:39] Marssssssss commented on #3518
您好，谢谢您的反馈，请您在最新版本上测试一下，如果还有这个问题的话可以上传一份 demo 以便于我们更好地解决这个问题。

[2019-08-20 07:18] Marssssssss commented on #2739
您好，谢谢您的反馈，这个问题在 v2.1.2 已经修复了。

[2019-08-20 07:19] #2739 closed, assigned to nobody

[2019-08-20 07:59] Marssssssss commented on #3541
谢谢您的反馈，该问题在 v2.1.2 上没有出现，请使用最新版本的编辑器。

[2019-08-20 08:00] #3541 closed, assigned to nobody

[2019-08-21 02:58] Marssssssss commented on #3635
您好，谢谢您的反馈，可以在最新版本的 creator 上面测试一下是否还有这个问题吗？

[2019-08-21 03:30] #3653 closed, assigned to nobody

[2019-08-21 03:37] #4358 closed, assigned to nobody

[2019-08-21 03:42] Marssssssss commented on #3902
您好，谢谢您的反馈，可以在最新版本的 cocos creator 上面测试一下吗？

[2019-08-21 06:35] Marssssssss commented on #2817
谢谢您的反馈，在 v2.1.2 版本中的 creator.d.ts 里面已经包含了 playEffect 这个接口，请使用新版本的编辑器测试一下。

[2019-08-21 06:35] #2817 closed, assigned to nobody

[2019-08-21 06:39] Marssssssss commented on #2980
您好，谢谢您的反馈，您的 issue 描述太少了，难以进行分析，请使用新版本测试一下。

[2019-08-21 06:39] #2980 closed, assigned to nobody

[2019-08-21 06:46] Marssssssss commented on #2946
您好，谢谢您的反馈，请在新版本的 creator 上进行测试，如果该问题还有出现的话可以提供一份 demo 以帮助我们更快定位这个问题。

[2019-08-21 06:49] Marssssssss commented on #3011
您好，谢谢您的反馈，可以在新版本测试一下还有没有这个问题。

[2019-08-21 07:02] #4643 closed, assigned to nobody

[2019-08-21 07:04] Marssssssss commented on #2908
您好，谢谢您的反馈，可以在新版本的 creator 上测试一下是否还有这个问题。

[2019-08-21 07:05] Marssssssss commented on #4515
您好，谢谢您的反馈，我们一直都有在持续地完善这个问题。

[2019-08-21 07:08] #4515 closed, assigned to nobody

[2019-08-21 07:23] Marssssssss commented on #4279
您好，谢谢您的反馈，可以提到 https://github.com/cocos2d-x/runtime-packer 仓库

[2019-08-21 07:30] #2987 closed, assigned to nobody

[2019-08-21 07:32] #4279 closed, assigned to nobody

[2019-08-21 07:35] knoxHuang commented on #2987
![image](https://user-images.githubusercontent.com/7564028/63411920-2d0c6100-c429-11e9-89fa-51cf5d05f440.png)

可以根据 CollisionManager 中的  enabled 来进行开关

[2019-08-21 10:38] yuehong4 opened #5217 "按照文档，test运行问题"
### Creator version?（版本号）
最新代码

### Affected platform?（受影响的平台）

web
### How to reproduce?（如何重现）

按照步骤安装，全程无错。node test/qunit/server.js运行test in browser
访问bin/qunit-runner.html 发现bin目录下都没有生成qunit-runner.html这个文件

### JavaScript output or error produced?（报错信息和调用栈）

浏览器提示：
{"error":"ENOENT: no such file or directory, stat '/home/yueh/engin/engine-master/bin/qunit-runner.html'"}
### Demo project?（demo

[2019-08-22 02:28] #3518 closed, assigned to nobody

[2019-08-22 08:59] #5217 closed, assigned to nobody

[2019-08-22 10:11] StoneFu2015 opened #5224 "官方可以一个3D游戏教程嘛？"
如题。谢谢

[2019-08-25 10:08] rChaoz opened #5243 "The 'Hello World' project has an empty scene"
### Creator version?（版本号）
Cocos Creator v2.1.2

### Affected platform?（受影响的平台）
Windows Editor (Mac Editor too probably, can't test it)

### How to reproduce?（如何重现）
Start Cocos Creator, create new project - choose "Hello World".

### Issue
The created project does have the 'HelloWorld.js' in the 'Scripts' folder as well as the 2 PNGs in the 'Texture' folder, however the scene is empty (Canvas and C

[2019-08-25 10:23] rChaoz opened #5244 "Building to Android - App ABI checkboxes do not work corrrectly"
### Creator version?（版本号）
Cocos Creator 2.1.2

### Affected platform?（受影响的平台）
Windows Editor (probably Mac one too)

### How to reproduce?（如何重现）
Create a new project (Hello World). Build & compile to Android, make sure to check all 3 App ABI checkboxes beforehand. The resulting apk has all 3 lib.so files as expected. Build again, this time leave only the first (armeabi-v7a) checkbox checked. The r

[2019-08-29 09:03] fjqingyou opened #5276 "cc.Vec3 无法序列化"
### Creator version?（版本号）
2.0.10

### Affected platform?（受影响的平台）
Mac Editor

### How to reproduce?（如何重现）
####  stpe 1
创建一个测试脚本文件： TestVec3.ts
#### step 2
写入以下内容：
[code]
#### step 3
保存这个脚本文件，并新建一个node，将文件挂载上去。。就会发现，不能将这个组件脚本挂载到新建的node上面

### JavaScript output or error produced?（报错信息和调用栈）
[code]

[2019-09-01 16:55] #5244 closed, assigned to nobody

[2019-09-02 03:55] JimsC opened #5306 "不缓存纹理是不是有Bug？"
2.0.10版本中
CCTexture2D的_clearImage函数
_clearImage () {
        cc.loader.removeItem(this._image.id || this._image.src);
        this._image.src = "";
    }
为什么是设置_image.src为空字符串来清空缓存纹理？真实的数据不是_image.data吗？为什么不是设置_image.data=null;?

[2019-09-03 01:31] fjqingyou opened #5314 "AudioClip duration"
### Creator version?（版本号）
2.0.10

### Affected platform?（受影响的平台）
Mac Editor

### How to reproduce?（如何重现）

#### 第一个问题
let duration = cc.audioEngine.getDuration(audioId);//发布版 duration == NAN

#### 第二个问题
//设置音效剪辑
audioSource.clip = clip;

//取得音效持续时间
let duration = audioSource.getDuration();//发布版 duration == 0

[2019-09-03 03:26] jigelang opened #5315 "播放音频时，偶现的出现颤音，杂音的问题"
### Creator version?（版本号）2.0.10

### Affected platform?web

一般首次加载的时候容易复现，再次加载音频的质量一般就好了

[2019-09-03 07:14] fkworld opened #5322 "cc.tween.repeatForever 在前置其他 tween 时报错：[Action update]. override me"
### Creator version?（版本号）
2.0.10

### Affected platform?（受影响的平台）

Web
### How to reproduce?（如何重现）
[code]
其中 `.delay(2)` 可以换成任意前置 tween，都会报错。

### JavaScript output or error produced?（报错信息和调用栈）

[Action update]. override me （CCDebug.js? [sm]:244）

### 附加信息

在论坛中也有很多出现类似问题的帖子 但是都没有被回复

1. https://forum.cocos.com/t/2-1-2-tween-repeatforever/80820
2. https://forum.cocos.com/t/cocos-creator2-0-10-cc-tw

[2019-09-04 02:57] jestg commented on #3902
cocos creator 2.1.2 小米 note3 出现同样的报错，并伴随黑屏。出现一次 检测到 小米 note3  不支持 WebGL 的信息

报错如下：

![image](https://user-images.githubusercontent.com/37201086/64222435-a5335600-cf02-11e9-8f88-a52c59e0b36d.png)

[2019-09-04 07:35] fkworld opened #5328 "某些正则表达式导致脚本失效"
### Creator version?（版本号）
2.0.10

### Affected platform?（受影响的平台）

Web
### How to reproduce?（如何重现）
`new RegExp(/(([^,"]+)|("[^"]*")|((?<=,|^)\s*))(?=,|$)/g)`
在任意项目中写入一个上面的正则表达式，则会导致此脚本解析失败，关闭项目后打开时报错。
并非所有正则都会导致此问题，我在项目中用到的另外一个正则`/.+(?=\r\n)/g`并不会导致此bug。

### JavaScript output or error produced?（报错信息和调用栈）

（以标准的heollo-typescript项目为例，在Helloworld.ts中写入以上正则）
在web中的报错信息为：
[code]
重新打开项目报错信息为：
[code]

[2019-09-05 02:49] fjqingyou opened #5333 "层级面板搜索结果，键盘方向键不是按照搜索结果选取，而是原有Scene中的顺序选取"
### Creator version?（版本号）
2.0.10

### Affected platform?（受影响的平台）

Mac Editor

### How to reproduce?（如何重现）
1、任意很多节点的场景。搜索多结果，且不是全部结果，例如 t:cc.Label，
2、选取任意一个结果。按向下方向键。。。这里正常执行
3、继续按方向键下。如果下一个不是恰好原有结构就是第二步的下一个，那么选取的就是搜索结果之外的对象了

[2019-09-05 15:48] rChaoz opened #5341 "cc.Tween repeatForever() does not work correctly but repeat() does"
Tween.repeatForever() does not work unless it's the very first action in the Tween. That is, doing either `cc.tween(node).by(1).repeatForever()` or `cc.tween(node).repeatForever(cc.tween().by(1))` will work, but adding another action at the very beginning will not work. What's weird is that using repeat() instead does work.

### Creator version?（版本号）
2.1.2

### How to reproduce?（如何重现）
`cc.tween(no

[2019-09-09 04:26] hungphung33 opened #5353 "crash on Xiaomi Redmi"
my app crash randomly on XiaomiRedmi Note 5 Pro (whyred) , Redmi Note 7 (lavender) and ZTE B2017G (tulip)

NDK r16b

### android version 9 and 8.1

### Creator version?（2.0.9）

app link:
https://play.google.com/store/apps/details?id=td.bagato.studio

here my google log picture:
<img width="634" alt="Screen Shot 2019-09-09 at 11 18 38" src="https://user-images.githubusercontent.com/32632791/6450324

[2019-09-09 13:35] dcorpStudio commented on #2018
Same problem here with Cocos Creator V2.1.2
contact.getImpulse().normalImpulses =>always be { x:0, y:0 }
contact.getImpulse().tangentImpulses=>always be { x:0, y:0 }

Called onPostSolve() and contact.getImpulse() only have value inside onPostSolve()

[2019-09-12 02:39] fjqingyou opened #5380 "getComponent: Type must be non-nil"
### Creator version?（版本号）
2.0.10

### Affected platform?（受影响的平台）

Mac Editor

### How to reproduce?（如何重现）
未知

### JavaScript output or error produced?（报错信息和调用栈）
getComponent: Type must be non-nil
    at Object.cc.errorID (/Applications/Cocos/CocosCreator_2.0.10.app/Contents/Resources/engine/bin/.cache/dev/cocos2d/core/CCDebug.js:167:16)
    at getConstructor (/Applications/Cocos/CocosCreator_2.0.1

[2019-09-13 08:37] Ronsku commented on #3379
Awesome, Thank you! 💯 🎉

[2019-09-15 13:14] zerominh opened #5391 "Error display text in editbox android 9.0"
Pressed text not display correctly in editbox android 9.0
Creator version?（版本号）
2.1.2
![Layer 1](https://user-images.githubusercontent.com/30307402/64922097-6308ef00-d7f5-11e9-8540-487c22131f26.png)
Like in this image.
I press "fake" but on key board not display "fake" word

[2019-09-17 09:05] ZuoEr commented on #1347
感觉没必要，之前就是这种API太多，臃肿

[2019-09-17 11:40] #1347 closed, assigned to nobody

[2019-09-23 01:50] hubluesky opened #5438 "Hago平台Label系统字体会偏移"
Cocos版本：2.1.2
打包Web Mobile发布Hago平台。
所有Label的系统字体会向上偏移。
目前解决方法：修改引擎代码textUtils。还请官方解决此问题。
// Draw text the textBaseline ratio (Can adjust the appropriate baseline ratio based on the platform)
let BASELINERATIO = window["hg"] ? 0 : 0.26;
if (CC_RUNTIME) {
BASELINERATIO = -0.2;
}
但是这样改引擎会导致字体在显示的时候被超框剪裁，请你们解决或者告诉我怎么解决这个问题。

[2019-09-24 01:15] linguitang opened #5451 "2.1.3正式版 相机的透视效果是不是无效？并没有近大远小"
![image](https://user-images.githubusercontent.com/8371546/65473774-c48f2480-deab-11e9-9abd-49bd1a7c14bc.png)
节点也调整成3d节点了，但是一样没有近大远小

[2019-09-24 03:16] #5451 closed, assigned to nobody

[2019-09-24 06:52] #5322 closed, assigned to nobody

[2019-09-24 06:52] #5341 closed, assigned to nobody

[2019-09-24 10:25] dumganhar commented on #5438
我是 hago 底层开发人员，请联系我，微信
 dumganhar
备注你是谁

[2019-09-26 07:34] balazsnemeth commented on #5380
I'm getting the same error, any news on this? How can we track it down which component has the issue?

[2019-09-26 07:38] fjqingyou commented on #5380
Sorry, No progress

[2019-09-27 22:57] andrisole92 opened #5484 "Any chance particle system will get improvement?"
### Creator version?（版本号）1.9

### Affected platform?（受影响的平台）

Browser.

### How to reproduce?（如何重现）
Load 3000 particles.

Hey, are there going to be any particles improvement for WebGL? PixiJS has a great performance for particles. Can we port the code to Cocos? I want to have animated particles and much more of them. Right now the whole thing slows down after I have over 100 particles on the scre

[2019-09-30 03:25] andrisole92 opened #5491 "EditBox does not work on Mac build."
(As you can see input is horribly distorted)
<img width="343" alt="Screenshot 2019-09-29 at 23 24 10" src="https://user-images.githubusercontent.com/17086705/65847629-52d23300-e310-11e9-9ee7-d40fccb30460.png">

### Creator version?（版本号）
2.1.2

### Affected platform?（受影响的平台）

MacOS build
### How to reproduce?（如何重现）
Just EditBox, build, and try to type in something.

### JavaScript output or error p

[2019-10-04 10:59] Ronsku opened #5494 "Feature Request: Texture Atlas Polygon Support"
### Creator version?（版本号）
2.1.3

### Affected platform?（受影响的平台）
Both Mac & Windows

### How to reproduce?（如何重现）
Create with Texture Packer or any other tool a Polygon Texture Atlas and apply them into a Sprite in Cocos Creator 2.1.3.

If you need any additional information about how Polygon Texture Atlases work, please ask.

I've understood that this works in cocos-2d-x C++ version, but doesn't wo

[2019-10-11 08:50] brantxiong opened #5519 "Feature Request: Please add Websocker Server support in cocos creator"
### Creator version?（版本号）
V2.1.2

### Affected platform?（受影响的平台）
Android/iOS

### Feature Request
Since Cocos2d-x  Engine has already added support for WebSocket Server ( https://github.com/cocos2d/cocos2d-x/issues/17944 )

Could you pls also add this feature to Cocos Creator?  I need setup a WebSocket Server in js script in Cocos Creator V2.1.2.

Thanks so much!

[2019-10-12 02:30] parvezdesignworks opened #5524 "Richtext click handler not working"
Dear Team

The richtext component string with click handler is not working

I have tried below strings
[code]

I have tried with on tag also

the string in rich text component is valid as per the docs

Kindly guide or if any issue, then please provide solution

I am using cocos creator v2.1.3

Regards

[2019-10-12 09:27] sunRiseEast opened #5530 "2.1.3 版本的ios视频不发出clicked事件，并且播放数量超过32个以后就不能播放"
### Creator version?（版本号）

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2019-10-14 03:36] SantyWang commented on #5524
Thanks for your feedback，we will check it as soon as possible

[2019-10-14 03:55] caryliu1999 commented on #5524
Hi, thank you for your feedback. But I have verified that the v2.1.3 version is no problem. Have you checked the HandleTouchEvent option?

And this is a test demo.
[Test213.zip](https://github.com/cocos-creator/engine/files/3722858/Test213.zip)

[2019-10-14 03:58] SantyWang commented on #5484
Thanks for your feedback,maybe you can try the latest version. We have improved performance about particle system

[2019-10-14 04:50] PPpro commented on #5491
issue fixed in v2.1.3, try upgrading Cocos Creator
refference: https://github.com/cocos-creator-packages/jsb-adapter/commit/23f957b8543ad87c48f44024f582815d88a6e789

[2019-10-14 05:33] #5491 closed, assigned to nobody

[2019-10-15 02:01] xianyinchen opened #5543 "[2.0.10] 富文本位置异常"
Chrome 浏览器预览下，文本显示偏上。

https://forum.cocos.com/t/topic/84432

![image](https://user-images.githubusercontent.com/8321365/66794054-947af480-ef32-11e9-8138-56917323dc5a.png)

[2019-10-15 12:54] k8w opened #5552 "3D 1.0.0 RC1: MouseEvent.button 和 buttons 没有生效"
### Creator version?（版本号）
3D 1.0.0 RC1

### Affected platform?（受影响的平台）

All

### How to reproduce?（如何重现）
[code]

### 期望结果
当鼠标相应按键按下时，e.button 和 e.buttons 有值

### 实际结果
e.button 和 e.buttons 始终为undefined

[2019-10-16 03:12] knoxHuang commented on #5543
2.1.x 版本已经修复过，推荐升级到 2.1.3，

[2019-10-16 03:12] #5543 closed, assigned to nobody

[2019-10-16 05:17] jareguo commented on #5519
Hi, what's the purpose of a socket server? Pear to pear communication?

[2019-10-17 01:49] brantxiong commented on #5519
Hi, Thanks for your reply.
    I Would like to integrate the [Poco-SDK](https://github.com/AirtestProject/poco-sdk) into the Cocos Creator Engine. And We need to implement a Server in the Game side created by Cocos Engine.,
    And I am one of the authors of Poco-SDK, If convenient, Could you share your email or others to keep in touch? I think we can cooperate on Automated Testing for Cocos Engin

[2019-10-17 05:54] jareguo commented on #5519
Sure, you can add my Wechat jare85

[2019-10-17 06:26] minggo commented on #5519
@brantxiong we can update libwebsocket.a. But we are not familiar of web server, do you have any advice about what functions are needed to be bound to Javascript?

[2019-10-17 07:15] brantxiong commented on #5519
Hi, @minggo You can check the functions here: [https://github.com/AirtestProject/Poco-SDK/blob/master/cocos2dx-js/Poco/Poco.js#L15](https://github.com/AirtestProject/Poco-SDK/blob/master/cocos2dx-js/Poco/Poco.js#L15)

We need setup a WebSocker Server in js, and common API are server.onServerUp, server.onMessage and etc, which has been list in the poco.js file.

[2019-10-17 07:32] jareguo commented on #5519
我们之前的方案是找了一个开源的实现：http://discuss.cocos2d-x.org/t/cocos2d-js-websocket-server/33570

这个是我们集成sdk的文档

server.onServerUp
server.onServerDown
server.onConnection
server.onMessage
server.onDisconnection
server.onError
主要是这几个接口需要绑定到 JS

[2019-10-17 09:47] Marssssssss commented on #5315
你好，这个问题我们在 2.0.10 之后的版本好像修复过相关的 bug，请使用最新版本试一下看看有没有出现。

[2019-10-17 09:50] Marssssssss commented on #5328
你好，我这里最新版本 creator 没有重现这个问题，请使用最新版本的 creator 再试试看看。

[2019-10-17 09:56] Marssssssss commented on #5224
您好，在 cocos 的官方里面已经有相关的内容了，具体请访问：

https://docs.cocos.com/creator3d/manual/en/getting-started/first-game/

[2019-10-17 09:57] #5224 closed, assigned to nobody

[2019-10-17 09:58] fkworld commented on #5328
我在 2.1.3 版本中依然复现了这个问题

[2019-10-17 10:01] Marssssssss commented on #5328
可以提供一份 demo 吗？我这里可能复现的方式有误。

[2019-10-17 10:14] Marssssssss commented on #5243
Thank you for raising this problem.  The truth is that you need to double click "helloworld" scene after you enter a new-created helloworld project. It is because in version 2.1.2, "helloworld" wouldn't be load automatically after you create it, which means that you need to load helloworld scene by your own. This problem has been fixed in version 2.2.0, now it will say "Hello World." when you ente

[2019-10-17 10:15] #5243 closed, assigned to nobody

[2019-10-17 10:42] fkworld commented on #5328
demo 就是标准的 hello-typescript 项目，只需要在 Helloworld.ts 文件中增加一行代码就会复现。

你的复现方式是什么样的呢？有其他人复现成功或失败吗？

[2019-10-17 10:46] Marssssssss commented on #5328
按照您说的复现方式我这里 2.2.0-rc5 版本没有出现报错，重开项目也是正常的。
应该是在 2.2.0 已经被修复了。

[2019-10-17 10:48] fkworld commented on #5328
我只在 2.0.10 和 2.1.3 中复现过，并没有使用 2.2.0 版本。
我看到一个类似的问题，不知是否是 cocos 出现问题的原因。
https://stackoverflow.com/questions/5952936/invalid-regular-expression-error

[2019-10-17 10:50] Marssssssss commented on #5328
我这里 2.1.2 按这个方法确实出现问题了。2.2.0 就没有这个问题，应该已经修复了。

[2019-10-17 10:53] Marssssssss commented on #5328
这个问题看下面的回答是因为在不适配 ECMAScript 2018 的 JS 环境下不支持某个符号导致的。

[2019-10-17 10:55] #5328 closed, assigned to nobody

[2019-10-18 01:50] Marssssssss commented on #1653
该问题在 http://forum.cocos.com/t/creator-shader/46534 里面已经解决。

[2019-10-18 01:51] #1653 closed, assigned to nobody

[2019-10-18 02:15] knoxHuang commented on #5333
能否用最新版本 2.1.3 测试看看 https://www.cocos.com/creator

[2019-10-18 03:05] fjqingyou commented on #5333
@knoxHuang 相同结果

[2019-10-18 03:11] pandamicro commented on #5552
已转到内部 issue tracker

[2019-10-18 03:11] #5552 closed, assigned to nobody

[2019-10-18 03:23] SantyWang commented on #5494
Thanks for your advices and sorry for my late reply，Could you please talk about Polygon Texture Atlases in detail or give us some references? What is major difference between Polygon Texture Atlases and Normal Atlases？ How would Polygon Texture Atlases optimize games？

[2019-10-18 03:35] SantyWang commented on #5380
So sorry for late reply, could you please give us more information about how to reproduce this issue? Would it affect your operations in editor? Editor get stuck?

[2019-10-18 03:40] fjqingyou commented on #5380
@holycanvas 坐标深圳？我英文不行就不翻译啦。

不影响正常使用。但是经常性在编辑器中出现这个错误提示。重现方式暂且未知，不确定它是如何触发的问题。

[2019-10-22 02:17] MSoft1115 opened #5577 "资源化地形创建流程"
流程：
  1.新建地形资源
  2.创建空节点并创建地形组件
  3.将地形资源绑定到地形组件
  4.像之前一样编辑地形
  5.保存场景时，要保存修改后的地形资源

问题：
  1.地形跟场景是强关联的，作为资源其实不是很不合适
  2.资源化后，用户需要操作的步骤变多了

[2019-10-22 02:24] gameall3d commented on #5577
1-3，在通常使用情况下一步就可以达到，在层级管理器中新建地形就会把这三步一起做了

[2019-10-22 02:26] YunHsiao commented on #5577
能不能还是在场景资源里，但保存这部分大块数据为二进制？看起来和动画遇到的问题很像，关键是数据格式的事

[2019-10-22 02:32] JayceLai commented on #5577
保存在场景资源里面会不好复用吧，特别是跨项目的时候。

迁移也可能会比较麻烦

[2019-10-22 02:33] MSoft1115 commented on #5577
用户需要知道这个资源的存在，否则删除组件后，资源还残留在项目里

[2019-10-22 03:35] StevenCoober opened #5580 "场景新增东西导出到微信还是老场景"
### Creator version?（版本号）
2.2

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）
版本是从1.9.3升级上来的,添加了几张贴图Spirte后场景导出错误,还是老场景

### JavaScript output or error produced?（报错信息和调用栈）

没有报错
### Demo project?（demo 项目）

[2019-10-23 05:31] LoS-Light opened #5592 "当前v2.2.0版的物理引擎只能用在2D上 希望能够新增3D物理引擎"
### Creator version?（版本号）2.2.0
当前v2.2.0版的物理引擎只能用在2D上 希望能够新增3D物理引擎

[2019-10-23 06:49] SantyWang commented on #5592
你好，感谢反馈，我们目前将只会在2D增加一些3D的碰撞系统，其他物理部分，比如刚体系统，目前是没有考虑的，不知道这样是否满足你的需求呢？

[2019-10-23 06:53] SantyWang commented on #5580
感谢反馈，麻烦测试一下web平台是否正常？

[2019-10-23 07:05] LoS-Light commented on #5592
感谢您的回覆
目前主要是想知道未来有没有机会引进Cocos Creator 3D V1.0的3D物理引擎到Cocos Creator
如果未来没有考虑这项更新，我可能考虑转向使用Cocos Creator 3D了

[2019-10-23 07:10] SantyWang commented on #5592
你好，我们目前有计划的是迁移3d的碰撞系统到2d，但是一些其他的物理系统比如刚体，这些目前没有计划迁移。如果碰撞系统不足以满足你的需求，你想要更完善的物理系统，可以用 Cocos Creator 3D 即可

[2019-10-23 07:12] LoS-Light commented on #5592
好的 我了解了

[2019-10-23 07:12] #5592 closed, assigned to nobody

[2019-10-23 11:21] ErukuMeo opened #5600 "[v2.2.0][Material][Effect]两个Material使用同一个effectAsset资源，传入的uniform属性只有第一个Material生效"
### 编辑器版本:
2.2.0

---

### 问题描述:

当两个Sprite分别引用两个Material，Material引用同一个Effect Asset资源时，
调用`Material.setProperty()`
第一个被渲染的Material会覆盖第二个Material设置的属性

备注：按节点的渲染顺序，先渲染节点上Material设置的属性会覆盖掉后渲染的节点设置的Material的属性
如果是两个相同内容的EffectAssets文件不会有这个问题
因为对渲染方面的知识了解较少，不确定这是Bug还是我的实现方式有问题

---
### Demo:
EffectAssets:
[code]
---
TypeScript代码片段:
[code]
### Demo项目：
[Effect-Demo](https://github.com/Elk953/CocosCreato

[2019-10-23 11:34] SantyWang commented on #5600
你可以用Material.getInstantiatedMaterial复制一个材质出来试试

[2019-10-23 11:49] ErukuMeo commented on #5600
您好，试了一下复制也不行，感觉这个应该是两个不同的Material引用了同一个EffectAsset导致的,因为我demo中就是new了两个Material，但是它们引用的是同一个EffectAsset

[2019-10-23 12:08] ErukuMeo commented on #5600
试了调用了EffectAsset.getInstantiatedEffect()复制一个新Effect也有问题 @holycanvas

[2019-10-23 12:09] SantyWang commented on #5600
好的，感谢，我跟同事确认下

[2019-10-23 12:28] ErukuMeo commented on #5600
好的 麻烦了，新添加了一个Demo [Effect-Demo](https://github.com/Elk953/CocosCreator-Effect-Demo)

[2019-10-23 12:36] SantyWang commented on #5120
Sorry for the late reply, before you create this issue, this problem had been resolved in v2.1.2 . reference: https://github.com/cocos-creator/engine/pull/5025

[2019-10-23 12:36] #5120 closed, assigned to nobody

[2019-10-24 02:26] 2youyou2 commented on #5600
试下这样

[code]

[2019-10-24 03:55] zhhd opened #5606 "去除图片黑边使用自动合图之后失效"
### Creator version?（版本号）
2.1.3之前的版本

### Affected platform?（受影响的平台）
Web 其他平台没测试

### How to reproduce?（如何重现）
1.使用编辑器将原图的premultiply alpha勾上
2.选择src渲染通道为one

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

比较容易重现的bug就不写demo了，在开发环境下不影响，只有打包之后会出现

[2019-10-24 05:31] SantyWang commented on #5606
你好，感谢反馈，这个在2.2上已经修复了

[2019-10-24 05:31] #5606 closed, assigned to nobody

[2019-10-24 07:23] ErukuMeo commented on #5600
您好，刚刚按这种方式试了一次，还是不行，感觉问题好像是出在`cc.effectAsset`上面

[2019-10-24 18:22] 942Avril opened #5613 "2.2.0 Cocos2dxDownloader.java 参数错误"
### Creator version?（2.2.0）

### Affected platform?（Android）

2.2.0版本安卓的加载器Cocos2dxDownloader.java做了大量的修改,发现该类221行和259行均有调用downloader.onProgress的方法,
但参数传输的顺序有错,downloader.onProgress(id, current, len, total); 其中current和len的位置应该调换,
其中len对应onProgress方法的downloadBytes(触发当前onProgrees单次的加载字节), current为从该任务开始加载到当前所有字节,所以应该对应downloadNow.

[2019-10-25 01:53] SantyWang commented on #5600
谢谢反馈，我们内部会再进行跟踪修复的，之后会通知您

[2019-10-25 02:49] PPpro commented on #2505
同步 EditBox 的样式需要很大工作量，不同平台实现方式不同
这个需求比较少，现阶段建议可以通过组合 UI 组件的形式去实现需求
![新建项目](https://user-images.githubusercontent.com/17872773/67539513-fbf42980-f714-11e9-8d68-e29180c0d6d2.png)
[code]

[2019-10-25 02:56] #2505 closed, assigned to nobody

[2019-10-25 03:15] PatriceJiang commented on #5519
@brantxiong I am going to implement interfaces according to https://www.npmjs.com/package/nodejs-websocket#server, it is ok to you?

[2019-10-25 03:59] 2youyou2 commented on #5600
查了下是材质 hash 计算的问题，感谢反馈
pr: https://github.com/cocos-creator/engine/pull/5615

[2019-10-25 06:23] PPpro commented on #4448
hi, md5 won't be added to `cc.Asset.nativeUrl`
please use `cc.Asset.url` instead

[2019-10-25 06:24] #4448 closed, assigned to nobody

[2019-10-25 08:06] #5600 closed, assigned to nobody

[2019-10-25 09:47] brantxiong commented on #5519
OK, Thanks @PatriceJiang .
Looking forward to this feature!

[2019-10-28 02:27] minggo commented on #5519
WebSocket only be used on Android. iOS uses SocketRocket, it doesn't support server features. If we export server related features, then we should use WebSocket on iOS too. Or the server related features are only exist on Android, it is not good.

[2019-10-28 02:39] PatriceJiang commented on #5519
Switching to libwebsockets on iOS has both pros and cons.
#### pros:
- support compressing
- support websocket server
#### cons:
- increase package binary size by ~1M
- require an embedded or external CA file, ~200K

[2019-10-28 03:39] brantxiong commented on #5519
I think we can do support for Android based on libwebsockets first.
Since libwebsockets does not work on iOS, Could we try other server solution on iOS? Like the socket server.

Anyway, pls implement on Android first. And we can keep researching on the iOS solution.
Thanks!

[2019-10-28 03:44] minggo commented on #5519
We can use libwebsockets on iOS too, as @PatriceJiang said above. It just make the package about 1M bigger.
@jareguo what's your opinion?

[2019-10-28 14:24] jareguo commented on #5519
Even if we only support Android, it's pretty good, it's guaranteed (for game logic testing).
@minggo  On iOS, can we integrate libwebsockets as an independent native module? So deverlopers can compile it for testing only.

[2019-10-29 02:22] minggo commented on #5519
I don't think so, if a feature exists only on one platform, then it is not good. Developers should know which feature is supported on which platform and do some special logic on different platforms. We should avoid it as possible.

I don't think we can do it easily, it includes C++ codes, Javascript codes, should modify Xcode project to include:
- libwebsockets
- binding codes
- replace Javascript

[2019-10-29 02:37] minggo commented on #5519
Sorry, it is my fault, the server feature doesn't include Javascript codes. So there are two ways to add the server feature on iOS:
- developers modify the Xcode project to include libwebsockets and binding codes in its project to use it
- lite template includes libwebsockets and binding codes, but it is disabled by default, developers should enable it manually

[2019-10-29 03:07] jareguo commented on #5519
I meant if there's a test framework targeting for test rather than game, we can say it's Android only. But yes, we should support iOS.

[2019-10-30 01:18] fatdai opened #5645 "cc.director.preloadScene 失败回调在 android手机 微信下 不执行...."
### Creator version? V2.2.0

### Affected platform? Android 版 微信

### How to reproduce?
将 cc.director.preloadScene 预加载的场景所依赖的图片随便删除一张.

[2019-10-30 12:54] SantyWang commented on #5645
只有安卓上有这个问题么

[2019-10-30 14:18] fatdai commented on #5645
是的, ios下可以收到回调。 微信开发工具下也可以收到回调, 但是  android 的微信下收不到失败的回调.

[2019-10-30 14:18] fatdai commented on #5645
V2.1.3 是正常的!

[2019-10-31 02:45] fsm2018 opened #5655 "error 3408"
![image](https://user-images.githubusercontent.com/48814847/67914600-8fbd6e00-fbcb-11e9-8b56-53b65815448b.png)

[2019-10-31 03:24] Marssssssss commented on #5655
您好，您是否在脚本中调用了非节点对象的 getComponent 函数或者 getComponent 参数写错了？
![image](https://user-images.githubusercontent.com/42939682/67916619-3ce6b500-fbd1-11e9-8a59-73f764fc80e9.png)

[2019-10-31 03:38] fsm2018 commented on #5655
是分包加载的问题&nbsp; &nbsp;把脚本变成子包了&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "YuanJie"<notifications@github.com&gt;;
发送时间: 2019年10月31日(星期四) 中午11:24
收件人: "cocos-creator/engine"<engine@noreply.github.com&gt;;
抄送: "1365064385"<1365064385@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [cocos-creator/engine] error 3408 (#5655)

您好，您是否在脚本中调用了非节点对象的 getComponent 函数或者 getCom

[2019-10-31 03:40] Marssssssss commented on #5655
噢噢，那现在是已经解决了吗？

[2019-10-31 03:41] fsm2018 commented on #5655
已经解决了 把脚本放到主包 就好了
ps：h5 启动速度 要怎么优化啊&nbsp; 感觉加载好慢啊

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "YuanJie"<notifications@github.com&gt;;
发送时间: 2019年10月31日(星期四) 中午11:40
收件人: "cocos-creator/engine"<engine@noreply.github.com&gt;;
抄送: "1365064385"<1365064385@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [cocos-creator/engine] error 3408 (#5655)

是分包加载的问题&nbsp; &nbsp;把脚本变成子包了&

[2019-10-31 03:45] SantyWang commented on #5655
自动图集，json合并，都可以提升一定的加载速度

[2019-10-31 03:46] SantyWang commented on #5613
谢谢反馈，有同事会跟进一下

[2019-10-31 04:03] LoS-Light opened #5658 "CocosCreator_V2.2.0 - MeshRenderer的"Enable Auto Batch"奇怪的问题"
Creator version?（2.2.0）

图一： "New Sphere" 的 Material 是 "Yellow"
https://raw.githubusercontent.com/LoS-Light/CocosCreatorBug/master/BatchBug01.png

图二： "New Box 1 & 2 & 3" 的 Material 都是 "TestBatch"
https://raw.githubusercontent.com/LoS-Light/CocosCreatorBug/master/BatchBug02.png

图三： 我将"New Box 1 & 2 & 3" 的 "Enable Auto Batch" 都打开 结果 它们的Material通通变成 "New Sphere" 的Material了，而且scale也全部变大 这很奇怪
https:/

[2019-10-31 05:32] #5655 closed, assigned to nobody

[2019-10-31 08:37] LinYunMo commented on #5552
由于引擎内部需要对 dom 的事件进行处理，所以引擎传递的事件为引擎使用的事件的类型，为 EventMouse 而非 MouseEvent，需要这样使用此 API ：
[code]

有关更多的事件信息，可参考我们的API文档：[EventMouse](https://docs.cocos.com/creator3d/api/zh/classes/event.eventmouse.html)

[2019-10-31 08:49] k8w commented on #5552
[code]

@LinYunMo  `e.getButton()`无论鼠标按下左键、中键还是右键，都返回0

期望结果：应该跟Web标准一致，可以独立获得，左中右3个键的按下情况（可能同时按下）

[2019-10-31 12:24] SantyWang commented on #5645
感谢反馈，已修复

[2019-10-31 12:24] #5645 closed, assigned to nobody

[2019-11-01 09:15] #5658 closed, assigned to nobody

[2019-11-04 09:58] flovel commented on #987
@jareguo 2.0.10 在cc.loader.load下载远程资源出现404后，android 没有抛出 err

[2019-11-04 10:06] SantyWang commented on #5613
已修复，下个版本推出

[2019-11-04 10:06] #5613 closed, assigned to nobody

[2019-11-04 12:50] lifzgreat commented on #987
My comment was from nearly 3.5 years ago.

[2019-11-04 13:15] SantyWang commented on #987
Thanks for your feedback, could you please give us more information. platform?

[2019-11-04 13:17] SantyWang commented on #987
Sorry for so late reply. you still use Cocos Creator?

[2019-11-04 13:19] lifzgreat commented on #987
No, I don't, sorry!

[2019-11-04 13:32] SantyWang commented on #987
Please don't be sorry about anything, it's our problem.  We are soooorry for these unstable behaviors.

[2019-11-05 03:50] flovel commented on #987
使用JS引擎是github下载的tag v2.0.11 android测试机是华为，后面我用自带的模拟器也出现同样的问题
连续请求多个不同的远程（大概6-7个）资源出现404后，cc.loader.load 的 completeCallback 没有错误抛出，估计导致下载资源线程卡住，后面在请求不到了。网页的错误有返回，在请求就没有问题

[2019-11-05 05:39] SantyWang commented on #987
原生的话，远程资源请先用jsb.Downloader下载下来再使用吧，可以看下范例里面的network范例

[2019-11-07 15:42] DevanEngland opened #5704 "Scrollbar is displayed after ScrollView is disabled and re-enabled, even if content fits in view."
### Creator version?（版本号）
v2.1.2

### Affected platform?（受影响的平台）
Web, but probably all platforms

### How to reproduce?（如何重现）
- Create a new ScrollView with a Scrollbar.
- Set the content to be smaller than the view.
- Set up a button that toggles the 'active' flag of the ScrollView's node or one of its parents.
- View the ScrollView at runtime and note that the Scrollbar is (correctly) hidden.
-

[2019-11-08 03:47] 284263380 opened #5710 "进度条问题"
### 2.2.0

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2019-11-08 05:32] 284263380 commented on #5710
在start里面 设置一个进度条0.065    发现根本不现实,(进度条没有刷新,进度条是空的,看不到进度)

[2019-11-08 07:00] SantyWang commented on #5710
感谢你的反馈，start里面设置进度条是什么意思？

[2019-11-08 08:59] lich2333 opened #5715 "ccc2.2.0使用插件导致构建闪退"
论坛反馈地址 https://forum.cocos.org/t/ccc2-2-0-ccc/85760/2
大佬们看看是啥原因啊

[2019-11-11 10:25] omega-mk10 commented on #5024
it is complete. Thanks.

[2019-11-11 10:25] #5024 closed, assigned to sunnylanwanjun

[2019-11-11 10:36] SantyWang commented on #5276
感谢反馈，之后版本已修复

[2019-11-11 10:36] #5276 closed, assigned to nobody

[2019-11-12 01:47] knoxHuang commented on #5715
论坛反馈已解决

[2019-11-12 01:47] #5715 closed, assigned to nobody

[2019-11-12 10:02] 284263380 commented on #5710
就是一个界面的start函数里面  （类似onLoad ，onDestroy一样的）

[2019-11-13 03:40] lich2333 commented on #1377
ios 原生上也会有这个问题。 @pandamicro
论坛反馈https://forum.cocos.org/t/ios13/85654

[2019-11-13 07:26] 284263380 opened #5729 "建议：creator增加过滤功能"
项目比较大，文件快过万了，所有文件都在resources里面，但是resources下面会有core，001，002，003，....等多个目录，这些目录功能独立，但是都依赖core目录，任何一个core+001 或者core+002都可以成为一个单独的游戏，开发过程中打开creaotr，太卡了，所以是否可以添加一个filter功能配置，
像git的.gitignore功能一样，如果过滤了，creator启动的时候就不加载了。

备注：这个是一个项目，大厅+很多小游戏，这些小游戏虽然独立，但是逻辑还是统一的，所以如果一个游戏修改，可能要修改好几个游戏，所以不可能一个游戏一个项目去操作，并且出包是一起出的。

[2019-11-13 07:27] 284263380 commented on #5729
因为creator可能是做了监听文件变动的事件，文件数目的增多，会增加监听运行缓慢，所以整个都会卡

[2019-11-13 07:36] minggo commented on #5729
这个仓库是 lite 的，不是 creator，所以关闭该 issue。
@jareguo creator 的 issue 应该到哪里提？

[2019-11-13 07:38] jareguo commented on #5729
请移步论坛或者 https://github.com/cocos-creator/engine/issues
我 Transfer 过去吧。

[2019-11-13 07:38] #5729 closed, assigned to nobody

[2019-11-13 07:39] jareguo commented on #5729
@syxcools 这个需求比较复杂。其实项目大的话应该是拆分成多个子项目比较好。我们将在 2.3 支持 AssetBundle，到时候就可以动态加载子项目了。

[2019-11-13 07:42] 284263380 commented on #5729
但是我们是一个大厅+子游戏开发，多平台  h5也支持，h5 的时候就需要一起打包，然后我们通过自定义引擎代码，也做到了拆分游戏块，

[2019-11-14 07:29] wildfire810 opened #5739 "launch.json deprecated"
### 2.2.0

### Editor

### 检查工程添加的Chrome Debug配置

###
"diagnosticLogging": false,
'diagnosticLogging' is deprecated. Use 'trace' instead.

###
{
    "version": "1.4.0",
    "configurations": [
        {
            "name": "Creator Debug: Launch Chrome",
            "type": "chrome",
            "request": "launch",
            "url": "http://localhost:7456",
            "sourceMaps": true,

[2019-11-14 13:56] wzpan commented on #3082
Linux 上有人搞了个 Docker 版本：https://discuss.cocos2d-x.org/t/successfully-run-cocos-creator-on-linux-and-released-it-as-docker-image/40755

如果你们是用来搞页游的话，Docker 版本也许更适用于 Linux 。当然我也没试过。

[2019-11-16 15:51] jareguo commented on #5729
一起打包这个不太方便吧，分开不是更好吗？如果加了过滤功能，又如何一起打包？

[2019-11-17 07:47] zlq4863947 opened #5751 "引入tiledmap后，报错：_traverseAllGrid grid is null"
### Creator version?（版本号）
2.2.0

### Affected platform?（受影响的平台）
Mac Editor

### How to reproduce?（如何重现）
我已经建立了一个单独分支：
https://github.com/zlq4863947/m3k6/tree/tiledmap
当mac版载入map005的scene后报错，如下图
![image](https://user-images.githubusercontent.com/6490251/69004623-f4155700-0959-11ea-8b04-50fd6aaf38bf.png)

### JavaScript output or error produced?（报错信息和调用栈）
_traverseAllGrid grid is null

### Demo proj

[2019-11-18 02:16] unusable opened #5752 "编辑器，Assets窗口，选择创建的材质文件，然后如选择其他文件等等操作都不行了"
### Creator version
2.1.3

### Affected platform
MacOS

### How to reproduce?（如何重现）
打开编辑器，
在Assets窗口中
创建或选择材质文件

[2019-11-18 07:12] a417958382 opened #5757 "isAnimationCached 生成的creator.d.ts中 方法的返回值为void 应该为 boolean"
https://github.com/cocos-creator/engine/blob/79b9133d6e0e44b4b8f033ba86231ae21522f2dc/extensions/spine/Skeleton.js#L578

[2019-11-21 10:24] SantyWang commented on #5752
是在代码中扩展了一下Array么

[2019-11-21 10:26] SantyWang commented on #5757
谢谢你的反馈

[2019-11-21 10:27] SantyWang commented on #5757
我们会完善一下

[2019-11-21 10:30] SantyWang commented on #5751
真是个有个性的项目

[2019-11-21 10:31] SantyWang commented on #5751
有游戏项目截图么

[2019-11-21 10:36] zhangyugege opened #5773 "建议：打包流交给业务方"
希望可以把打包流让给开发者。目前cocos creator使用gulp打包。打包产物多个方面不太符合生产环境的要求。

1. 兼容性： 打包产物不会对未来语法（ES6+）做转换，需要业务开发者二次打包。
2. 文件间依赖： 目前打包的所有文件依赖并没有暴露给开发者，开发者在二次打包，定制化js代码时，拿不到依赖，可能会导致产物多次依赖引入的问题。
3. 打包手段： 希望支持webpack方式的打包，可以利用到webpack丰富的生态圈。

I hope that the package flow can be given to the developer. Currently cocos creator is packaged with gulp. Many aspects of the packaged product do not meet the requirements of th

[2019-11-21 10:45] SantyWang commented on #5710
麻烦在最新版尝试一下

[2019-11-21 10:50] SantyWang commented on #5704
Please try the lastest version

[2019-11-21 10:53] SantyWang commented on #5704
I have try it in v2.2.0, it worked fine

[2019-11-21 11:01] sunnylanwanjun commented on #5751
看样子是tileset多贴图引起的，试试这个pr
https://github.com/cocos-creator/engine/pull/5728
会合到2.2.1

[2019-11-21 11:14] sunnylanwanjun commented on #5757
已修复
https://github.com/cocos-creator/engine/pull/5774

[2019-11-21 11:16] #5757 closed, assigned to nobody

[2019-11-21 12:29] zlq4863947 commented on #5751
好的 非常感谢

[2019-11-21 12:29] #5751 closed, assigned to nobody

[2019-11-27 01:37] 284263380 commented on #5710
修改了么?怎么修改的,我看下差异,然后试一下

[2019-11-27 02:34] #5519 closed, assigned to minggo, PatriceJiang

[2019-11-27 07:23] 284263380 opened #5796 "进度条的问题"
一个奇怪的问题,
我这里只有我的项目的这个地方会出现,所以我无法提供demo因为我的工程很大,并且有native的元素在里面,

我项目的现象是 (使用的是圆形进度条):
我下载进度设置(方案A)xx.getComponent(cc.ProgressBar).progress = precent;
这样设置,我打印了所有的log,数据调用没有问题,当前进度条行进到89%的时候显示的进度条是0.

我的猜测:可能是因为帧前 帧后调用的问题

然后我修改
(方案B)
settimeout(()=>{
xx.getComponent(cc.ProgressBar).progress = precent;
},0)

好了.

我之后打印引擎log

方案A的log是
D/jswrapper (149): JS: =========== 0.89000000000000001
D/jswrappe

[2019-11-27 10:27] knoxHuang commented on #5333
已经修复，会进入到 2.2.2 或者 2.3 版本

[2019-11-27 10:27] #5333 closed, assigned to nobody

[2019-11-29 12:23] MarkusTieche opened #5812 "Cocos Creator 2.2/2.2.1 shadow cast not working"
Shadow casting is visible in the editor/preview but not in the simulator/web.
Please check in examples "examples/3d/3d-model"

[2019-12-02 03:30] zlq4863947 opened #5815 "typescript报错问题， type 'null' is not assignable to type 'Node'"
### Creator version?（版本号）
v2.2.0

### How to reproduce?（如何重现）
cocos creator里面设置节点时，ts代码为下图
![image](https://user-images.githubusercontent.com/6490251/69928522-4a100000-14ff-11ea-9193-1c54d6ec9017.png)

提示说 cc.Node类型不能设置为null，这个地方可否改进一下？
我去掉 = null，cocos creator又警告提示要设置null。。。

[2019-12-02 04:02] zlq4863947 commented on #5815
tsconfig.json里面加入"strictNullChecks": false 就可以了

[2019-12-02 04:02] #5815 closed, assigned to nobody

[2019-12-04 05:35] zhangyugege opened #5836 "canvas模式下roundRect画不出"
在`renderMode =canvas`条件下，

this api： https://docs.cocos.com/creator/api/zh/classes/Graphics.html#roundrect
code ：https://github.com/cocos-creator/engine/blob/79b9133d6e0e44b4b8f033ba86231ae21522f2dc/cocos2d/core/graphics/graphics.js#L325

这个方法没有被draw执行过。

### Creator version?（版本号）

V2.1.4

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用

[2019-12-04 07:54] JacketChen0021 opened #5838 "Label首次渲染文字出现异常"
### Creator version?（版本号）
Cocos Creator 2.2.0

### Affected platform?（受影响的平台）
Android

### How to reproduce?（如何重现）
创建一个Label节点，构建一个android apk运行，Label首次渲染出现问题，后续修改label文字恢复正常
![B77C4A2D8A28DC9B44F15AC24D7B5C16](https://user-images.githubusercontent.com/57745382/70123709-2f2fbe00-16ae-11ea-8231-3b3afb9624d7.png)

### Demo project?（demo 项目）
https://github.com/JacketChen0021/LabelTestProject

[2019-12-04 09:42] SantyWang commented on #5812
thanks，we will check it

[2019-12-04 09:48] JacketChen0021 commented on #5838
![Screenshot_20191204-122630](https://user-images.githubusercontent.com/57745382/70131964-2e068d00-16be-11ea-87a0-b7ffd51d596c.png)
![Screenshot_20191204-122622](https://user-images.githubusercontent.com/57745382/70131968-2fd05080-16be-11ea-92d9-217b2e2fa723.png)
出现问题的机型

[2019-12-04 09:49] SantyWang commented on #5838
好的，感谢你的反馈，我们有同事会验证一下

[2019-12-04 09:49] SantyWang commented on #5836
感谢你的反馈，有同事会验证一下

[2019-12-04 11:25] zhefengzhang commented on #5796
请问 bug 表现是 native 上进度条行进到89%的时候显示的进度条是 0 么？

[2019-12-05 02:38] JacketChen0021 commented on #5838
补充一下，不只是在native上出现问题，无论是那个平台，在这部手机上都会出现

[2019-12-05 11:02] ghost opened #5856 "[BUG] Moving parent node with rigidbodies children doesn't work"
### Creator version?（版本号）
2.2.1, 2.2.2

### Affected platform?（受影响的平台）

Tested on Windows Editor

### How to reproduce?（如何重现）
1) Create TWO nodes in the scene - _nodeParent_ and _nodeChild_. Assign _nodeChild_ as a children to _nodeParent_. Add some Sprite component to _nodeChild_ to see it work.
2) Add **Rigidbody** component to _nodeChild_. Make it static with Gravity scale 0 (actually it doesn'

[2019-12-09 03:26] SantyWang commented on #5856
Thanks for your feedback, we will check it

[2019-12-09 04:36] zhefengzhang commented on #5856
![image](https://user-images.githubusercontent.com/35944775/70407626-0b8ac000-1a80-11ea-88b9-2fc8bfb845f9.png)

This is cc.RigidBody api, correction you code like this:
[code]

[2019-12-09 05:57] caryliu1999 commented on #5812
Thanks for your feedback. But we have tested it is normal, can you elaborate on your problem?

![image](https://user-images.githubusercontent.com/39078800/70410961-c3719a80-1a8b-11ea-9fb9-6370397096fb.png)

[2019-12-09 06:57] MarkusTieche commented on #5812
Thanks for looking into this :)

Testing in CocosCreator 2.2.0 & 2.2.1 on Mac osx 10.15.1
Creating a new "examples" project and open 3d-model scene.

In Editor:
  Shadows working as intended
<img width="1887" alt="CC_2 2 0" src="https://user-images.githubusercontent.com/8083536/70413154-fd747980-1a56-11ea-8334-79da9df99fa5.png">

In Simulator:
  No Shadows at all
<img width="652" alt="simulator" s

[2019-12-09 07:35] caryliu1999 commented on #5836
抱歉，Canvas模式下的Graphics被屏蔽掉了，所以没有执行，你可以先修改一下引擎代码看，我们会在2.3版本修复这个问题。

core/graphics/graphics.js

![image](https://user-images.githubusercontent.com/39078800/70416196-71377600-1a99-11ea-8688-c571098aa3f7.png)

[2019-12-09 08:33] caryliu1999 commented on #5812
Thanks for your feedback :), I have fixed it, you can merge the PR to check.

[2019-12-09 10:00] MarkusTieche commented on #5812
Awesome, seems to work with the fix applied (Tested with simulator in 2.2.0)
Thank you 👍

<img width="1072" alt="Screenshot 2019-12-09 at 10 54 19" src="https://user-images.githubusercontent.com/8083536/70425976-85b44800-1a72-11ea-820f-7075b4cde050.png">

[2019-12-09 10:00] #5812 closed, assigned to nobody

[2019-12-10 03:12] MarkusTieche opened #5877 "Wrong shadow texture"
Cocos Creator 2.2.0/2.2.1 on macOS 10.15.1

Shadow uses wrong texture after applying a diffuse texture to Material.
I use "examples/3d-model" as test scene and add a new Material with builtIn-phong effect.
Shadows are normal until I add a texture to the material.

<img width="1640" alt="Screenshot 2019-12-10" src="https://user-images.githubusercontent.com/8083536/70491925-00c53f00-1b03-11ea-882e-5

[2019-12-10 07:30] SantyWang commented on #5877
thanks, we will fix it in next version

[2019-12-11 03:31] #5836 closed, assigned to nobody

[2019-12-11 10:06] lostdream0505 commented on #5710
这个bug在2.2.1版本已经修复了，但是我对照这个pr修改引擎无法解决
#5609
表现是进度条初始从0-0.125不显示。大于0.125会显示。
还有和这个bug相关的其他改动吗？

[2019-12-16 03:20] 284263380 commented on #5796
是的

[2019-12-16 03:22] 284263380 commented on #5796
这个89是我这边设定的,不是89%就可以重现.
你可以测试下,用 native的  Application::getInstance()->getScheduler()->performFunctionInCocosThread里面执行回调,然后显示进度条数据,估计会有问题.

[2019-12-16 03:23] zhefengzhang commented on #5796
明白了，我确认下问题。

[2019-12-16 03:26] 284263380 opened #5904 "cc.loader.loadResDir totalCount 数值不固定"
creator 2.2.1

cc.loader.loadResDir函数进行预加载

现象:进度条异常,比如本来加载到90% 然后发现又回到80%,从80%-100%,加载过程中,发现有倒退现象

结论: cc.loader.loadResDir(gameName+'/res/element',(completedCount,totalCount,item)=>{})
这个totalCount竟然会变动,比如原来是totalCount  是300个,然后加载过程中,变成345 400 最后到500,所以进度会有倒退情况

[2019-12-16 11:40] magician-f opened #5912 "之后所有 onLoad（场景初始化阶段） / start / update / lateUpdate 都会做 try catch 保护，其它生命周期回调目前没有类似处理，因为比较复杂，弄不好会影响性能"
之后所有 onLoad（场景初始化阶段） / start / update / lateUpdate 都会做 try catch 保护，其它生命周期回调目前没有类似处理，因为比较复杂，弄不好会影响性能

_Originally posted by @jareguo in https://github.com/cocos-creator/engine/pull/4941#issuecomment-514041741_

onLoad有处理吗？好像还是会循环报错呢

[2019-12-16 12:09] magician-f commented on #5912
jsb-link 上start周期也还会报错

[2019-12-16 12:32] #5912 closed, assigned to nobody

[2019-12-17 23:39] cmontiel opened #5917 "Blurred graphics using Chrome."
Blurred graphics on Chrome.

It happens on a 2K Dell monitor using MacOS 10.15.2.
Also on iPhoneX 13.2.3

Only using Chrome, works fine on Firefox and Safari.

### Creator version?（版本号）
2.2.1

### Affected platform?（受影响的平台）
Web

### How to reproduce?（如何重现）
The game runs inside an iframe. Just resizing the browser (or rotating on mobile).

### JavaScript output or error produced?（报错信息和调用栈）
No error